
div#container #sun {height:200px; box-shadow:0px 8px 4px rgba(0,0,0,0.25); display:inline-block;}

div#container .hidden {display:none;}

div#container img.validation {display:block; width:100%; max-width:400px;}
div#container img#boxmodel {display:block;}

div#container img {border-radius:1em; transition:border-radius 1s;}
div#container img:hover {border-radius:0;}

div#container div.pageBox {position:relative; height:400px;}
div#container div.pageBox iframe {width:100%; height:100%; border:none;}
div#container div.pageBox a {display:block; width:100%; height:100%; box-sizing:border-box; padding-top:1em; background-color:rgba(0,0,0,0.5); position:absolute; top:0; left:0; text-align:center; font-size:1.5em; color:#FFF; text-decoration:none;}
div#container div.pageBox a small {display:block; color:#AAA;}

div#container p a {display:inline;}
