
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* Theme Colors */
	--offwhite:#d8d8d8;
	--offwhite:#f8f8f8;
	--lightgrey:#CCC;
	--lightblack:#333;
	
	/* Gradient Colors */
	--bgimg:linear-gradient(135deg,dodgerblue,white,wheat);

	/* Page Sizes */
	--pagewidth:60rem;
	--cornersize:.5rem;
	
	/* Box Shadows */
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
}

body {

	--backcolor:var(--lightgrey);
	--forecolor:black;
}

/* body.dark {

	--backcolor:var(--lightblack);
	--forecolor:white;
} */


body {background-color:var(--backcolor); /* background-image:var(--bgimg); */ margin:0;}
body {color:var(--forecolor); font-family:Nunito,sans-serif;}

/* Main */
div#container {display:flex; flex-flow:row wrap; justify-content:center; align-items:flex-start; grid-gap:1rem; min-height:100vh; padding:1.375rem;}

/* Page Section */
div#container section {background-color:white; background-color:var(--offwhite); padding:1rem; border-radius:var(--cornersize); /* margin-top:1rem; */ box-shadow:var(--boxshadow);}
/* div#container section {width:100%; max-width:var(--pagewidth);} */
div#container section {display:flex; flex-direction:column; align-items:center; max-width:var(--pagewidth);}
div#container section button.btn {display:flex; flex-direction:row; justify-content:center; align-items:center; padding:.5em 1em; padding-right:.5em; border-radius:.25rem;}
