


/* Playlist Adder */

/* div#container div.layout main.player div.reaction div.btn +  */
div#container div#playlistList {visibility:hidden; opacity:0; transform:translate(-50%,100%); transition:.5s;}
/* div#container div.layout main.player div.reaction div.btn.active +  */
div#container div#playlistList.active {visibility:visible; opacity:1; transform:translateX(-50%);}

div#container div#playlistList {position:fixed; bottom:0; left:50%; width:100%; max-width:20rem;}
div#container div#playlistList {background-color:#222; color:white; font-size:.75rem; user-select:none;}
div#container div#playlistList section {padding:1rem; border-top:.5px solid #FFF3;}

div#container div#playlistList section.head {display:flex; flex-direction:row; justify-content:space-between; align-items:center; padding:1rem;}
/* div#container div#playlistList section.head span.caption {} */
div#container div#playlistList section.head a.newplaylist {color:var(--themecolor); text-decoration:none; text-transform:uppercase; cursor:pointer;}

div#container div#playlistList section.body {display:flex; flex-direction:column; align-items:stretch; padding:.5rem 0;}
div#container div#playlistList section.body div.item {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; padding:.75rem 1rem; cursor:pointer;}
div#container div#playlistList section.body div.item span.checkbox {flex-grow:0; display:flex; flex-direction:column;}
div#container div#playlistList section.body div.item span.checkbox svg.empty {display:block;}
div#container div#playlistList section.body div.item span.checkbox svg.filled {display:none;}
div#container div#playlistList section.body div.item.active span.checkbox svg.empty {display:none;}
div#container div#playlistList section.body div.item.active span.checkbox svg.filled {display:block;}
div#container div#playlistList section.body div.item span.plname {flex-grow:1; margin-left:1.25rem;}
div#container div#playlistList section.body div.item span.plstatus {flex-grow:0; display:flex; flex-direction:column;}
div#container div#playlistList section.body div.item span.plstatus svg.public {display:block;}
div#container div#playlistList section.body div.item span.plstatus svg.linked {display:none;}
div#container div#playlistList section.body div.item span.plstatus svg.private {display:none;}

div#container div#playlistList section.donebtn {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; cursor:pointer;}
