


/* Video Player */

div#container div.layout main.player {transition:.25s; padding:.5rem; border-radius:.25rem; box-shadow:var(--boxshadow);}

div#container div.layout main.player div.vid {background-color:var(--ltblackglass); color:white; padding-top:62.5%; border-radius:.25rem; overflow: hidden; position:relative;}
div#container div.layout main.player div.vid video {position:absolute; top:0; left:0; height:100%; width:100%; object-fit:cover;}
div#container div.layout main.player div.vid div.btn {cursor:pointer; user-select:none;}
div#container div.layout main.player div.vid div.topper {opacity:0; visibility:hidden; transition:opacity .5s, visibility .5s;}
div#container div.layout main.player div.vid:hover div.topper {opacity:1; visibility:visible;}
div#container div.layout main.player div.vid div.dashboard {position:absolute; right:0; bottom:0; left:0; width:100%;}
div#container div.layout main.player div.vid div.dashboard {background-color:var(--blackglass); color:white;}
div#container div.layout main.player div.vid div.dashboard {display:flex; flex-direction:row; justify-content:space-between; align-items:center; padding:.5rem;}
div#container div.layout main.player div.vid div.dashboard div.autoplaybtn {font-size:.5rem; font-weight:bold; text-align:center;}
div#container div.layout main.player div.vid div.dashboard div.autoplaybtn span.caption {text-transform:uppercase;}
div#container div.layout main.player div.vid.ap div.dashboard div.autoplaybtn span.caption {color:var(--themecolor);}
div#container div.layout main.player div.vid div.dashboard div.panel {display:flex; flex-direction:row; align-items:center;}
div#container div.layout main.player div.vid div.dashboard div.panel.bar {flex-grow:1; padding:0 .5rem;}
div#container div.layout main.player div.vid div.dashboard div.panel div.btn {display:flex; margin:0 .25rem;}
div#container div.layout main.player div.vid div.dashboard div.panel div.playbtn {font-size:1.5rem;}
div#container div.layout main.player div.vid div.dashboard div.panel div.volumebtn {font-size:1rem;}
div#container div.layout main.player div.vid div.dashboard div.panel div.fullscreenbtn {font-size:1rem;}
div#container div.layout main.player div.vid div.dashboard div.panel.bar div.pbar {background-color:var(--ltgrey); height:.25rem; width:100%; border-radius:1rem;}
div#container div.layout main.player div.vid div.topper.playbtn {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
div#container div.layout main.player div.vid div.topper.playbtn {background-color:var(--blackglass); font-size:3rem; padding:.75rem; border-radius:50%;}
/* div#container div.layout main.player div.vid div.topper.playbtn:active {scale:1.75;} */

/* General Play Button */
div#container div.layout main.player div.vid div.playbtn svg.icon.play {display:block; transform:translateX(.0625em);}
div#container div.layout main.player div.vid div.playbtn svg.icon.pause {display:none;}
div#container div.layout main.player div.vid.active div.playbtn svg.icon.play {display:none;}
div#container div.layout main.player div.vid.active div.playbtn svg.icon.pause {display:block;}
div#container div.layout main.player div.vid div.volumebtn svg.icon.off {display:block;}
div#container div.layout main.player div.vid div.volumebtn svg.icon.low {display:none;}
div#container div.layout main.player div.vid div.volumebtn svg.icon.high {display:none;}
div#container div.layout main.player div.vid.lo div.volumebtn svg.icon.off {display:none;}
div#container div.layout main.player div.vid.lo div.volumebtn svg.icon.low {display:block;}
div#container div.layout main.player div.vid.lo div.volumebtn svg.icon.high {display:none;}
div#container div.layout main.player div.vid.hi div.volumebtn svg.icon.off {display:none;}
div#container div.layout main.player div.vid.hi div.volumebtn svg.icon.low {display:none;}
div#container div.layout main.player div.vid.hi div.volumebtn svg.icon.high {display:block;}

div#container div.layout main.player div.metadata {margin:.75rem; user-select:none;}
div#container div.layout main.player div.metadata h2#title {font-size:1.25rem; font-weight:100; margin:0; margin:.25rem 0;}
div#container div.layout main.player div.metadata div#viewcount {color:var(--drkgrey); font-size:.75rem;}

div#container div.layout main.player div.reaction {display:flex; flex-direction:row; justify-content:center; align-items:center; margin:.75rem 0; padding:0 1.25rem;}
div#container div.layout main.player div.reaction {overflow-x:auto; scrollbar-width:none; -ms-overflow-style:none;}
div#container div.layout main.player div.reaction::-webkit-scrollbar {display:none;}
div#container div.layout main.player div.reaction div.btn {display:flex; flex-direction:column; align-items:center; min-width:2rem; margin:0 .875rem; cursor:pointer; user-select:none; position:relative;}
div#container div.layout main.player div.reaction div.btn svg.icon {font-size:1rem;}
div#container div.layout main.player div.reaction div.btn span.caption {font-size:.6rem; margin-top:.35rem;}
div#container div.layout main.player div.reaction div.btn svg.icon.priori {display:block;}
div#container div.layout main.player div.reaction div.btn svg.icon.posteriori {display:none;}
div#container div.layout main.player div.reaction div.btn.active svg.icon.priori {display:none;}
div#container div.layout main.player div.reaction div.btn.active svg.icon.posteriori {display:block;}
div#container div.layout main.player div.reaction {display:none;}

div#container div.layout main.player div.channel {padding:.5rem; border-top:1px solid var(--ltblackglass);}
div#container div.layout main.player div.channel {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
div#container div.layout main.player div.channel div.brand {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; cursor:pointer; user-select:none;}
div#container div.layout main.player div.channel div.brand div#avatar {background-color:var(--ltblackglass); border-radius:50%; min-width:1.75rem; min-height:1.75rem;}
div#container div.layout main.player div.channel div.brand div#avatar {background-size:cover; background-position:center; background-repeat:no-repeat;}
div#container div.layout main.player div.channel div.brand div#avatar {background-image:url('../../../resources/images/user/avatar-m.png');}
div#container div.layout main.player div.channel div.brand div.details {margin-left:.375rem;}
div#container div.layout main.player div.channel div.brand div.details div#channelname {color:black; font-size:.875rem;}
div#container div.layout main.player div.channel div.brand div.details div#channelsubcount {color:var(--drkgrey); font-size:.75rem;}
div#container div.layout main.player div.channel div.subbtns {display:flex; flex-direction:row; align-items:center; /* align-items:flex-end; */}
div#container div.layout main.player div.channel div.subbtns {color:var(--drkgrey); text-transform:uppercase;}
div#container div.layout main.player div.channel div.subbtns >div {display:flex; flex-direction:column;}
div#container div.layout main.player div.channel div.subbtns div#subbtn {font-size:.875rem; cursor:pointer; user-select:none;}
div#container div.layout main.player div.channel div.subbtns div#subbtn span.caption {font-weight:normal;}
div#container div.layout main.player div.channel div.subbtns div#subbtn span.caption.no {display:block; color:red; opacity:.75;}
div#container div.layout main.player div.channel div.subbtns div#subbtn span.caption.yes {display:none;}
div#container div.layout main.player div.channel div.subbtns div#subbtn.active span.caption.no {display:none;}
div#container div.layout main.player div.channel div.subbtns div#subbtn.active span.caption.yes {display:block;}
div#container div.layout main.player div.channel div.subbtns div#notifbtn {display:none;}
div#container div.layout main.player div.channel div.subbtns div#notifbtn {font-size:1rem; margin-left:.5rem; cursor:pointer; user-select:none;}
/* div#container div.layout main.player div.channel div.subbtns div#notifbtn svg.icon {} */
div#container div.layout main.player div.channel div.subbtns div#notifbtn svg.icon.all {display:none;}
div#container div.layout main.player div.channel div.subbtns div#notifbtn svg.icon.some {display:none;}
div#container div.layout main.player div.channel div.subbtns div#notifbtn svg.icon.none {display:block;}
div#container div.layout main.player div.channel div.subbtns div#notifbtn.on svg.icon.all {display:none;}
div#container div.layout main.player div.channel div.subbtns div#notifbtn.on svg.icon.some {display:block;}
div#container div.layout main.player div.channel div.subbtns div#notifbtn.on svg.icon.none {display:none;}
div#container div.layout main.player div.channel div.subbtns div#notifbtn.on.all svg.icon.all {display:block;}
div#container div.layout main.player div.channel div.subbtns div#notifbtn.on.all svg.icon.some {display:none;}
div#container div.layout main.player div.channel div.subbtns div#notifbtn.on.all svg.icon.none {display:none;}
div#container div.layout main.player div.channel div.subbtns div#subbtn + div#notifbtn {display:none;}
div#container div.layout main.player div.channel div.subbtns div#subbtn.active + div#notifbtn {display:block;}




/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Video Player */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Video Player */
	div#container div.layout main.player {flex-grow:0;}
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Video Player */
	div#container div.layout main.player {padding:0;}
	div#container div.layout main.player div.vid {border-radius:0;}
	/* div#container div.layout main.player div.metadata {margin:.5rem;} */
	div#container div.layout main.player div.metadata h2#title {font-size:1.125rem;}
}
@media screen and (max-width:22rem) {
	div#container div.layout main.player div.reaction {justify-content:flex-start;}
}
