

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');



* {box-sizing:border-box;}


:root {

	/* Glass Colors */
	--glass:transparent;
	--blackglass:#0008;

	/* General Colors */
	/* --grey:#CCC; */
	--grey:#F5F4FD;
	--black:#444;
	--darkgrey:#D8D5F2;
	--royalblue:#5372F0;
	--royalbluetr:#5372F044;
	/* Theme Colors */
	--themecolor:var(--royalblue);
	--themecolortr:var(--royalbluetr);

	/* Number Values */
	--dt:.125s;

	/* Page Sizes */
	--edgesize:4rem;
	--pagewidth:80rem;
	--slidebtnsize:2rem;
	--slidebtniconsize:1.125rem;
	--slidebtniconsize:.875rem;

	/* Box Shadows */
	--boxshadow:0 0 1rem #0002;
	--boxshadow:0 0 .25rem #0003;

	/* Edge Gradients */
	--leftgradient:linear-gradient(90deg, white 50%, var(--glass));
	--rightgradient:linear-gradient(-90deg, white 50%, var(--glass));
}




body {font-family:Nunito,sans-serif; margin:0;}



/* Container */
div#container {background:linear-gradient(135deg,#F0F0F0,white); min-height:100vh;}


/* Navbar */
div#container nav.navbar {grid-area:navbar; padding:1.25rem 2rem; box-shadow:var(--boxshadow);}
div#container nav.navbar main {max-width:78rem; margin:0 auto;}
div#container nav.navbar h1.head {flex-grow:0;}
div#container nav.navbar h1.head {display:flex; flex-direction:row; align-items:center;}
div#container nav.navbar h1.head {font-size:2rem; font-weight:100; margin:0; text-align:center; width:100%;}
div#container nav.navbar h1.head svg.icon {margin-right:.5rem;}
/* div#container nav.navbar h1.head span.caption {} */


/* Main Layout */
div#container div.layout {display:grid; grid-template-columns:1fr auto; grid-template-areas:'navbar navbar''player playlist'; max-width:var(--pagewidth); transition:padding .25s; padding:.75rem; margin:0 auto;}
div#container div.layout main.player {background-color:white; grid-area:player; border-radius:.25rem;}
div#container div.layout aside.playlist {background-color:white; grid-area:playlist; border-radius:.25rem; margin-left:.75rem;}




/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Navbar */
	/* div#container nav.navbar {} */

	/* Main Layout */
	/* div#container div.layout {} */
	/* div#container div.layout main.player {} */
	/* div#container div.layout aside.playlist {} */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Navbar */
	/* div#container nav.navbar {} */
	
	/* Main Layout */
	div#container div.layout {grid-template-columns:1fr; grid-template-areas:'navbar''player''playlist';}
	/* div#container div.layout main.player {} */
	/* div#container div.layout aside.playlist {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Navbar */
	div#container nav.navbar {padding:0;}
	div#container nav.navbar h1.head {margin-bottom:.5rem; display:none;}

	/* Main Layout */
	div#container div.layout {padding:0;}
	/* div#container div.layout main.player {} */
	/* div#container div.layout aside.playlist {} */
}
