

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');



* {box-sizing:border-box;}


:root {

	/* Box Shadows */
	--boxshadow:0 0 1rem #0002;
	--boxshadow:0 0 .25rem #0003;
}




body {font-family:Nunito,sans-serif; margin:0;}



/* Main Container */

div#container {background:linear-gradient(135deg,#F0F0F0,white); min-height:100vh;}
div#container {display:flex; flex-direction:column; align-items:stretch;}

div#container section#head {padding:.5rem 2rem;}
div#container section#head main {max-width:78rem; margin:0 auto;}
div#container section#head h1.head {flex-grow:0;}
div#container section#head h1.head {display:flex; flex-direction:row; align-items:center;}
div#container section#head h1.head {font-size:2rem; font-weight:100; margin:0; margin-top:1rem; text-align:center; width:100%;}
div#container section#head h1.head svg.icon {margin-right:.375rem; margin-bottom:.25rem;}
div#container section#head h1.head span.caption {}

div#container section#body {flex-grow:1; padding:.75rem; transition:.25s;}
div#container section#body > main {display:flex; flex-direction:row; justify-content:center; align-items:stretch; align-items:flex-start; max-width:80rem; margin:0 auto;}
div#container section#body main.player {flex-grow:1; background-color:white; border-radius:.25rem; max-width:60rem;}
div#container section#body aside.playlist {flex-grow:0; background-color:white; border-radius:.25rem; margin-left:.75rem;}



/* 'Save to Playlist' List */

/* div#container section#body main.player div.reaction div.btn +  */
div#container div#playlistList {visibility:hidden; opacity:0; transform:translate(-50%,100%); transition:.5s;}
/* div#container section#body main.player div.reaction div.btn.active +  */
div#container div#playlistList.active {visibility:visible; opacity:1; transform:translateX(-50%);}

div#container div#playlistList {position:fixed; bottom:0; left:50%; width:100%; max-width:20rem;}
div#container div#playlistList {background-color:#222; color:white; font-size:.75rem; user-select:none;}
div#container div#playlistList section {padding:1rem; border-top:.5px solid #FFF3;}

div#container div#playlistList section.head {display:flex; flex-direction:row; justify-content:space-between; align-items:center; padding:1rem;}

div#container div#playlistList section.body {display:flex; flex-direction:column; align-items:stretch; padding:.5rem 0;}
div#container div#playlistList section.body div.item {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; padding:.75rem 1rem; cursor:pointer;}
div#container div#playlistList section.body div.item span.checkbox {flex-grow:0; display:flex; flex-direction:column;}
div#container div#playlistList section.body div.item span.checkbox svg.empty {display:block;}
div#container div#playlistList section.body div.item span.checkbox svg.filled {display:none;}
div#container div#playlistList section.body div.item.active span.checkbox svg.empty {display:none;}
div#container div#playlistList section.body div.item.active span.checkbox svg.filled {display:block;}
div#container div#playlistList section.body div.item span.plname {flex-grow:1; margin-left:1.25rem;}
div#container div#playlistList section.body div.item span.plstatus {flex-grow:0; display:flex; flex-direction:column;}
div#container div#playlistList section.body div.item span.plstatus svg.public {display:block;}
div#container div#playlistList section.body div.item span.plstatus svg.linked {display:none;}
div#container div#playlistList section.body div.item span.plstatus svg.private {display:none;}

div#container div#playlistList section.donebtn {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; cursor:pointer;}





/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Main Container */
	/* div#container section#head {} */
	/* div#container section#body {} */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Main Container */
	/* div#container section#head {} */
	/* div#container section#body {} */
	div#container section#body > main {flex-direction:column; justify-content:flex-start; align-items:stretch;}
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Main Container */
	div#container section#head {padding:0;}
	div#container section#head h1.head {margin-bottom:.5rem; display:none;}
	div#container section#body {padding:0;}
}







