


/* Carousel Section */

/* div#container section#carousel {display:none;} */
div#container section#carousel {max-width:none; /* height:40rem; */ overflow:hidden; padding-top:40rem; position:relative;}
div#container section#carousel main {display:none;}
div#container section#carousel main {position:absolute; top:0; left:0; width:100%; height:100%; user-select:none;}
/* div#container section#carousel main {background:var(--grey) url('../images/product/sunglasses.jpg'); background-size:cover; background-position:center;} */
div#container section#carousel main {display:flex; flex-direction:row; animation:slide 15s ease-in-out 0s infinite forwards;}
div#container section#carousel main img.slide {width:100%; flex-shrink:0; object-fit:cover; object-position:center center;}
div#container section#carousel aside.panel {position:absolute; bottom:0; right:0; margin:2rem;}
div#container section#carousel aside.panel {display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container section#carousel aside.panel div.btn {display:grid; place-items:center;}
div#container section#carousel aside.panel div.btn {background-color:white; border:1px solid black; border-radius:.25rem; font-size:1.15rem; min-width:1.75rem; min-height:2rem; margin:0 .125rem; cursor:pointer;}
@keyframes slide {
	0% {transform:translateX(0%);}

	23% {transform:translateX(0%);}
	25% {transform:translateX(-100%);}

	48% {transform:translateX(-100%);}
	50% {transform:translateX(-200%);}

	73% {transform:translateX(-200%);}
	75% {transform:translateX(-300%);}

	98% {transform:translateX(-300%);}
	100% {transform:translateX(-400%);}
}


/* Categories Section */

div#container section#categories {padding:.55rem;}
div#container section#categories main {display:grid; grid-template-areas: 'a b c' 'd d d'; grid-gap:.5rem;}

div#container section#categories a.item {display:grid; place-items:center; position:relative;}
div#container section#categories a.item {background-color:var(--blue); background-size:cover; background-position:center;}

div#container section#categories a.item.a {grid-area:a; background-image:url('../images/product/shoes.jpg');}
div#container section#categories a.item.b {grid-area:b; background-image:url('../images/product/hat.jpg');}
div#container section#categories a.item.c {grid-area:c; background-image:url('../images/product/tshirt.jpg');}
div#container section#categories a.item.d {grid-area:d; background-image:url('../images/product/sunglasses.jpg');}

div#container section#categories a.item div.caption {background-color:#000; color:#FFF; font-size:1.5rem; font-weight:bold; text-transform:uppercase; padding:.5em .5em .25em; border-radius:.5rem; white-space:nowrap;}
div#container section#categories a.item div.caption {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}

div#container section#categories a.item::after {content:''; position:absolute; top:0; left:0; width:100%; height:100%; z-index:10;}
div#container section#categories a.item::after {background-color:#0002; transition:.15s;}
div#container section#categories a.item:hover::after {background-color:#0008;}


/* Large Screen */
@media screen and (min-width:60rem) {

	/* Carousel Section */

	/* Categories Section */
	div#container section#categories a.item {padding-top:96%;}
	div#container section#categories a.item.d {padding-top:32%;}
}

/* Medium Screen */
@media screen and (max-width:60rem) {

	/* Carousel Section */

	/* Categories Section */
	div#container section#categories a.item {padding-top:96%;}
	div#container section#categories main {display:grid; grid-template-areas: 'a b' 'c d';}
}

/* Small Screen */
@media screen and (max-width:48rem) {

	/* Carousel Section */

	/* Categories Section */
}

/* Extra Small Screen */
@media screen and (max-width:32rem) {

	/* Carousel Section */
	
	/* Categories Section */
	div#container section#categories main {display:grid; grid-template-areas: 'a' 'b' 'c' 'd';}
}


