


/* Slideshow Section */

/* div#container section.slideshow {} */
div#container section.slideshow {padding:0; border:1rem solid white; border:0 none; /* border-radius:.5rem; */ overflow:hidden;}
div#container section.slideshow {/* box-shadow: .625rem 1.5rem 2.875rem rgba(30,30,200,.3); */ transition:.5s;}
div#container section.slideshow div.grid {position:relative; max-width:100vw; transition:.5s;}

/* Slideshow: Stage */
/* div#container section.slideshow div.grid div.stage {} */
/* Slideshow: Slide List */
div#container section.slideshow div.grid div.stage ul.slideset {display:flex; flex-direction:row;}
div#container section.slideshow div.grid div.stage ul.slideset {list-style:none; padding:0; padding-top:var(--aspectratio); margin:0;}
div#container section.slideshow div.grid div.stage ul.slideset/* .smooth */ {transition:var(--changetime);}
div#container section.slideshow div.grid div.stage ul.slideset li.slideitem {position:relative; display:grid; place-items:center; width:100%; flex-shrink:0; padding-top:var(--aspectratio);}
div#container section.slideshow div.grid div.stage ul.slideset li.slideitem {position:absolute; top:0; left:0;}
div#container section.slideshow div.grid div.stage ul.slideset li.slideitem.prev {transform:translateX(-100%);}
div#container section.slideshow div.grid div.stage ul.slideset li.slideitem.next {transform:translateX(100%);}
div#container section.slideshow div.grid div.stage ul.slideset li.slideitem img.background {position:absolute; top:0; left:0; height:100%; width:100%;}
div#container section.slideshow div.grid div.stage ul.slideset li.slideitem img.background {background-color:limegreen; display:block; object-fit:cover;}
div#container section.slideshow div.grid div.stage ul.slideset li.slideitem span.caption {position:absolute; display:none;}
div#container section.slideshow div.grid div.stage ul.slideset li.slideitem span.caption {background-color:var(--blackglass); color:white; padding:.5rem 1rem; border-radius:.25rem;}

/* Slideshow: Slide Controls */
div#container section.slideshow div.grid div.controls {display:grid; place-items:center; place-content:center;}
/* Slideshow: Slide Control Dots */
div#container section.slideshow div.grid div.controls ul.dotlist {position:absolute; bottom:0; /* width:100%; */}
div#container section.slideshow div.grid div.controls ul.dotlist {background-color:var(--blackglass); list-style:none; padding:0; margin:0;}
div#container section.slideshow div.grid div.controls ul.dotlist {display:flex; flex-direction:row; justify-content:center; padding:.5em; border-radius:1em; margin:1em;}
div#container section.slideshow div.grid div.controls ul.dotlist li.dot {background-color:#BBB; background-color:#717171; /* border:.125rem solid var(--blue); border-color:white; */}
div#container section.slideshow div.grid div.controls ul.dotlist li.dot {font-size:var(--dotsize); min-width:var(--dotsize); min-height:var(--dotsize); border-radius:50%; margin:0 .25em; cursor:pointer; transition:.5s;}
/* div#container section.slideshow div.grid div.controls ul.dotlist li.dot:hover {} */
div#container section.slideshow div.grid div.controls ul.dotlist li.dot.active {background-color:white;}
/* Slideshow: Slide Control Deltas */
div#container section.slideshow div.grid div.controls a.delta {position:absolute; top:50%; transform:translateY(-50%); font-size:3rem; color:white; padding:1rem .25rem; cursor:pointer; transition:.5s;}
div#container section.slideshow div.grid div.controls a.delta:hover {background-color:var(--blackglass);}
div#container section.slideshow div.grid div.controls a.delta svg.icon {display:block;}
div#container section.slideshow div.grid div.controls a.delta.prev {left:0; border-radius: 0 .5rem .5rem 0;}
div#container section.slideshow div.grid div.controls a.delta.next {right:0; border-radius: .5rem 0 0 .5rem;}
/* div#container section#carousel main {background-color:var(--grey); background-size:cover; background-position:center;} */


/* Categories Section */

div#container section#categories {padding:.55rem;}
div#container section#categories main {display:grid; grid-template-areas: 'a b c' 'd d d'; grid-gap:.5rem;}

div#container section#categories a.item {display:grid; place-items:center; position:relative;}
div#container section#categories a.item {background-color:var(--blue); background-size:cover; background-position:center;}

div#container section#categories a.item.a {grid-area:a; background-image:url('../../../resources/images/merch/shoes.jpg');}
div#container section#categories a.item.b {grid-area:b; background-image:url('../../../resources/images/merch/hat.jpg');}
div#container section#categories a.item.c {grid-area:c; background-image:url('../../../resources/images/merch/tshirt.jpg');}
div#container section#categories a.item.d {grid-area:d; background-image:url('../../../resources/images/merch/sunglasses.jpg');}

div#container section#categories a.item div.caption {background-color:#000; color:#FFF; font-size:1.5rem; font-weight:bold; text-transform:uppercase; padding:.5em .5em .25em; border-radius:.5rem; white-space:nowrap;}
div#container section#categories a.item div.caption {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}

div#container section#categories a.item::after {content:''; position:absolute; top:0; left:0; width:100%; height:100%; z-index:10;}
div#container section#categories a.item::after {background-color:#0002; transition:.15s;}
div#container section#categories a.item:hover::after {background-color:#0008;}


/* Large Screen */
@media screen and (min-width:60rem) {

	/* Carousel Section */

	/* Categories Section */
	div#container section#categories a.item {padding-top:96%;}
	div#container section#categories a.item.d {padding-top:32%;}
}

/* Medium Screen */
@media screen and (max-width:60rem) {

	/* Carousel Section */

	/* Categories Section */
	div#container section#categories a.item {padding-top:96%;}
	div#container section#categories main {display:grid; grid-template-areas: 'a b' 'c d';}
}

/* Small Screen */
@media screen and (max-width:48rem) {

	/* Carousel Section */

	/* Categories Section */
}

/* Extra Small Screen */
@media screen and (max-width:32rem) {

	/* Carousel Section */
	
	/* Categories Section */
	div#container section#categories main {display:grid; grid-template-areas: 'a' 'b' 'c' 'd';}
}


