

/* General Container */
div#container.dark {background-color:#444; color:#FFF9;}

/* Nav Toggle Button */
/* Theme Toggle Button */

/* Nav Section */

/* General Section */
div#container.dark section {border-color:#FFF;}

/* Hero Section */
div#container.dark section#hero:before {background-color:#111E;}

/* About Section */

/* Skills Section */
div#container.dark section#skills main div.skills div.item {background-color:#333;}

/* Stats Section */

/* Resume Section */

/* Contact Section */

/* Footer Section */
div#container.dark footer {background-color:#FFF2;}

/* Back To Top Button */

