

/* General Container */
div#container.dark {background-color:var(--dark); color:var(--offwhite);}

/* Nav Toggle Button */
/* Theme Toggle Button */

/* Nav Section */

/* General Section */
div#container.dark section {border:1px solid var(--fadedwhite);}

/* Hero Section */
div#container.dark section#hero:before {background-color:#111E;}

/* About Section */

/* Skills Section */
div#container.dark section#skills main div.skills div.item {background-color:var(--darkitem); color:var(--offwhite);}

/* Stats Section */

/* Resume Section */

/* Contact Section */

/* Footer Section */
div#container.dark footer {background-color:#FFF2;}

/* Back To Top Button */

