


/* General */


* {box-sizing:border-box}

body {margin:0; font-family:sans-serif;}



/* Main Container */


/* div#container {border:.5rem solid red;} */
div#container a {text-decoration:none; color:inherit;}
div#container a:hover {text-decoration:underline;}



/* Header Section */


div#container header#header {position:absolute; top:0; left:0; right:0; width:100%; padding:1.25rem 1rem; z-index:100;}
div#container header#header {min-height:4rem;}￼

div#container header#header main {max-width:75rem; margin:0 auto;}
div#container header#header main {display:flex; flex-direction:row; justify-content:space-between; align-items:center; color:#FFF;}
div#container header#header main h1.navhead {flex-grow:0; order:10;}
div#container header#header main div.navmenu {flex-grow:1; order:20;}
div#container header#header main div.navextras {flex-grow:0; order:30;}

div#container header#header main h1.navhead {font-size:1.75rem;}
div#container header#header main div.navmenu {display:flex; flex-direction:row; justify-content:flex-end; align-items:center;}
/* div#container header#header main div.navextras {} */

div#container header#header main div ul.navlist {display:flex; flex-direction:row; justify-content:center; align-items:center; list-style:none; margin:0; padding:0; font-size:1rem;}
div#container header#header main div ul.navlist li.navitem {padding:.75rem;}
div#container header#header main div ul.navlist li.navitem.mobile {display:none;}
div#container header#header main div ul.navlist li.navitem a.navlink {display:block;}

/* Account Buttons */
div#container header#header main div.navmenu ul.navlist#account li.navitem a.navlink.btnred {background-color:red; padding:1rem;}￼
div#container header#header main div.navmenu ul.navlist#account li.navitem a.navlink.btnred:hover {background:linear-gradient(180deg, brightred, red);}
div#container header#header main div.navmenu ul.navlist#account li.navitem a.navlink.btnorange {background-color:orange; padding:1rem;}￼
div#container header#header main div.navmenu ul.navlist#account li.navitem a.navlink.btnorange:hover {background:linear-gradient(180deg, brightorange, orange);}

/* Login / Logout State */
div#container header#header main div.navmenu ul.navlist#account li.navitem.inside a.navlink {display:none;}
div#container header#header main div.navmenu ul.navlist#account li.navitem.outside a.navlink {display:block;}
div#container.loggedin header#header main div.navmenu ul.navlist#account li.navitem.inside a.navlink {display:block;}
div#container.loggedin header#header main div.navmenu ul.navlist#account li.navitem.outside a.navlink {display:none;}



/* Banner Section */


div#container section.banner {padding: 8rem 0 3.75rem;}
div#container section.banner h1.title {font-size:6.25rem; margin:0; margin-bottom:1rem;}
div#container section.banner h2.subtitle {font-size:3.125rem; margin:0; margin-bottom:1rem;}
div#container section.banner h3.subtitle {font-size:1.6875rem; margin:0; margin-bottom:1rem;}
div#container section.banner a.actionbtn {font-size:1.9rem;}



/* Preview Section */


div#container section.preview {display:flex; flex-direction:row; justify-content:stretch; align-items:stretch;}

div#container section.preview div.half {padding:2.5rem;}
div#container section.preview div#events {background-color:#FFF;}
div#container section.preview div#blogposts {background-color:#FF24;}

div#container section.preview div.half h2.headline {font-size:1.6875rem; margin:0; margin-bottom:1rem;}

/* div#container section.preview div.half div.postlist {} */
div#container section.preview div.half div.postlist div.post {padding:1rem 0; font-weight:100;}
div#container section.preview div.half div.postlist div.post h4.postname {font-size:1.375rem; margin:0;}
/* div#container section.preview div.half div.postlist div.post p.postexcerpt {}
div#container section.preview div.half div.postlist div.post p.postexcerpt span.excerpt {} */
div#container section.preview div.half div.postlist div.post p.postexcerpt span.excerpt.full::after {content:'...';}
div#container section.preview div.half div.postlist div.post p.postexcerpt a.readlink {color:#999;}

/* div#container section.preview div.half div.action {}
div#container section.preview div.half div.action a.archivebtn {} */



/* Carousel Section */


div#container section.carousel {width:100%; overflow-x:scroll; scrollbar-width:none;}

div#container section.carousel div.page {display:flex; flex-direction:column; justify-content:center; align-items:center; padding:6rem 4rem; background-color:#000; background-size:cover; background-repeat:no-repeat; width:100%;}
div#container section.carousel div.page.a {background-image:url('insidebus.png');}
div#container section.carousel div.page.b {background-image:url('apples.png');}
div#container section.carousel div.page.c {background-image:url('bread.png');}

div#container section.carousel div.page div.bubble {background-color:#0003; color:#FFF; padding:2rem;}
div#container section.carousel div.page div.bubble h2.headline {font-size:3rem; margin:0;}
div#container section.carousel div.page div.bubble p {margin:0; margin-top:2rem}
/* div#container section.carousel div.page div.bubble p.textcopy {}
div#container section.carousel div.page div.bubble p.action {} */
div#container section.carousel div.page div.bubble p.action a.learnbtn {background-color:navy; color:#FFF; padding:1rem 1.5rem;}



/* Footer Section */


div#container footer#footer {padding:4rem 1rem;}
div#container footer#footer main {max-width:75rem; margin:0 auto;}
div#container footer#footer main {display:flex; flex-direction:row; justify-content:stretch; align-items:stretch; flex-wrap:nowrap;}

div#container footer#footer div.col {flex-grow:2; text-align:left;}
div#container footer#footer div.col.wide {flex-grow:3;}
div#container footer#footer div.col.break {display:none; flex:0 0 100%;}

div#container footer#footer div.col h1.navhead {font-size:1.75rem;}
div#container footer#footer div.col a.contactlink {font-size:.9rem;}

div#container footer#footer div.col h3.navhead {font-size:1.6875rem;}
div#container footer#footer div.col ul.navlist {list-style:none; margin:0; padding:0;}
div#container footer#footer div.col ul.navlist li.navitem {font-size:.9rem;}
div#container footer#footer div.col ul.navlist li.navitem a.navlink {display:block;}

div#container footer#footer div.col ul.navlist.social {display:flex; flex-direction:row; justify-content:stretch; align-items:stretch; gap:1rem;}
div#container footer#footer div.col ul.navlist.social li.navitem {flex-grow:1; font-size:1.25rem;}
div#container footer#footer div.col ul.navlist.social li.navitem a.navlink {padding:.25rem;}
/* div#container footer#footer div.col ul.navlist.social li.navitem a.navlink svg.icon {} */




/* Medium screen (tablet) */
@media screen and (max-width:60rem) {


	/* Header Section */

	div#container header#header main {flex-wrap:wrap;}
	div#container header#header main h1.navhead {order:10;}
	div#container header#header main div.navextras {order:20;}
	div#container header#header main div.navmenu {order:30; flex: 1 0 100%; width:100%;}

	div#container header#header main div.navmenu {background-color:transparent;}
	div#container header#header.active main div.navmenu {background-color:navy;}
	div#container header#header main div.navmenu ul.navlist#menu {flex-direction:column;}
	div#container header#header main div.navmenu ul.navlist#account {flex-direction:row;}

	/* div#container header#header main div.navextras {} */
	div#container header#header main div.navextras ul.navlist#extras {flex-direction:row;}
	div#container header#header main div.navextras ul.navlist#extras li.navitem.mobile {display:block;}


	/* Banner Section */


	/* Preview Section */
	div#container section.preview {flex-direction:column; align-items:stretch;}


	/* Carousel Section */
	div#container section.carousel div.page {padding:3rem 1rem;}


	/* Footer Section */
	div#container footer#footer main {flex-wrap:wrap;}
	div#container footer#footer div.col {flex-basis:50%; text-align:center;}
	div#container footer#footer div.col.wide {flex:0 0 100%}
	div#container footer#footer div.col.break {display:block;}
}

/* Small screen (mobile) */
@media screen and (max-width:32rem) {

	/* Header Section */

	/* Banner Section */
	div#container section.banner {padding: 5rem 0 2.5rem;}
	div#container section.banner h1.title {font-size:3.6rem;}
	div#container section.banner h2.subtitle {font-size:1.9rem;}
	div#container section.banner h3.subtitle {font-size:1.2rem;}
	div#container section.banner a.actionbtn {font-size:1.3rem;}

	/* Preview Section */
	/* Carousel Section */
	/* Footer Section */
}

