
body {padding:24px; transition:1s;}
@media screen and (max-width:767px) { body {padding:12px;} }

div#container {/*text-align:center;*/ background-color:#E6F1FE; color:#222; max-width:450px; border-radius:8px; padding:12px;}
div#container {box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4); box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28); transition:.5s;}
div#container:hover {box-shadow: 0px 2px 12px 4px rgba(0,0,0,0.5);}

div#container {position:relative; animation:showUp 1s;}
@keyframes showUp {from{bottom:-100px;opacity:0;}to{bottom:0; opacity:1;}}

/*div#container > .row {padding-top:6px; padding-bottom:4px;}*/

div#container .head-row h2 {text-align:center; margin-bottom:24px;}
div#container .head-row h2 img {height:34px; position:relative; bottom:3px;}

div#container .inputGroup {background:rgba(0,0,0,0.1); padding:12px; border-radius:5px; margin-bottom:12px;}
/*div#container .input-row {padding-top:3px; padding-bottom:3px;}*/
div#container .input-row label {width:100%; text-align:left; padding:4px; margin:0; /*font-weight:400;*/}
div#container .input-row select, #container .input-row select option, 
div#container .input-row input {width:100%; border-radius:5px; border:1px solid #777; text-align:right; padding:4px 12px; margin-top:4px; margin-bottom:4px;}

div#container .button-row {padding-top:12px;}
div#container .button-row > div.col-xs-6:nth-of-type(1) {padding-right:4px;}					/* For 2 button design */
div#container .button-row > div.col-xs-6:nth-of-type(2) {padding-left:4px;}					/* For 2 button design */
div#container .button-row > div.col-xs-4:nth-of-type(1) {padding-right:4px;}					/* For 3 button design */
div#container .button-row > div.col-xs-4:nth-of-type(2) {padding-left:4px; padding-right:4px;}	/* For 3 button design */
div#container .button-row > div.col-xs-4:nth-of-type(3) {padding-left:4px;}					/* For 3 button design */
div#container .button-row > div.col-xs-3:nth-of-type(1) {padding-right:4px;}					/* For 4 button design */
div#container .button-row > div.col-xs-3:nth-of-type(2) {padding-left:4px; padding-right:4px;}	/* For 4 button design */
div#container .button-row > div.col-xs-3:nth-of-type(3) {padding-left:4px; padding-right:4px;}	/* For 4 button design */
div#container .button-row > div.col-xs-3:nth-of-type(4) {padding-left:4px;}					/* For 4 button design */
div#container .button-row button {width:100%; border-radius:5px; border:1px solid #888; padding:6px; background-color:#EEE; font-weight:bold;}
div#container div.button-row > div:nth-of-type(1) button {background-color:#efefef;}
div#container div.button-row > div:nth-of-type(2) button {background-color:dodgerblue; color:#fff;}
div#container div.button-row > div:nth-of-type(3) button {background-color:#efefef;}

div#container .output-row div#outputBox {display:none;}
div#container .output-row div#outputBox {background-color:rgba(0,0,0,0.1); border-radius:5px; border:1px solid #888; padding:12px 24px; text-align:left; margin-top:12px;}
div#container .output-row div#outputBox .heading.row {font-weight:bold;}
div#container .output-row div#outputBox .center {text-align:center;}
div#container .output-row div#outputBox .right {text-align:right;}
div#container .output-row div#outputBox span.l {color:blue;}
div#container .output-row div#outputBox span.r {color:red;}

.collapsible {cursor:pointer;}
.content {max-height:0; overflow:hidden; transition:max-height 0.2s ease-out;}
legend {margin-bottom:4px;}