

* {box-sizing:border-box;}



body {font-family:sans-serif; margin:0;}



div#container {background-color:#181818; display:flex; flex-direction:column; align-items:center; /* align-items:stretch; */ min-height:100vh; /* padding:0 1rem; */}
div#container nav.nav {flex-grow:0;}
div#container main.main {flex-grow:1;}


div#container nav.nav {background-color:black; font-size:1.25rem; display:flex; justify-content:center; border-radius:20rem;}
div#container nav.nav div.inner {display:flex; flex-direction:row; justify-content:center; align-items:center; position:relative;}

div#container nav.nav div.choice {text-align:center; /* padding:0 1rem; */ z-index:20;}
div#container nav.nav div.choice label {display:block; color:#fff8; white-space:nowrap; min-width:10em; padding:1.25rem 1rem; cursor:pointer; user-select:none; transition:.25s;}
div#container nav.nav div.choice input {display:none;}
div#container nav.nav div.choice input:checked + label {color:white;}

div#container nav.nav div.switch {position:absolute; bottom:0; left:0; height:100%; min-width:10em; z-index:10;}
div#container nav.nav div.switch {background-color:#2d2d2d; border-radius:20rem; transform:none; transition:.25s, height 0s;}
div#container nav.nav.a div.switch {transform:translateX(0);}
div#container nav.nav.b div.switch {transform:translateX(100%);}
div#container nav.nav.c div.switch {transform:translateX(200%);}


div#container main.main {background-color:#FFF1; width:100%; border-radius:.5rem; overflow:hidden;}
div#container main.main div.inner {display:flex; transition:.5s;}
div#container main.main.a div.inner {transform:translateX(0);}
div#container main.main.b div.inner {transform:translateX(-100%);}
div#container main.main.c div.inner {transform:translateX(-200%);}
div#container main.main article.page {flex-shrink:0; width:100%; padding:2rem;}


@media screen and (max-width:48rem) {
	/* div#container {background-color:greenyellow;} */
	div#container nav.nav {font-size:1rem; border-radius:0; /* overflow:hidden; */}
	div#container nav.nav div.choice label {min-width:8em; padding:.75rem .25rem;}
	div#container nav.nav div.switch {min-width:8em; height:.125rem;}
}
