


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {
	/* --bgimg:linear-gradient(135deg,dodgerblue,magenta); */
	--themecolor:#CCC;
	--boxshadow:0 0 1rem #0002;
	--boxshadow:0 0 .25rem #0003;
}


html {background-color:var(--themecolor); background-image:var(--bgimg);}
body {font-family:Nunito,sans-serif; margin:0;}


div#container {display:grid; place-items:center; min-height:100vh; padding:1rem;}

div#container main.main {background-color:white; display:flex; /* flex-direction:column; */ grid-gap:.875rem; padding:1rem; border-radius:.5rem; box-shadow:var(--boxshadow);}
/* div#container main.main div.item {} */
div#container main.main div.item input.text {font-size:inherit; width:100%; padding:.75rem; border:1px solid #BBB; border-radius:.5rem;}
div#container main.main div.item input.text:focus {outline:solid dodgerblue;}
div#container main.main div.item button.copybtn {font-size:inherit; cursor:pointer; position:relative; width:100%; padding:.75rem; border:1px solid #BBB; border-radius:.5rem;}
/* div#container main.main div.item button.copybtn span.caption {} */
div#container main.main div.item button.copybtn span.tooltip {position:absolute; bottom:calc(100% + 1rem); left:50%; transform:translateX(-50%); padding:.625rem 1rem; border-radius:.5rem;}
div#container main.main div.item button.copybtn span.tooltip {--bgcolor:#555/* C */; background-color:var(--bgcolor); color:white; white-space:nowrap; visibility:hidden; opacity:0;}
div#container main.main div.item button.copybtn span.tooltip::after {position:absolute; top:100%; left:50%; transform:translateX(-50%);}
div#container main.main div.item button.copybtn span.tooltip::after {content:''; border:.375rem solid transparent; border-top-color:var(--bgcolor);}
div#container main.main div.item button.copybtn:hover span.tooltip {visibility:visible; opacity:1; transition:.125s;}


/* Tablet Screen */
@media screen and (max-width:64rem) {
	/*  */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {
	/*  */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {
	/*  */
}
