
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* Theme Colors */
	--green:#2ecc71;
	--white:#f5f5f5;
	--drkwhite:#EEE;
	--drkwhite:#f2f2f2;
	--ltgrey:#d3d3d3;
	--drkgrey:#878787;
	/* --themecolor:#CCC; */

	/* Page Numbers */
	--ballsize:2rem;
	--switchsize:6rem;
	--switchsize:5rem;
	--switchsize:4rem;
	--pagewidth:60rem;
	--cornersize:.5rem;

	/* Box Shadows */
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
	/* --box-shadow-color:#00000026; */
}




html {background-color:var(--white);}
body {font-family:Nunito,sans-serif; margin:0;}



/* Container */
div#container {display:grid; place-items:center; min-height:100vh; padding:1rem;}
div#container main.main {background-color:white; /* width:100%; max-width:var(--pagewidth); */ padding:1rem; padding:.75rem; border-radius:var(--cornersize); box-shadow:var(--boxshadow);}
div#container main.main {display:flex; flex-direction:row; align-items:center;}
div#container main.main {transform:none; transition:.25s;}
div#container main.main button.btn {padding:.5rem .75rem;}

/* State Switcher */
div#container main.main div.position {transform:none; transition:.25s;}
div#container main.main div.position svg.icon {display:block; font-size:1.5rem;}
div#container main.main label.switch {background-color:var(--drkwhite); display:block; border:1px solid threedlightshadow; padding:.25rem; border-radius:3rem;}
div#container main.main label.switch {cursor:pointer; position:relative; transition:.5s;}
div#container main.main label.switch {box-sizing:content-box; height:auto; width:var(--switchsize); margin:0 .5rem;}
div#container.on main.main label.switch {background-color:var(--green);}
div#container main.main label.switch div.ball {width:var(--ballsize); height:var(--ballsize); border-radius:50%; background-color:white; transition:.5s;}
div#container.on main.main label.switch div.ball {transform:translateX(100%); /* transform:translateX(150%); */ /* transform:translateX(200%); */}



/* Toaster Box */
div#container ul.toasterbox {list-style:none; padding:0; /* padding:.25rem 0 1rem; */ margin:0;}
div#container ul.toasterbox {position:fixed; inset:0; bottom:auto; /* width:100%; */ /* z-index:-1; */}
div#container ul.toasterbox {display:flex; flex-direction:column; align-items:flex-end;}
div#container ul.toasterbox li.toaster {position:absolute; width:100%; max-width:24rem; /* z-index:1; */ margin:.75rem 1rem 0;}
div#container ul.toasterbox li.toaster {opacity:0; transform:translateX(200%); transition:opacity .5s, transform .5s cubic-bezier(.68,-.55,.265,1.35);;}
div#container.on.toasted ul.toasterbox li.toaster.online {opacity:1; transform:none;}
div#container.off.toasted ul.toasterbox li.toaster.offline {opacity:1; transform:none;}

/* Toaster Item */
div#container ul.toasterbox li.toaster div.toast {background-color:white; cursor:pointer; position:relative;}
div#container ul.toasterbox li.toaster div.toast {display:flex; flex-direction:row; align-items:center; overflow:hidden; padding:0 .5rem;}
div#container ul.toasterbox li.toaster div.toast {border-left:.375rem solid var(--themecolor); border-radius:.5rem; box-shadow:var(--boxshadow);}
div#container ul.toasterbox li.toaster.online div.toast {--themecolor:var(--green);}
div#container ul.toasterbox li.toaster.offline div.toast {--themecolor:var(--ltgrey);}

/* Toaster Item: Image */
div#container ul.toasterbox li.toaster div.toast div.image {background-color:var(--themecolor); padding:.625rem; border-radius:50%; margin:1rem 0; margin-left:.25rem;}
div#container ul.toasterbox li.toaster div.toast div.image svg.icon {display:block; color:white; font-size:1.25rem;}

/* Toaster Item: Message */
div#container ul.toasterbox li.toaster div.toast div.message {flex-grow:1; padding:.625rem .75rem;}
div#container ul.toasterbox li.toaster div.toast div.message {display:flex; flex-direction:column; justify-content:center; align-items:stretch;}
div#container ul.toasterbox li.toaster div.toast div.message h1.head {font-size:1.125rem; font-weight:800; margin:0;}
div#container ul.toasterbox li.toaster div.toast div.message span.caption {color:var(--drkgrey); font-weight:100; line-height:1.25; /* white-space:nowrap; */}

/* Toaster Item: Controls */
div#container ul.toasterbox li.toaster div.toast div.controls {display:flex; justify-content:center; align-items:center;}
div#container ul.toasterbox li.toaster div.toast div.controls div.closebtn {background-color:var(--white); transition:.125s;/*  margin-left:.5rem; */}
div#container ul.toasterbox li.toaster div.toast div.controls div.closebtn {display:grid; place-items:center; cursor:pointer; user-select:none; --size:2.25rem; width:var(--size); height:var(--size); border-radius:50%;}
div#container ul.toasterbox li.toaster div.toast div.controls div.closebtn:hover {background-color:var(--drkwhite)}
div#container ul.toasterbox li.toaster div.toast div.controls div.closebtn span.icon {font-size:1.5rem;}





/* Desktop Screen */
/* Laptop Screen */
/* Tablet Screen */
/* Big Smartphone Screen */
@media screen and (min-width:32rem) {


	/* Container */
	/* div#container {} */
	/* div#container main.main {} */

	/* State Switcher */
	/* div#container main.main div.position {} */
	/* div#container main.main label.switch {} */
	/* div#container main.main label.switch div.ball {} */


	/* Toaster Box */
	/* div#container ul.toasterbox {} */

	/* Toaster Item */
	/* div#container ul.toasterbox li.toaster {} */
	/* div#container ul.toasterbox li.toaster div.toast {} */

	/* Toaster Item: Image */
	/* div#container ul.toasterbox li.toaster div.toast div.image {} */

	/* Toaster Item: Message */
	/* div#container ul.toasterbox li.toaster div.toast div.message {} */

	/* Toaster Item: Controls */
	/* div#container ul.toasterbox li.toaster div.toast div.controls {} */
}


/* Small Smartphone Screen */
@media screen and (max-width:32rem) {


	/* Container */
	/* div#container {} */
	/* div#container main.main {flex-direction:column-reverse;} */
	div#container main.main {transform:rotate(-90deg);}

	/* State Switcher */
	div#container main.main div.position {transform:rotate(90deg);}
	/* div#container main.main label.switch {width:auto; height:var(--switchsize); margin:.5rem 0;} */
	/* div#container main.main label.switch div.ball {transform:translateY(100%);} */
	/* div#container.on main.main label.switch div.ball {transform:none;} */


	/* Toaster Box */
	div#container ul.toasterbox {top:0; right:1rem; bottom:auto; left:1rem;}
	div#container ul.toasterbox {align-items:center; width:auto; margin:0 auto;}

	/* Toaster Item */
	/* div#container ul.toasterbox li.toaster {transform:translateY(-200%);} */
	div#container ul.toasterbox li.toaster div.toast {flex-direction:column; text-align:center;}

	/* Toaster Item: Image */
	div#container ul.toasterbox li.toaster div.toast div.image {margin:0; margin-top:.75rem;}

	/* Toaster Item: Message */
	/* div#container ul.toasterbox li.toaster div.toast div.message {} */

	/* Toaster Item: Controls */
	/* div#container ul.toasterbox li.toaster div.toast div.controls {} */
	div#container ul.toasterbox li.toaster div.toast div.controls div.closebtn {position:absolute; top:0; right:0; height:2rem; width:2rem; border-radius:.5rem; margin:.125rem;}
}
