


/* Blog Section */
/* div#container section.blog {} */
/* div#container section.blog div.grid {} */


/* Blog Section: Head */
/* div#container section.blog div.grid div.head {} */
div#container section.blog div.grid div.head div.filter {display:flex; flex-direction:row; /* align-items:center; */}
div#container section.blog div.grid div.head div.filter div.filterbtn {display:grid; place-items:center; cursor:pointer; transition:.125s; padding:.75rem .875rem; border-radius:.5rem; box-shadow:var(--boxshadowx);}
div#container section.blog div.grid div.head div.filter div.filterbtn:hover {background-color:var(--forecolor); color:var(--backcolor2);}
div#container section.blog div.grid div.head div.filter div.filterbtn svg.icon {font-size:2rem;}
div#container section.blog div.grid div.head div.filter div.filterquery {position:relative; overflow:hidden; width:100%; max-width:calc(var(--pagewidth)/3); border-radius:var(--cornersize);/*  margin:2rem auto; */ margin-right:1rem; box-shadow:var(--boxshadowx);}
/* div#container section.blog div.grid div.head div.filter label.label {background-color:var(--forecolor2); color:var(--backcolor); padding:0 1.125rem;} */
div#container section.blog div.grid div.head div.filter label.label {display:flex; flex-direction:column; justify-content:center; cursor:pointer;}
div#container section.blog div.grid div.head div.filter label.label {position:absolute; left:0; top:0; height:100%; padding:0 1.125rem;}
div#container section.blog div.grid div.head div.filter label.label svg.icon {display:block; font-size:1.75rem;}
div#container section.blog div.grid div.head div.filter label.clearbtn {position:absolute; right:0; top:50%; transform:translateY(-50%);height:var(--btnsize); width:var(--btnsize);}
div#container section.blog div.grid div.head div.filter label.clearbtn {/* background-color:#FFFFFF08; color:black; */ --btnsize:2rem; opacity:.375; cursor:pointer; user-select:none;}
div#container section.blog div.grid div.head div.filter label.clearbtn {display:flex; flex-direction:column; align-items:center; justify-content:center; padding:0 1.125rem; margin-right:.5rem;}
div#container section.blog div.grid div.head div.filter label.clearbtn svg.icon {font-size:1.75rem;}
div#container section.blog div.grid div.head div.filter input#postfilter {background-color:var(--backcolor2); color:var(--forecolor);}
div#container section.blog div.grid div.head div.filter input#postfilter {font-family:inherit; font-size:1.375rem; font-weight:300; width:100%; padding:.875rem 3.25rem .875rem 3.5rem;}
div#container section.blog div.grid div.head div.filter input#postfilter {border:.125rem solid var(--backcolor2); outline:none;}


/* Blog Section: Body */
/* div#container section.blog div.grid div.body {} */
div#container section.blog div.grid div.body.split {display:grid; grid-template-columns:auto 1fr;}

/* Blog Section: Posts */
/* div#container section.blog div.grid div.body div.posts {} */
div#container section.blog div.grid div.body div.posts ul.postlist {display:grid; grid-template-columns:repeat(8,1fr); grid-gap:1.25rem; list-style:none; padding:0; margin:0; margin-top:1.5rem;}
div#container section.blog div.grid div.body div.posts ul.postlist.big {grid-template-columns:repeat(5,1fr);}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard {overflow:hidden; border-radius:var(--cornersize); box-shadow:var(--boxshadowx);}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard.gone {opacity:.375; transition:.375s;}
/* div#container section.blog div.grid div.body div.posts ul.postlist li.postcard.gone {display:none;} */
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink {color:inherit; color:var(--forecolor); text-decoration:none;}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink {background-color:var(--backcolor2); display:block; position:relative;}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.caption {display:flex; justify-content:center; align-items:center;}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.caption {font-size:1.25rem; /* text-align:center; */ padding:.75rem 1rem;}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.caption span.name {/* background-color:var(--backcolor); */ display:block; padding:0 .5rem; border-radius:1em; margin:0 auto;}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.caption span.name {width:fit-content; max-width:100%; overflow:hidden; text-overflow:ellipsis;}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.caption span.name:empty {background-color:gainsboro; height:1em; width:6em;}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.preview {background-color:var(--backcolor); position:relative; width:100%; padding-top:75%; /* margin-bottom:2em; */}
/* div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.preview:empty {background-color:limegreen;} */
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.preview::after {background-color:var(--blackglass); content:'';}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.preview::after {position:absolute; top:0; left:0; height:100%; width:100%; z-index:20;}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.preview iframe.preview {background-color:var(--forecolor); /* display:none; */ border:0 none; /* border:.25rem solid; */}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.preview iframe.preview {position:absolute; top:0; left:0; height:100%; width:100%; overflow:hidden; z-index:10;}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.preview iframe.preview {--ml:1; scale:1; height:100%; width:100%; transform:none;}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.preview iframe.preview {--ml:2; scale:.5; height:200%; width:200%; transform:translate(-50%,-50%);}
div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.preview iframe.preview {--ml:3; scale:.25; height:400%; width:400%; transform:translate(-150%,-150%);}
/* div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.preview iframe.preview {--ml:4; scale:.125; height:800%; width:800%; transform:translate(-350%,-350%);} */
/* div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.preview iframe.preview {--ml:5; scale:.0625; height:1600%; width:1600%; transform:translate(-750%,-750%);} */
/* div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.preview iframe.preview {--ml:6; scale:.03125; height:3200%; width:3200%; transform:translate(-1550%,-1550%);} */
/* div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.projectlink div.preview iframe.preview {--ml:10; scale:calc( 1 / pow( 2, var(--ml) ) ); height:calc( pow( 2, var(--ml) ) * 100% ); width:calc( pow( 2, var(--ml) ) * 100% ); --trvalue:calc( -50% + 100% * pow( 2, (var(--ml) - 1) ) ); transform:translate( var(--trvalue) , var(--trvalue) );} */
div#container section.blog div.grid div.body div.posts div.emptylabel {display:none; font-size:1.5rem; text-align:center; opacity:.625;}
div#container section.blog div.grid div.body div.posts div.emptylabel.on {display:block;}

/* Blog Section: Filters */
div#container section.blog div.grid div.body.split div.filtertabs {max-height:0; max-width:0; transition:.5s;}
div#container section.blog div.grid div.body.split div.filtertabs.active {max-height:fit-content; max-width:fit-content;}
div#container section.blog div.grid div.body.split div.filtertabs div.filterpiece {height:40rem;}

/* Blog Section: Zoomer */
div#container section.blog div.grid div.body div.zoomer {display:flex; align-items:center; justify-content:center; margin:2rem 0;}
div#container section.blog div.grid div.body div.zoomer div.zoombtn {font-size:3rem; cursor:pointer; user-select:none;}
div#container section.blog div.grid div.body div.zoomer div.zoombtn {display:grid; place-items:center; width:100%; padding:.5rem 2rem; border-radius:var(--cornersize); /* margin:0 auto; */ box-shadow:var(--boxshadow);}
div#container section.blog div.grid div.body div.zoomer {display:none;}

/* Blog Section: More */
div#container section.blog div.grid div.body div.more {display:flex; flex-direction:column; align-items:center; padding:2rem 0; margin-top:1rem;}
div#container section.blog div.grid div.body div.more a.morebtn {background-color:var(--backcolor2); color:var(--forecolor); font-size:1.5rem; text-decoration:none;}
div#container section.blog div.grid div.body div.more a.morebtn {background-color:var(--forecolor); color:var(--backcolor);}
div#container section.blog div.grid div.body div.more a.morebtn {display:flex; justify-content:center; align-items:center; min-width:14em; padding:.75em 1em; border-radius:1.5em; box-shadow:var(--boxshadow);}
div#container section.blog div.grid div.body div.more a.morebtn svg.icon {margin-left:.5rem;}
/* div#container section.blog div.grid div.body div.more a.morebtn span.caption {} */
/* div#container section.blog div.grid div.body div.more {display:none;} */





/* Large Tablet Screen */
@media screen and (max-width:125rem) {

	/* Blog Section */
	/* div#container section.blog {} */
	/* div#container section.blog div.grid {} */

	/* Blog Section: Head */
	/* div#container section.blog div.grid div.head {} */

	/* Blog Section: Body */
	/* div#container section.blog div.grid div.body {} */
	div#container section.blog div.grid div.body.split {grid-template-columns:auto;}

	/* Blog Section: Posts */
	/* div#container section.blog div.grid div.body div.posts {} */
	div#container section.blog div.grid div.body div.posts ul.postlist {grid-template-columns:repeat(6,1fr);}
	div#container section.blog div.grid div.body div.posts ul.postlist.big {grid-template-columns:repeat(4,1fr);}

	/* Blog Section: Filters */
	/* div#container section.blog div.grid div.body.split div.filtertabs {} */

	/* Blog Section: Zoomer */
	/* div#container section.blog div.grid div.body div.zoomer {} */

	/* Blog Section: More */
	/* div#container section.blog div.grid div.body div.more {} */
}

/* Medium Tablet Screen */
@media screen and (max-width:88rem) {

	/* Blog Section */
	/* div#container section.blog {} */
	/* div#container section.blog div.grid {} */

	/* Blog Section: Head */
	/* div#container section.blog div.grid div.head {} */

	/* Blog Section: Body */
	/* div#container section.blog div.grid div.body {} */

	/* Blog Section: Posts */
	/* div#container section.blog div.grid div.body div.posts {} */
	/* div#container section.blog div.grid div.body div.posts ul.postlist {} */
	div#container section.blog div.grid div.body div.posts ul.postlist.big {grid-template-columns:repeat(3,1fr);}
	/* div#container section.blog div.grid div.body div.posts ul.postlist li.postcard {} */
	div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.namelink {font-size:1.125rem;}

	/* Blog Section: Filters */
	/* div#container section.blog div.grid div.body.split div.filtertabs {} */

	/* Blog Section: Zoomer */
	/* div#container section.blog div.grid div.body div.zoomer {} */

	/* Blog Section: More */
	/* div#container section.blog div.grid div.body div.more {} */
}

/* Small Tablet Screen */
@media screen and (max-width:64rem) {

	/* Blog Section */
	/* div#container section.blog {} */
	/* div#container section.blog div.grid {} */

	/* Blog Section: Head */
	/* div#container section.blog div.grid div.head {} */

	/* Blog Section: Body */
	/* div#container section.blog div.grid div.body {} */

	/* Blog Section: Posts */
	/* div#container section.blog div.grid div.body div.posts {} */
	div#container section.blog div.grid div.body div.posts ul.postlist {grid-template-columns:repeat(5,1fr);}
	div#container section.blog div.grid div.body div.posts ul.postlist.big {grid-template-columns:repeat(2,1fr);}
	/* div#container section.blog div.grid div.body div.posts ul.postlist li.postcard {} */
	div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.namelink {font-size:1.0625rem;}

	/* Blog Section: Filters */
	/* div#container section.blog div.grid div.body.split div.filtertabs {} */

	/* Blog Section: Zoomer */
	/* div#container section.blog div.grid div.body div.zoomer {} */

	/* Blog Section: More */
	/* div#container section.blog div.grid div.body div.more {} */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {
	
	/* Blog Section */
	/* div#container section.blog {} */
	/* div#container section.blog div.grid {} */

	/* Blog Section: Head */
	/* div#container section.blog div.grid div.head {} */

	/* Blog Section: Body */
	/* div#container section.blog div.grid div.body {} */

	/* Blog Section: Posts */
	/* div#container section.blog div.grid div.body div.posts {} */
	div#container section.blog div.grid div.body div.posts ul.postlist {grid-template-columns:repeat(4,1fr);}
	/* div#container section.blog div.grid div.body div.posts ul.postlist.big {} */
	/* div#container section.blog div.grid div.body div.posts ul.postlist li.postcard {} */
	div#container section.blog div.grid div.body div.posts ul.postlist li.postcard a.namelink {font-size:1rem;}

	/* Blog Section: Filters */
	/* div#container section.blog div.grid div.body.split div.filtertabs {} */

	/* Blog Section: Zoomer */
	/* div#container section.blog div.grid div.body div.zoomer {} */

	/* Blog Section: More */
	/* div#container section.blog div.grid div.body div.more {} */
}

/* Medium Smartphone Screen */
@media screen and (max-width:36rem) {

	/* Blog Section */
	/* div#container section.blog {} */
	/* div#container section.blog div.grid {} */

	/* Blog Section: Head */
	/* div#container section.blog div.grid div.head {} */

	/* Blog Section: Body */
	/* div#container section.blog div.grid div.body {} */

	/* Blog Section: Posts */
	/* div#container section.blog div.grid div.body div.posts {} */
	div#container section.blog div.grid div.body div.posts ul.postlist {grid-template-columns:repeat(3,1fr);}
	div#container section.blog div.grid div.body div.posts ul.postlist.big {grid-template-columns:repeat(1,1fr);}

	/* Blog Section: Filters */
	/* div#container section.blog div.grid div.body.split div.filtertabs {} */

	/* Blog Section: Zoomer */
	/* div#container section.blog div.grid div.body div.zoomer {} */

	/* Blog Section: More */
	/* div#container section.blog div.grid div.body div.more {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:30rem) {

	/* Blog Section */
	/* div#container section.blog {} */
	/* div#container section.blog div.grid {} */

	/* Blog Section: Head */
	/* div#container section.blog div.grid div.head {} */

	/* Blog Section: Body */
	/* div#container section.blog div.grid div.body {} */

	/* Blog Section: Posts */
	/* div#container section.blog div.grid div.body div.posts {} */
	div#container section.blog div.grid div.body div.posts ul.postlist {grid-template-columns:repeat(2,1fr);}
	/* div#container section.blog div.grid div.body div.posts ul.postlist.big {} */

	/* Blog Section: Filters */
	/* div#container section.blog div.grid div.body.split div.filtertabs {} */

	/* Blog Section: Zoomer */
	/* div#container section.blog div.grid div.body div.zoomer {} */

	/* Blog Section: More */
	/* div#container section.blog div.grid div.body div.more {} */
}
