


/* Blog Section */
/* div#container section.blog {} */
/* div#container section.blog div.grid {} */



/* Blog Section: Head */
div#container section.blog div.grid div.head {display:grid; grid-template-columns:repeat(2,auto); justify-content:space-between; align-items:center; grid-gap:1.5rem;}
div#container section.blog div.grid div.head div.modpanel {grid-column-end:span 2;}
div#container section.blog div.grid div.head div.modpanel {display:flex; flex-direction:row; align-items:center; max-width:calc(var(--pagewidth) / 3); margin:0 auto;}
div#container section.blog div.grid div.head div.modpanel div.togglers {display:flex; flex-direction:row; align-items:center;}
div#container section.blog div.grid div.head div.modpanel div.togglers div.btn {display:grid; place-items:center; cursor:pointer; transition:.125s; padding:.75rem .875rem; border-radius:5rem; margin-left:.75rem; box-shadow:var(--boxshadow);}
/* div#container section.blog div.grid div.head div.modpanel div.togglers div.sizerbtn {} */
/* div#container section.blog div.grid div.head div.modpanel div.togglers div.filterbtn {} */
div#container section.blog div.grid div.head div.modpanel div.togglers div.btn:hover {background-color:var(--forecolor); color:var(--backcolor2);}
div#container section.blog div.grid div.head div.modpanel div.togglers div.btn svg.icon {font-size:1.5rem;}
div#container section.blog div.grid div.head div.modpanel div.filtersearchquery {position:relative; overflow:hidden; width:100%; /* max-width:calc(var(--pagewidth)/3); */ border-radius:5rem; /* margin:2rem auto; */ margin-right:.75rem; box-shadow:var(--boxshadow);}
/* div#container section.blog div.grid div.head div.modpanel div.filtersearchquery label.searchlabel {background-color:var(--forecolor2); color:var(--backcolor);} */
div#container section.blog div.grid div.head div.modpanel div.filtersearchquery label.searchlabel {display:flex; flex-direction:column; justify-content:center; cursor:pointer; padding:0 1.125rem;}
div#container section.blog div.grid div.head div.modpanel div.filtersearchquery label.searchlabel {position:absolute; left:0; top:0; height:100%;}
div#container section.blog div.grid div.head div.modpanel div.filtersearchquery label.searchlabel svg.icon {font-size:1.375rem;}
div#container section.blog div.grid div.head div.modpanel div.filtersearchquery input#filtersearchquery {background-color:var(--backcolor2); color:var(--forecolor);}
div#container section.blog div.grid div.head div.modpanel div.filtersearchquery input#filtersearchquery {font-family:inherit; font-size:1.25rem; font-weight:300; width:100%; padding:.625rem 3.25rem .625rem 3.5rem;}
div#container section.blog div.grid div.head div.modpanel div.filtersearchquery input#filtersearchquery {border:.125rem solid var(--backcolor2); border:0 none; outline:none;}
div#container section.blog div.grid div.head div.modpanel div.filtersearchquery label.searchclearbtn {position:absolute; right:0; top:50%; transform:translateY(-50%);height:var(--btnsize); width:var(--btnsize);}
div#container section.blog div.grid div.head div.modpanel div.filtersearchquery label.searchclearbtn {/* background-color:#FFFFFF08; color:black; */ --btnsize:2rem; opacity:.375; cursor:pointer; user-select:none;}
div#container section.blog div.grid div.head div.modpanel div.filtersearchquery label.searchclearbtn {display:flex; flex-direction:column; align-items:center; justify-content:center; padding:0 1.125rem; margin-right:.5rem;}
div#container section.blog div.grid div.head div.modpanel div.filtersearchquery label.searchclearbtn svg.icon {font-size:1.375rem;}



/* Blog Section: Body */
div#container section.blog div.grid div.body {position:relative; margin-top:1.5rem;}
div#container section.blog div.grid div.body {display:grid; grid-gap:1rem; align-items:flex-start; transition:.25s;}
div#container section.blog div.grid div.body.split {grid-template-columns:24rem 1fr;}
div#container section.blog div.grid div.body div.posts {position:relative; overflow:hidden; --panelmargin:4rem;}
/* div#container section.blog div.grid div.body div.posts#featured {} */
/* div#container section.blog div.grid div.body div.posts#archive {} */
/* div#container section.blog div.grid div.body div.posts#category {} */
/* div#container section.blog div.grid div.body div.posts#collection {} */

/* Blog Section: Empty Label */
div#container section.blog div.grid div.body div.posts div.emptylabel {display:none; font-size:1.5rem; text-align:center; opacity:.625;}
div#container section.blog div.grid div.body div.posts div.emptylabel.on {display:block;}

/* Blog Section: Pages */
div#container section.blog div.grid div.body div.posts ul.pagelist {display:flex; flex-direction:row; overflow:visible; transform:none; transition:.25s;}
div#container section.blog div.grid div.body div.posts ul.pagelist {list-style:none; padding:0; margin:0;}
div#container section.blog div.grid div.body div.posts.multipage ul.pagelist {margin:0 var(--panelmargin);}
/* div#container section.blog div.grid div.body div.posts ul.pagelist {margin-top:.75rem;} */
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage {/* display:none; */ width:100%; flex-shrink:0; opacity:0; visibility:hidden; transition:1s; transition-delay:.25s;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage.active {/* display:block; */ opacity:1; visibility:visible;}

/* Blog Section: Page Posts */
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist {display:grid; grid-template-columns:repeat( var(--gridcolumns), 1fr); grid-gap:0 var(--gapsize); transition:.25s;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist {list-style:none; /* overflow:hidden; */ padding:0; padding:0 1rem; margin:0;}
/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist {display:flex; flex-wrap:wrap; justify-content:center;} */
div#container section.blog div.grid div.body div.posts.small ul.pagelist li.postpage ul.postlist {--gridcolumns:10; --gapsize:.875rem;}
div#container section.blog div.grid div.body div.posts.large ul.pagelist li.postpage ul.postlist {--gridcolumns:6; --gapsize:1.25rem;}
div#container section.blog div.grid div.body div.posts.listed ul.pagelist li.postpage ul.postlist {--gridcolumns:2; --gapsize:1.25rem;}
/* div#container section.blog div.grid div.body div.posts.listed ul.pagelist li.postpage ul.postlist {display:flex; flex-direction:column;} */
/* div#container section.blog div.grid div.body div.posts#featured ul.pagelist li.postpage.b ul.postlist {max-height:0;} */
/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard {flex-basis:20%;} */
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard {overflow:hidden; border-radius:var(--cornersize); margin-bottom:var(--gapsize); box-shadow:var(--boxshadowx);}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard.x {opacity:.125; /* visibility:hidden; */ pointer-events:none;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage.m ul.postlist li.postcard.x {display:none;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard.gone {/* display:none; */ opacity:.375; transition:.375s;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink {color:inherit; color:var(--forecolor); text-decoration:none;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink {background-color:var(--backcolor2); display:block; position:relative;}
div#container section.blog div.grid div.body div.posts.listed ul.pagelist li.postpage ul.postlist li.postcard a.projectlink {display:grid; grid-template-columns:2fr 1fr;}
/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.caption {position:absolute; top:0; left:0; height:100%; width:100%; z-index:30;} */
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.caption {/* background-color:var(--backcolor); opacity:.25; */ font-size:1rem; /* text-align:center; */ padding:.625rem/*  .125rem */;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.caption {display:flex; flex-direction:column; justify-content:center; align-items:flex-start;}
div#container section.blog div.grid div.body div.posts.listed ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.caption {align-items:center;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.caption span {/* background-color:var(--backcolor); */ display:block; /* padding:0 .5rem; */ /* margin:0 auto; */}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.caption span {width:fit-content; max-width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.caption span:empty {background-color:var(--forecolor2); height:1em; width:100%; max-width:12em; border-radius:1em; margin-top:.375em;}
/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.caption span.id {display:none;} */
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.caption span.id {font-size:1.125rem; font-weight:500;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.caption span.name {color:var(--forecolor); font-weight:300;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.caption span.category {color:var(--forecolor2); font-weight:100;}
/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.caption span.author {display:none;} */
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.caption span.author {color:var(--forecolor2); font-weight:100;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.caption span.id:empty {max-width:4em;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview {background-color:var(--backcolor); position:relative; width:100%; padding-top:75%; /* margin-bottom:2em; */}
div#container section.blog div.grid div.body div.posts.listed ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview {padding-top:50%;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview:empty {background-color:var(--themecolor); opacity:.5;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview::after {background-color:var(--blackglass); content:'';}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview::after {position:absolute; top:0; left:0; height:100%; width:100%; z-index:20;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview iframe.preview {background-color:var(--forecolor); /* display:none; */ border:0 none; /* border:.25rem solid; */}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview iframe.preview {position:absolute; top:0; left:0; height:100%; width:100%; overflow:hidden; z-index:10;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview iframe.preview {--ml:1; scale:1; height:100%; width:100%; transform:none;}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview iframe.preview {--ml:2; scale:.5; height:200%; width:200%; transform:translate(-50%,-50%);}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview iframe.preview {--ml:3; scale:.25; height:400%; width:400%; transform:translate(-150%,-150%);}
div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview iframe.preview {--ml:4; scale:.125; height:800%; width:800%; transform:translate(-350%,-350%);}
/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview iframe.preview {--ml:5; scale:.0625; height:1600%; width:1600%; transform:translate(-750%,-750%);} */
/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview iframe.preview {--ml:6; scale:.03125; height:3200%; width:3200%; transform:translate(-1550%,-1550%);} */
/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview iframe.preview {--ml:10; scale:calc( 1 / pow( 2, var(--ml) ) ); height:calc( pow( 2, var(--ml) ) * 100% ); width:calc( pow( 2, var(--ml) ) * 100% ); --trvalue:calc( -50% + 100% * pow( 2, (var(--ml) - 1) ) ); transform:translate( var(--trvalue) , var(--trvalue) );} */
/* Blog Section: Overlay Panel */
div#container section.blog div.grid div.body div.posts nav.overlaypanel {display:none;/* position:absolute; top:0; left:0; width:100%; */}
div#container section.blog div.grid div.body div.posts.multipage nav.overlaypanel {display:block;}
div#container section.blog div.grid div.body div.posts nav.overlaypanel a.deltabtn {background-color:var(--backcolor); display:grid; place-items:center; width:var(--panelmargin); padding:1rem 0; border-radius:.75rem;}
div#container section.blog div.grid div.body div.posts nav.overlaypanel a.deltabtn {cursor:pointer; font-size:4rem;}
div#container section.blog div.grid div.body div.posts nav.overlaypanel a.deltabtn {position:absolute; top:0; height:100%; transition:.25s;}
div#container section.blog div.grid div.body div.posts nav.overlaypanel a.deltabtn.b {left:0;}
div#container section.blog div.grid div.body div.posts nav.overlaypanel a.deltabtn.f {right:0;}
div#container section.blog div.grid div.body div.posts nav.overlaypanel a.deltabtn:hover {opacity:1;}
div#container section.blog div.grid div.body div.posts nav.overlaypanel a.deltabtn svg.icon {display:block;}

/* Blog Section: Page Panel */
div#container section.blog div.grid div.body nav.pagepanel {display:flex; flex-direction:column; justify-content:center; align-items:center; margin-top:var(--sectionspacing);}
div#container section.blog div.grid div.body nav.pagepanel ul.dotpanel {display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container section.blog div.grid div.body nav.pagepanel ul.dotpanel {list-style:none; padding:0; margin:0;}
div#container section.blog div.grid div.body nav.pagepanel ul.dotpanel li.dotitem {font-size:var(--dotsize); --dotsize:.75rem; padding:0 .25em;}
div#container section.blog div.grid div.body nav.pagepanel ul.dotpanel li.dotitem a.pagelink {display:block;}
div#container section.blog div.grid div.body nav.pagepanel ul.dotpanel li.dotitem a.pagelink:empty {background-color:var(--forecolor); opacity:.4; transition:.5s; height:var(--dotsize); width:var(--dotsize); border-radius:1rem;}
div#container section.blog div.grid div.body nav.pagepanel ul.dotpanel li.dotitem.active a.pagelink:empty {opacity:1;}
div#container section.blog div.grid div.body nav.pagepanel div.numpanel {display:flex; flex-direction:row; align-items:center; font-size:1.75rem; user-select:none; margin-top:1rem;}
div#container section.blog div.grid div.body nav.pagepanel div.numpanel span.num {font-size:1.125em;}
div#container section.blog div.grid div.body nav.pagepanel div.numpanel span.num:empty {background-color:gainsboro; height:1em; width:1.25em; border-radius:.25em;}
div#container section.blog div.grid div.body nav.pagepanel div.numpanel a.deltabtn {display:flex; flex-direction:column; align-items:center; position:relative;}
div#container section.blog div.grid div.body nav.pagepanel div.numpanel a.deltabtn {color:inherit; cursor:pointer; text-decoration:none;}
div#container section.blog div.grid div.body nav.pagepanel div.numpanel a.deltabtn.b {margin-right:1rem;}
div#container section.blog div.grid div.body nav.pagepanel div.numpanel a.deltabtn.f {margin-left:1rem;}
div#container section.blog div.grid div.body nav.pagepanel div.numpanel a.deltabtn svg.icon {font-size:1.5rem; /* font-size:.875rem; */}
div#container section.blog div.grid div.body nav.pagepanel div.numpanel a.deltabtn span.caption {position:absolute; bottom:100%;/*  left:100%; */ box-shadow:var(--boxshadow);}
div#container section.blog div.grid div.body nav.pagepanel div.numpanel a.deltabtn span.caption {background-color:var(--lightblack); color:white; font-size:1rem; padding:.25em .625em; border-radius:.25em; margin:.5rem;}
div#container section.blog div.grid div.body nav.pagepanel div.numpanel a.deltabtn span.caption {opacity:0; visibility:hidden; pointer-events:none; transition:.25s;}
div#container section.blog div.grid div.body nav.pagepanel div.numpanel a.deltabtn:hover span.caption {opacity:1; visibility:visible;}
div#container section.blog div.grid div.body nav.pagepanel div.numpanel span.caption {margin:0 .375em;}

/* Blog Section: Page Toggler */
/* div#container section.blog div.grid div.body div.posts div.zoomer {display:flex; flex-direction:column; align-items:center; justify-content:center;} */
div#container section.blog div.grid div.body div.posts div.zoomer {margin-top:1rem;}
div#container section.blog div.grid div.body div.posts div.zoomer.grow {display:none;}
div#container section.blog div.grid div.body div.posts div.zoomer.shrink {display:block;}
div#container section.blog div.grid div.body div.posts.folded div.zoomer.grow {display:block;}
div#container section.blog div.grid div.body div.posts.folded div.zoomer.shrink {display:none;}
div#container section.blog div.grid div.body div.posts div.zoomer div.zoombtn {font-size:1.25rem; cursor:pointer; user-select:none;}
div#container section.blog div.grid div.body div.posts div.zoomer div.zoombtn {background-color:var(--backcolor); display:flex; flex-direction:column; align-items:center; width:fit-content; transition:.125s;}
div#container section.blog div.grid div.body div.posts div.zoomer div.zoombtn {padding:.5rem 1.5rem; border-radius:var(--cornersize); margin:0 auto;}
div#container section.blog div.grid div.body div.posts div.zoomer div.zoombtn:hover {/* background-color:var(--backcolor2); */ box-shadow:var(--boxshadow);}
div#container section.blog div.grid div.body div.posts div.zoomer div.zoombtn svg.icon {font-size:1.25em;}
div#container section.blog div.grid div.body div.posts div.zoomer div.zoombtn svg.icon:only-child {font-size:3rem;}
div#container section.blog div.grid div.body div.posts div.zoomer div.zoombtn {display:none;}


/* Blog Section: Applied Filters */
div#container section.blog div.grid div.body div.appliedfilters {/* display:flex; flex-direction:row; align-items:center; flex-wrap:wrap; */ overflow-x:auto; margin-top:.375rem;}
/* div#container section.blog div.grid div.body div.appliedfilters {position:relative; padding-bottom:.75rem;} */
div#container section.blog div.grid div.body.split div.appliedfilters {grid-column-end:span 2;}
div#container section.blog div.grid div.body div.appliedfilters h2.listhead {display:none; font-size:1.125rem; font-size:1rem; font-weight:normal; white-space:nowrap; margin:0; margin-right:.25rem;}
div#container section.blog div.grid div.body div.appliedfilters ul.filtertaglist {display:flex; flex-direction:row; align-items:center; flex-wrap:wrap; /* grid-gap:.625rem; */}
div#container section.blog div.grid div.body div.appliedfilters ul.filtertaglist {width:fit-content; list-style:none; padding:0; margin:0;}
div#container section.blog div.grid div.body div.appliedfilters ul.filtertaglist:before {content:'Filters Applied:'; white-space:nowrap;}
div#container section.blog div.grid div.body div.appliedfilters ul.filtertaglist:empty::after {content:'None'; margin-left:.5rem;}
div#container section.blog div.grid div.body div.appliedfilters ul.filtertaglist li.filtertag {background-color:var(--backcolor2); font-size:.875rem; overflow:hidden; border-radius:2em; margin:.25rem 0; margin-left:.5rem; box-shadow:var(--boxshadow);}
div#container section.blog div.grid div.body div.appliedfilters ul.filtertaglist li.filtertag.x {display:none;}
div#container section.blog div.grid div.body div.appliedfilters ul.filtertaglist li.filtertag label.removebtn {display:flex; flex-direction:row; align-items:center; padding:.25em .875em; padding-right:.25em;}
div#container section.blog div.grid div.body div.appliedfilters ul.filtertaglist li.filtertag label.removebtn {cursor:pointer; user-select:none;}
div#container section.blog div.grid div.body div.appliedfilters ul.filtertaglist li.filtertag label.removebtn svg.icon {font-size:1.5em; margin-left:.25rem;}
div#container section.blog div.grid div.body div.appliedfilters ul.filtertaglist li.filtertag label.removebtn span.caption {white-space:nowrap;}

/* Blog Section: Filter Panel */
div#container section.blog div.grid div.body div.filterpanel {background-color:var(--backcolor); transition:.5s; /* border-radius:var(--cornersize); */ border:1px solid var(--backcolor2);}
div#container section.blog div.grid div.body div.filterpanel {position:absolute; left:0; top:0; /* top:100%; */ overflow:auto; z-index:25; box-shadow:var(--boxshadowx);}
div#container section.blog div.grid div.body div.filterpanel {width:100%; max-width:25rem; max-height:85vh; max-height:calc( 100vh - var(--headerheight) );}
div#container section.blog div.grid div.body div.filterpanel {/* display:none; */ opacity:0; visibility:hidden; margin-top:0;}
div#container section.blog div.grid div.body div.filterpanel.open {/* display:block; */ opacity:1; visibility:visible; margin-top:3rem; /* transition:none; */}
div#container section.blog div.grid div.body.split div.filterpanel {/* display:block; */ opacity:1; visibility:visible; margin-top:0;}
div#container section.blog div.grid div.body.split div.filterpanel {position:static; overflow:initial; width:auto; max-width:none; max-height:none; box-shadow:var(--boxshadow);}
div#container section.blog div.grid div.body div.filterpanel div.panelhead {display:flex; justify-content:space-between; align-items:center; padding:.625em 1rem;}
div#container section.blog div.grid div.body div.filterpanel div.panelhead h1.panelhead {font-size:1.375rem; font-weight:500; margin:0;}
/* div#container section.blog div.grid div.body div.filterpanel div.panelhead h1.panelhead span.caption {} */
div#container section.blog div.grid div.body div.filterpanel div.panelhead div.closebtn {cursor:pointer; user-select:none;}
div#container section.blog div.grid div.body div.filterpanel div.panelhead div.closebtn svg.icon {display:block; font-size:1.25em;}
/* div#container section.blog div.grid div.body div.filterpanel div.panelbody {} */
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist {display:flex; flex-direction:column; list-style:none; padding:0; border:.125rem solid var(--backcolor2); margin:0; /* margin-top:.25rem; */}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup {user-select:none;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup h2.filterhead {background-color:var(--backcolor2); color:var(--themecolor); cursor:pointer; font-size:1.125rem; font-weight:500; padding:.75em 1rem; margin:0;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup h2.filterhead {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup h2.filterhead svg.icon {font-size:1rem;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup h2.filterhead svg.icon.dn {display:block;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup h2.filterhead svg.icon.up {display:none;}
/* div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup h2.filterhead span.caption {} */
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup div.filterbody {max-height:0; overflow:hidden;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup div.filterbody ul.itemslist {display:flex; flex-direction:column; list-style:none; padding:0; padding:.5rem 0; margin:0;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup div.filterbody ul.itemslist li.filteritem {display:flex; flex-direction:row; align-items:center; font-weight:300; padding:.125rem .5rem;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup div.filterbody ul.itemslist li.filteritem label.front {display:flex; align-items:center; cursor:pointer; /* font-size:.875rem; */ --checksize:1.25rem;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup div.filterbody ul.itemslist li.filteritem label.front span.caption {margin-left:.375rem;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup div.filterbody ul.itemslist li.filteritem label.front span.matchcount {color:var(--forecolor2); font-size:.75em; text-align:center;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup div.filterbody ul.itemslist li.filteritem label.front span.matchcount {background-color:var(--backcolor2); min-height:1em; min-width:1.25em; padding:0 .25rem; border-radius:.125em; margin-left:.125rem;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup div.filterbody ul.itemslist li.filteritem label.front span.matchcount:empty {/* display:none; */ margin-left:.375rem;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup div.filterbody ul.itemslist li.filteritem label.front svg.icon.check {/* display:block;  */height:var(--checksize); width:var(--checksize); padding:1px; border:1px solid var(--forecolor2); border-radius:.25rem;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup div.filterbody ul.itemslist li.filteritem label.front svg.icon.check {background-color:var(--backcolor); color:var(--backcolor);}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup div.filterbody ul.itemslist li.filteritem input.checkbox {display:none; opacity:.125;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup div.filterbody ul.itemslist li.filteritem input.checkbox:checked + label.front svg.icon.check {background-color:var(--themecolor); color:white;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup.open h2.filterhead svg.icon.dn {display:none;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup.open h2.filterhead svg.icon.up {display:block;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody ul.filterlist li.filtergroup.open div.filterbody {max-height:fit-content;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel {display:flex; flex-direction:column; flex-direction:row; /* justify-content:center; */ align-items:center; padding:.625em 1rem; padding-top:0;}
/* div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel {display:none;} */
div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel div.btn {background-color:var(--drkthemecolor); background-color:var(--themecolor); width:100%; padding:.375em 1.5rem; border-radius:1em; margin:0 .5em; margin-top:.5rem;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel div.btn {color:white; cursor:pointer; font-size:1.25rem; font-weight:500; text-align:center; user-select:none;}
/* div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel div.applybtn {display:none;} */
/* div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel div.clearbtn {display:none;} */
div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel div.row {display:flex; flex-direction:row; justify-content:center; align-items:center; width:100%;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel div.row span.choice {cursor:pointer; user-select:none; margin:0 .875rem;}
/* div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel div.row span.choice.any {} */
/* div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel div.row span.choice.all {} */
div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel div.row label.switch {background-color:var(--forecolor); display:block; cursor:pointer; position:relative; padding:.125rem; border:1px solid var(--backcolor2); border-radius:3rem;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel div.row label.switch {box-sizing:content-box; --ballsize:1.375rem; --multiple:2; /* --multiple:2.5; */ height:auto; width:calc(var(--ballsize)*var(--multiple));}
div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel div.row label.switch div.ball {background-color:var(--backcolor2); height:var(--ballsize); width:var(--ballsize); border-radius:50%;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel div.row label.switch div.ball {transform:none; transition:.25s;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel div.row label.switch input.cb {position:absolute; top:0; left:0; display:none;}
div#container section.blog div.grid div.body div.filterpanel div.panelbody div.btnpanel div.row label.switch input.cb:checked + div.ball {--delta:100%; /* --delta:150%; */ transform:translateX( var(--delta) );}






/* Large Tablet Screen */
@media screen and (max-width:125rem) {

	
	/* Blog Section */
	/* div#container section.blog {} */
	/* div#container section.blog div.grid {} */


	/* Blog Section: Head */
	div#container section.blog div.grid div.head {grid-template-columns:1fr;}
	/* div#container section.blog div.grid div.head div.modpanel {} */
	div#container section.blog div.grid div.head div.modpanel {grid-column-end:span 1;}
	/* div#container section.blog div.grid div.head div.modpanel div.togglers {} */
	/* div#container section.blog div.grid div.head div.modpanel div.filtersearchquery {} */


	/* Blog Section: Body */
	/* div#container section.blog div.grid div.body {} */
	/* div#container section.blog div.grid div.body.split {grid-template-columns:20rem 1fr;} */
	/* div#container section.blog div.grid div.body div.posts {} */
	/* Blog Section: Empty Label */
	/* div#container section.blog div.grid div.body div.posts div.emptylabel {} */

	/* Blog Section: Pages */
	div#container section.blog div.grid div.body div.posts ul.pagelist {margin:0;}
	/* div#container section.blog div.grid div.body div.posts ul.pagelist {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage {} */
	/* Blog Section: Page Posts */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist {} */
	div#container section.blog div.grid div.body div.posts.small ul.pagelist li.postpage ul.postlist {--gridcolumns:6;}
	/* div#container section.blog div.grid div.body div.posts.large ul.pagelist li.postpage ul.postlist {--gridcolumns:4;} */
	/* div#container section.blog div.grid div.body div.posts.listed ul.pagelist li.postpage ul.postlist {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink {} */
	/* Blog Section: Overlay Panel */
	/* div#container section.blog div.grid div.body div.posts nav.overlaypanel {} */
	div#container section.blog div.grid div.body div.posts nav.overlaypanel a.deltabtn {top:50%; transform:translateY(-50%); height:auto; opacity:.375; /* margin:0 .5rem; */}
	/* Blog Section: Page Panel */
	/* div#container section.blog div.grid div.body nav.pagepanel {} */
	/* Blog Section: Page Toggler */
	/* div#container section.blog div.grid div.body div.posts div.zoomer {} */

	/* Blog Section: Applied Filters */
	/* div#container section.blog div.grid div.body div.appliedfilters {} */
	/* Blog Section: Filter Panel */
	/* div#container section.blog div.grid div.body div.filterpanel {} */
}

/* Medium Tablet Screen */
@media screen and (max-width:88rem) {


	/* Blog Section */
	/* div#container section.blog {} */
	/* div#container section.blog div.grid {} */


	/* Blog Section: Head */
	/* div#container section.blog div.grid div.head {} */
	/* div#container section.blog div.grid div.head div.modpanel {} */
	/* div#container section.blog div.grid div.head div.modpanel div.togglers {} */
	/* div#container section.blog div.grid div.head div.modpanel div.filtersearchquery {} */


	/* Blog Section: Body */
	/* div#container section.blog div.grid div.body {} */
	div#container section.blog div.grid div.body.split {grid-template-columns:16rem 1fr;}
	/* div#container section.blog div.grid div.body div.posts {} */
	/* Blog Section: Empty Label */
	/* div#container section.blog div.grid div.body div.posts div.emptylabel {} */

	/* Blog Section: Pages */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage {} */
	/* Blog Section: Page Posts */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist {} */
	div#container section.blog div.grid div.body div.posts.small ul.pagelist li.postpage ul.postlist {--gridcolumns:5;}
	div#container section.blog div.grid div.body div.posts.large ul.pagelist li.postpage ul.postlist {--gridcolumns:3;}
	div#container section.blog div.grid div.body div.posts.listed ul.pagelist li.postpage ul.postlist {--gridcolumns:1;}
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink {} */
	/* Blog Section: Overlay Panel */
	/* div#container section.blog div.grid div.body div.posts nav.overlaypanel {} */
	/* div#container section.blog div.grid div.body div.posts nav.overlaypanel a.deltabtn {} */
	/* Blog Section: Page Panel */
	/* div#container section.blog div.grid div.body nav.pagepanel {} */
	/* Blog Section: Page Toggler */
	/* div#container section.blog div.grid div.body div.posts div.zoomer {} */

	/* Blog Section: Applied Filters */
	/* div#container section.blog div.grid div.body div.appliedfilters {} */
	/* Blog Section: Filter Panel */
	/* div#container section.blog div.grid div.body div.filterpanel {} */
}

/* Small Tablet Screen */
@media screen and (max-width:64rem) {


	/* Blog Section */
	/* div#container section.blog {} */
	/* div#container section.blog div.grid {} */


	/* Blog Section: Head */
	/* div#container section.blog div.grid div.head {} */
	/* div#container section.blog div.grid div.head div.modpanel {} */
	/* div#container section.blog div.grid div.head div.modpanel div.togglers {} */
	/* div#container section.blog div.grid div.head div.modpanel div.filtersearchquery {} */


	/* Blog Section: Body */
	/* div#container section.blog div.grid div.body {} */
	/* div#container section.blog div.grid div.body div.posts {} */
	/* Blog Section: Empty Label */
	/* div#container section.blog div.grid div.body div.posts div.emptylabel {} */

	/* Blog Section: Pages */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage {} */
	/* Blog Section: Page Posts */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist {} */
	/* div#container section.blog div.grid div.body div.posts.small ul.pagelist li.postpage ul.postlist {--gridcolumns:4;} */
	div#container section.blog div.grid div.body div.posts.large ul.pagelist li.postpage ul.postlist {--gridcolumns:2;}
	/* div#container section.blog div.grid div.body div.posts.listed ul.pagelist li.postpage ul.postlist {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink {} */
	div#container section.blog div.grid div.body div.posts.listed ul.pagelist li.postpage ul.postlist li.postcard a.projectlink {display:block;}
	/* Blog Section: Overlay Panel */
	/* div#container section.blog div.grid div.body div.posts nav.overlaypanel {} */
	/* div#container section.blog div.grid div.body div.posts nav.overlaypanel a.deltabtn {} */
	/* Blog Section: Page Panel */
	/* div#container section.blog div.grid div.body nav.pagepanel {} */
	/* Blog Section: Page Toggler */
	/* div#container section.blog div.grid div.body div.posts div.zoomer {} */

	/* Blog Section: Applied Filters */
	/* div#container section.blog div.grid div.body div.appliedfilters {} */
	/* Blog Section: Filter Panel */
	/* div#container section.blog div.grid div.body div.filterpanel {} */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {
	
	
	/* Blog Section */
	/* div#container section.blog {} */
	/* div#container section.blog div.grid {} */


	/* Blog Section: Head */
	/* div#container section.blog div.grid div.head {} */
	div#container section.blog div.grid div.head div.modpanel {flex-direction:column;}
	/* div#container section.blog div.grid div.head div.modpanel div.togglers {} */
	div#container section.blog div.grid div.head div.modpanel div.filtersearchquery {margin-right:0; margin-bottom:1rem;}


	/* Blog Section: Body */
	/* div#container section.blog div.grid div.body {} */
	div#container section.blog div.grid div.body.split {grid-template-columns:auto;}
	/* div#container section.blog div.grid div.body div.posts {} */
	/* Blog Section: Empty Label */
	/* div#container section.blog div.grid div.body div.posts div.emptylabel {} */

	/* Blog Section: Pages */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage {} */
	/* Blog Section: Page Posts */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist {} */
	div#container section.blog div.grid div.body div.posts.small ul.pagelist li.postpage ul.postlist {--gridcolumns:3;}
	/* div#container section.blog div.grid div.body div.posts.large ul.pagelist li.postpage ul.postlist {} */
	/* div#container section.blog div.grid div.body div.posts.listed ul.pagelist li.postpage ul.postlist {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink {} */
	/* Blog Section: Overlay Panel */
	/* div#container section.blog div.grid div.body div.posts nav.overlaypanel {} */
	/* div#container section.blog div.grid div.body div.posts nav.overlaypanel a.deltabtn {} */
	/* Blog Section: Page Panel */
	/* div#container section.blog div.grid div.body nav.pagepanel {} */
	/* Blog Section: Page Toggler */
	/* div#container section.blog div.grid div.body div.posts div.zoomer {} */
	div#container section.blog div.grid div.body div.posts div.zoomer div.zoombtn {font-size:1rem;}

	/* Blog Section: Applied Filters */
	/* div#container section.blog div.grid div.body div.appliedfilters {} */
	div#container section.blog div.grid div.body.split div.appliedfilters {grid-column-end:span 1;}
	/* Blog Section: Filter Panel */
	div#container section.blog div.grid div.body.split div.filterpanel {max-height:0; overflow:hidden; border-width:0; box-shadow:none;}
	div#container section.blog div.grid div.body.split div.filterpanel.open {max-height:fit-content; max-height:calc( 100vh - var(--headerheight) ); overflow:auto; border-width:1px; box-shadow:var(--boxshadowx);}
}

/* Medium Smartphone Screen */
@media screen and (max-width:36rem) {


	/* Blog Section */
	/* div#container section.blog {} */
	/* div#container section.blog div.grid {} */


	/* Blog Section: Head */
	/* div#container section.blog div.grid div.head {} */
	/* div#container section.blog div.grid div.head div.modpanel {} */
	/* div#container section.blog div.grid div.head div.modpanel div.togglers {} */
	/* div#container section.blog div.grid div.head div.modpanel div.filtersearchquery {} */


	/* Blog Section: Body */
	/* div#container section.blog div.grid div.body {} */
	/* div#container section.blog div.grid div.body div.posts {} */
	/* Blog Section: Empty Label */
	/* div#container section.blog div.grid div.body div.posts div.emptylabel {} */

	/* Blog Section: Pages */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage {} */
	/* Blog Section: Page Posts */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist {} */
	div#container section.blog div.grid div.body div.posts.small ul.pagelist li.postpage ul.postlist {--gridcolumns:2;}
	div#container section.blog div.grid div.body div.posts.large ul.pagelist li.postpage ul.postlist {--gridcolumns:1;}
	/* div#container section.blog div.grid div.body div.posts.listed ul.pagelist li.postpage ul.postlist {} */
	/* div#container section.blog div.grid div.body div.posts.large ul.pagelist li.postpage ul.postlist li.postcard {} */
	/* div#container section.blog div.grid div.body div.posts.large ul.pagelist li.postpage ul.postlist li.postcard a.projectlink {} */
	div#container section.blog div.grid div.body div.posts.large ul.pagelist li.postpage ul.postlist li.postcard a.projectlink div.preview {padding-top:50%;}
	/* Blog Section: Overlay Panel */
	div#container section.blog div.grid div.body div.posts nav.overlaypanel {display:none;}
	/* div#container section.blog div.grid div.body div.posts nav.overlaypanel a.deltabtn {} */
	/* Blog Section: Page Panel */
	/* div#container section.blog div.grid div.body nav.pagepanel {} */
	/* Blog Section: Page Toggler */
	/* div#container section.blog div.grid div.body div.posts div.zoomer {} */

	/* Blog Section: Applied Filters */
	/* div#container section.blog div.grid div.body div.appliedfilters {} */
	/* Blog Section: Filter Panel */
	/* div#container section.blog div.grid div.body div.filterpanel {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:30rem) {


	/* Blog Section */
	/* div#container section.blog {} */
	/* div#container section.blog div.grid {} */


	/* Blog Section: Head */
	/* div#container section.blog div.grid div.head {} */
	/* div#container section.blog div.grid div.head div.modpanel {} */
	/* div#container section.blog div.grid div.head div.modpanel div.togglers {} */
	/* div#container section.blog div.grid div.head div.modpanel div.filtersearchquery {} */


	/* Blog Section: Body */
	/* div#container section.blog div.grid div.body {} */
	/* div#container section.blog div.grid div.body div.posts {} */
	/* Blog Section: Empty Label */
	/* div#container section.blog div.grid div.body div.posts div.emptylabel {} */

	/* Blog Section: Pages */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage {} */
	/* Blog Section: Page Posts */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist {} */
	div#container section.blog div.grid div.body div.posts.small ul.pagelist li.postpage ul.postlist {--gridcolumns:1;}
	/* div#container section.blog div.grid div.body div.posts.large ul.pagelist li.postpage ul.postlist {} */
	/* div#container section.blog div.grid div.body div.posts.listed ul.pagelist li.postpage ul.postlist {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard {} */
	/* div#container section.blog div.grid div.body div.posts ul.pagelist li.postpage ul.postlist li.postcard a.projectlink {} */
	/* Blog Section: Overlay Panel */
	/* div#container section.blog div.grid div.body div.posts nav.overlaypanel {} */
	/* div#container section.blog div.grid div.body div.posts nav.overlaypanel a.deltabtn {} */
	/* Blog Section: Page Panel */
	/* div#container section.blog div.grid div.body nav.pagepanel {} */
	/* Blog Section: Page Toggler */
	/* div#container section.blog div.grid div.body div.posts div.zoomer {} */

	/* Blog Section: Applied Filters */
	/* div#container section.blog div.grid div.body div.appliedfilters {} */
	/* Blog Section: Filter Panel */
	/* div#container section.blog div.grid div.body div.filterpanel {} */
}
