


/* Hero Section */
div#container section.hero {background-color:var(--backcolor2); background-image:url('./../../../admin/images/barcelona.jpg'); background-size:cover; background-repeat:no-repeat;}
div#container section.hero {background-position:center 40%; height:100vw; max-height:99vh; position:relative; transition:.25s margin;}
div#container section.hero {display:flex; flex-direction:column; justify-content:center; align-items:center; margin-bottom:6rem;}
div#container section.hero {margin-top:0;}
div#container section.hero::before {background-color:var(--sheetcolor); content:'';}
div#container section.hero::before {position:absolute; top:0; left:0; height:100%; width:100%; z-index:0;}
/* div#container section.hero div.grid {display:grid; grid-template-columns:4fr 3fr; align-items:center;} */
div#container section.hero div.grid {position:relative; text-align:center; max-width:calc(var(--pagewidth)*.5); padding:4rem 0; margin-top:var(--headerheight);}
div#container section.hero div.grid div.col {display:flex; flex-direction:column; align-items:center;}
div#container section.hero div.grid div.col h1.head {font-size:3rem; margin:0; /* margin-bottom:1rem; */}
div#container section.hero div.grid div.col img.logo {display:block; width:100%; max-width:12rem; margin:1rem;}
div#container section.hero div.grid div.col img.logo {display:none;}
div#container section.hero div.grid div.col p.textcopy {color:var(--forecolor2); font-size:1.75rem; font-weight:200; margin:0; margin:1rem 0;}
div#container section.hero div.grid div.col a.contactlink {font-size:1.5rem; text-decoration:none; min-width:9em;}
div#container section.hero div.grid div.col a.contactlink {display:inline-block; padding:.375em 1.5em; border-radius:1.125em; border:.25rem solid; margin:.5em .5rem 0; box-shadow:var(--boxshadowxx);}
/* div#container section.hero div.grid div.col a.contactlink {opacity:.9; transition:.125s;} */
div#container section.hero div.grid div.col a.contactlink.a {background-color:var(--themecolor); color:white; border-color:var(--themecolor);}
div#container section.hero div.grid div.col a.contactlink.b {background-color:transparent; color:var(--themecolor);}
div#container section.hero div.grid div.col a.contactlink.b {background-color:var(--forecolor); color:var(--backcolor); border-color:var(--forecolor);}
/* div#container section.hero div.grid div.col a.contactlink:hover {opacity:1;} */
div#container section.hero div.grid div.col a.contactlink.a:hover {background-color:var(--drkthemecolor); border-color:var(--drkthemecolor);}
/* div#container section.hero div.grid div.col a.contactlink.b:hover {background-color:var(--backcolor); color:var(--forecolor); border-color:var(--backcolor);} */






/* Large Tablet Screen */
@media screen and (max-width:125rem) {
	
	/* Hero Section */
	/* div#container section.hero {} */
	/* div#container section.hero div.grid {} */
}

/* Medium Tablet Screen */
@media screen and (max-width:88rem) {
	
	/* Hero Section */
	/* div#container section.hero {} */
	/* div#container section.hero div.grid {} */
}

/* Small Tablet Screen */
@media screen and (max-width:64rem) {
	
	/* Hero Section */
	div#container section.hero {background-position-x:75%; margin-bottom:4rem;}
	/* div#container section.hero div.grid {} */
	/* div#container section.hero div.grid div.col {} */
	div#container section.hero div.grid div.col h1.head {font-size:2.375rem;}
	div#container section.hero div.grid div.col p.textcopy {font-size:1.5rem;}
	div#container section.hero div.grid div.col a.contactlink {font-size:1.125rem;}
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Hero Section */
	div#container section.hero {height:auto; margin-bottom:2rem;}
	/* div#container section.hero div.grid {display:flex; flex-direction:column-reverse; align-items:center;} */
	/* div#container section.hero div.grid div.col {text-align:center;} */
	/* div#container section.hero div.grid div.col img.logo {max-width:12rem; margin:0 auto 1.5rem;} */
	/* div#container section.hero div.grid div.col p.textcopy {margin-bottom:1rem;} */
	div#container section.hero div.grid div.col p.textcopy {font-size:1.375rem;}
	div#container section.hero div.grid div.col img.logo {max-width:10rem;}
}

/* Medium Smartphone Screen */
@media screen and (max-width:36rem) {
	
	/* Hero Section */
	/* div#container section.hero {} */
	/* div#container section.hero div.grid {} */
	div#container section.hero div.grid div.col img.logo {max-width:8rem;}
	div#container section.hero div.grid div.col p.textcopy {font-size:1.25rem;}
}

/* Small Smartphone Screen */
@media screen and (max-width:30rem) {

	/* Hero Section */
	/* div#container section.hero {} */
	/* div#container section.hero div.grid {} */
	/* div#container section.hero div.grid div.col p.textcopy {font-size:1rem;} */
}
