


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* Theme Colors */
	--green:#2ECC71;
	--drkgreen:#27AE60;
	--royalblue:#2E61E0;
	--drkroyalblue:#1e4ec8;
	--themecolor:var(--green);
	--drkthemecolor:var(--drkgreen);
	--themecolor:var(--royalblue);
	--drkthemecolor:var(--drkroyalblue);

	/* Light Colors */
	--white:#F8F8F8;
	--offwhite:#E7E9EB;
	--whitesheet:#F8F8F8AA;
	--whiteglass:#F8F8F844;
	--whiteglasss:#F8F8F822;

	/* Dark Colors */
	--lightblack:#333;
	--lightblack2:#222;
	--blacksheet:#222C;
	--blackglass:#2223;
	--blackglasss:#2222;

	/* Page Sizes */
	/* --pagewidth:75rem; */
	/* --pagewidth:100rem; */
	--pagewidth:125rem;
	--cornersize:.5rem;
	--headerheight:4rem;

	/* Box Shadows */
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
	--boxshadowx:rgba(0,0,0,0.25) 0 0.25rem .75rem 0;
	--boxshadowxx:rgba(0,0,0,0.25) 0 0.75rem .75rem 0;
	
	/* --bgimg:linear-gradient(135deg,dodgerblue,magenta); */
}

body {

	--backcolor:var(--white);
	--backcolor2:var(--offwhite);
	--forecolor:var(--lightblack);
	--forecolor2:grey;
	--sheetcolor:var(--whitesheet);

	--navcolor:var(--blackglass);
	--themebtnhovercolor:var(--blackglasss);

	--grpbackcolor:var(--whitesheet);
	--linkbackcolor:var(--offwhite);
	--linkbackcolorhover:var(--blacksheet);
	--linkforecolor:var(--lightblack);
	--linkforecolorhover:white;
}

body.dark {
	
	--backcolor:var(--lightblack);
	--backcolor2:var(--lightblack2);
	--forecolor:white;
	--forecolor2:#BBB;
	--sheetcolor:var(--blacksheet);

	--navcolor:var(--whiteglass);
	--themebtnhovercolor:var(--whiteglasss);

	--grpbackcolor:var(--blacksheet);
	--linkbackcolor:var(--lightblack);
	--linkbackcolorhover:white;
	--linkforecolor:var(--offwhite);
	--linkforecolorhover:var(--blacksheet);
}



html {background-image:var(--bgimg); scroll-behavior:smooth;}
body {background-color:var(--backcolor2); color:var(--forecolor); font-family:Nunito,sans-serif; transition:.5s; margin:0;}
.freeze {overflow:hidden;}



/* Main Container */
div#container {background-color:var(--backcolor); color:var(--forecolor);}
div#container {display:flex; flex-direction:column; justify-content:flex-start; align-items:stretch; min-height:100vh;}



/* Navbar */
div#container nav.navbar {position:fixed; top:0; right:0; left:0; width:100%; min-height:var(--headerheight); z-index:30; box-shadow:var(--boxshadowxx);}
div#container nav.navbar {/* background-color:var(--navcolor); */ background-color:var(--themecolor); color:white; width:100%; padding:.75rem 2.5rem;}
div#container.babybar nav.navbar {max-width:var(--pagewidth); border-radius:var(--cornersize); margin:0 auto;}
div#container nav.navbar div.bin {display:flex; flex-direction:row; justify-content:space-between; align-items:center; height:100%; max-width:var(--pagewidth); margin:0 auto;}
div#container nav.navbar div.bin a.brand {color:inherit; font-size:1.75rem; text-decoration:none;}
div#container nav.navbar div.bin a.brand {display:flex; flex-direction:row; align-items:center; margin:0;}
div#container nav.navbar div.bin a.brand img.logo {height:1.75em; border-radius:50%; box-shadow:var(--boxshadowx);}
div#container nav.navbar div.bin a.brand svg.icon {display:none;}
div#container nav.navbar div.bin a.brand span.caption {margin-left:.375em;}

/* Navbar: Navigation Menu */
/* div#container nav.navbar div.bin div.navmenu {flex-grow:1;} */
div#container nav.navbar div.bin div.navmenu {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
div#container nav.navbar div.bin div.navmenu div.headbar {display:none; position:relative;}
div#container nav.navbar div.bin div.navmenu div.headbar a.brand {display:flex; justify-content:center;}
/* div#container nav.navbar div.bin div.navmenu div.headbar div.navtoggler {display:none;} */
div#container nav.navbar div.bin div.navmenu div.headbar div.navtoggler {position:absolute; left:0; top:50%; transform:translateY(-50%);}
/* div#container nav.navbar div.bin div.navmenu ul.navlist.l {} */
div#container nav.navbar div.bin div.navmenu ul.navlist.r {/* flex-grow:1; */ justify-content:flex-end;}
/* div#container nav.navbar div.bin div.navmenu ul.navlist.r {border-left:1px solid var(--whiteglass);} */
div#container nav.navbar div.bin div.navmenu ul.navlist {display:flex; flex-direction:row; align-items:center; list-style:none; padding:0; margin:0; margin-left:1.25rem;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem {font-size:1.125rem; margin-left:1rem;}
/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem {margin:0 .5rem;} */
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink {display:flex; align-items:center; grid-gap:.5rem;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink {color:inherit; text-decoration:none;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink:hover {color:var(--forecolor2);}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink svg.icon {font-size:1.125em;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink span.caption {display:none;}

/* Navbar: Live Search */
div#container nav.navbar div.bin div.navmenu div.livesearch {flex-grow:1; max-width:40rem;}
div#container nav.navbar div.bin div.navmenu div.livesearch {position:relative; margin-left:2rem;}
div#container nav.navbar div.bin div.navmenu div.livesearch div.searchquery {position:relative; font-size:1.125rem;}
div#container nav.navbar div.bin div.navmenu div.livesearch div.searchquery input.searchquery {background-color:var(--backcolor2); color:var(--forecolor); font-family:inherit; font-size:inherit; font-weight:300;}
div#container nav.navbar div.bin div.navmenu div.livesearch div.searchquery input.searchquery {width:100%; padding:1rem 3.75rem .875rem; padding:.5rem 3.25rem; border-radius:var(--cornersize); border-radius:10rem; border:0 none; outline:none; box-shadow:var(--boxshadowx);}
div#container nav.navbar div.bin div.navmenu div.livesearch div.searchquery div.expandbtn {position:absolute; top:50%; right:0; transform:translateY(-50%);}
div#container nav.navbar div.bin div.navmenu div.livesearch div.searchquery div.expandbtn {display:grid; place-items:center; cursor:pointer; height:100%; padding:0 .625rem;}
div#container nav.navbar div.bin div.navmenu div.livesearch div.searchquery div.expandbtn svg.icon {display:block; color:grey; font-size:.75rem; margin-right:.375rem;}
div#container nav.navbar div.bin div.navmenu div.livesearch div.searchquery label.searchlabel {position:absolute; top:50%; left:0; transform:translateY(-50%); margin-left:1.125rem;}
div#container nav.navbar div.bin div.navmenu div.livesearch div.searchquery label.searchlabel svg.icon.search {display:block; color:grey; font-size:1.375rem;}
div#container nav.navbar div.bin div.navmenu div.livesearch div.searchresults {position:absolute; top:100%; left:0; right:0; width:100%; height:16rem; max-height:0; transition:.5s;}
div#container nav.navbar div.bin div.navmenu div.livesearch div.searchresults {width:calc(100% - 2.5rem); margin:0 auto; margin-top:.25rem;}
div#container nav.navbar div.bin div.navmenu div.livesearch div.searchresults {background-color:var(--backcolor2); color:grey; border-radius:var(--cornersize); margin-top:.125rem;}
/* div#container nav.navbar div.bin div.navmenu div.livesearch div.searchresults {background-color:var(--themecolor);} */
div#container nav.navbar div.bin div.navmenu div.livesearch div.searchresults.active {max-height:16rem; padding:.5rem 1rem; box-shadow:var(--boxshadowxx);}

/* Navbar: Navigation Toggler */
div#container nav.navbar div.bin div.navtoggler {display:none; cursor:pointer;}
div#container nav.navbar div.bin div.navtoggler svg.icon {display:block; font-size:2.25rem;}

/* Navbar: Theme Toggler */
div#container nav.navbar div.bin div.themetoggler {position:relative; font-size:1.125rem; height:100%; padding-left:2rem; border-left:1px solid #FFF4; margin-left:2rem;}
div#container nav.navbar div.bin div.themetoggler div.themebtn {display:flex; flex-direction:row; align-items:center; cursor:pointer; user-select:none;}
/* div#container nav.navbar div.bin div.themetoggler div.themebtn svg.icon {} */
div#container nav.navbar div.bin div.themetoggler div.themebtn svg.icon.arrowdown {font-size:.625em; margin-left:.25rem;}
div#container nav.navbar div.bin div.themetoggler ul.themelist {display:none; position:absolute; right:0; top:100%;}
div#container nav.navbar div.bin div.themetoggler ul.themelist {background-color:var(--backcolor); list-style:none; padding:0; padding:.125rem .25rem; border-radius:.5rem; margin:0; margin-top:.5rem; box-shadow:var(--boxshadow);}
div#container nav.navbar div.bin div.themetoggler ul.themelist.open {display:block;}
/* div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem {} */
div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem a.themebtn {font-size:.875rem; height:2.375em; width:8em; padding:0 1rem; border-radius:.375rem; margin:.125rem 0;}
div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem a.themebtn {color:inherit; color:var(--forecolor); text-decoration:none; display:flex; flex-direction:row; justify-content:flex-start; align-items:center;}
div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem a.themebtn:hover {background-color:var(--themebtnhovercolor);}
div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem a.themebtn.active {background-color:var(--forecolor); color:var(--backcolor);}
div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem a.themebtn.active {background-color:var(--themecolor); color:white; font-weight:bold;}
/* div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem a.themebtn svg.icon {} */
div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem a.themebtn span.caption {margin-left:.75rem;}


/* General Section */
/* div#container section {background-color:#FFF1;} */
div#container section {padding:1.75rem 2.5rem; /* border-radius:.5rem; */ margin-top:3rem; /* box-shadow:var(--boxshadow); */}
div#container section div.grid {width:100%; max-width:var(--pagewidth); margin:0 auto;}
div#container section div.grid div.head {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
div#container section div.grid div.head {flex-direction:column; grid-gap:1.5rem;}
div#container section div.grid h1.head {font-size:2.5rem; font-weight:300; line-height:1; text-align:center; margin:0;}


/* Hero Section */
div#container section.hero {margin-top:var(--headerheight);}


/* Footer */
div#container footer.footer {background-color:var(--backcolor2); width:100%; padding:2.5rem 2.5rem 8rem; margin-top:4rem;}
/* div#container footer.footer div.grid {display:flex; flex-direction:row;} */
div#container footer.footer div.grid {max-width:var(--pagewidth); margin:0 auto;}
div#container footer.footer div.grid div.brand {margin-top:3rem;}
div#container footer.footer div.grid div.brand h1.head {color:var(--forecolor); font-size:1.75rem; font-weight:300; text-align:inherit; margin:0;}
div#container footer.footer div.grid div.brand p.textcopy {color:var(--forecolor2); margin:0; margin-top:.5rem;}
div#container footer.footer div.grid div.social {display:none;}
div#container footer.footer div.grid div.linkmatrix {display:grid; /* grid-template-columns:repeat(6,1fr); */}
div#container footer.footer div.grid div.linkmatrix {grid-template-areas:'box0 box1 box2 box3 box4 box5' /* 'box6 box7' */;}
/* div#container footer.footer div.grid div.linkmatrix div.listbox {flex-basis:0; flex-grow:1; flex-shrink:0;} */
div#container footer.footer div.grid div.linkmatrix div.listbox {text-align:left; /* padding:1rem; */ margin-right:2rem; margin-top:1.5rem;}
div#container footer.footer div.grid div.linkmatrix div.listbox.x {display:none;}
div#container footer.footer div.grid div.linkmatrix div.listbox.box0 {grid-area:box0;}
div#container footer.footer div.grid div.linkmatrix div.listbox.box1 {grid-area:box1;}
div#container footer.footer div.grid div.linkmatrix div.listbox.box2 {grid-area:box2;}
div#container footer.footer div.grid div.linkmatrix div.listbox.box3 {grid-area:box3;}
div#container footer.footer div.grid div.linkmatrix div.listbox.box4 {grid-area:box4;}
div#container footer.footer div.grid div.linkmatrix div.listbox.box5 {grid-area:box5;}
div#container footer.footer div.grid div.linkmatrix div.listbox.box6 {grid-area:box6;}
div#container footer.footer div.grid div.linkmatrix div.listbox.brand {grid-area:brand; /* grid-column:1/span6; */ /* grid-area:b; flex-grow:2; */}
div#container footer.footer div.grid div.linkmatrix div.listbox h2.head {color:var(--forecolor); font-size:1.375rem; font-weight:500; /* white-space:nowrap; */ margin:0; margin-top:2.5rem;}
div#container footer.footer div.grid div.linkmatrix div.listbox ul.navlist {list-style:none; padding:0; margin:0; /* margin-top:1.25rem; */}
div#container footer.footer div.grid div.linkmatrix div.listbox ul.navlist li.navitem {color:var(--forecolor2); margin-top:.5rem;}
div#container footer.footer div.grid div.linkmatrix div.listbox ul.navlist li.navitem a.navlink {color:inherit; font-size:1.25rem; text-decoration:none; /* white-space:nowrap; */}
/* div#container footer.footer div.grid div.linkmatrix div.listbox ul.navlist li.navitem a.navlink svg.icon {display:none;} */
/* div#container footer.footer div.grid div.linkmatrix div.listbox ul.navlist li.navitem a.navlink span.caption {} */




/* Large Tablet Screen */
@media screen and (max-width:125rem) {

	/* Navbar */
	/* div#container nav.navbar {} */

	/* General Section */
	/* div#container section {} */

	/* Footer */
	/* div#container footer.footer {} */
	/* div#container footer.footer div.grid {} */
	/* div#container footer.footer div.grid div.linkmatrix {grid-template-columns:repeat(3,1fr);} */
	div#container footer.footer div.grid div.linkmatrix {grid-template-areas:'box0 box1 box2 box3' 'box4 box4 box5 box5'/*  'box6 box7' */;}
}

/* Tablet Screen */
@media screen and (max-width:60rem) {
	
	/* Navbar */
	div#container nav.navbar {/* position:relative; */ padding:.75rem 2rem;}
	/* div#container nav.navbar div.bin {display:grid; grid-template-columns:repeat(3,1fr);} */
	/* div#container nav.navbar div.bin > * {flex-basis:0; flex-grow:1;} */
	div#container nav.navbar div.bin a.brand {font-size:1.75rem;}
	div#container nav.navbar div.bin a.brand span.caption {display:none;}
	/* Navbar: Navigation Menu */
	/* div#container nav.navbar div.bin div.navmenu {flex-direction:row; flex-wrap:wrap;} */
	/* div#container nav.navbar div.bin div.navmenu {position:absolute; top:100%; left:0; width:100%; max-width:var(--pagewidth); margin:0 auto;} */
	div#container nav.navbar div.bin div.navmenu {background-color:var(--drkthemecolor); flex-direction:column; align-items:stretch; /* justify-content:center; */ z-index:1;}
	div#container nav.navbar div.bin div.navmenu {position:fixed; top:0; left:0; bottom:0; height:100%; width:100%; max-width:calc(var(--pagewidth)/4);}
	div#container nav.navbar div.bin div.navmenu {padding:.75rem 2rem; /* padding-top:calc(var(--headerheight)*1.5); */ margin:0 auto; box-shadow:var(--boxshadowxx);}
	div#container nav.navbar div.bin div.navmenu {opacity:0; visibility:hidden; /* transform:translateY(-2rem); */ transform:translateX(-100%); transition:.25s;}
	div#container nav.navbar div.bin div.navmenu.active {opacity:1; visibility:visible; transform:translateY(0); transform:translateX(0);}
	div#container nav.navbar div.bin div.navmenu div.headbar {display:block;}
	/* div#container nav.navbar div.bin div.navmenu div.headbar a.brand {margin-bottom:3rem;} */
	/* div#container nav.navbar div.bin div.navmenu div.headbar a.brand span.caption {display:block;} */
	div#container nav.navbar div.bin div.navmenu ul.navlist {margin:0;}
	div#container nav.navbar div.bin div.navmenu ul.navlist.l {order:2; flex-grow:1; flex-direction:column; /* justify-content:flex-start; */ width:100%;}
	div#container nav.navbar div.bin div.navmenu ul.navlist.r {order:3; justify-content:center; margin:.5rem auto;}
	/* div#container nav.navbar div.bin div.navmenu ul.navlist.r {justify-content:flex-end; border-left:0 none;} */
	div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem {font-size:1.5rem; padding:.75rem; margin:0;}
	/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink {} */
	div#container nav.navbar div.bin div.navmenu ul.navlist.l li.navitem a.navlink svg.icon {display:none;}
	div#container nav.navbar div.bin div.navmenu ul.navlist.l li.navitem a.navlink span.caption {display:block;}
	div#container nav.navbar div.bin div.navmenu ul.navlist.r li.navitem a.navlink svg.icon {display:block;}
	div#container nav.navbar div.bin div.navmenu ul.navlist.r li.navitem a.navlink span.caption {display:none;}
	div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink span.caption:empty {background-color:gainsboro; height:1em; width:6em; border-radius:1em;}
	/* Navbar: Live Search */
	div#container nav.navbar div.bin div.navmenu div.livesearch {order:1; flex-grow:0; margin:3rem 0;}
	/* div#container nav.navbar div.bin div.navmenu div.livesearch input.searchquery {} */
	/* Navbar: Navigation Toggler */
	div#container nav.navbar div.bin div.navtoggler {display:block;}
	/* Navbar: Theme Toggler */
	div#container nav.navbar div.bin div.themetoggler {padding-left:0; border-left:0 none; margin-left:0;}

	/* General Section */
	/* div#container section {} */
	/* div#container section div.grid {} */
	div#container section div.grid h1.head {font-size:2rem;}

	/* Footer */
	/* div#container footer.footer {} */
	/* div#container footer.footer div.grid {} */
	/* div#container footer.footer div.grid div.linkmatrix {grid-template-columns:repeat(3,1fr);} */
	div#container footer.footer div.grid div.linkmatrix {grid-template-areas:'box0 box1 box2' 'box3 box4 box5'/*  'box6 x box7' */;}
	/* div#container footer.footer div.grid div.linkmatrix div.listbox {} */
	div#container footer.footer div.grid div.linkmatrix div.listbox h2.head {margin-top:1.5rem;}
	/* div#container footer.footer div.grid div.linkmatrix div.listbox ul.navlist {} */
	/* div#container footer.footer div.grid div.linkmatrix div.listbox ul.navlist li.navitem {} */
	div#container footer.footer div.grid div.linkmatrix div.listbox ul.navlist li.navitem a.navlink {font-size:1.125rem;}
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Navbar */
	/* div#container nav.navbar {} */
	/* Navbar: Navigation Menu */
	/* div#container nav.navbar div.bin div.navmenu {} */
	/* Navbar: Live Search */
	/* div#container nav.navbar div.bin div.navmenu div.livesearch {} */
	/* Navbar: Navigation Toggler */
	/* div#container nav.navbar div.bin div.navtoggler {} */
	/* Navbar: Theme Toggler */
	/* div#container nav.navbar div.bin div.themetoggler {} */

	/* General Section */
	/* div#container section {} */

	/* Footer */
	div#container footer.footer {padding:1.5rem 2.5rem 6rem;}
	/* div#container footer.footer div.grid {} */
	/* div#container footer.footer div.grid {flex-direction:column; align-items:center; text-align:center;} */
	/* div#container footer.footer div.grid div.linkmatrix {grid-template-columns:repeat(2,1fr);} */
	div#container footer.footer div.grid div.linkmatrix {grid-template-areas:'box0 box1' 'box2 box3' 'box4 box5'/*  'box6 box7' */;}
}

/* Medium Smartphone Screen */
@media screen and (max-width:36rem) {
	
	/* Navbar */
	/* div#container nav.navbar {} */
	/* div#container nav.navbar div.bin {} */
	/* Navbar: Navigation Menu */
	/* div#container nav.navbar div.bin div.navmenu {} */
	/* div#container nav.navbar div.bin div.navmenu ul.navlist {} */
	div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem {font-size:1.75rem;}
	/* Navbar: Live Search */
	/* div#container nav.navbar div.bin div.navmenu div.livesearch {} */
	/* Navbar: Navigation Toggler */
	/* div#container nav.navbar div.bin div.navtoggler {} */
	/* Navbar: Theme Toggler */
	/* div#container nav.navbar div.bin div.themetoggler {} */

	/* General Section */
	/* div#container section {} */
	
	/* Footer */
	/* div#container footer.footer {} */
	/* div#container footer.footer div.grid {} */
	/* div#container footer.footer div.grid div.linkmatrix {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:30rem) {

	/* Navbar */
	/* div#container nav.navbar {} */
	/* Navbar: Navigation Menu */
	/* div#container nav.navbar div.bin div.navmenu {} */
	/* Navbar: Live Search */
	/* div#container nav.navbar div.bin div.navmenu div.livesearch {} */
	/* Navbar: Navigation Toggler */
	/* div#container nav.navbar div.bin div.navtoggler {} */
	/* Navbar: Theme Toggler */
	/* div#container nav.navbar div.bin div.themetoggler {} */

	/* General Section */
	/* div#container section {} */
	div#container section div.grid h1.head {font-size:1.75rem;}

	/* Footer */
	div#container footer.footer {padding:4rem 1.5rem 6rem;}
	/* div#container footer.footer div.grid {} */
	div#container footer.footer div.grid div.brand {text-align:center; margin-top:1.5rem;}
	div#container footer.footer div.grid div.linkmatrix {display:flex; flex-direction:column;}
	div#container footer.footer div.grid div.linkmatrix div.listbox {text-align:center; margin-right:0; margin-top:0;}
	div#container footer.footer div.grid div.linkmatrix.compact {margin-top:2rem;}
	div#container footer.footer div.grid div.linkmatrix.compact div.listbox h2.head {font-weight:200; margin-top:.375rem;}
	div#container footer.footer div.grid div.linkmatrix.compact div.listbox ul.navlist {max-height:0; overflow:hidden;}
	/* div#container footer.footer div.grid div.linkmatrix.compact div.listbox ul.navlist.active {} */
}
