


:root {
	
	/* Theme Colors */
	--offwhite:#EEE;
	--offwhite2:#E8E8E8;
	--lightyellow:#ffe6cc;
	--lightorange:#ffbf80;
	--transparentwhite:#FFFFFF08;

	/* Numbers */
	--pagewidth:125rem;
}

body {

	/* Selected Theme Colors */
	--headbackcolor:var(--offwhite);
	--headforecolor:var(--searchthemecolor);
	--bodybackcolor:var(--searchthemecolor);
	--resultsbackcolor:var(--transparentwhite);
	--resultsetheadforecolor:var(--lightyellow);
	--resultsetbodyforecolor:var(--lightorange);
	--loadspinnercolor:var(--offwhite2);
}


/* Body: Page Scroller */
body.freeze {overflow:hidden;}



/* Search Overlay */

div#container div#searchoverlay {position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; z-index:100 /* overflow:auto; */;}
div#container div#searchoverlay {font-size:2rem; font-size:1.5rem;}
div#container div#searchoverlay {opacity:0; visibility:hidden; transform:scale(1.05); transition:.25s;}
div#container div#searchoverlay.active {opacity:.988; visibility:visible; transform:none;}

div#container div#searchoverlay {display:flex; flex-direction:column; align-items:stretch;}
div#container div#searchoverlay section {padding:0; margin:0;}
div#container div#searchoverlay section.head {flex-grow:0; flex-shrink:0;}
div#container div#searchoverlay section.body {flex-grow:1; flex-shrink:1; position:relative; overflow-x:hidden; overflow-y:auto;}
div#container div#searchoverlay section div.grid {max-width:var(--pagewidth); margin:auto;}
div#container div#searchoverlay section.head div.grid {max-width:calc(var(--pagewidth)*.6);}
div#container div#searchoverlay section.body div.grid {padding:4rem;}


/* Query Section */

div#container div#searchoverlay section.head {background-color:var(--headbackcolor); color:var(--headforecolor); font-size:1.25em; border-bottom:1px solid #0002;}
div#container div#searchoverlay section.head div.querybox {position:relative;}
div#container div#searchoverlay section.head div.querybox div.closebtn,
div#container div#searchoverlay section.head div.querybox label.searchlabel {position:absolute; top:50%; transform:translateY(-50%); cursor:pointer; user-select:none;}
div#container div#searchoverlay section.head div.querybox div.closebtn {background-color:var(--headforecolor); color:white; right:0; padding:0 .375em; border-radius:.25rem; margin:0 .375em; box-shadow:var(--boxshadowx);}
div#container div#searchoverlay section.head div.querybox label.searchlabel {font-size:.875em; /* font-size:1.5rem; */ left:0; margin:0 1em;}
div#container div#searchoverlay section.head div.querybox label.searchlabel svg.icon {display:block;}
div#container div#searchoverlay section.head div.querybox input#searchquery {display:block; width:100%; height:100%; padding:.625em 2.25em; border:0 none; outline:none;}
div#container div#searchoverlay section.head div.querybox input#searchquery {background-color:/* white */transparent; color:inherit; font-family:inherit; font-size:1em;}


/* Results Section */

div#container div#searchoverlay section.body {background-color:var(--bodybackcolor); /* font-size:1em; */}

div#container div#searchoverlay section.body:before {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:2.5rem; height:2.5rem; border-radius:50%;}
div#container div#searchoverlay section.body:before {background-color:transparent; content:''; border:.5rem solid var(--loadspinnercolor); border-top-color:transparent;}
div#container div#searchoverlay section.body:before {visibility:hidden; opacity:0; transition:.15s;}
div#container div#searchoverlay.load section.body:before {visibility:visible; opacity:1; animation:loadingspin 1s linear infinite;}

div#container div#searchoverlay section.body div#searchresults {background-color:var(--resultsbackcolor); color:white; width:100%; min-height:100%; overflow:visible; padding:2rem;}
div#container div#searchoverlay section.body div#searchresults {display:flex; flex-direction:column-reverse; justify-content:flex-end; align-items:stretch;}

div#container div#searchoverlay section.body div#searchresults h1.resultshead {display:flex; flex-direction:row; flex-wrap:wrap; justify-content:space-between; align-items:flex-start;}
div#container div#searchoverlay section.body div#searchresults h1.resultshead {font-size:1.25em; cursor:default; user-select:none;}
/* div#container div#searchoverlay section.body div#searchresults h1.resultshead span.resultcount {} */
div#container div#searchoverlay section.body div#searchresults h1.resultshead span.resultcount::after {content:' result(s) found';}
div#container div#searchoverlay section.body div#searchresults h1.resultshead.none span.resultcount {visibility:hidden;}
div#container div#searchoverlay section.body div#searchresults h1.resultshead span.searchquery {word-wrap:anywhere;}
div#container div#searchoverlay section.body div#searchresults h1.resultshead span.searchquery:before {content:'Here are your search results for \'';}
div#container div#searchoverlay section.body div#searchresults h1.resultshead span.searchquery::after {content:'\'';}
div#container div#searchoverlay section.body div#searchresults h1.resultshead.none span.searchquery:before {content:'No matches found for \'';}

/* div#container div#searchoverlay section.body div#searchresults div.resultsbody {display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-start; align-content:flex-start;} */
div#container div#searchoverlay section.body div#searchresults div.resultsbody {display:grid; grid-template-columns:repeat( var(--gridcolumns) ,1fr); --gridcolumns:4;}
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock {/* padding:2rem 1.5rem; */ /* border:1px solid #FFF3; */ /* border-radius:.5rem; */ margin:2rem 2rem 0 0; /* text-align:center; */}
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock h2.blockhead {color:var(--resultsetheadforecolor); font-size:1.125em; padding-bottom:.5rem; border-bottom:1px solid #FFF3; margin:0;}
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock h2.blockhead {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock h2.blockhead span.count {font-size:.875em;}
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock h2.blockhead span.caption {font-size:1em;}
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock ul.resultlist {list-style:none; padding:0; margin:0; margin-top:.75rem;}
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock ul.resultlist.visual {display:flex; flex-direction:row; flex-wrap:wrap;}
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock ul.resultlist li.resultitem {margin-top:.5rem;}
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock ul.resultlist.visual li.resultitem {margin:0 .375rem .375rem 0;}
/* div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock ul.resultlist li.resultitem span.caption {} */
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock ul.resultlist li.resultitem a.archivelink,
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock ul.resultlist li.resultitem a.authorlink,
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock ul.resultlist li.resultitem a.resultlink {color:var(--resultsetbodyforecolor);}
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock ul.resultlist li.resultitem a.archivelink {display:block; text-decoration:underline;}
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock ul.resultlist.visual li.resultitem a.resultlink {position:relative; display:block; height:8rem; width:6rem;}
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock ul.resultlist.visual li.resultitem a.resultlink img.photo {object-fit:cover; height:100%; width:100%;}
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock ul.resultlist.visual li.resultitem a.resultlink span.caption {position:absolute; right:0; bottom:0; left:0; width:100%; padding:.25rem 0;}
div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock ul.resultlist.visual li.resultitem a.resultlink span.caption {background-color:var(--resultsetbodyforecolor); color:white; font-size:.625rem; text-align:center; white-space:nowrap;}





@keyframes loadingspin {
	0% {transform:rotate(0deg);}
	100% {transform:rotate(180deg);}
	100% {transform:rotate(360deg);}
}





/* Laptop Screen */
@media screen and (max-width:88rem) {
	
	/* Search Overlay */
	/* div#container div#searchoverlay {} */
	
	/* Query Section */
	/* div#container div#searchoverlay section.head {} */
	
	/* Results Section */
	/* div#container div#searchoverlay section.body {} */
	/* div#container div#searchoverlay section.body div#searchresults {} */
	/* div#container div#searchoverlay section.body div#searchresults h1.resultshead {} */
	div#container div#searchoverlay section.body div#searchresults div.resultsbody {--gridcolumns:3;}
}


/* Tablet Screen */
@media screen and (max-width:72rem) {
	
	/* Search Overlay */
	div#container div#searchoverlay {font-size:1.25rem;}
	
	/* Query Section */
	/* div#container div#searchoverlay section.head {} */
	
	/* Results Section */
	/* div#container div#searchoverlay section.body {} */
	div#container div#searchoverlay section.body div.grid {padding:2rem;}
	/* div#container div#searchoverlay section.body div#searchresults {} */
	/* div#container div#searchoverlay section.body div#searchresults h1.resultshead {} */
	div#container div#searchoverlay section.body div#searchresults div.resultsbody {--gridcolumns:2;}
	div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock {margin:1rem 1rem 0 0;}
	/* div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock h2.blockhead {} */
}


/* Big Smartphone Screen */
@media screen and (max-width:48rem) {
	
	/* Search Overlay */
	/* div#container div#searchoverlay {} */
	
	/* Query Section */
	/* div#container div#searchoverlay section.head {} */
	
	/* Results Section */
	/* div#container div#searchoverlay section.body {} */
	/* div#container div#searchoverlay section.body div#searchresults div.resultsbody {--gridcolumns:1;} */
}


/* Small Smartphone Screen */
@media screen and (max-width:36rem) {
	
	/* Search Overlay */
	div#container div#searchoverlay {font-size:1.125rem;}
	
	/* Query Section */
	/* div#container div#searchoverlay section.head {} */
	
	/* Results Section */
	/* div#container div#searchoverlay section.body {} */
	div#container div#searchoverlay section.body div.grid {padding:1rem;}
	/* div#container div#searchoverlay section.body div#searchresults h1.resultshead {} */
	div#container div#searchoverlay section.body div#searchresults div.resultsbody {--gridcolumns:1;}
	div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock {margin:0; margin-top:1.5rem;}
	div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock h2.blockhead {font-size:1.125rem; /* display:block; */}
	/* div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock h2.blockhead span.count:before {content:' (';} */
	/* div#container div#searchoverlay section.body div#searchresults div.resultsbody div.resultblock h2.blockhead span.count::after {content:')';} */
}


/* Tiny Smartphone Screen */
@media screen and (max-width:24rem) {
	
	/* Search Overlay */
	div#container div#searchoverlay {font-size:1rem;}
}


