

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');



/* General */



* {box-sizing:border-box;}



:root {
	
	/* Theme Colors */
	--grey:#888;
	--beautyblue:#4e65ff;
	--cyan:#92effd;
	/* --purp:#8847FF; */
	/* --olive:#FFE091; */
	/* --orange:#ff8f1f; */
	/* --lightpurp:#A26FFF; */
	/* --themecolor:dodgerblue; */
	--themecolor:var(--beautyblue);

	/* Selected Theme Colors */
	--openbtnbackcolor:var(--grey);
	--openbtnforecolor:var(--cyan);

	/* Backgrounds */
	--bgimg:linear-gradient(45deg, var(--themecolor), white);
	--bgimg:linear-gradient(45deg,var(--themecolor),var(--cyan));

	/* Box Shadows */
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
	--boxshadowx:rgba(0,0,0,0.25) 0 0.25rem .75rem 0;
	--boxshadowxx:rgba(0,0,0,0.25) 0 0.75rem .75rem 0;
}



body {font-family:Nunito,sans-serif; margin:0;}



/* Main Container */

div#container {background-color:var(--themecolor); background-image:var(--bgimg); min-height:100vh;}
div#container {display:grid; place-items:center; place-content:center; position:relative;}
div#container div.openbtn {background-color:var(--openbtnbackcolor); color:var(--openbtnforecolor); font-size:4rem; cursor:pointer; padding:.75em .875em; border-radius:.25em; box-shadow:var(--boxshadowx);}
div#container div.openbtn svg.icon {display:block;}
