

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');



/* General */



* {box-sizing:border-box;}



:root {
	--themecolor:dodgerblue;
	--bgimg:linear-gradient(135deg, dodgerblue, white);
	
	--blue:#4e65ff;
	--cyan:#92effd;
	--purp:#8847FF;
	--olive:#FFE091;
	--lightpurp:#A26FFF;
	--bgimg:linear-gradient(45deg,var(--blue),var(--cyan));
	--themecolor:var(--blue);
	
	--btnbgcolor:var(--cyan);
	--mainbgcolor:var(--themecolor);

	/* Box Shadows */
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
	--boxshadowx:rgba(0,0,0,0.25) 0 0.25rem .75rem 0;
	--boxshadowxx:rgba(0,0,0,0.25) 0 0.75rem .75rem 0;
}



body {font-family:Nunito,sans-serif; margin:0;}



/* Main Container */

div#container {background-color:var(--mainbgcolor); background-image:var(--bgimg); height:100vh;}
div#container {position:relative;}
div#container div.openbtn {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
div#container div.openbtn {background-color:var(--btnbgcolor); background-color:#888; color:var(--btnbgcolor); font-size:4rem; cursor:pointer; padding:.75em .875em; border-radius:.25em; box-shadow:var(--boxshadowx);}
div#container div.openbtn svg.icon {display:block;}
