


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* --bgimg:linear-gradient(135deg,dodgerblue,white,wheat); */
	--offwhite:#e0e0e0;
	--themecolor:#CCC;
	--blackglass:#333D;

	--pagewidth:30rem;
	--cornersize:.25rem;
	
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
}


html {background-color:var(--themecolor); background-image:var(--bgimg);}
body {font-family:Nunito,sans-serif; margin:0;}


div#container {display:grid; place-items:center; min-height:100vh; padding:1rem;}

div#container main.main {background-color:white; font-size:1.375rem; width:100%; max-width:var(--pagewidth); padding:1.5rem; border-radius:.5rem; box-shadow:var(--boxshadow);}
div#container main.main h1.head {display:flex; flex-direction:column; align-items:center;}
div#container main.main h1.head {font-size:2.375rem; text-align:center; margin:0; margin-top:1rem;}
div#container main.main h1.head svg.icon {font-size:2.5em;}
/* div#container main.main h1.head span.caption {display:none;} */
div#container main.main section {background-color:var(--offwhite); padding:1.375rem 1.25rem; border-radius:.5rem; margin-top:1rem;}
/* div#container main.main section.output {background-color:initial;} */
div#container main.main section h2.head {display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container main.main section h2.head {font-size:1.5rem; text-align:center; margin:0;}
div#container main.main section h2.head svg.icon {font-size:1.25em; margin-right:.5rem;}
div#container main.main section div.input {display:flex; flex-direction:row; align-items:center; position:relative; grid-gap:.5rem; margin-top:1rem;}
div#container main.main section div.input input {background-color:transparent; font-family:inherit; font-size:inherit; text-align:right; width:100%; padding:.125em /* .5em */; border:0 none; outline:none;}
div#container main.main section div.input input {border:.125rem solid var(--blackglass); border-radius:.25rem;}
/* div#container main.main section div.input input:valid {border-color:limegreen;} */
/* div#container main.main section div.input input:invalid {border-color:red;} */
div#container main.main section div.input label.label {background-color:var(--themecolor); padding:.25rem; border-radius:.25rem;}
div#container main.main section div.input label.label {display:flex; flex-direction:row; align-items:center; cursor:pointer; white-space:nowrap;}
div#container main.main section div.input label.label svg.icon {display:block; font-size:1.5em;}
div#container main.main section div.input span.tooltip {background-color:var(--blackglass); color:whitesmoke; white-space:nowrap; padding:.5rem 1rem; border-radius:.25rem;}
div#container main.main section div.input span.tooltip {opacity:0; visibility:hidden; transition:.25s;}
div#container main.main section div.input span.tooltip {position:absolute; z-index:1; --tipsize:.875rem; margin:0; margin-right:var(--tipsize);}
div#container main.main section div.input span.tooltip {top:50%; right:100%; bottom:auto; left:auto; transform:translateY(-50%);}
/* div#container main.main section div.input:hover span.tooltip {opacity:1; visibility:visible;} */
div#container main.main section div.input input:focus + span.tooltip {opacity:1; visibility:visible;}
div#container main.main section div.input span.tooltip::after {content:''; position:absolute; left:100%; top:50%; transform:translateY(-50%); border:var(--tipsize) solid transparent; border-left-color:var(--blackglass);}
div#container main.main section div.input button.calculate {font-family:inherit; font-size:inherit; width:100%; padding:.125em .5em;}
div#container main.main section div.output {text-align:center; white-space:pre-wrap; margin-top:1rem;}
div#container main.main section div.output.simple::before {content:'Simple value\A';}
div#container main.main section div.output.compound::before {content:'Future value\A';}
div#container main.main section div.output:empty::before {content:'Empty';}


/* Tablet Screen */
@media screen and (max-width:64rem) {
	/*  */
	div#container main.main section div.input span.tooltip {margin:0; margin-bottom:var(--tipsize);}
	div#container main.main section div.input span.tooltip {top:auto; right:auto; bottom:100%; left:50%; right:auto; transform:translateX(-50%);}
	div#container main.main section div.input span.tooltip::after {top:100%; right:auto; bottom:auto; left:50%; transform:translateX(-50%); border:var(--tipsize) solid transparent; border-top-color:var(--blackglass);}
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {
	/*  */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {
	/*  */
}
