


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* --bgimg:linear-gradient(135deg,dodgerblue,white,wheat); */
	--offwhite:#e8e8e8;
	--themecolor:#d8d8d8;
	--blackglass:#333D;
	--blackglass2:#3335;
	--whiteglass:#FFFD;

	--pagewidth:30rem;
	/* --pagewidth:60rem; */
	--cornersize:.25rem;

	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
}



/* Container */
html {background-color:var(--themecolor); background-image:var(--bgimg);}
body {font-family:Nunito,sans-serif; margin:0;}
div#container {display:flex; flex-direction:column; justify-content:center; align-items:center; grid-gap:1.5rem;}
div#container {min-height:100vh; padding:1rem;}


/* Main Box */
div#container main.main {background-color:white; font-size:1.375rem; width:100%; padding:1.5rem; border-radius:.5rem; box-shadow:var(--boxshadow);}
div#container main.main {display:grid; grid-template-columns:1fr; grid-gap:1em; max-width:var(--pagewidth);}
div#container main.main.wide {/* grid-template-columns:repeat(2,1fr); */ max-width:calc(var(--pagewidth) * 2);}
div#container main.main h1.head {display:flex; flex-direction:column; align-items:center; grid-gap:.125em;}
div#container main.main h1.head {font-size:2.375rem; text-align:center; margin:0; margin-top:1rem;}
div#container main.main h1.head svg.icon {font-size:2.5em;}
/* div#container main.main h1.head span.caption {display:none;} */


/* General Section */
div#container main.main section {background-color:var(--offwhite); padding:1.375rem 1.25rem; border-radius:.5rem; /* margin-top:1rem; */ box-shadow:var(--boxshadow);}
div#container main.main section h2.head {display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container main.main section h2.head {font-size:1.75rem; text-align:center; margin:0;}
div#container main.main section h2.head svg.icon {font-size:1.125em; margin-right:.5em;}
div#container main.main section.input div.input {margin-top:1rem;}

/* General Section: Input */
div#container main.main section.input div.input {width:100%;}
div#container main.main section.input div.input.x {display:none;}
div#container main.main section.input div.input.switch {display:grid; grid-template-columns:repeat(1,1fr); align-items:center; margin-top:0;}
div#container main.main section.input div.input label.switchbtn {background-color:white; cursor:pointer; user-select:none; text-align:center; min-width:6rem; padding:.25em .75em; border-radius:25rem;}
div#container main.main section.input div.input input[type=radio] {display:none;}
div#container main.main section.input div.input input[type=radio]:checked +
/* div#container main.main section.input div.input */ label.switchbtn {background-color:dodgerblue; color:white;}
div#container main.main section.input div.input button.calculate {background-color:gainsboro; font-family:inherit; font-size:inherit; width:100%; padding:.375em .5em; border-radius:10em; border:0 none; box-shadow:var(--boxshadow);}
div#container main.main section.input div.input button.calculate {background-color:var(--blackglass2); background-color:dodgerblue; color:white; cursor:pointer;}
div#container main.main section.input div.input button.calculate {display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container main.main section.input div.input button.calculate {opacity:.875; transition:.125s;}
div#container main.main section.input div.input button.calculate:hover {opacity:1;}
div#container main.main section.input div.input button.calculate svg.icon {font-size:1.375em; margin-left:.125em;}
div#container main.main section.input div.input button.calculate span.caption {margin-left:1.5em;}


/* Input Section */
/* div#container main.main section.input {} */
div#container main.main section.input div.input {display:flex; flex-direction:row; align-items:center; position:relative; grid-gap:.5rem;}
div#container main.main section.input div.input input {background-color:transparent; font-family:inherit; font-size:inherit; text-align:right; width:100%; padding:.125em /* .5em */; border:0 none; outline:none;}
div#container main.main section.input div.input input {border:.125rem solid var(--blackglass); border-radius:.25rem;}
/* div#container main.main section.input div.input input:valid {border-color:limegreen;} */
/* div#container main.main section.input div.input input:invalid {border-color:red;} */
div#container main.main section.input div.input label.label {background-color:var(--themecolor); min-width:2.5em; padding:.25rem; border-radius:.25rem;}
div#container main.main section.input div.input label.label {display:flex; flex-direction:row; justify-content:center; align-items:center; cursor:pointer; white-space:nowrap;}
div#container main.main section.input div.input label.label svg.icon {display:block; font-size:1.5em;}
div#container main.main section.input div.input span.tooltip {background-color:var(--blackglass); color:whitesmoke; white-space:nowrap; padding:.5rem 1rem; border-radius:.25rem;}
div#container main.main section.input div.input span.tooltip {opacity:0; visibility:hidden; transition:.25s;}
div#container main.main section.input div.input span.tooltip {position:absolute; z-index:1; --tipsize:.875rem; margin:0; margin-right:var(--tipsize);}
div#container main.main section.input div.input span.tooltip {top:50%; right:100%; bottom:auto; left:auto; transform:translateY(-50%);}
/* div#container main.main section.input div.input:hover span.tooltip {opacity:1; visibility:visible;} */
div#container main.main section.input div.input input:focus + span.tooltip {opacity:1; visibility:visible;}
div#container main.main section.input div.input span.tooltip::after {content:''; position:absolute; left:100%; top:50%; transform:translateY(-50%); border:var(--tipsize) solid transparent; border-left-color:var(--blackglass);}


/* Output Section */
/* div#container main.main section.output {background-color:initial;} */
div#container main.main section.output {display:flex; flex-direction:column; /* align-items:stretch; */}

/* Output Section: Output */
div#container main.main section.output div.output {display:grid; grid-template-columns:repeat(2,1fr); grid-gap:1rem; align-items:center;}
div#container main.main section.output div.output {grid-template-columns:3fr 4fr;}	/* 4/7 (57%) */
div#container main.main section.output div.output {grid-template-columns:2fr 3fr;}	/* 3/5 (60%) */
div#container main.main section.output div.output {grid-template-columns:1fr 2fr;}	/* 2/3 (67%) */
div#container main.main section.output div.output {grid-template-columns:3fr 5fr;}	/* 5/8 (62.5%) */
div#container main.main section.output div.output {/* text-align:center; */ /* white-space:pre-wrap; */ margin-top:1rem;}
div#container main.main section.output div.output.x {display:none;}
/* div#container main.main section.output div.output.simple {} */
/* div#container main.main section.output div.output.compound {} */
/* div#container main.main section.output div.output span.value {} */
div#container main.main section.output div.output span.value:empty {background-color:gainsboro; height:1em; width:100%; border-radius:10em;}
/* div#container main.main section.output div.output span.caption {} */
/* div#container main.main section.output div.output span.caption::before {content:'\A';} */
/* div#container main.main section.output div.output:empty::before {content:'';} */

/* Output Section: Schedule Table */
div#container main.main section.output details.block {margin-top:1.5em;}
div#container main.main section.output details.block summary.head {font-size:1.125em; cursor:pointer; text-align:center; user-select:none;}
div#container main.main section.output details.block table.schedule {/* max-height:20rem; */ width:100%; text-align:center;}
/* div#container main.main section.output details.block table.schedule .p {text-align:left;} */
/* div#container main.main section.output details.block table.schedule .v {text-align:right;} */
/* div#container main.main section.output details.block table.schedule thead.head {} */
div#container main.main section.output details.block table.schedule thead.head th.header {font-size:1.125em;}
/* div#container main.main section.output details.block table.schedule tbody.body {} */
div#container main.main section.output details.block table.schedule tbody.body td.cell {background-color:var(--blackglass2); color:white; padding:.5rem; border-radius:.375rem;}
/* div#container main.main section.output details.block table.schedule span.caption {} */





/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Container */
	/* div#container {} */

	/* Main Box */
	/* div#container main.main {} */

	/* Input Section */
	/* div#container main.main section.input {} */
	/* div#container main.main section.input div.input {} */
	div#container main.main section.input div.input span.tooltip {margin:0; margin-bottom:var(--tipsize);}
	div#container main.main section.input div.input span.tooltip {top:auto; right:auto; bottom:100%; left:50%; right:auto; transform:translateX(-50%);}
	div#container main.main section.input div.input span.tooltip::after {top:100%; right:auto; bottom:auto; left:50%; transform:translateX(-50%); border:var(--tipsize) solid transparent; border-top-color:var(--blackglass);}

	/* Output Section */
	/* div#container main.main section.output {} */
}

/* Big Smartphone Screen */
@media screen and (max-width:52rem) {

	/* Container */
	/* div#container {} */

	/* Main Box */
	/* div#container main.main {} */
	div#container main.main.wide {grid-template-columns:1fr;}

	/* Input Section */
	/* div#container main.main section.input {} */

	/* Output Section */
	/* div#container main.main section.output {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {
	
	/* Container */
	/* div#container {} */
	
	/* Main Box */
	div#container main.main {font-size:1em;}

	/* Input Section */
	/* div#container main.main section.input {} */

	/* Output Section */
	/* div#container main.main section.output {} */
}
