


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* Theme Colors */
	/* --bgimg:linear-gradient(135deg,dodgerblue,white,wheat); */
	--offwhite:#e8e8e8;
	--themecolor:#d8d8d8;
	--blackglass:#333f;
	--blacksheet:#333D;
	--whiteglass:#FFFD;

	/* Input Validity Colors */
	--limegreen:limegreen;
	--red:red;

	/* Numbers */
	--pagewidth:30rem;
	/* --pagewidth:60rem; */
	--cornersize:.25rem;

	/* Box Shadow */
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
}




/* Container */
html {background-color:var(--themecolor); background-image:var(--bgimg);}
body {font-family:Nunito,sans-serif; margin:0;}
div#container {display:flex; flex-direction:column; justify-content:center; align-items:center; grid-gap:1.5rem;}
div#container {min-height:100vh; padding:1rem;}




/* Main Window */
div#container main.window {background-color:white; font-size:1.375rem; width:100%; padding:1.5rem; border-radius:.875rem; box-shadow:var(--boxshadow);}
div#container main.window {display:grid; grid-template-columns:1fr; grid-gap:1em; max-width:var(--pagewidth);}
div#container main.window h1.head {display:flex; flex-direction:column; align-items:center; grid-gap:.125em;}
div#container main.window h1.head {font-size:2.375rem; text-align:center; margin:0; margin-top:1rem;}
div#container main.window h1.head svg.icon {font-size:2.5em;}
/* div#container main.window h1.head span.caption {display:none;} */


/* General Section */
div#container main.window section {background-color:var(--offwhite); padding:1.25rem 1.125rem; border-radius:.25rem; /* margin-top:1rem; */ box-shadow:var(--boxshadow);}
div#container main.window section h2.head {display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container main.window section h2.head {font-size:1.75rem; text-align:center; margin:0;}
div#container main.window section h2.head svg.icon {font-size:1.125em; margin-right:.5em;}


/* Input Section */
/* div#container main.window section.input {} */
div#container main.window section.input ul.inputlist {list-style:none; padding:0; margin:0;}
/* div#container main.window section.input ul.inputlist li.inputitem {} */
div#container main.window section.input ul.inputlist li.inputitem div.input {width:100%; margin-top:1rem;}
div#container main.window section.input ul.inputlist li.inputitem div.input.x {display:none;}
div#container main.window section.input ul.inputlist li.inputitem div.input.switch {display:grid; grid-template-columns:repeat(2,1fr); align-items:stretch; margin-top:0;}
/* Input Section: Input Fields */
div#container main.window section.input ul.inputlist li.inputitem div.input {display:flex; flex-direction:row; align-items:center; position:relative; grid-gap:.75rem;}
div#container main.window section.input ul.inputlist li.inputitem div.input input {background-color:transparent; font-family:inherit; font-size:inherit; text-align:right; width:100%; padding:.125em /* .5em */; border:0 none; outline:none;}
div#container main.window section.input ul.inputlist li.inputitem div.input input {border:.125rem solid var(--blacksheet); border-radius:.25rem;}
div#container main.window section.input ul.inputlist li.inputitem div.input input:valid {border-color:--limegreen;}
div#container main.window section.input ul.inputlist li.inputitem div.input input:invalid {border-color:--red;}
div#container main.window section.input ul.inputlist li.inputitem div.input label.label {background-color:var(--themecolor); min-width:2.5em; padding:.5rem .125rem; border-radius:.25rem;}
div#container main.window section.input ul.inputlist li.inputitem div.input label.label {display:flex; flex-direction:row; justify-content:center; align-items:center; cursor:pointer; white-space:nowrap;}
div#container main.window section.input ul.inputlist li.inputitem div.input label.label svg.icon {display:block; font-size:1.5em;}
div#container main.window section.input ul.inputlist li.inputitem div.input span.tooltip {background-color:var(--blacksheet); color:whitesmoke; white-space:nowrap; padding:.5rem 1rem; border-radius:.25rem;}
div#container main.window section.input ul.inputlist li.inputitem div.input span.tooltip {opacity:0; visibility:hidden; transition:.25s;}
div#container main.window section.input ul.inputlist li.inputitem div.input span.tooltip {position:absolute; top:50%; right:100%; bottom:auto; left:auto; transform:translateY(-50%); z-index:1;}
div#container main.window section.input ul.inputlist li.inputitem div.input span.tooltip {--tipsize:.875rem; margin:0; margin-right:var(--tipsize);}
div#container main.window section.input ul.inputlist li.inputitem div.input:hover span.tooltip {opacity:1; visibility:visible;}
div#container main.window section.input ul.inputlist li.inputitem div.input span.tooltip::after {content:''; position:absolute; left:100%; top:50%; transform:translateY(-50%); border:var(--tipsize) solid transparent; border-left-color:var(--blacksheet);}
div#container main.window section.input ul.inputlist li.inputitem div.input input:focus + span.tooltip {opacity:1; visibility:visible;}
/* Input Section: Input Buttons */
div#container main.window section.input ul.inputlist li.inputitem div.input label.switchbtn {background-color:white; min-width:6rem; padding:.5em .875em; border-radius:1rem;}
div#container main.window section.input ul.inputlist li.inputitem div.input label.switchbtn {display:grid; place-items:center;}
div#container main.window section.input ul.inputlist li.inputitem div.input label.switchbtn {cursor:pointer; user-select:none; text-align:center;}
div#container main.window section.input ul.inputlist li.inputitem div.input input.switchchoice {display:none;}
div#container main.window section.input ul.inputlist li.inputitem div.input input.switchchoice:checked +
/* div#container main.window section.input ul.inputlist li.inputitem div.input */ label.switchbtn {background-color:dodgerblue; color:white;}
div#container main.window section.input ul.inputlist li.inputitem div.input button.calculate {background-color:gainsboro; font-family:inherit; font-size:inherit; width:100%; padding:.375em .5em; border-radius:10em; border:0 none; box-shadow:var(--boxshadow);}
div#container main.window section.input ul.inputlist li.inputitem div.input button.calculate {background-color:dodgerblue; color:white; cursor:pointer;}
div#container main.window section.input ul.inputlist li.inputitem div.input button.calculate {display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container main.window section.input ul.inputlist li.inputitem div.input button.calculate {opacity:.875; transition:.125s;}
div#container main.window section.input ul.inputlist li.inputitem div.input button.calculate:hover {opacity:1;}
div#container main.window section.input ul.inputlist li.inputitem div.input button.calculate svg.icon {font-size:1.375em; margin-left:.125em;}
div#container main.window section.input ul.inputlist li.inputitem div.input button.calculate span.caption {margin-left:1.5em;}




/* Output Overlay */
/* div#container aside.overlay {display:none;} */
div#container aside.overlay {position:fixed; inset:0;}
div#container aside.overlay {background-color:var(--blacksheet); cursor:pointer; display:grid; place-items:center; overflow:auto; padding:1rem;}
div#container aside.overlay {opacity:1; visibility:visible; pointer-events:initial; transition:.5s;}
div#container aside.overlay.gone {opacity:0; visibility:hidden; pointer-events:none;}

/* Output Overlay Window */
div#container aside.overlay main.window {cursor:initial; position:relative; width:auto; max-width:calc(var(--pagewidth) * 2); }
div#container aside.overlay main.window {transform:translateY(0); transition:.5s;}
div#container aside.overlay.gone main.window {transform:translateY(-10%);}
div#container aside.overlay main.window div.closebtn {position:absolute; top:0; right:0; margin:2.5rem;}
div#container aside.overlay main.window div.closebtn {font-size:2.25rem; font-size:1.75rem; cursor:pointer;}
div#container aside.overlay main.window div.closebtn svg.icon {display:block;}

/* Output Overlay Window: Output Section */
div#container aside.overlay main.window section.output {display:flex; flex-direction:column; /* align-items:stretch; */}
div#container aside.overlay main.window section.output.gone {display:none;}
/* Output Overlay Window: Result List */
div#container aside.overlay main.window section.output ul.resultlist {list-style:none; padding:0; margin:0;}
/* div#container aside.overlay main.window section.output ul.resultlist li.resultitem {} */
div#container aside.overlay main.window section.output ul.resultlist li.resultitem div.result {display:grid; grid-template-columns:repeat(2,1fr); grid-gap:1rem; align-items:center;}
div#container aside.overlay main.window section.output ul.resultlist li.resultitem div.result {grid-template-columns:3fr 4fr;}	/* 4/7 (57%) */
div#container aside.overlay main.window section.output ul.resultlist li.resultitem div.result {grid-template-columns:2fr 3fr;}	/* 3/5 (60%) */
div#container aside.overlay main.window section.output ul.resultlist li.resultitem div.result {grid-template-columns:1fr 2fr;}	/* 2/3 (67%) */
div#container aside.overlay main.window section.output ul.resultlist li.resultitem div.result {grid-template-columns:3fr 5fr;}	/* 5/8 (62.5%) */
div#container aside.overlay main.window section.output ul.resultlist li.resultitem div.result {/* text-align:center; */ /* white-space:pre-wrap; */ margin-top:1rem;}
div#container aside.overlay main.window section.output ul.resultlist li.resultitem div.result.x {display:none;}
/* div#container aside.overlay main.window section.output ul.resultlist li.resultitem div.result.simple {} */
/* div#container aside.overlay main.window section.output ul.resultlist li.resultitem div.result.compound {} */
/* div#container aside.overlay main.window section.output ul.resultlist li.resultitem div.result span.value {} */
div#container aside.overlay main.window section.output ul.resultlist li.resultitem div.result span.value:empty {background-color:gainsboro; height:1em; width:100%; border-radius:10em;}
/* div#container aside.overlay main.window section.output ul.resultlist li.resultitem div.result span.caption {} */
/* div#container aside.overlay main.window section.output ul.resultlist li.resultitem div.result span.caption::before {content:'\A';} */
/* div#container aside.overlay main.window section.output ul.resultlist li.resultitem div.result:empty::before {content:'';} */
/* Output Overlay Window: Schedule Table */
div#container aside.overlay main.window section.output details.block {max-height:calc(100vh - 30rem); overflow:auto; margin-top:1.5em;}
div#container aside.overlay main.window section.output details.block summary.head {font-size:1.125em; cursor:pointer; text-align:center; user-select:none;}
div#container aside.overlay main.window section.output details.block table.schedule {/* max-height:20rem; */ width:100%;}
div#container aside.overlay main.window section.output details.block table.schedule {font-size:1rem; text-align:center;}
/* div#container aside.overlay main.window section.output details.block table.schedule .p {text-align:left;} */
/* div#container aside.overlay main.window section.output details.block table.schedule .v {text-align:right;} */
/* div#container aside.overlay main.window section.output details.block table.schedule thead.head {} */
div#container aside.overlay main.window section.output details.block table.schedule thead.head th.header {font-size:1.25em;}
/* div#container aside.overlay main.window section.output details.block table.schedule tbody.body {} */
div#container aside.overlay main.window section.output details.block table.schedule tbody.body td.cell {background-color:var(--blackglass); color:white; white-space:nowrap; padding:.375rem .75rem; border-radius:.375rem;}
/* div#container aside.overlay main.window section.output details.block table.schedule span.caption {} */





/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Container */
	/* div#container {} */

	/* Main Window */
	/* div#container main.window {} */

	/* Input Section */
	/* div#container main.window section.input {} */
	/* div#container main.window section.input ul.inputlist {} */
	/* div#container main.window section.input ul.inputlist li.inputitem {} */
	/* div#container main.window section.input ul.inputlist li.inputitem div.input {} */
	div#container main.window section.input ul.inputlist li.inputitem div.input span.tooltip {margin:0; margin-bottom:var(--tipsize);}
	div#container main.window section.input ul.inputlist li.inputitem div.input span.tooltip {top:auto; right:auto; bottom:100%; left:50%; right:auto; transform:translateX(-50%);}
	div#container main.window section.input ul.inputlist li.inputitem div.input span.tooltip::after {top:100%; right:auto; bottom:auto; left:50%; transform:translateX(-50%); border:var(--tipsize) solid transparent; border-top-color:var(--blacksheet);}

	/* Output Overlay Window */
	/* div#container aside.overlay {} */
	/* div#container aside.overlay main.window {} */
	/* div#container aside.overlay main.window section.output {} */
}

/* Big Smartphone Screen */
@media screen and (max-width:52rem) {

	/* Container */
	/* div#container {} */

	/* Main Window */
	/* div#container main.window {} */

	/* Input Section */
	/* div#container main.window section.input {} */

	/* Output Overlay Window */
	/* div#container aside.overlay {} */
	/* div#container aside.overlay main.window {} */
	/* div#container aside.overlay main.window section.output {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {
	
	/* Container */
	/* div#container {} */
	
	/* Main Window */
	div#container main.window {font-size:1em;}

	/* Input Section */
	/* div#container main.window section.input {} */

	/* Output Overlay Window */
	/* div#container aside.overlay {} */
	/* div#container aside.overlay main.window {} */
	/* div#container aside.overlay main.window section.output {} */
}
