


/* Data Table Section */
div#container section.datatable {z-index:10;}
div#container section.datatable div.scroller {overflow-x:auto;}
div#container section.datatable div.scroller table.table {font-size:.875em; text-align:center; width:100%; margin-top:.5em;}
/* div#container section.datatable div.scroller table.table thead.head {background-color:var(--backcolor2);} */
/* div#container section.datatable div.scroller table.table thead.head tr.row {} */
div#container section.datatable div.scroller table.table thead.head th.cell {background-color:var(--backcolor5); padding:.875em .625em;}
/* div#container section.datatable div.scroller table.table tbody.body {} */
/* div#container section.datatable div.scroller table.table tbody.body tr.row {} */
div#container section.datatable div.scroller table.table tbody.body td.cell {background-color:var(--backcolor3); position:relative; padding:.5em; /*  */border:solid var(--backcolor3); border-radius:.125em;}
div#container section.datatable div.scroller table.table tbody.body td.cell.c {padding:4em;}
div#container section.datatable div.scroller table.table tbody.body tr.row:hover td.cell {background-color:var(--backcolor4); cursor:pointer;}
div#container section.datatable div.scroller table.table tbody.body td.cell img.picture {display:block; --maxsize:2.25em; --maxsize:3em; max-height:var(--maxsize); width:100%; max-width:var(--maxsize); border-radius:.25em;}
/* div#container section.datatable div.scroller table.table tbody.body td.cell span.caption {} */
div#container section.datatable div.scroller table.table tbody.body td.cell div.actionbox {display:flex; flex-direction:row; justify-content:center; grid-gap:.25em;}
/* div#container section.datatable div.scroller table.table tbody.body td.cell div.actionbox button.btn {display:none !important;} */
div#container section.datatable div.scroller table.table tbody.body td.cell div.actionbox button.btn {display:flex; display:inline-flex; align-items:center; grid-gap:.25em; padding:.5em;}
/* div#container section.datatable div.scroller table.table tbody.body td.cell div.actionbox button.btn svg.icon {font-size:1.25em;} */
div#container section.datatable div.scroller table.table tbody.body td.cell div.actionbox button.btn span.caption {display:none;}


/* C.R.U.D. Section */
div#container section.crud {background-color:var(--backcolor); z-index:20;}
div#container section.crud {opacity:0; visibility:hidden; transition:.625s;}
/* div#container section.crud#idX {} */
div#container section.crud.open {opacity:1; visibility:visible;}
div#container section.crud div.viewcard,
div#container section.crud form.crudform {background-color:var(--backcolor2); /* width:100%; */ padding:.375rem; border-radius:.5rem; margin-top:.5rem;}
div#container section.crud div.viewcard,
div#container section.crud form.crudform {transform:translateY(-4rem); transition:.625s;}
div#container section.crud.open div.viewcard,
div#container section.crud.open form.crudform {transform:none;}

/* Data Composer Section */
/* div#container section.composer {} */

/* Data Editor Section */
/* div#container section.editor {} */
/* div#container section.editor#editorX {} */

/* Detail Card Section */
/* div#container section.viewer {} */
/* div#container section.viewer#viewerX {} */
div#container section.viewer div.viewcard {background-color:var(--backcolor3); /* width:18rem; */ overflow-x:auto; padding:.75rem; padding-right:1.5rem;}
div#container section.viewer div.viewcard ul.fieldlist {list-style:none; padding:0; margin:0;}
div#container section.viewer div.viewcard ul.fieldlist li.field {display:flex; flex-direction:row; align-items:center; margin-top:.25rem;}
div#container section.viewer div.viewcard ul.fieldlist li.field span.key {font-weight:bold; white-space:nowrap; margin-right:.25em;}
div#container section.viewer div.viewcard ul.fieldlist li.field span.key::after {content:': ';}
div#container section.viewer div.viewcard ul.fieldlist li.field span.caption {/* font-style:italic; */ white-space:nowrap;}
