


/* Data Table Section */
div#container section.datatable {z-index:10;}
/* div#container section.datatable div.head {} */
/* div#container section.datatable div.head h2.head {} */
div#container section.datatable div.scroller {overflow-x:auto;}
div#container section.datatable div.scroller table.table {text-align:center; width:100%; margin-top:.5em;}
div#container section.datatable div.scroller table.table thead.head {background-color:gainsboro;}
/* div#container section.datatable div.scroller table.table thead.head tr.row {} */
div#container section.datatable div.scroller table.table thead.head th.cell {padding:.5em;}
/* div#container section.datatable div.scroller table.table tbody.body {} */
/* div#container section.datatable div.scroller table.table tbody.body tr.row {} */
div#container section.datatable div.scroller table.table tbody.body td.cell {background-color:var(--offwhite); text-align:center; position:relative; padding:.5em;}
/* div#container section.datatable div.scroller table.table tbody.body td.cell button.editbtn {display:none !important;} */
div#container section.datatable div.scroller table.table tbody.body td.cell button.editbtn {display:flex; align-items:center; grid-gap:.25em; padding:.5em;}
div#container section.datatable div.scroller table.table tbody.body td.cell button.editbtn svg.icon {font-size:1.25em;}
div#container section.datatable div.scroller table.table tbody.body td.cell button.editbtn span.caption {display:none;}
div#container section.datatable div.scroller table.table tbody.body td.cell img.picture {height:2em;}
/* div#container section.datatable div.scroller table.table tbody.body td.cell span.caption {} */

/* Data Editor Section */
div#container section.datatable div.scroller table.table tbody.body td.cell section.editor {z-index:20;}
div#container section.datatable div.scroller table.table tbody.body td.cell section.editor {opacity:0; visibility:hidden; transition:.625s;}
/* div#container section.datatable div.scroller table.table tbody.body td.cell section.editor#idX {} */
div#container section.datatable div.scroller table.table tbody.body td.cell section.editor.open {opacity:1; visibility:visible;}
/* div#container section.datatable div.scroller table.table tbody.body td.cell section.editor div.head {} */
div#container section.datatable div.scroller table.table tbody.body td.cell section.editor form.crud {/* background-color:gainsboro; display:block; width:100%; padding:.25rem; border-radius:.5rem; */ margin-top:.5rem;}
div#container section.datatable div.scroller table.table tbody.body td.cell section.editor form.crud {transform:translateY(-4rem); transition:.625s;}
div#container section.datatable div.scroller table.table tbody.body td.cell section.editor.open form.crud {transform:none;}
/* div#container section.datatable div.scroller table.table tbody.body td.cell section.editor form.crud ul.fieldlist {display:flex;} */
div#container section.datatable div.scroller table.table tbody.body td.cell section.editor form.crud ul.fieldlist li.field {margin-top:.125rem;}
/* div#container section.datatable div.scroller table.table tbody.body td.cell section.editor form.crud ul.fieldlist li.field input.fieldinput {} */
/* div#container section.datatable div.scroller table.table tbody.body td.cell section.editor form.crud ul.fieldlist li.field select.fieldinput {} */
/* div#container section.datatable div.scroller table.table tbody.body td.cell section.editor form.crud ul.fieldlist li.field textarea.fieldinput {} */
div#container section.datatable div.scroller table.table tbody.body td.cell section.editor form.crud button.sendbtn {margin-top:.125rem;}


/* Data Composer Section */
div#container section.composer {z-index:20;}
div#container section.composer {opacity:0; visibility:hidden; transition:.625s;}
div#container section.composer.open {opacity:1; visibility:visible;}
/* div#container section.composer div.head {} */
div#container section.composer form.crud {transform:translateY(-4rem); transition:.625s;}
div#container section.composer.open form.crud {transform:none;}
