



/* Navbar */
div#container nav.navbar {top:0; right:0; left:0; width:100%; z-index:40; box-shadow:var(--boxshadow2);}
div#container nav.navbar {position:fixed;} /* Bad for long (high content) pages */
div#container nav.navbar {position:sticky;} /* Bad for short (low content) pages */
div#container nav.navbar {background-color:var(--backcolor2); /* min-height:4rem; */ border-radius:.25em;}
div#container nav.navbar div.bin {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
div#container nav.navbar div.bin {position:relative; max-width:var(--pagewidth); padding:.5rem 2rem; margin:0 auto;}
div#container nav.navbar div.bin a.btn {color:inherit; text-decoration:none; padding:.25em;}
/* div#container nav.navbar div.bin a.homebtn {} */
div#container nav.navbar div.bin a.homebtn h1.head {font-size:1.625em; transition:.5s;}
div#container nav.navbar div.bin a.homebtn h1.head {display:flex; flex-direction:row; align-items:center; margin:0;}
/* div#container nav.navbar div.bin a.homebtn h1.head svg.icon {} */
div#container nav.navbar div.bin a.homebtn h1.head span.caption {white-space:nowrap; margin-left:.5rem;}
div#container nav.navbar div.bin a.togglebtn {z-index:1;}
/* div#container nav.navbar div.bin a.togglebtn.tm {display:none;} */
/* div#container nav.navbar div.bin a.togglebtn.um {} */
div#container nav.navbar div.bin a.togglebtn svg.icon {display:block; font-size:1.625rem;}
div#container nav.navbar div.bin a.togglebtn.um svg.icon {font-size:2.5rem;}
div#container nav.navbar div.bin a.togglebtn.um img.avatar {display:block; --size:2.5rem; height:var(--size); width:var(--size); border-radius:50%; border:.125rem solid;}

/* Navbar Menu */
div#container nav.navbar div.bin div.navmenu {position:absolute; top:100%; user-select:none; --edgespace:.75em/* 1rem */;}
div#container nav.navbar div.bin div.navmenu {background-color:var(--backcolor2); padding:.125em; border-radius:/* 0 0 .25em  */.25em; margin:1.25em var(--edgespace); box-shadow:var(--boxshadow);}
div#container nav.navbar div.bin div.navmenu::after {color:transparent; display:block; content:''; --size:1rem; border:var(--size) solid; border-bottom-color:var(--backcolor2);}
div#container nav.navbar div.bin div.navmenu::after {position:absolute; bottom:100%; /* height:var(--size); width:var(--size); */}
div#container nav.navbar div.bin div.navmenu.usermenu::after {right:calc( 2.5rem - var(--edgespace) );}
div#container nav.navbar div.bin div.navmenu.tablemenu::after {left:calc( 2rem - var(--edgespace) );}
/* div#container nav.navbar div.bin div.navmenu div.btwn {height:1.5em; opacity:.125; border:.25px solid; margin:0 .25em;} */
div#container nav.navbar div.bin div.navmenu ul.navlist {background-color:var(--backcolor3); border-radius:.125em;}
div#container nav.navbar div.bin div.navmenu ul.navlist {display:flex; flex-direction:row; align-items:center; list-style:none; padding:0; margin:0;}
div#container nav.navbar div.bin div.navmenu ul.navlist {flex-direction:column; align-items:stretch;}
/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem {} */
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem.x {display:none;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink {display:flex; flex-direction:column; align-items:center; padding:.625em .75em;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink {color:inherit; text-decoration:none; transition:.125s;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink:hover {background-color:var(--backcolor4); color:var(--forecolor);}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink svg.icon {display:block;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink span.caption {/* display:none; */ font-size:.75em;}
/* Navbar User Menu */
/* div#container nav.navbar div.bin div.navmenu.usermenu {} */
div#container nav.navbar div.bin div.navmenu.usermenu ul.profile {list-style:none; padding:.875em .75em; margin:0;}
div#container nav.navbar div.bin div.navmenu.usermenu ul.profile li.profileitem {font-size:.875rem; padding:0 .25rem; margin:0; margin-top:.25em;}
div#container nav.navbar div.bin div.navmenu.usermenu ul.profile li.profileitem.x {display:none;}
div#container nav.navbar div.bin div.navmenu.usermenu ul.profile li.profileitem span.name {font-weight:bold;}
div#container nav.navbar div.bin div.navmenu.usermenu ul.profile li.profileitem span.name::after {content:':';}
/* div#container nav.navbar div.bin div.navmenu.usermenu ul.profile li.profileitem span.value {font-style:italic;} */
/* Navbar Table Menu */
/* div#container nav.navbar div.bin div.navmenu.tablemenu {} */
div#container nav.navbar div.bin div.navmenu/* .tablemenu */ {display:flex; flex-direction:row; align-items:center; justify-content:space-between;}
div#container nav.navbar div.bin div.navmenu {flex-direction:column; align-items:stretch;}
/* div#container nav.navbar div.bin div.navmenu.tablemenu ul.navlist li.navitem a.navlink img.avatar {display:block; --size:2.5rem; height:var(--size); width:var(--size); border-radius:50%; border:.125rem solid;} */
/* div#container nav.navbar div.bin div.navmenu.tablemenu ul.navlist.user {} */
/* div#container nav.navbar div.bin div.navmenu.tablemenu ul.navlist.tables {} */
/* div#container nav.navbar div.bin div.navmenu.tablemenu ul.navlist.user li.navitem a.navlink span.caption {display:none;} */
/* Navbar Menu (from mobile below) */
div#container nav.navbar div.bin div.navmenu.usermenu {right:0;}
div#container nav.navbar div.bin div.navmenu.tablemenu {left:0;}
div#container nav.navbar div.bin div.navmenu {transform:translateY(-100%); opacity:0; visibility:hidden; transition:.25s;}
/* div#container nav.navbar div.bin div.navmenu {position:fixed; top:0; bottom:0; margin-top:4.5em;} */
div#container nav.navbar div.bin div.navmenu.open {transform:translateY(0%); opacity:1; visibility:visible;}
/* div#container nav.navbar div.bin div.navmenu div.btwn {height:auto; width:90%; align-self:center; margin:.25em 0;} */
/* div#container nav.navbar div.bin div.navmenu ul.navlist {} */
/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem {} */
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink {flex-direction:row; font-size:1.375em;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink svg.icon {font-size:1em;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink span.caption {display:block;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink span.caption {margin-left:.375rem;}
/* div#container nav.navbar div.bin div.navmenu ul.navlist.user li.navitem a.navlink span.caption {display:block;} */






/* Tablet Screen */
@media screen and (max-width:64rem) {
	
	/* Navbar */
	/* Navbar Menu */
	/* Navbar User Menu */
	/* Navbar Table Menu */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {
	
	/* Navbar */
	/* div#container nav.navbar {} */
	/* div#container nav.navbar div.bin {} */
	/* Navbar Menu */
	/* div#container nav.navbar div.bin div.navmenu ul.navlist {} */
	/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem {} */
	/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink {} */
	/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink svg.icon {font-size:1.5em;} */
	/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink span.caption {display:none;} */
	/* Navbar User Menu */
	/* Navbar Table Menu */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Navbar */
	/* div#container nav.navbar {} */
	/* div#container nav.navbar div.bin {} */
	/* div#container nav.navbar div.bin a.homebtn {} */
	/* div#container nav.navbar div.bin a.togglebtn {display:block;} */
	div#container nav.navbar div.bin a.homebtn h1.head {font-size:1.5em;}
	/* Navbar Menu */
	/* Navbar User Menu */
	/* Navbar Table Menu */
}

/* Small Smartphone Screen */
@media screen and (max-width:20rem) {

	/* Navbar */
	/* div#container nav.navbar {} */
	div#container nav.navbar div.bin {flex-direction:column;}
	/* Navbar Menu */
	/* Navbar User Menu */
	/* Navbar Table Menu */
}
