


/* Social Feed Section */
/* div#container section.socialfeed {} */
div#container section.socialfeed article.issue {background-color:var(--backcolor3); padding:1rem; border-radius:.25em; margin-top:1rem;}
div#container section.socialfeed article.issue h3.title {display:flex; flex-direction:row; justify-content:space-between; align-items:center; margin:0;}
/* div#container section.socialfeed article.issue h3.title span.number {} */
/* div#container section.socialfeed article.issue h3.title span.caption {} */
div#container section.socialfeed article.issue p.description {margin:0;}
div#container section.socialfeed article.issue ul.commentlist {list-style:none; padding:0; margin:0; margin-top:.5em; margin-left:1em;}
div#container section.socialfeed article.issue ul.commentlist li.commentitem {background-color:var(--backcolor4); padding:.25em .75em; border-radius:25em; margin-top:.25em;}
div#container section.socialfeed article.issue ul.commentlist li.commentitem span.name {font-weight:bold;}
/* div#container section.socialfeed article.issue ul.commentlist li.commentitem span.comment {} */
div#container section.socialfeed article.issue form.newcomment {display:grid; margin-left:1em; margin-top:.375em;}
div#container section.socialfeed article.issue form.newcomment textarea.fieldinput,
div#container section.socialfeed article.issue form.newcomment input.fieldinput {font-family:inherit; /* font-size:inherit; */ font-size:.875em; resize:none; width:100%; /* max-width:16em; */ padding:.375em .875em; border:0 none; /* border:.125rem solid #0002; */ border-radius:25em;}
