
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');

* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* Theme Colors */
	--lightgrey:#CCC;
	--lightblack:#222;
	--offwhite:#f8f8f8;
	--navcolor:white;
	--navcolor:gainsboro;
	
	/* Gradient Colors */
	/* --bgimg:linear-gradient(135deg,dodgerblue,white,wheat); */

	/* Page Sizes */
	--dt:.5s;
	--pagewidth:60rem;
	--cornersize:.5rem;
	
	/* Box Shadows */
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
}

body {

	--backcolor:var(--lightgrey);
	--forecolor:black;
}

/* body.dark {

	--backcolor:var(--lightblack);
	--forecolor:white;
} */





/* Container */
body {background-color:var(--backcolor); background-image:var(--bgimg); margin:0;}
body {color:var(--forecolor); font-family:Nunito,sans-serif;}
div#container {display:flex; flex-direction:column; /* justify-content:center; */ place-items:center; grid-gap:1.5rem; min-height:100vh; padding-bottom:1rem;}




/* General Section */
div#container section {background-color:white; padding:.75rem; padding:1rem; border-radius:var(--cornersize); box-shadow:var(--boxshadow);}
div#container section {/* width:100%; */ max-width:var(--pagewidth);}
/* div#container section {transform:translateY(-4rem);} */
/* div#container section.gone {transform:none;} */
div#container section.float {position:fixed; top:45%; left:50%; transform:translate(-50%,-50%);}
/* div#container section.float::after {position:fixed; inset:0;} */
/* div#container section.float::after {background-color:#0004; content:'';} */

/* General Section: Head */
div#container section div.head {display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container section div.head.f {justify-content:space-between;}
div#container section div.head h2.head {font-size:1.375em; /* text-align:center; */ margin:0; margin:0 .25rem;}
div#container section div.head h2.head a.selflink {color:inherit; text-decoration:none;}
/* div#container section div.head h2.head span.caption {} */
div#container section div.head h2.head span.caption:empty {background-color:gainsboro; display:inline-block; height:1em; width:6em; border-radius:1em;}
div#container section div.head button.btn {display:flex; align-items:center; grid-gap:.25em; padding:.5em;}
div#container section div.head button.btn svg.icon {font-size:1.25em;}
div#container section div.head button.btn span.caption {display:none;}

/* General Section: Data Form */
div#container section form.crud {--fieldspacing:.5rem; margin:0;}
div#container section form.crud div.action {margin-top:var(--fieldspacing);}
div#container section form.crud ul.fieldlist {list-style:none; padding:0; margin:0;}
div#container section form.crud ul.fieldlist li.field {margin-top:var(--fieldspacing);}
div#container section form.crud ul.fieldlist li.field.x {display:none;}
div#container section form.crud ul.fieldlist li.field input.fieldinput,
div#container section form.crud ul.fieldlist li.field select.fieldinput,
div#container section form.crud ul.fieldlist li.field textarea.fieldinput,
div#container section form.crud div.action button.sendbtn {font-family:inherit; /* font-size:inherit; */ font-size:.875em; resize:none; width:100%; max-width:16em; padding:.375em .875em; border:.125rem solid #0002; border-radius:.5rem;}

/* General Section: Msg Center */
div#container section div.msgcenter {display:flex; flex-direction:column; align-items:stretch; gap:.25rem; margin-bottom:.625rem;}
div#container section div.msgcenter:empty {margin:0}
div#container section div.msgcenter div.msg {background-color:#0004; cursor:pointer; font-size:.75rem; text-align:center;}
div#container section div.msgcenter div.msg {padding:.25rem .75rem; border-radius:.5rem; border:1px solid #0004; /* margin-top:.375rem; */}
div#container section div.msgcenter div.msg.g {background-color:#0f03; color:rgb(23, 83, 23);}
div#container section div.msgcenter div.msg.r {background-color:#f003; color:rgb(96, 29, 29);}
div#container section div.msgcenter div.msg.gone {height:0; overflow:hidden; padding:0; margin:0;}
div#container section div.msgcenter div.msg.gone {color:transparent; opacity:0; visibility:hidden; transition:.5s;}



/* Splash Section */
div#container section.splash {background-color:gainsboro; display:grid; place-items:center; z-index:30;}
/* div#container section.splash div.head {} */
div#container section.splash div.head h2.head {font-size:2.25em; white-space:nowrap;}
div#container section.splash a.enterlink {display:block;}
div#container section.splash a.enterlink img.logo {height:12rem; margin-top:.5rem;}
div#container section.splash ul.usernavlist {display:flex; flex-direction:row; justify-content:center; align-items:center; grid-gap:.5rem;}
div#container section.splash ul.usernavlist {list-style:none; padding:0; margin:0; margin-top:1rem;}
/* div#container section.splash ul.usernavlist li.usernavitem {} */
div#container section.splash ul.usernavlist li.usernavitem a.usernavlink {display:grid; place-items:center; color:inherit; text-decoration:none;}
div#container section.splash ul.usernavlist li.usernavitem a.usernavlink {font-size:.875rem; font-weight:500; min-width:8rem; padding:.375rem 1rem; border:.125rem solid black; border-radius:.5rem;}
div#container section.splash ul.usernavlist li.usernavitem a.usernavlink {background-color:white; color:black;}
div#container section.splash ul.usernavlist li.usernavitem a.usernavlink.pr {background-color:var(--lightblack); color:white;}



/* User Chooser Section */
/* div#container section.user {} */

/* User Chooser Section: User Data Form */
/* div#container section.user form.crud.user {} */
/* div#container section.user form.crud.user ul.fieldlist {} */
div#container section.user form.crud.user ul.fieldlist li.field {position:relative;}
div#container section.user form.crud.user ul.fieldlist li.field label.label {position:absolute; left:0; top:50%; transform:translateY(-50%);}
div#container section.user form.crud.user ul.fieldlist li.field label.label {padding:0 .625em;}
div#container section.user form.crud.user ul.fieldlist li.field label.label svg.icon {display:block;}
div#container section.user form.crud.user ul.fieldlist li.field input.fieldinput {padding-left:2.25em;}

/* User Chooser Section: Switcher */
div#container section.user div.switcher {display:flex; flex-flow:row wrap; justify-content:center; grid-gap:0 .375em;}
div#container section.user div.switcher {font-size:.875em; text-align:center; margin-top:.75rem;}
div#container section.user div.switcher.c {flex-flow:column nowrap;}



/* Navigation Table Section */
/* div#container section.navtable {} */
div#container section.navtable ul.navlist {list-style:none; /* text-align:center; */ padding:0; margin:0;}
div#container section.navtable ul.navlist {display:grid; grid-template-columns:repeat(4,1fr); grid-gap:.125rem; margin-top:.25em;}
div#container section.navtable ul.navlist li.navitem {margin-top:.75em;}
div#container section.navtable ul.navlist li.navitem a.navlink {color:inherit; text-decoration:none;}
div#container section.navtable ul.navlist li.navitem a.navlink {display:flex; flex-direction:column; align-items:center; font-size:.875em;}
div#container section.navtable ul.navlist li.navitem a.navlink svg.icon {font-size:2.5em;}
/* div#container section.navtable ul.navlist li.navitem a.navlink span.caption {} */






/* Tablet Screen */
@media screen and (max-width:64rem) {
	
	/* General Section */
	div#container section {max-width:calc(100% - 1.5rem);}
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* General Section */
	/* div#container section {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {
	
	/* General Section */
	/* div#container section {} */
	/* div#container section div.head {} */
	div#container section div.head h2.head {font-size:1.25em;}
}

/* Small Smartphone Screen */
@media screen and (max-width:20rem) {

	/* General Section */
	/* div#container section {} */
}
