
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');

* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* Theme Colors */
	--lightgrey:#CCC;
	--lightblack:#222;
	--offwhite:#f8f8f8;
	--navcolor:white;
	
	/* Gradient Colors */
	/* --bgimg:linear-gradient(135deg,dodgerblue,white,wheat); */

	/* Page Sizes */
	--dt:.5s;
	--pagewidth:60rem;
	--cornersize:.5rem;
	
	/* Box Shadows */
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
}

body {

	--backcolor:var(--lightgrey);
	--forecolor:black;
}

/* body.dark {

	--backcolor:var(--lightblack);
	--forecolor:white;
} */





/* Container */
body {background-color:var(--backcolor); background-image:var(--bgimg); margin:0;}
body {color:var(--forecolor); font-family:Nunito,sans-serif;}
div#container {display:flex; flex-direction:column; /* justify-content:center; */ place-items:center; grid-gap:1.5rem; min-height:100vh; padding-bottom:1rem;}




/* Navbar */
div#container nav.navbar {top:0; right:0; left:0; width:100%; z-index:30; box-shadow:var(--boxshadow);}
div#container nav.navbar {position:fixed;} /* Bad for long (high content) pages */
div#container nav.navbar {position:sticky;} /* Bad for short (low content) pages */
div#container nav.navbar {background-color:var(--navcolor); /* min-height:4rem; */ border-radius:.25em;}
div#container nav.navbar div.bin {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
div#container nav.navbar div.bin {position:relative; max-width:var(--pagewidth); padding:.25rem 2rem; margin:0 auto;}
div#container nav.navbar div.bin a.btn {color:inherit; text-decoration:none; padding:.25em;}
/* div#container nav.navbar div.bin a.homebtn {} */
div#container nav.navbar div.bin a.homebtn h1.head {font-size:1.5em; transition:.5s;}
div#container nav.navbar div.bin a.homebtn h1.head {display:flex; flex-direction:row; align-items:center; margin:0;}
/* div#container nav.navbar div.bin a.homebtn h1.head svg.icon {} */
div#container nav.navbar div.bin a.homebtn h1.head span.caption {white-space:nowrap; margin-left:.5rem;}
div#container nav.navbar div.bin a.togglebtn {/* display:none; */ z-index:1;}
div#container nav.navbar div.bin a.togglebtn svg.icon {display:block; font-size:1.625rem;}
div#container nav.navbar div.bin a.togglebtn.user svg.icon {font-size:2.5rem;}
div#container nav.navbar div.bin a.togglebtn img.profilepic {display:block; --size:2.5rem; height:var(--size); width:var(--size); border-radius:50%; border:.125rem solid;}

/* Navbar Menu */
div#container nav.navbar div.bin div.navmenu {background-color:var(--navcolor); padding:.5em; border-radius:/* 0 0 .25em  */.25em; margin:.5em; box-shadow:var(--boxshadow);}
div#container nav.navbar div.bin div.navmenu {position:absolute; top:100%; user-select:none;}
/* div#container nav.navbar div.bin div.navmenu div.btwn {height:1.5em; opacity:.125; border:.25px solid; margin:0 .25em;} */
div#container nav.navbar div.bin div.navmenu ul.navlist {display:flex; flex-direction:row; align-items:center; list-style:none; padding:0; margin:0;}
div#container nav.navbar div.bin div.navmenu ul.navlist {flex-direction:column; align-items:stretch;}
/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem {} */
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem.x {display:none;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink {display:flex; flex-direction:column; align-items:center; color:inherit; text-decoration:none; padding:.375rem;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink svg.icon {display:block;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink span.caption {/* display:none; */ font-size:.75em;}
/* Navbar User Menu */
/* div#container nav.navbar div.bin div.navmenu.usermenu {} */
div#container nav.navbar div.bin div.navmenu.usermenu div.profile {margin-bottom:.5rem;}
div#container nav.navbar div.bin div.navmenu.usermenu div.profile p.textcopy {font-size:.875rem; padding:0 .25rem; margin:0; margin-top:.25em;}
div#container nav.navbar div.bin div.navmenu.usermenu div.profile p.textcopy span.name {font-weight:bold;}
/* div#container nav.navbar div.bin div.navmenu.usermenu div.profile p.textcopy span.value {font-style:italic;} */
/* Navbar Table Menu */
/* div#container nav.navbar div.bin div.navmenu.tablemenu {} */
div#container nav.navbar div.bin div.navmenu/* .tablemenu */ {display:flex; flex-direction:row; align-items:center; justify-content:space-between;}
div#container nav.navbar div.bin div.navmenu {flex-direction:column; align-items:stretch;}
/* div#container nav.navbar div.bin div.navmenu.tablemenu ul.navlist li.navitem a.navlink img.profilepic {display:block; --size:2.5rem; height:var(--size); width:var(--size); border-radius:50%; border:.125rem solid;} */
/* div#container nav.navbar div.bin div.navmenu.tablemenu ul.navlist.user {} */
/* div#container nav.navbar div.bin div.navmenu.tablemenu ul.navlist.tables {} */
/* div#container nav.navbar div.bin div.navmenu.tablemenu ul.navlist.user li.navitem a.navlink span.caption {display:none;} */

/* Navbar Menu (from mobile below) */
div#container nav.navbar div.bin div.navmenu.usermenu {right:0;}
div#container nav.navbar div.bin div.navmenu.tablemenu {left:0;}
div#container nav.navbar div.bin div.navmenu {transform:translateY(-100%); opacity:0; visibility:hidden; transition:.25s;}
div#container nav.navbar div.bin div.navmenu.open {transform:translateY(0%); opacity:1; visibility:visible;}
/* div#container nav.navbar div.bin div.navmenu div.btwn {height:auto; width:90%; align-self:center; margin:.25em 0;} */
/* div#container nav.navbar div.bin div.navmenu ul.navlist {} */
/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem {} */
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink {flex-direction:row; font-size:1.25em;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink svg.icon {font-size:1em;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink span.caption {display:block;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink span.caption {margin-left:.375rem;}
/* div#container nav.navbar div.bin div.navmenu ul.navlist.user li.navitem a.navlink span.caption {display:block;} */




/* General Section */
div#container section {background-color:white; padding:.75rem; border-radius:var(--cornersize); box-shadow:var(--boxshadow);}
div#container section {/* width:100%; */ max-width:var(--pagewidth);}
/* div#container section {transform:translateY(-4rem);} */
/* div#container section.gone {transform:none;} */
div#container section.center {position:fixed; top:45%; left:50%; transform:translate(-50%,-50%);}
div#container section div.head {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
div#container section div.head h2.head {font-size:1.25em; font-size:1.375em; /* text-align:center; */ margin:0; margin:0 1rem;}
div#container section div.head h2.head a.selflink {color:inherit; text-decoration:none;}
/* div#container section div.head h2.head span.caption {} */
div#container section div.head h2.head span.caption:empty {background-color:gainsboro; display:inline-block; height:1em; width:6em; border-radius:1em;}
div#container section div.head button.btn {display:flex; align-items:center; grid-gap:.25em; padding:.5em;}
div#container section div.head button.btn svg.icon {font-size:1.25em;}
div#container section div.head button.btn span.caption {display:none;}
/* General Section: Form */
div#container section form.crud {margin:0;}
div#container section form.crud ul.fieldlist {list-style:none; padding:0; margin:0;}
div#container section form.crud ul.fieldlist li.field {margin-top:.5rem;}
div#container section form.crud ul.fieldlist li.field.x {display:none;}
div#container section form.crud ul.fieldlist li.field input.fieldinput,
div#container section form.crud ul.fieldlist li.field select.fieldinput,
div#container section form.crud ul.fieldlist li.field textarea.fieldinput,
div#container section form.crud button.sendbtn {font-family:inherit; /* font-size:inherit; */ font-size:.875em; resize:none; width:100%; max-width:16em; padding:.375em .875em; border:.125rem solid #0002; border-radius:.5rem;}
div#container section form.crud button.sendbtn {margin-top:.5rem;}


/* Splash Section */
div#container section.splash {display:grid; place-items:center; z-index:30;}
div#container section.splash img.logo {height:12rem; margin-top:.5rem;}
div#container section.splash ul.usernavlist {display:flex; flex-direction:row; justify-content:center; align-items:center; grid-gap:.5rem;}
div#container section.splash ul.usernavlist {list-style:none; padding:0; margin:0; margin-top:1rem;}
/* div#container section.splash ul.usernavlist li.usernavitem {} */
div#container section.splash ul.usernavlist li.usernavitem a.usernavlink {display:grid; place-items:center; color:inherit; text-decoration:none;}
div#container section.splash ul.usernavlist li.usernavitem a.usernavlink {font-size:.875rem; font-weight:500; min-width:8rem; padding:.375rem 1rem; border:.125rem solid black; border-radius:.5rem;}
div#container section.splash ul.usernavlist li.usernavitem a.usernavlink {background-color:white; color:black;}
div#container section.splash ul.usernavlist li.usernavitem a.usernavlink.pr {background-color:var(--lightblack); color:white;}


/* User Chooser Section */
/* div#container section.user {} */
div#container section.user div.head {justify-content:center;}
div#container section.user div.msgcenter {display:flex; flex-direction:column; align-items:stretch; /* gap:.25rem; */}
div#container section.user div.msgcenter div.msg {background-color:#0004; font-size:.75rem; text-align:center; padding:.25rem .75rem; border-radius:.5rem; border:1px solid #0004; margin-top:.375rem;}
div#container section.user div.msgcenter div.msg.g {background-color:#0f03; color:rgb(23, 83, 23);}
div#container section.user div.msgcenter div.msg.r {background-color:#f003; color:rgb(96, 29, 29);}
div#container section.user div.nav {font-size:.875em; text-align:center; margin-top:.75rem;}


/* User Welcome Section */
/* div#container section.welcome {} */
/* div#container section.welcome div.head {} */

/* Home Feed Section */
/* div#container section.homefeed {} */
div#container section.homefeed div.head {justify-content:center;}
/* div#container section.homefeed div.head h2.head {} */
div#container section.homefeed article.issue {padding:1rem; margin-top:1rem;}
div#container section.homefeed article.issue h3.title {display:flex; flex-direction:row; justify-content:space-between; align-items:center; margin:0;}
/* div#container section.homefeed article.issue h3.title span.number {} */
/* div#container section.homefeed article.issue h3.title span.caption {} */
div#container section.homefeed article.issue p.description {margin:0;}
div#container section.homefeed article.issue ul.commentlist {list-style:none; padding:0; margin:0; margin-top:.5em; margin-left:1em;}
div#container section.homefeed article.issue ul.commentlist li.commentitem {margin-top:.25em;}
div#container section.homefeed article.issue ul.commentlist li.commentitem span.name {font-weight:bold;}
/* div#container section.homefeed article.issue ul.commentlist li.commentitem span.comment {} */
div#container section.homefeed article.issue form.newcomment {display:grid; margin-left:1em; margin-top:.375em;}
div#container section.homefeed article.issue form.newcomment textarea.fieldinput,
div#container section.homefeed article.issue form.newcomment input.fieldinput {font-family:inherit; /* font-size:inherit; */ font-size:.875em; resize:none; width:100%; max-width:16em; padding:.375em .875em; border:.125rem solid #0002; border-radius:.5rem;}

/* Navigation Table Section */
/* div#container section.navtable {} */
/* div#container section.navtable div.head {} */
div#container section.navtable ul.navlist {list-style:none; /* text-align:center; */ padding:0; margin:0;}
div#container section.navtable ul.navlist {display:grid; grid-template-columns:repeat(5,1fr); margin-top:1em;}
/* div#container section.navtable ul.navlist li.navitem {} */
div#container section.navtable ul.navlist li.navitem a.navlink {color:inherit; text-decoration:none;}
div#container section.navtable ul.navlist li.navitem a.navlink {display:flex; flex-direction:column; align-items:center; font-size:.875em;}
div#container section.navtable ul.navlist li.navitem a.navlink svg.icon {font-size:2.5em;}
/* div#container section.navtable ul.navlist li.navitem a.navlink span.caption {} */





/* Tablet Screen */
@media screen and (max-width:64rem) {
	
	/* Navbar */
	/* Navbar Menu */
	/* Navbar User Menu */
	/* Navbar Table Menu */
	
	/* General Section */
	div#container section {max-width:100%;}
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {
	
	/* Navbar */
	/* div#container nav.navbar {} */
	/* div#container nav.navbar div.bin {} */
	/* Navbar Menu */
	/* div#container nav.navbar div.bin div.navmenu ul.navlist {} */
	/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem {} */
	/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink {} */
	/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink svg.icon {font-size:1.5em;} */
	/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink span.caption {display:none;} */
	/* Navbar User Menu */
	/* Navbar Table Menu */

	/* General Section */
	/* div#container section {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Navbar */
	/* div#container nav.navbar {} */
	/* div#container nav.navbar div.bin {} */
	/* div#container nav.navbar div.bin a.homebtn {} */
	/* div#container nav.navbar div.bin a.togglebtn {display:block;} */
	div#container nav.navbar div.bin a.homebtn h1.head {font-size:1.25em;}
	/* Navbar Menu */
	/* Navbar User Menu */
	/* Navbar Table Menu */

	/* General Section */
	/* div#container section {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:20rem) {

	/* Navbar */
	/* div#container nav.navbar {} */
	div#container nav.navbar div.bin {flex-direction:column;}
	/* Navbar Menu */
	/* Navbar User Menu */
	/* Navbar Table Menu */

	/* General Section */
	/* div#container section {} */
}
