


/* Container */
/* body {} */
/* div#container {} */




/* General Section */
div#container section {padding:1rem;}
/* div#container section {transform:translateY(-4rem);} */
/* div#container section.gone {transform:none;} */
div#container section.float {position:fixed; top:45%; left:50%; transform:translate(-50%,-50%);}
/* div#container section.float::after {position:fixed; inset:0;} */
/* div#container section.float::after {background-color:#0004; content:'';} */


/* General Section: Header */
div#container section div.headbar h2.headline {display:flex; flex-direction:row; align-items:center;}
/* div#container section div.headbar h2.headline {text-align:center;} */
div#container section div.headbar h2.headline a.selflink {display:flex; flex-direction:row; align-items:center;}
div#container section div.headbar h2.headline a.selflink {color:inherit; text-decoration:none; overflow:hidden;}
div#container section div.headbar h2.headline svg.icon {font-size:1.25em; margin-right:.25em;}
div#container section div.headbar h2.headline span.caption {overflow:hidden; text-overflow:ellipsis;}
div#container section div.headbar h2.headline span.caption:empty {background-color:gainsboro; display:inline-block; height:1em; width:6em; border-radius:1em;}


/* General Section: Head */
div#container section div.headbar button.btn {--btnspace:2rem;}
div#container section div.headbar button.newbtn {margin-left:var(--btnspace);}
div#container section div.headbar button.backbtn {margin-right:var(--btnspace);}






/* Small Smartphone Screen */
@media screen and (max-width:32rem) {
	
	/* General Section */
	/* div#container section {} */
	/* div#container section div.headbar {} */
	div#container section div.headbar button.btn {--btnspace:1rem;}
}
