


/* User Chooser Section */
/* div#container section.user {} */

/* User Chooser Section: User Data Form */
/* div#container section.user form.crudform.user {} */
/* div#container section.user form.crudform.user div.action {} */
div#container section.user form.crudform.user div.action div.btnbox {display:grid; grid-template-columns:repeat(4,1fr); grid-gap:.25rem;}
/* div#container section.user form.crudform.user ul.fieldlist {} */
div#container section.user form.crudform.user ul.fieldlist li.field {position:relative;}
div#container section.user form.crudform.user ul.fieldlist li.field label.label {position:absolute; left:0; top:50%; transform:translateY(-50%);}
div#container section.user form.crudform.user ul.fieldlist li.field label.label {color:initial; padding:0 .625em;}
div#container section.user form.crudform.user ul.fieldlist li.field label.label svg.icon {display:block;}
div#container section.user form.crudform.user ul.fieldlist li.field input.fieldinput {padding-left:2.25em; outline:none;}
div#container section.user form.crudform.user ul.fieldlist li.field input.fieldinput:focus {background-color:rgb(241, 241, 137);}

/* User Chooser Section: Switcher */
div#container section.user div.switcher {display:flex; flex-flow:row wrap; justify-content:center; grid-gap:0 .375em;}
div#container section.user div.switcher {font-size:.875em; text-align:center; margin-top:.75rem;}
div#container section.user div.switcher.c {flex-flow:column nowrap;}
div#container section.user div.switcher a.link {color:var(--linkcolor); text-decoration:none;}
/* div#container section.user div.switcher span.caption {} */
