
:root {
	--black:#333;
	--darkgrey:#999;
	--grey:#AAA;
	--lightgrey:#E8E8E8CC;
}




* {box-sizing:border-box;}




body {font-family:sans-serif; margin:0;}




/* Slider Container */

div#container {display:flex; flex-direction:row; align-items:stretch; height:100vh;}
div#container {background-color:#CCC; /* background:#1fc8db linear-gradient(141deg,#9fb8ad 0%,#1fc8db 51%,#2cb5e8 75%); */ padding:1rem;}

div#container main {width:100%; max-width:24rem; max-height:100%; margin:0 auto;}
div#container main {overflow:hidden;}

div#container main div.innermain {height:100%; width:200%; display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container main div.innermain {transform:none; transition:250ms;}
div#container main div.innermain.open {transform:translateX(-50%);}

div#container main div.innermain article {height:100%; width:100%; max-height:100%; max-width:24rem; border-radius:.5rem; overflow:hidden;}
/* div#container main div.innermain article.home {} */
/* div#container main div.innermain article.thread {} */




/* Home Page */

div#container main article.home {background-color:white; display:flex; flex-direction:column; justify-content:flex-start; align-items:stretch;}

div#container main article.home header.header {flex-shrink:0; padding:0 2rem; margin-top:.25rem;}
div#container main article.home header.header div.inner {display:flex; flex-direction:row; align-items:center; padding:1rem 0;}
div#container main article.home header.header div.inner {border-bottom:1px solid var(--lightgrey);}
div#container main article.home header.header div.inner div.user {flex-grow:1; display:flex; flex-direction:row; align-items:center;}
div#container main article.home header.header div.inner div.user div.avatar {background-color:#0004; flex-grow:0; height:3rem; width:3rem; border-radius:50%; overflow:hidden;}
div#container main article.home header.header div.inner div.user div.avatar img {height:100%; width:100%;}
div#container main article.home header.header div.inner div.user div.remainder {flex-grow:1; margin-left:.75rem;}
div#container main article.home header.header div.inner div.user div.remainder div.name {color:var(--black); font-size:1.25rem; font-weight:400;}
div#container main article.home header.header div.inner div.user div.remainder div.status {color:var(--black); font-size:1rem; font-weight:300; margin-top:.375rem;}

div#container main article.home header.header div.inner div.user div.remainder div.status:before {content:''; display:inline-block; min-height:.75rem; min-width:.75rem; border-radius:50%; background-color:var(--lightgrey); margin-right:.45rem;}
div#container main article.home header.header div.inner div.user.active div.remainder div.status:before {background-color:forestgreen;}
div#container main article.home header.header div.inner div.user div.remainder div.status::after {content:'Offline';}
div#container main article.home header.header div.inner div.user.active div.remainder div.status::after {content:'Online';}

div#container main article.home header.header div.inner div.logoutbtn {background-color:var(--black); color:white; font-size:1rem; padding:.65rem 1rem; border-radius:.5rem;}
div#container main article.home header.header div.inner div.logoutbtn {cursor:pointer; user-select:none;}
div#container main article.home header.header div.inner div.logoutbtn span.caption {display:block; margin-top:.125rem;}

div#container main article.home section.contacts div.search {display:flex; flex-direction:row; align-items:stretch; /* padding:0 2rem; */ margin:.75rem 0 .125rem; position:relative;}
div#container main article.home section.contacts div.search input#searchquery {flex-grow:1; font-family:inherit; font-size:inherit; padding:.5rem 1rem .375rem; border:1px solid var(--darkgrey); border-radius:.5rem 0 0 .5rem; outline:none;}
div#container main article.home section.contacts div.search div.btn.closebtn {flex-grow:0; display:grid; place-items:center; background-color:var(--black); color:white; cursor:pointer;}
div#container main article.home section.contacts div.search div.btn.closebtn {min-width:2.75rem; min-height:2.5rem; border-radius:0 .5rem .5rem 0;}

div#container main article.home section.contacts div.search div.overlay {position:absolute; top:0; left:0; height:100%; width:100%; background-color:#FFF; /* padding:0 2rem; */}
div#container main article.home section.contacts div.search div.overlay {display:flex; flex-direction:row; align-items:center;}
div#container main article.home section.contacts div.search div.overlay {visibility:visible; opacity:1; transition:.125s;}
div#container main article.home section.contacts div.search.active div.overlay {visibility:hidden; opacity:0;}
div#container main article.home section.contacts div.search div.overlay div.message {flex-grow:1; font-size:1rem; font-weight:200; padding:.5rem .25rem .375rem; user-select:none;}
div#container main article.home section.contacts div.search div.overlay div.btn.searchbtn {flex-grow:0; display:grid; place-items:center; background-color:white; color:var(--black); cursor:pointer;}
div#container main article.home section.contacts div.search div.overlay div.btn.searchbtn {min-width:2.75rem; min-height:2.5rem; border-radius:0 .5rem .5rem 0;}

div#container main article.home section.contacts {padding:0 2rem; overflow:auto;}
div#container main article.home section.contacts ul.contactlist {list-style:none; padding:0; margin:0;}
div#container main article.home section.contacts ul.contactlist:empty::after {content:'No users are available to chat'; display:block; padding:1rem 0;}
div#container main article.home section.contacts ul.contactlist li.contactitem {display:flex; flex-direction:row; align-items:center; padding:1rem 0; border-bottom:1px solid var(--lightgrey);}
div#container main article.home section.contacts ul.contactlist li.contactitem {cursor:pointer; user-select:none;}
/* div#container main article.home section.contacts ul.contactlist li.contactitem {background-color:white; transition:.125s;} */
/* div#container main article.home section.contacts ul.contactlist li.contactitem:hover {background-color:#EEE;} */
div#container main article.home section.contacts ul.contactlist li.contactitem div.avatar {background-color:#0004; flex-grow:0; height:2.5rem; width:2.5rem; border-radius:50%; overflow:hidden;}
div#container main article.home section.contacts ul.contactlist li.contactitem div.avatar img {height:100%; width:100%;}
div#container main article.home section.contacts ul.contactlist li.contactitem div.remainder {flex-grow:1; margin-left:.75rem;}
div#container main article.home section.contacts ul.contactlist li.contactitem div.remainder div.name {color:var(--black); font-size:1rem; font-weight:400;}
div#container main article.home section.contacts ul.contactlist li.contactitem div.remainder div.preview {color:var(--darkgrey); font-size:.875rem; font-weight:300; margin-top:.25rem;}
div#container main article.home section.contacts ul.contactlist li.contactitem div.remainder div.preview:empty::after {content:'No message available';}
div#container main article.home section.contacts ul.contactlist li.contactitem div.status {flex-grow:0;}
div#container main article.home section.contacts ul.contactlist li.contactitem div.status::after {content:''; display:block; min-height:.75rem; min-width:.75rem; border-radius:50%; background-color:var(--lightgrey);}
div#container main article.home section.contacts ul.contactlist li.contactitem.active div.status::after {background-color:forestgreen;}




/* Thread Page */

div#container main article.thread {display:flex; flex-direction:column; justify-content:flex-end; align-items:stretch;}


/* Header Section */

div#container main article.thread header.header {flex-shrink:0; background-color:white; border-bottom:1px solid var(--lightgrey);}
div#container main article.thread header.header {display:flex; flex-direction:row; align-items:center; padding:.75rem;}

div#container main article.thread header.header div.backbtn {display:grid; place-items:center; font-size:2.5rem; margin-right:1rem;}
div#container main article.thread header.header div.backbtn {cursor:pointer; user-select:none;}

div#container main article.thread header.header div.recipient {flex-grow:1; display:flex; flex-direction:row; align-items:center;}
div#container main article.thread header.header div.recipient div.avatar {background-color:#0004; flex-grow:0; height:3rem; width:3rem; border-radius:50%; overflow:hidden;}
div#container main article.thread header.header div.recipient div.avatar img {height:100%; width:100%;}
div#container main article.thread header.header div.recipient div.remainder {flex-grow:1; margin-left:.75rem;}
div#container main article.thread header.header div.recipient div.remainder div.name {color:var(--black); font-size:1.25rem; font-weight:400;}
div#container main article.thread header.header div.recipient div.remainder div.status {color:var(--black); font-size:1rem; font-weight:300; margin-top:.375rem;}
div#container main article.thread header.header div.recipient div.remainder div.status:before {content:''; display:inline-block; min-height:.75rem; min-width:.75rem; border-radius:50%; background-color:var(--lightgrey); margin-right:.45rem;}
div#container main article.thread header.header div.recipient.active div.remainder div.status:before {background-color:forestgreen;}
div#container main article.thread header.header div.recipient div.remainder div.status::after {content:'Offline';}
div#container main article.thread header.header div.recipient.active div.remainder div.status::after {content:'Online';}


/* Message History Section */

div#container main article.thread section#history {flex-grow:1; background-color:var(--lightgrey); padding:1rem; padding-top:0;}
div#container main article.thread section#history {overflow:auto; scrollbar-width:none; scroll-behavior:smooth;}
/* div#container main article.thread section#history {display:flex; flex-direction:column; justify-content:center; align-items:stretch; min-height:100%;} */

div#container main article.thread section#history div.inner:empty {display:grid; place-items:center; text-align:center;}
div#container main article.thread section#history div.inner:empty:before {content:'No messages are available. Once you send messages they will appear here.'; line-height:1.5; width:100%; max-width:20rem; margin:0 auto;}

div#container main article.thread section#history div.inner div.msg-group {filter:drop-shadow(#0001 0 .25rem .375rem); margin-top:2rem;}
div#container main article.thread section#history div.inner div.msg-group div.timestamp {color:var(--grey); font-size:.675rem; text-align:center; margin:1rem 0;}

div#container main article.thread section#history div.inner div.msg-group div.content {display:flex;}
div#container main article.thread section#history div.inner div.msg-group.r div.content {/* align-self:flex-start; */ flex-direction:row;}
div#container main article.thread section#history div.inner div.msg-group.s div.content {/* align-self:flex-end; */ flex-direction:row-reverse;}
div#container main article.thread section#history div.inner div.msg-group div.content div.avatar {flex-grow:0; padding:0 .5rem;}
div#container main article.thread section#history div.inner div.msg-group div.content div.avatar {display:flex; flex-direction:column; justify-content:flex-end;}
div#container main article.thread section#history div.inner div.msg-group div.content div.avatar img {max-width:2rem; max-height:2rem; border-radius:50%; filter:grayscale(.25);}

div#container main article.thread section#history div.inner div.msg-group div.content div.msgs {flex-grow:1;}
div#container main article.thread section#history div.inner div.msg-group div.content div.msgs {position:relative; display:flex; flex-direction:column;}
div#container main article.thread section#history div.inner div.msg-group.r div.content div.msgs {align-items:flex-start;}
div#container main article.thread section#history div.inner div.msg-group.s div.content div.msgs {align-items:flex-end;}

div#container main article.thread section#history div.inner div.msg-group div.content div.msgs div.bubble {font-weight:200; border-radius:1.25rem; padding:.65rem .85rem .5rem; margin-top:.15rem;}
div#container main article.thread section#history div.inner div.msg-group.r div.content div.msgs div.bubble {background-color:white; color:black; border-radius:.25rem 1.25rem 1.25rem .25rem;}
div#container main article.thread section#history div.inner div.msg-group.r div.content div.msgs div.bubble:last-child {border-radius:.25rem 1.25rem 1.25rem 1.25rem;}
div#container main article.thread section#history div.inner div.msg-group.r div.content div.msgs div.bubble:first-child {border-radius:1.25rem 1.25rem 1.25rem .25rem;}
div#container main article.thread section#history div.inner div.msg-group.s div.content div.msgs div.bubble {background-color:var(--black); color:white; border-radius:1.25rem .25rem .25rem 1.25rem;}
div#container main article.thread section#history div.inner div.msg-group.s div.content div.msgs div.bubble:last-child {border-radius:1.25rem .25rem 1.25rem 1.25rem;}
div#container main article.thread section#history div.inner div.msg-group.s div.content div.msgs div.bubble:first-child {border-radius:1.25rem 1.25rem .25rem 1.25rem;}
div#container main article.thread section#history div.inner div.msg-group div.content div.msgs div.bubble span.caption {line-height:1.25; font-size:.875rem;}
div#container main article.thread section#history div.inner div.msg-group div.content div.msgs div.bubble span.timestamp {position:absolute; left:0; top:50%; transform:translate(-100%,-50%);}


/* Message Composer Section */

div#container main article.thread section.composer {flex-shrink:0; background-color:var(--lightgrey); min-height:3rem; padding:.125rem; padding-top:0;}
div#container main article.thread section.composer {display:flex; flex-direction:row; align-items:stretch;}

div#container main article.thread section.composer div.btn {flex-grow:0; display:grid; place-items:center; min-height:2.5rem; background-color:var(--black); color:white; cursor:pointer;}
div#container main article.thread section.composer div.btn.sendbtn {min-width:2.75rem; border-radius:0 .5rem .5rem 0; padding-right:.125rem;}
div#container main article.thread section.composer div.btn.mediabtn {min-width:2.5rem; border-radius:50%; margin-right:.5rem; display:none; /* background-color:white; color:black; border-color:transparent; */}
div#container main article.thread section.composer div.btn svg.icon {font-size:1.25rem;}
div#container main article.thread section.composer input#newmessage {flex-grow:1; font-size:inherit; font-family:inherit; padding:.5rem 1rem; border:1px solid var(--darkgrey); border-radius:.5rem 0 0 .5rem; outline:none;}


