


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* Theme Color */
	--royalblue:#2E61E0;

	/* Light Colors */
	--white:#F8F8F8;
	--offwhite:#E7E9EB;
	--whitesheet:#F8F8F8AA;
	--whiteglass:#F8F8F844;
	--whiteglasss:#F8F8F822;

	/* Dark Colors */
	--lightblack:#333;
	--lightblack2:#222;
	--blacksheet:#222C;
	--blackglass:#2223;
	--blackglasss:#2222;

	/* Page Sizes */
	--pagewidth:75rem;
	/* --pagewidth:100rem; */
	--cornersize:.5rem;
	--headerheight:5rem;

	/* Box Shadows */
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
	--boxshadowx:rgba(0,0,0,0.25) 0 0.25rem .75rem 0;
	
	/* --bgimg:linear-gradient(135deg,dodgerblue,magenta); */
}

body {

	--backcolor:var(--white);
	--backcolor2:var(--offwhite);
	--forecolor:var(--lightblack);
	--forecolor2:grey;
	--sheetcolor:var(--whitesheet);

	--navcolor:var(--blackglass);
	--themebtnhovercolor:var(--blackglasss);

	--grpbackcolor:var(--whitesheet);
	--linkbackcolor:var(--offwhite);
	--linkbackcolorhover:var(--blacksheet);
	--linkforecolor:var(--lightblack);
	--linkforecolorhover:white;
}

body.dark {
	
	--backcolor:var(--lightblack);
	--backcolor2:var(--lightblack2);
	--forecolor:white;
	--forecolor2:lightgrey;
	--sheetcolor:var(--blacksheet);

	--navcolor:var(--whiteglass);
	--themebtnhovercolor:var(--whiteglasss);

	--grpbackcolor:var(--blacksheet);
	--linkbackcolor:var(--lightblack);
	--linkbackcolorhover:white;
	--linkforecolor:var(--offwhite);
	--linkforecolorhover:var(--blacksheet);
}



/* html {background-image:var(--bgimg);} */
body {background-color:var(--backcolor2); color:var(--forecolor); font-family:Nunito,sans-serif; margin:0;}
.freeze {overflow:hidden;}



/* Main Container */
div#container {background-color:var(--backcolor); color:var(--forecolor);}
div#container {display:flex; flex-direction:column; justify-content:flex-start; align-items:stretch; min-height:100vh;}



/* Navbar */
div#container nav.navbar {position:fixed; top:0; right:0; left:0; width:100%; min-height:var(--headerheight); z-index:30; box-shadow:var(--boxshadowx);}
div#container nav.navbar {background-color:var(--navcolor); background-color:var(--royalblue); color:white; width:100%; padding:.75rem 1.5rem;}
div#container nav.navbar div.bin {display:flex; flex-direction:row; justify-content:space-between; align-items:center; height:100%; max-width:var(--pagewidth); margin:0 auto;}
div#container nav.navbar div.bin a.brand {display:flex; flex-direction:row; align-items:center; font-size:2rem; margin:0;}
div#container nav.navbar div.bin a.brand img.logo {height:1.75em;}
div#container nav.navbar div.bin a.brand svg.icon {display:none;}
div#container nav.navbar div.bin a.brand span.caption {display:none; margin-left:.375rem;}
div#container nav.navbar div.bin div.navmenu {flex-grow:1;}
div#container nav.navbar div.bin div.navmenu {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
/* div#container nav.navbar div.bin div.navmenu ul.navlist.l {} */
div#container nav.navbar div.bin div.navmenu ul.navlist.m {/* flex-grow:1; */ justify-content:flex-end;}
/* div#container nav.navbar div.bin div.navmenu ul.navlist.r {border-left:1px solid var(--whiteglass);} */
div#container nav.navbar div.bin div.navmenu ul.navlist {display:flex; flex-direction:row; align-items:center; list-style:none; padding:0; margin:0; margin-left:1.25rem;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem {font-size:1.25rem; margin-left:1rem;}
/* div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem {margin:0 .5rem;} */
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink {color:inherit; text-decoration:none;}
div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem a.navlink svg.icon {display:block;}
div#container nav.navbar div.bin div.themetoggler {position:relative; font-size:1.25rem; margin-left:2rem;}
div#container nav.navbar div.bin div.themetoggler div.themebtn {display:flex; flex-direction:row; align-items:center; cursor:pointer; user-select:none;}
/* div#container nav.navbar div.bin div.themetoggler div.themebtn svg.icon {} */
div#container nav.navbar div.bin div.themetoggler div.themebtn svg.icon.arrowdown {font-size:.625em; margin-left:.25rem;}
div#container nav.navbar div.bin div.themetoggler ul.themelist {display:none; position:absolute; right:0; top:100%;}
div#container nav.navbar div.bin div.themetoggler ul.themelist {background-color:var(--backcolor); list-style:none; padding:0; padding:.125rem .25rem; border-radius:.5rem; margin:0; margin-top:.5rem; box-shadow:var(--boxshadow);}
div#container nav.navbar div.bin div.themetoggler ul.themelist.open {display:block;}
/* div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem {} */
div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem a.themelink {font-size:.875rem; height:2.375em; width:8em; padding:0 1rem; border-radius:.375rem; margin:.125rem 0;}
div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem a.themelink {color:inherit; color:var(--forecolor); text-decoration:none; display:flex; flex-direction:row; justify-content:flex-start; align-items:center;}
div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem a.themelink:hover {background-color:var(--themebtnhovercolor);}
div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem a.themelink.active {background-color:var(--forecolor); color:var(--backcolor);}
div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem a.themelink.active {background-color:var(--royalblue); color:white; font-weight:bold;}
/* div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem a.themelink svg.icon {} */
div#container nav.navbar div.bin div.themetoggler ul.themelist li.themeitem a.themelink span.caption {margin-left:.75rem;}
div#container nav.navbar div.bin div.navtoggler {display:none; cursor:pointer;}
div#container nav.navbar div.bin div.navtoggler svg.icon {display:block; font-size:2.5rem;}


/* General Section */
/* div#container section {background-color:#FFF1;} */
div#container section {padding:1.75rem; border-radius:.5rem; margin-top:3rem; /* box-shadow:var(--boxshadow); */}
div#container section div.grid {width:100%; max-width:var(--pagewidth); margin:0 auto;}


/* Footer */
div#container footer.footer {background-color:var(--backcolor2); width:100%; padding:5rem 1.5rem 10rem; margin-top:4rem;}
/* div#container footer.footer div.grid {display:flex; flex-direction:row;} */
div#container footer.footer div.grid {display:grid; grid-template-columns:repeat(5,1fr); grid-template-areas:'g g a b c'; max-width:var(--pagewidth); margin:0 auto;}
div#container footer.footer div.grid div.listbox {flex-basis:0; flex-grow:1; flex-shrink:0; /* padding:1rem; */ margin-right:2rem;}
div#container footer.footer div.grid div.listbox.g {grid-area:g; flex-grow:2;}
div#container footer.footer div.grid div.listbox.x {display:none;}
div#container footer.footer div.grid div.listbox h1.head {color:var(--forecolor); font-size:1.75rem; margin:0; margin-top:2rem;}
div#container footer.footer div.grid div.listbox h2.head {color:var(--forecolor); font-size:1.375rem; /* white-space:nowrap; */ margin:0; margin-top:2rem;}
div#container footer.footer div.grid div.listbox p.textcopy {color:var(--forecolor2); margin:0; margin-top:.5rem;}
div#container footer.footer div.grid div.listbox ul.navlist {list-style:none; padding:0; margin:0;}
div#container footer.footer div.grid div.listbox ul.navlist li.navitem {color:var(--forecolor2); margin-top:.5rem;}
div#container footer.footer div.grid div.listbox ul.navlist li.navitem a.navlink {color:inherit; font-size:1.25rem; text-decoration:none; white-space:nowrap;}





/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Navbar */
	/* div#container nav.navbar {} */

	/* General Section */

	/* Footer */
	/* div#container footer.footer {} */
	div#container footer.footer div.grid {grid-template-columns:repeat(3,1fr); grid-template-areas:'g g a' 'b c d';}
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Navbar */
	/* div#container nav.navbar {position:relative;} */
	/* div#container nav.navbar div.bin {display:grid; grid-template-columns:repeat(3,1fr);} */
	/* div#container nav.navbar div.bin > * {flex-basis:0; flex-grow:1;} */
	div#container nav.navbar div.bin div.navmenu {flex-direction:row; flex-wrap:wrap;}
	div#container nav.navbar div.bin div.navmenu/*  ul.navlist.l */ {position:absolute; top:100%; left:0; width:100%; max-width:var(--pagewidth); margin:0 auto;}
	div#container nav.navbar div.bin div.navmenu/*  ul.navlist.l */ {background-color:var(--royalblue); z-index:-1; padding:1rem 2rem;}
	div#container nav.navbar div.bin div.navmenu/*  ul.navlist.l */ {opacity:0; visibility:hidden; transform:translateY(-2rem);}
	div#container nav.navbar div.bin div.navmenu.active/*  ul.navlist.l */ {opacity:1; visibility:visible; transform:translateY(0); transition:.25s;}
	div#container nav.navbar div.bin div.navmenu ul.navlist {margin:0;}
	div#container nav.navbar div.bin div.navmenu ul.navlist.l {flex-direction:column; width:100%;}
	div#container nav.navbar div.bin div.navmenu ul.navlist.m {justify-content:center; margin:.5rem auto;}
	/* div#container nav.navbar div.bin div.navmenu ul.navlist.r {justify-content:flex-end; border-left:0 none;} */
	div#container nav.navbar div.bin div.navmenu ul.navlist li.navitem {font-size:1.5rem; padding:.75rem; margin:0;}
	div#container nav.navbar div.bin div.navtoggler {display:block;}
	div#container nav.navbar div.bin div.themetoggler{margin-left:0;}

	/* General Section */

	/* Footer */
	/* div#container footer.footer {} */
	/* div#container footer.footer div.grid {flex-direction:column; align-items:center; text-align:center;} */
	div#container footer.footer div.grid {grid-template-columns:repeat(2,1fr); grid-template-areas:'g g' 'a b' 'c d';}
}

/* Medium Smartphone Screen */
@media screen and (max-width:36rem) {

	/* Navbar */
	/* div#container nav.navbar {} */

	/* General Section */
	
	/* Footer */
	/* div#container footer.footer {} */
	/* div#container footer.footer div.grid {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:30rem) {

	/* Navbar */
	/* div#container nav.navbar {} */

	/* General Section */

	/* Footer */
	/* div#container footer.footer {} */
	/* div#container footer.footer div.grid {} */
}
