


/* Overlay */

div#overlay {position:fixed; top:0; right:0; bottom:0; left:0; height:100%; width:100%;}
div#overlay {background-color:var(--emptycolor3); display:grid; place-items:center; padding:1rem;}
div#overlay {opacity:0; visibility:hidden; transform:scale(1.125); transition:.25s;}
div#overlay.active {opacity:1; visibility:visible; transform:none; transition:.5s;}

div#overlay aside.bg {content:''; cursor:pointer; position:absolute; height:100%; width:100%; z-index:-1;}
div#overlay main.main {background-color:var(--emptycolor); position:relative; padding:2rem .25rem; border-radius:var(--cornersize);}
div#overlay main.main {display:flex; flex-direction:row; justify-content:space-between; align-items:center; grid-gap:1rem; /* height:80%; */ /* width:100%; */ max-width:32rem;}


/* Overlay Display */

div#overlay main.main div.display {display:flex; flex-direction:column; align-items:center; overflow-x:auto; grid-gap:.25rem; text-align:center; /* width:100%; max-width:12rem; */}

div#overlay main.main div.display span.scalename {font-size:1.875rem; font-weight:bold; /* margin-bottom:.125rem; */}

div#overlay main.main div.display span.scalekeys {display:flex; flex-direction:row; align-items:center; font-size:1.375rem; /* font-size:.75em; */ white-space:nowrap;}
div#overlay main.main div.display span.scalekeys span.key {color:inherit; /* cursor:pointer; */ user-select:none; margin:0 .25rem; transition:.125s;}
div#overlay main.main div.display span.scalekeys span.key.on {color:var(--blue); font-weight:bold; transform:scale(2); transition:.5s;}

div#overlay main.main div.display div.pianokeys {background-color:var(--blue); overflow-x:auto; /* padding:.25rem; */ border:.125rem solid var(--fillcolor2); margin-top:.5rem;}
div#overlay main.main div.display div.pianokeys div.inner {display:flex; flex-direction:row; justify-content:center;}
div#overlay main.main div.display div.pianokeys div.octave {display:flex; flex-direction:row; position:relative; /* margin:.25rem; */}
div#overlay main.main div.display div.pianokeys div.octave div.key {cursor:pointer; display:grid; place-items:center; position:relative; font-size:.5rem;}
div#overlay main.main div.display div.pianokeys div.octave div.key.white {background-color:whitesmoke; color:black; height:12em; width:3em; border:1px solid var(--fillcolor2); border-top:0 none; z-index:10;}
div#overlay main.main div.display div.pianokeys div.octave div.key.black {position:absolute; top:0; transform:translateX(-50%); z-index:20;}
div#overlay main.main div.display div.pianokeys div.octave div.key.black {background-color:black; color:whitesmoke; height:7em; width:2em; --cornersize:.5em; border:.125rem solid black; border-radius:0 0 var(--cornersize) var(--cornersize);}
div#overlay main.main div.display div.pianokeys div.octave div.key.black.p1 {left:calc(100% * 1/7);}
div#overlay main.main div.display div.pianokeys div.octave div.key.black.p2 {left:calc(100% * 2/7);}
div#overlay main.main div.display div.pianokeys div.octave div.key.black.p4 {left:calc(100% * 4/7);}
div#overlay main.main div.display div.pianokeys div.octave div.key.black.p5 {left:calc(100% * 5/7);}
div#overlay main.main div.display div.pianokeys div.octave div.key.black.p6 {left:calc(100% * 6/7);}
div#overlay main.main div.display div.pianokeys div.octave div.key::after {position:absolute; /* top:80%; */ bottom:1rem; left:50%; transform:translate(-50%,-50%);}
div#overlay main.main div.display div.pianokeys div.octave div.key::after {content:''; background-color:var(--blue); --dotsize:0; height:var(--dotsize); width:var(--dotsize); border-radius:50%;}
div#overlay main.main div.display div.pianokeys div.octave div.key::after {opacity:0; visibility:hidden;}
div#overlay main.main div.display div.pianokeys div.octave div.key.on::after {visibility:visible;}
div#overlay main.main div.display div.pianokeys div.octave div.key.white.on::after {--dotsize:1.5em; opacity:.625;}
div#overlay main.main div.display div.pianokeys div.octave div.key.black.on::after {--dotsize:1.25em; opacity:.875;}
div#overlay main.main div.display div.pianokeys div.octave div.key span.caption {position:absolute; bottom:0; left:50%; transform:translateX(-50%);}
div#overlay main.main div.display div.pianokeys div.octave div.key span.caption {font-size:.625rem; /* opacity:.875; */ user-select:none;}
div#overlay main.main div.display div.pianokeys div.octave div.key.black span.caption {visibility:hidden;}
div#overlay main.main div.display div.pianokeys {perspective:100rem; transform-style:preserve-3d;}
div#overlay main.main div.display div.pianokeys div.octave div.key {transform-origin:top; transition:.125s; --pressangle:-6deg;}
div#overlay main.main div.display div.pianokeys div.octave div.key:active {background-color:var(--blue);}
div#overlay main.main div.display div.pianokeys div.octave div.key.white:active {transform:rotateX(var(--pressangle));}
div#overlay main.main div.display div.pianokeys div.octave div.key.black:active {transform:translateX(-50%) rotateX(var(--pressangle));}
div#overlay main.main div.display div.pianokeys div.octave div.key:active:after {background-color:white;}
div#overlay main.main div.display div.pianokeys div.octave div.key.white:active:after {opacity:.625;}
div#overlay main.main div.display div.pianokeys div.octave div.key.black:active:after {opacity:.5;}

div#overlay main.main div.display div.scalecopier {margin-top:1.25rem;}
div#overlay main.main div.display div.scalecopier div.copybtn {background-color:grey; color:white; font-size:1rem; cursor:pointer; user-select:none; padding:.25rem .75rem; border-radius:.5rem;}


/* Overlay Buttons */

div#overlay main.main div.shiftbtn {cursor:pointer; display:flex; flex-direction:column; justify-content:center; height:10rem;}
div#overlay main.main div.shiftbtn svg.icon {display:block; font-size:2.5rem;}

div#overlay main.main div.closebtn {position:absolute; top:0; right:0;}
div#overlay main.main div.closebtn {cursor:pointer; font-size:2rem; font-weight:100; user-select:none; margin:.125em .5em;}





/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Overlay */

	/* Overlay Display */
	/* div#overlay main.main div.display span.scalename {font-size:1.5rem;} */
	/* div#overlay main.main div.display span.scalekeys {font-size:1.125rem;} */

	/* Overlay Buttons */
}

/* Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Overlay */

	/* Overlay Display */
	div#overlay main.main div.display span.scalename {font-size:1.375rem;}
	div#overlay main.main div.display span.scalekeys {font-size:1rem;}
	div#overlay main.main div.display div.pianokeys div.octave div.key {font-size:.375rem;}

	/* Overlay Buttons */
}
