
:root {
	--black:#333;
	--grey:#AAA;
	--lightgrey:#CCC;
	--lightlightgrey:#EEE;
}


* {box-sizing:border-box;}


body {font-family:sans-serif; margin:0;}


div#container {background-color:dodgerblue; min-height:100vh;}
div#container {display:grid; place-items:center;}
div#container {display:flex; flex-direction:row; justify-content:center; align-items:center;}


div#container main {background-color:white; width:100%; max-width:20rem; padding:1.5rem; border-radius:.25rem;}
div#container main#login {display:block;}
div#container main#signup {display:none;}
div#container.newuser main#login {display:none;}
div#container.newuser main#signup {display:block;}

div#container main h1.head {font-size:1.75rem; font-weight:400; padding-bottom:.75rem; border-bottom:1px solid var(--lightlightgrey); margin:0;}

div#container div.bar {display:flex; flex-direction:row; align-items:stretch;}
div#container div.bar div.space {flex:0 0 auto; width:.5rem;}

div#container div.input {border:1px solid transparent; margin-top:.5rem; position:relative; overflow:hidden;}

div#container div.input input {font-size:1rem; width:100%; padding:.75rem 1rem .75rem; border:1px solid; border-radius:.25rem; outline:none;}
div#container div.input input {border-color:var(--grey); transition:.15s;}
div#container div.input input:focus {border-color:black;}
div#container div.input label.placeholder {position:absolute; top:0; left:0; height:100%; width:100%;}
div#container div.input label.placeholder {font-size:1rem; font-weight:100; padding:0 1rem; padding-top:1rem; transition:.15s;}
div#container div.input label.placeholder {user-select:none; pointer-events:none;}
div#container div.input svg.icon {position:absolute; right:0; top:50%; transform:translateY(-50%);}
div#container div.input svg.icon {color:var(--lightgrey); margin:0 1rem;} 

div#container div.input input:focus,
div#container div.input.holdsvalue input {padding:1rem 1rem .5rem;}

div#container div.input input:focus + label.placeholder,
div#container div.input.holdsvalue label.placeholder {font-size:.7rem; padding-top:.35rem;}

div#container div.input button {background-color:var(--black); color:white; font-size:1rem; font-weight:100; letter-spacing:1px;}
div#container div.input button {width:100%; padding:.75rem 1rem; border:0 none; border-radius:.25rem;}

div#container p.textcopy {font-size:.875rem; font-weight:100; text-align:center; margin:0; margin-top:1.25rem;}
div#container p.textcopy a.switchlink {color:inherit; /* text-decoration:none; */}
