


body {font-family:Nunito,sans-serif; margin:0;}
div#container {min-height:100vh; box-sizing:border-box; background-color:#333; /*padding:70px 0;*/ font:15px/20px Arial,sans-serif; overflow:hidden;}
div#container div.carousel-container {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
div#container div.carousel-container {perspective:150rem; --size:12.5rem; height:var(--size); width:var(--size); margin:0 auto;}
div#container div.carousel-container div.carousel {height:100%; width:100%; position:absolute; transform-style:preserve-3d; transition:.5s;}
div#container div.carousel-container div.carousel div.item {display:block; color:#FFF; font-size:5em; text-align:center;}
div#container div.carousel-container div.carousel div.item {position:absolute; background-color:#000; height:100%; width:100%; line-height:var(--size); opacity:.75; border-radius:.625rem; transition:transform 1s; /*border:4px solid #000;*/}
div#container div.carousel-container div.carousel div.item.a {transform:rotateY(0deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.b {transform:rotateY(20deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.c {transform:rotateY(40deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.d {transform:rotateY(60deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.e {transform:rotateY(80deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.f {transform:rotateY(100deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.g {transform:rotateY(120deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.h {transform:rotateY(140deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.i {transform:rotateY(160deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.j {transform:rotateY(180deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.k {transform:rotateY(200deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.l {transform:rotateY(220deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.m {transform:rotateY(240deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.n {transform:rotateY(260deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.o {transform:rotateY(280deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.p {transform:rotateY(300deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.q {transform:rotateY(320deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.r {transform:rotateY(340deg) translateZ(37.5rem);}
div#container div.carousel-container div.carousel div.item.seed {transform:none;}
div#container div.carousel-container div.carousel div.item:nth-of-type(6n+1) {background-color:#ed1c24;}
div#container div.carousel-container div.carousel div.item:nth-of-type(6n+2) {background-color:#0072bc;}
div#container div.carousel-container div.carousel div.item:nth-of-type(6n+3) {background-color:#39b54a;}
div#container div.carousel-container div.carousel div.item:nth-of-type(6n+4) {background-color:#f26522;}
div#container div.carousel-container div.carousel div.item:nth-of-type(6n+5) {background-color:#630460;}
div#container div.carousel-container div.carousel div.item:nth-of-type(6n+6) {background-color:#8c6239;}
div#container div.btnBox div.btn {background-color:#CCC; color:#444; position:relative; top:100px; padding:1em 2em; cursor:pointer; border-radius:5px; border-top:1px solid #FFF; box-shadow:0 5px 0 #999; transition:box-shadow 0.1s, top 0.1s; display:inline-block;}
div#container div.btnBox div.btn:hover {color:#000;}
div#container div.btnBox div.btn:active {top:104px; box-shadow:0 1px 0 #999;}
div#container div.btnBox div.prev.btn {/*left:5em;*/ float:left;}
div#container div.btnBox div.next.btn {/*right:5em;*/ float:right;}
