


/* Music Player */

/* div#container main.player {} */
div#container main.player section.row {display:flex; flex-direction:row; justify-content:space-between; align-items:center; margin-top:.875rem;}
/* div#container main.player section.row div.cell {} */
div#container main.player section.row div.cell.ref {position:relative;}
div#container main.player section.row div.cell.grow {flex-grow:1; text-align:center;}
div#container main.player section.row div.cell div.flex {display:flex; flex-direction:row; justify-content:center; align-items:center;}

div#container main.player h1.head {color:var(--fillcolor); font-size:1rem; font-weight:100; margin:0;}
/* div#container main.player h1.head span.caption {} */
div#container main.player h1.head span.caption.paused {display:block; /* visibility:hidden; */}
div#container main.player h1.head span.caption.playing {display:none;}
div#container main.player audio.song {display:none;}
div#container main.player audio.song {position:fixed; bottom:0; left:50%; /* translate:-50%; */ transform:translateX(-50%); /* width:100%; */}
div#container main.player div.songdata {color:var(--fillcolor); font-weight:100; text-align:center; margin-top:.125rem;}
div#container main.player div.songdata.albumart {position:relative; padding-top:100%; cursor:pointer; transition:.5s scale;}
div#container main.player div.songdata.albumart img.albumart {display:block; position:absolute; top:0; height:100%; width:100%; object-fit:cover; border-radius:var(--cornersize);}
div#container main.player div.songdata.songtitle {font-size:1.25rem;}
div#container main.player div.songdata.albumname {font-size:.875rem;}
div#container main.player div.songdata.artistname {font-size:.875rem;}
div#container main.player div.songdata.albumart:empty {background-color:var(--fillcolor); height:12rem; width:12rem; border-radius:var(--cornersize); overflow:hidden;}
div#container main.player div.songdata.songtitle:empty::after {content:'[Unknown Song]';}
div#container main.player div.songdata.albumname:empty::after {content:'[Unknown Album]';}
div#container main.player div.songdata.artistname:empty::after {content:'[Unknown Artist]';}
/* div#container main.player div.songdata span.caption {} */
div#container main.player div.songdata span.caption:empty::after {content:'[Empty]';}
div#container main.player div.songdata.songtitle span.caption:empty::after {content:'[Unknown Song]';}
div#container main.player div.songdata.albumname span.caption:empty::after {content:'[Unknown Album]';}
div#container main.player div.songdata.artistname span.caption:empty::after {content:'[Unknown Artist]';}
div#container main.player.active h1.head span.caption.paused {display:none;}
div#container main.player.active h1.head span.caption.playing {display:block;}
div#container main.player.active div.songdata.albumart {scale:1.05;}
/* div#container main.player.active div.songdata.albumart img.albumart {scale:1.05;} */


/* General Button */
div#container main.player div.btn {color:var(--fillcolor); font-size:1rem; cursor:pointer; user-select:none; padding:0 .25rem;}
div#container main.player div.btn.lg {font-size:1.5rem;}
div#container main.player div.btn.xl {font-size:2.5rem;}
div#container main.player div.btn.pad {padding:.125rem .5rem;}
div#container main.player div.btn svg.icon {display:block;}

/* Repeat Button */
div#container main.player div.btn.repeatbtn {padding:.25rem;}
div#container main.player div.btn.repeatbtn svg.icon {color:var(--fillcolor2);}
div#container main.player div.btn.repeatbtn svg.icon.repeat1 {display:none;}
div#container main.player div.btn.repeatbtn svg.icon.repeatall {display:block;}
div#container main.player.repeatlist div.btn.repeatbtn svg.icon {color:var(--fillcolor);}
div#container main.player.repeatlist div.btn.repeatbtn svg.icon.repeat1 {display:none;}
div#container main.player.repeatlist div.btn.repeatbtn svg.icon.repeatall {display:block;}
div#container main.player.repeatsong div.btn.repeatbtn svg.icon {color:var(--fillcolor);}
div#container main.player.repeatsong div.btn.repeatbtn svg.icon.repeat1 {display:block;}
div#container main.player.repeatsong div.btn.repeatbtn svg.icon.repeatall {display:none;}

/* Shuffle Button */
div#container main.player div.btn.shufflebtn {padding:.25rem;}
div#container main.player div.btn.shufflebtn svg.icon {color:var(--fillcolor2);}
div#container main.player.shuffle div.btn.shufflebtn svg.icon {color:var(--fillcolor);}

/* Play/Pause Button */
/* div#container main.player div.btn.playbtn {} */
div#container main.player div.btn.playbtn svg.icon.play {display:block;}
div#container main.player div.btn.playbtn svg.icon.pause {display:none;}
div#container main.player.active div.btn.playbtn svg.icon.play {display:none;}
div#container main.player.active div.btn.playbtn svg.icon.pause {display:block;}

/* Speed Button */
/* div#container main.player div.btn.speedbtn {} */
div#container main.player div.btn.speedbtn span.caption {font-size:.75rem;}
div#container main.player div.btn.speedbtn span.caption::after {content:'x';}

/* Playlist Button */
div#container main.player div.btn.playlistbtn {background-color:transparent; padding:.25rem; border-radius:.25rem;}
div#container main.player div.btn.playlistbtn svg.icon {color:var(--fillcolor);}
div#container.open main.player div.btn.playlistbtn {background-color:var(--fillcolor);}
div#container.open main.player div.btn.playlistbtn svg.icon {color:var(--emptycolor);}

/* Volume Button */
div#container main.player div.btn.volumebtn {display:flex; flex-direction:column;}
div#container main.player div.btn.volumebtn.x {display:none;}
div#container main.player div.btn.volumebtn svg.icon {display:none; /* font-size:1.125rem; */}
div#container main.player div.btn.volumebtn svg.icon.volumelow {display:block;}
div#container main.player div.btn.volumebtn svg.icon.volumehigh {display:block;}
div#container main.player.muted div.btn.volumebtn svg.icon.volumemute {display:block;}


/* General Bar */
/* div#container main.player div.bar {background-color:var(--fillcolor2); height:.125rem; position:relative; border-radius:1rem;} */
/* div#container main.player div.bar {background-image:linear-gradient(to right , var(--fillcolor) , var(--fillcolor2) );} */
/* div#container main.player div.bar {display:flex; flex-direction:row; align-items:stretch; cursor:pointer;} */
/* div#container main.player div.bar div.ball {position:absolute; top:50%; left:var(--fillage); transform:translate(-50%,-50%);} */
/* div#container main.player div.bar div.ball {background-color:var(--fillcolor); height:var(--ballsize); width:var(--ballsize); border-radius:50%;} */
/* General Bar Filler */
/* div#container main.player div.bar {display:none;} */
/* div#container main.player div.bar {background-image:linear-gradient(to right , var(--fillcolor) var(--fillage) , var(--fillcolor2) var(--fillage) );} */
/* div#container main.player div.bar:before {content:''; position:absolute; top:0; bottom:0; height:100%;} */
/* div#container main.player div.bar:before {background-color:var(--fillcolor); left:0; width:var(--fillage);} */

/* Input Slider Bar */
/* div#container main.player input.slider {position:absolute; top:0; right:0; bottom:0; left:0; height:100%; width:100%; z-index:10;} */
div#container main.player input.slider {display:block; background-color:var(--fillcolor2); cursor:pointer; height:.125rem; width:100%; /* opacity:.75; */ border-radius:var(--cornersize); outline:none; margin:0;}
/* div#container main.player input.slider {display:none;} */
/* div#container main.player input.slider.seekbar {} */
/* div#container main.player input.slider.volumebar {} */
div#container main.player input.slider::-webkit-slider-thumb,
div#container main.player input.slider::-moz-range-thumb,
div#container main.player input.slider {-webkit-appearance:none; -moz-appearance:none; appearance:none; transition:.15s;}
div#container main.player input.slider::-webkit-slider-thumb,
div#container main.player input.slider::-moz-range-thumb {background-color:var(--fillcolor); cursor:pointer; --ballsize:.5rem; height:var(--ballsize); width:var(--ballsize); border-radius:50%;}

/* Song Progress Bar */
div#container main.player div.bar.seekbar {--fillage:0%;}
div#container main.player div.bar.seekbar div.ball {--ballsize:.325rem; transition:.125s;}
div#container main.player div.bar.seekbar div.ball:hover {--ballsize:.75rem;}
div#container main.player span.timestamp {font-size:.625rem;}

/* Volume Bar */
div#container main.player div.bar.volumebar {--fillage:0%;}
div#container main.player div.bar.volumebar div.ball {--ballsize:.75rem;}


/* Overflow Menu */
div#container main.player div.overflowmenu {opacity:0; visibility:hidden; transition:0;}
div#container.overflow main.player div.overflowmenu {opacity:1; visibility:visible; transition:.125s;}
div#container main.player div.overflowmenu {position:absolute; top:100%; left:50%; z-index:10;}
div#container main.player div.overflowmenu {background-color:var(--emptycolor); overflow:hidden; border-radius:var(--cornersize); border:.5px solid var(--fillcolor2);}
div#container main.player div.overflowmenu ul.overflowlist {list-style:none; padding:0; margin:0;}
div#container main.player div.overflowmenu ul.overflowlist li.overflowitem {display:flex; flex-direction:row; align-items:center; cursor:pointer; user-select:none; padding:.5rem 1rem;}
div#container main.player div.overflowmenu ul.overflowlist li.overflowitem:hover {background-color:var(--fillcolor2);}
div#container main.player div.overflowmenu ul.overflowlist li.overflowitem svg.icon {margin-right:.75rem;}
div#container main.player div.overflowmenu ul.overflowlist li.overflowitem span.caption {color:var(--fillcolor); font-size:.875rem;}






/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Music Player */
}

/* Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Music Player */
}
