@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');



* {box-sizing:border-box; /* padding:0; margin:0; */}



:root {
	--emptycolor:white;
	--fillcolor:#555;
	--fillcolor2:#CCC;
	--themecolor:dodgerblue;
	--cornersize:.375rem;
	--cornersizemini:2rem;
	--boxshadow:0 0 1rem #0002;
	/* --boxshadow:0 0 .25rem #0003; */
}



body.dark {
	--emptycolor:#555;
	--fillcolor:#EEE;
	--fillcolor2:#888;
	/* transition:.5s; */
}



html {background-color:var(--themecolor);}
body {background-color:var(--themecolor); font-family:Nunito,sans-serif; margin:0;}



/* General Container */

body {display:grid; place-items:center; min-height:100vh; padding:1rem;}
div#container {position:relative; width:100%; max-width:16rem; transition:.5s; transition-delay:.5s;}
/* div#container {display:flex; flex-direction:row; align-items:stretch;} */
div#container.open {transform:translateX(-50%);}

/* div#container main.player {width:100%; max-width:20rem;} */
div#container main.player,
div#container aside.playlist {background-color:var(--emptycolor); border:1px solid var(--fillcolor); border-radius:var(--cornersize); /* box-shadow:var(--boxshadow); */}
div#container main.player {position:relative; z-index:20; padding:1.5rem; transition:.5s background-color;}
div#container aside.playlist {position:absolute; z-index:10; top:0; right:0; height:100%; width:95%; transition:.5s; /* padding:1.125rem 0; */ border-left:0 none;}

div#container.open main.player {border-radius:var(--cornersize) 0 0 var(--cornersize);}
div#container.open aside.playlist {transform:translateX(100%); /* padding-left:.5rem; */ border-radius:0 var(--cornersize) var(--cornersize) 0;}





/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* General Container */
}

/* Smartphone Screen */
@media screen and (max-width:32rem) {

	/* General Container */
	/* div#container {} */
	div#container main.player,
	div#container aside.playlist {border:1px solid var(--fillcolor);}
	/* div#container main.player {} */
	div#container aside.playlist {top:auto; left:0; right:0; bottom:0; height:50%; width:100%; border-top:0 none;}
	div#container.open {transform:translateY(-50%);}
	div#container.open main.player {border-radius:var(--cornersize) var(--cornersize) 0 0;}
	div#container.open aside.playlist {transform:translateY(100%); border-radius:0 0 var(--cornersize) var(--cornersize);}
}

