
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');



* {box-sizing:border-box; /* padding:0; margin:0; */}



:root {
	
	/* Theme Colors */
	--grey:#AAA;
	--white:#f8f8f8;
	--darkgrey:#999;
	--offwhite:#E8E8E8CC;
	--lightgrey:#CCC;
	--black:#2c2c2c;
	--lightblack:#333;

	/* Gradient Background Image */
	/* --bgimg:linear-gradient(135deg,dodgerblue,white,wheat); */

	/* Page Sizes */
	--pagewidth:75rem;
	--cornersize:.5rem;
	--lilpagewidth:36rem;
	--minipagewidth:24rem;
	
	/* Box Shadows */
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
	--boxshadow:0 .5rem 3rem #0005;
	--lilboxshadow:0 .125rem .125rem #0002;
}



body {

	/* --backcolor:var(--offwhite); */
	--backcolor:white;
	--backcolor2:whitesmoke;
	/* --backcolor2:var(--white); */
	--forecolor:var(--lightblack);
	--forecolor2:var(--darkgrey);
}

body.dark {
	
	--backcolor:var(--lightblack);
	--backcolor2:var(--black);
	--forecolor:white;
	--forecolor2:var(--darkgrey);
}



/* body {background-color:var(--backcolor); color:var(--forecolor); background-image:var(--bgimg);} */
body {font-family:/* Montserrat, */Nunito,sans-serif; margin:0; /* overflow:hidden; */}
/* .freeze {overflow:hidden;} */



/* Main */
/* div#container {display:grid; place-items:center;} */
div#container {background-color:var(--backcolor); color:var(--forecolor); display:flex; flex-direction:column; justify-content:center; align-items:center; min-height:100vh; padding:2rem;}
/* div#container {height:-webkit-fill-available; height:-moz-fill-available; height:fill-available;} */

div#container main {background-color:var(--backcolor); width:100%; max-width:var(--pagewidth); height:100%; max-height:100%; overflow:hidden;}
div#container main {/* padding:1rem; */ /* border-radius:var(--cornersize); */ margin:0 auto; box-shadow:var(--boxshadow);}
div#container main {/* display:block; */ opacity:1; z-index:99;}
div#container main.gone {/* display:none; */ opacity:.25; z-index:1;}
/* div#container main#chatlist {} */
div#container main#userchooser {max-width:var(--lilpagewidth);}

/* Two-Pager */
div#container main#chatlist div.slider {display:flex; flex-direction:row; justify-content:center; align-items:stretch;}
div#container main#chatlist div.slider {height:100%; width:100%; /* transition:.5s transform; */}
div#container main#chatlist div.slider section.page {/* height:100%; */ max-height:100%; width:50%; /* max-width:24rem; */ overflow:hidden;}
/* div#container main#chatlist div.slider section.page#list {} */
/* div#container main#chatlist div.slider section.page#chat {} */





/* Tablet Screen */
@media screen and (max-width:64rem) {
	
	/*  */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Main */
	div#container main {--pagewidth:var(--minipagewidth); padding:1rem;}
	/* div#container main#chatlist {max-width:var(--minipagewidth);} */
	/* div#container main#userchooser {max-width:var(--minipagewidth);} */

	/* One-Pager */
	div#container main#chatlist div.slider {width:200%; transform:translateX(0); /* transition:5ms transform; */}
	div#container main#chatlist div.slider.open {transform:translateX(-50%);}
	div#container main#chatlist div.slider section.page {width:100%;}

	/*  */
	div#container main#userchooser div.slider section.page div.bar.sep {display:block;}
	div#container main#userchooser div.slider section.page div.bar.sep div.input {margin:.5rem 0;}
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/*  */
}
