
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap'); */



:root {
	--black:#333;
	--darkgrey:#999;
	--grey:#AAA;
	--lightgrey:#CCC;
	--offwhite:#E8E8E8CC;
}


* {box-sizing:border-box;}


body {font-family:Montserrat,Nunito,sans-serif; margin:0;}


/* Slider Container */
div#container {display:flex; flex-direction:row; align-items:stretch; height:100vh;}
div#container {background-color:var(--offwhite); background:#1fc8db linear-gradient(141deg,#9fb8ad 0%,#1fc8db 51%,#2cb5e8 75%); padding:1rem;}
div#container main {width:100%; max-width:60rem; max-height:100%; overflow:hidden; border-radius:.5rem; margin:0 auto;}
div#container main div.innermain {height:100%; display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container main div.innermain {width:100%;}
div#container main div.innermain article {height:100%; width:50%; max-height:100%; /* max-width:24rem; */ overflow:hidden;}
/* div#container main div.innermain article.home {} */
/* div#container main div.innermain article#chat {} */
/* div#container main div.innermain article.thread {} */



@media screen and (max-width:48rem) {

	div#container main {max-width:30rem;}

	div#container main div.innermain {width:200%; transform:translateX(0); /* transition:5ms transform; */}
	div#container main div.innermain.open {transform:translateX(-50%);}

	div#container main div.innermain article {width:100%;}
}
