
div#container img#diagram {display:block; width:100%; /*max-width:800px;*/}

div#container div.pageBox {position:relative; height:400px;}
div#container div.pageBox iframe {width:100%; height:100%; border:none;}
div#container div.pageBox a {display:block; width:100%; height:100%; box-sizing:border-box; padding-top:1em; background-color:rgba(0,0,0,0.75); position:absolute; top:0; left:0; text-align:center; font-size:1.5em; color:#FFF; text-decoration:none;}
div#container div.pageBox a small {display:block; color:#aaa;}
