
div#container {padding:.1rem; transition:padding .5s;}
div#container h1 {padding:.25rem; text-align:center;}
div#container table {border:1px solid #000; width:100%; box-sizing:border-box; text-align:center; /*border-collapse:separate;*/ margin:0;}
div#container table th,
div#container table td {text-align:center; border:1px solid #000;}
/*div#container table th,*/
div#container table td {padding:.5em; position:relative;}
div#container table td::before {position:absolute; top:0; left:50%; transform:translateX(-50%); font-size:.5em;}
div#container table td.circle {border:2px solid dodgerblue; border-radius:50%;}
div#container table td.circle::before {content:'birdie';}
div#container table td.square {border:2px solid dodgerblue;}
div#container table td.square::before {content:'bogey'}
div#container table button.btn {padding-top:0; padding-bottom:2px;}
div#container hr {border-width:.5px; margin:1em;}
div#container footer {text-align:center;}

@media screen and (min-width:576px) {
	div#container {padding:1.5rem;}
}