


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}



:root {

	/* Theme Colors */
	--themecolor:dodgerblue;
	--blacksheet:#0006;
	--whitesheet:#FFF8;
	--whiteglass:#FFF4;

	/* Numbers */
	--pagewidth:75rem;
	--cornersize:.25rem;

	/* xyz */
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
	--bgimg:linear-gradient(135deg,white,dodgerblue 15%,dodgerblue 85%,white);
}


html {background-color:var(--themecolor); background-image:var(--bgimg); background-repeat:no-repeat;}
body {font-family:Nunito,sans-serif; margin:0;}



div#container {/* display:grid; place-items:center; */ min-height:100vh; /* padding:1rem; */}


/* Navbar */
div#container nav.navbar {margin-bottom:2rem;}
div#container nav.navbar div.bin {display:flex; flex-direction:row; justify-content:space-between; align-items:center; max-width:var(--pagewidth); padding:1.5rem; border-bottom:1px solid var(--whiteglass); margin:0 auto;}
div#container nav.navbar div.bin a.brand {color:inherit; font-size:1.875rem; font-weight:bold; text-decoration:none;}
div#container nav.navbar div.bin a.brand {display:flex; flex-direction:row; align-items:center;}
div#container nav.navbar div.bin a.brand svg.icon {font-size:1.25em;}
div#container nav.navbar div.bin a.brand span.caption {font-size:1em; margin-left:.25em;}
div#container nav.navbar div.bin ul.navlist {list-style:none; padding:0; margin:0;}
div#container nav.navbar div.bin ul.navlist {display:flex; flex-direction:row; align-items:center;}
div#container nav.navbar div.bin ul.navlist li.navitem {padding:.5rem;}
div#container nav.navbar div.bin ul.navlist li.navitem a.navlink {display:block; color:white; font-weight:600; text-decoration:none;}
div#container nav.navbar div.bin ul.navlist li.navitem a.navlink:empty {background-color:gainsboro; height:1em; width:5em; opacity:.75; border-radius:1em;}



/* Page Content */
div#container section {width:100%; padding:0 2rem; margin-top:2rem;}
div#container section div.bin {max-width:var(--pagewidth); margin:0 auto;}


/* Page Content: Story Section */
/* div#container section.stories {} */
div#container section.stories div.bin {position:relative;}
div#container section.stories div.bin div.edge {position:absolute; top:50%;}
div#container section.stories div.bin div.edge.left {left:0; transform:translate(-50%,-50%);}
div#container section.stories div.bin div.edge.right {right:0; transform:translate(50%,-50%);}
div#container section.stories div.bin div.edge div.shiftbtn {background-color:white; cursor:pointer; transition:.25s; border-radius:50%;}
/* div#container section.stories div.bin div.edge.left div.shiftbtn {} */
div#container section.stories div.bin div.edge.left:hover div.shiftbtn {transform:translateX(-.25rem);}
/* div#container section.stories div.bin div.edge.right div.shiftbtn {} */
div#container section.stories div.bin div.edge.right:hover div.shiftbtn {transform:translateX(.25rem);}
div#container section.stories div.bin div.edge div.shiftbtn svg.icon {display:block; font-size:2rem;}
div#container section.stories div.bin div.inner {overflow:auto; scrollbar-width:none;}
div#container section.stories div.bin div.inner ul.postlist {list-style:none; padding:0; margin:0;}
div#container section.stories div.bin div.inner ul.postlist {display:flex; flex-direction:row; align-items:stretch; overflow:visible;}
div#container section.stories div.bin div.inner ul.postlist li.postitem {margin-right:1rem;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink {color:inherit; color:white; text-decoration:none;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink {background-size:cover; height:16rem; width:12rem; position:relative; overflow:hidden;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink {display:flex; flex-direction:column; justify-content:center; align-items:stretch; padding:1rem; border-radius:.5rem;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink::before {position:absolute; top:0; right:0; bottom:0; left:0; height:100%; width:100%;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink::before {background-color:var(--whitesheet);background-color:var(--blacksheet); content:'';}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink div.meta {display:flex; flex-direction:column; align-items:center; position:relative; text-align:center; margin:4.25rem 0;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink div.meta span.date {position:absolute; bottom:100%; margin-bottom:.5rem;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink div.meta span.date {font-size:.875rem;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink div.meta span.date:empty {background-color:gainsboro; height:1em; width:5em; border-radius:1em;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink div.meta span.title {font-size:1.375rem; font-weight:bold;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink div.meta span.title:empty {display:flex; flex-direction:column; align-items:center; width:100%;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink div.meta span.title:empty:before {background-color:gainsboro; content:''; height:1em; width:100%; border-radius:1em;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink div.meta span.title:empty::after {background-color:gainsboro; content:''; height:1em; width:75%; border-radius:1em; margin-top:.25em;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink div.author {position:absolute; /* right:0; */ bottom:0; left:50%; transform:translateX(-50%); max-width:100%;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink div.author {display:flex; flex-direction:row; align-items:center; justify-content:center; padding:1rem;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink div.author img.avatar {background-color:gainsboro; --size:2em; object-fit:cover; height:var(--size); width:var(--size); border-radius:50%; /* border:1px solid transparent; */}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink div.author span.name {/* flex-grow:1; */ white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin-left:.5rem;}
div#container section.stories div.bin div.inner ul.postlist li.postitem a.postlink div.author span.name:empty {background-color:gainsboro; height:1em; width:5em; border-radius:1em;}

/* Page Content: Feed Section */
/* div#container section.postfeed {} */
div#container section.postfeed div.bin {display:grid; grid-template-columns:2fr 1fr; grid-gap:2.5rem;}
/* div#container section.postfeed div.side {background-color:dodgerblue;} */
/* div#container section.postfeed div.side.left {} */
div#container section.postfeed div.side.right {position:sticky; top:0;}
div#container section.postfeed div.side div.item {background-color:white; min-height:20rem; padding:1rem; border-radius:.5rem; margin-bottom:2rem; box-shadow:var(--boxshadow);}
div#container section.postfeed div.side div.item h2.head {font-size:1.25rem; font-weight:800; padding-bottom:.75rem; border-bottom:1px solid #0004; margin:0;}



/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Navbar */
	/* div#container nav.navbar {} */
	/* div#container nav.navbar div.bin {} */
	/* div#container nav.navbar div.bin a.brand {} */
	/* div#container nav.navbar div.bin ul.navlist {} */

	/* Page Content */

	/* Page Content: Story Section */

	/* Page Content: Feed Section */
	/* div#container section.postfeed {} */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Navbar */
	/* div#container nav.navbar {} */
	div#container nav.navbar div.bin {flex-direction:column;}
	/* div#container nav.navbar div.bin a.brand {} */
	div#container nav.navbar div.bin ul.navlist {margin-top:1rem;}

	/* Page Content */

	/* Page Content: Story Section */

	/* Page Content: Feed Section */
	/* div#container section.postfeed {} */
	div#container section.postfeed div.bin {grid-template-columns:1fr; /* grid-gap:2rem; */}
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {
	
	/* Navbar */
	/* div#container nav.navbar {} */
	/* div#container nav.navbar div.bin {} */
	/* div#container nav.navbar div.bin a.brand {} */
	div#container nav.navbar div.bin ul.navlist {flex-direction:column;}

	/* Page Content */

	/* Page Content: Story Section */

	/* Page Content: Feed Section */
	/* div#container section.postfeed {} */
}
