
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');



* {box-sizing:border-box;}



:root {
	--black:#333;
	--themecolor:whitesmoke;
	--boxshadow:0 0 1rem #000B;
}



body {font-family:Nunito,sans-serif; margin:0;}



div#container {background-color:var(--themecolor); /* background:#1fc8db linear-gradient(141deg,#9fb8ad 0%,#1fc8db 51%,#2cb5e8 75%); */}
div#container {display:flex; flex-direction:column; justify-content:space-between; align-items:stretch; min-height:100vh;/*  padding:1rem; */}


div#container header.header {background-color:var(--black); color:white; padding:0 3rem; box-shadow:var(--boxshadow);}
div#container header.header div.inner {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
div#container header.header div.inner {position:relative;}

div#container header.header h1.brand {font-size:1.5rem; font-weight:800; margin:1.25rem 0 1rem;}

div#container header.header ul.navmenu {background-color:var(--black); display:flex; flex-direction:row; align-items:center;}
div#container header.header ul.navmenu {list-style:none; padding:0; margin:0;}
div#container header.header ul.navmenu h2.head {font-size:1.125rem; font-weight:inherit; white-space:nowrap; padding:.25rem 1rem; padding-top:1rem; margin:0;}
div#container header.header ul.navmenu li.navitem {padding:.75rem 0;}
div#container header.header ul.navmenu li.navitem a.navlink {color:inherit; display:block; text-decoration:none; border-radius:.375rem; padding:.5rem 1rem;}
div#container header.header ul.navmenu li.navitem a.navlink:hover {background-color:#444;}

div#container header.header ul.navmenu li.navitem div.dropdown {position:absolute; top:100%; left:0; right:0;}
div#container header.header ul.navmenu li.navitem div.dropdown {display:none; background-color:var(--black); color:white; border-radius:0 0 .375rem .375rem;}
div#container header.header ul.navmenu li.navitem.active div.dropdown {display:block;}
div#container header.header ul.navmenu li.navitem div.dropdown ul.droplist {list-style:none; padding:.5rem; margin:0;}
div#container header.header ul.navmenu li.navitem div.dropdown ul.droplist li.navitem {padding:0;}

/* div#container header.header ul.navmenu li.navitem.drop {} */
div#container header.header ul.navmenu li.navitem.regdrop {position:relative;}
div#container header.header ul.navmenu li.navitem.megadrop {position:initial;}
div#container header.header ul.navmenu>li.navitem>a.navlink {font-size:1.25rem;}
div#container header.header ul.navmenu li.navitem.megadrop div.dropdown {width:100%; padding:1rem;}
div#container header.header ul.navmenu li.navitem.megadrop div.dropdown div.grid {display:grid; grid-template-columns:repeat(4,1fr);}
/* div#container header.header ul.navmenu li.navitem.megadrop div.dropdown div.grid div.pic {} */
div#container header.header ul.navmenu li.navitem.megadrop div.dropdown div.grid div.pic img {height:100%; width:100%; object-fit:cover;}
/* div#container header.header ul.navmenu li.navitem.megadrop div.dropdown div.grid ul.droplist {} */
/* div#container header.header ul.navmenu li.navitem.megadrop div.dropdown div.grid ul.droplist li.navitem {} */
/* div#container header.header ul.navmenu li.navitem.megadrop div.dropdown div.grid ul.droplist li.navitem a.navlink {border-radius:.5rem;} */

div#container header.header div.toggler {display:none;}
div#container header.header div.toggler {font-size:2rem; cursor:pointer;}
div#container header.header div.toggler svg.icon {display:block;}


div#container main.main {background-color:white; width:100%; max-width:20rem; padding:1rem; border-radius:.5rem;}





/* yuki */
@media screen and (min-width:52rem) {

	/*  */
	div#container header.header ul.navmenu li.navitem:hover div.dropdown {display:block;}
}


/* yuki */
@media screen and (max-width:52rem) {

	div#container header.header ul.navmenu {flex-direction:column; align-items:stretch; width:20rem; height:100vh; box-shadow:var(--boxshadow);}
	div#container header.header ul.navmenu {position:fixed; top:0; left:0; bottom:0; overflow-y:auto; padding-top:4rem;}
	div#container header.header ul.navmenu {transform:translateX(-150%); transition:.375s;}
	div#container header.header ul.navmenu.active {transform:translateX(0);}
	div#container header.header ul.navmenu h2.head {padding-left:0;}
	div#container header.header ul.navmenu li.navitem {padding:.5rem .75rem;}
	div#container header.header ul.navmenu li.navitem div.dropdown {position:static;}
	div#container header.header ul.navmenu li.navitem.megadrop div.dropdown div.grid {grid-template-columns:auto; grid-template-rows:repeat(4,1fr);}

	div#container header.header div.toggler {display:block;}
}

