


/* Query Arena */
div#container div.queryarena {padding:1em;}
/* div#container div.queryarena {display:none;} */
div#container div.queryarena.head {background-color:white; font-size:.75rem; /* width:100%; */ max-width:calc(var(--pagewidth)/2);}
div#container div.queryarena.head {position:fixed; top:0; right:0; left:0; z-index:100; overflow:auto; scrollbar-width:none; border-radius:.5rem; margin:0 auto; margin-top:2.25rem;}
div#container div.queryarena.head {max-height:0; padding:0; border:0 none; transition:.125s;}
div#container div.queryarena.head:hover,
div#container div.queryarena.head.open {max-height:18vh; padding:1em; border:.125rem solid var(--lightblack);}

/* Query Arena: Stage */
div#container div.queryarena div.stage {display:flex; flex-direction:column; text-align:center;}
/* div#container div.queryarena div.stage span.block {} */
/* div#container div.queryarena div.stage span.block.xyz {} */
div#container div.queryarena div.stage span.block:empty {height:.75em;}

/* Query Arena: Toggler */
div#container div.queryarena div.togglebtn {position:fixed; top:0; left:50%; transform:translateX(-50%);}
div#container div.queryarena div.togglebtn {background-color:var(--lightblack); color:var(--lightgrey); padding:.375rem .5rem; border-radius:.375rem; margin-top:.5rem;}
div#container div.queryarena div.togglebtn {display:flex; flex-direction:column; cursor:pointer;}
div#container div.queryarena div.togglebtn {opacity:1; transition:.375s;}
div#container div.queryarena.open div.togglebtn {opacity:.5;}
/* div#container div.queryarena div.togglebtn svg.icon {} */
div#container div.queryarena div.togglebtn svg.icon.dn {display:block;}
div#container div.queryarena div.togglebtn svg.icon.up {display:none;}
div#container div.queryarena div.togglebtn span.caption {display:none;}
div#container div.queryarena.open div.togglebtn svg.icon.dn {display:none;}
div#container div.queryarena.open div.togglebtn svg.icon.up {display:block;}
/* div#container div.queryarena.open div.togglebtn span.caption {} */






/* Big Tablet Screen */
@media screen and (max-width:64rem) {

	/* Query Arena */
	/* div#container div.queryarena {} */
}


/* Small Tablet Screen */
@media screen and (max-width:56rem) {

	/* Query Arena */
	/* div#container div.queryarena {} */
}


/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Query Arena */
	/* div#container div.queryarena {} */
}


/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Query Arena */
	/* div#container div.queryarena {} */
}


/* Tiny Smartphone Screen */
@media screen and (max-width:24rem) {

	/* Query Arena */
	/* div#container div.queryarena {} */
}
