

* {box-sizing:border-box;}



html {background-color:#0A1857;}
body {font-family:sans-serif; margin:0;}



/* Main Container */

div#container {background-color:var(--black1); display:flex; flex-direction:column; justify-content:flex-start; align-items:center; min-height:100vh; padding:.5rem;}
div#container {display:flex; flex-direction:column; justify-content:flex-start; align-items:center; perspective:75rem;}

div#container main.main {background-color:var(--frost); background-color:var(--black2); border-radius:.5rem; flex-grow:1; width:100%; max-width:64rem; /* max-width:24rem; */ margin-top:.25rem; overflow:hidden;}
div#container main.main div.inner {display:flex; flex-direction:row; align-items:stretch; min-height:100%; transition:.5s;}
div#container main.main div.inner section.page {flex-shrink:0; width:100%; min-height:100%; padding:1rem; overflow:hidden;}
div#container main.main div.inner section.page h2.head {color:white; font-size:1.5rem; font-weight:100; margin:0; margin:1.25rem 0 1rem;}
div#container main.main div.inner section.page div.pagecontent {display:flex; flex-direction:row; justify-content:space-between;}
div#container main.main div.inner section.page div.pagecontent section {background-color:var(--black3); padding:.5rem; border:1px dashed var(--frost); border-radius:.5rem; margin-top:.5rem;}

