
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');

* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* Theme Colors */
	--limegreen:#4caf50;
	--limegreen:limegreen;
	--lightgrey:#DDD;
	--lightblack:#333;
	
	/* Gradient Colors */
	/* --bgimg:linear-gradient(135deg,dodgerblue,white,wheat); */

	/* Page Sizes */
	--dt:.5s;
	--pagewidth:60rem;
	--cornersize:.5rem;
	
	/* Box Shadows */
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
}

body {

	--backcolor:var(--lightgrey);
	--forecolor:black;
	--forecolor2:var(--lightblack);
	--themecolor:var(--limegreen);
}

/* body.dark {

	--backcolor:var(--lightblack);
	--forecolor:white;
} */


body {background-color:var(--backcolor); background-image:var(--bgimg); margin:0;}
body {color:var(--forecolor); font-family:Nunito,sans-serif;}


div#container {display:flex; flex-direction:column; justify-content:center; align-items:center; min-height:100vh; padding:1rem;}

/* Navbar */
div#container nav.navbar {position:absolute; top:0; right:0; left:0; width:100%;}
div#container nav.navbar {background-color:white; /* min-height:4rem; */ padding:.5rem 2rem; box-shadow:var(--boxshadow);}
div#container nav.navbar div.bin {display:flex; flex-direction:row; justify-content:space-between; align-items:center; max-width:var(--pagewidth); margin:0 auto;}
div#container nav.navbar div.bin h1.head {display:flex; flex-direction:row; align-items:center; margin:0;}
div#container nav.navbar div.bin h1.head svg.icon {display:none;}
div#container nav.navbar div.bin h1.head img.logo {height:1.75em;}
div#container nav.navbar div.bin h1.head span.caption {margin-left:.375rem;}
div#container nav.navbar div.bin ul.navlist {display:flex; flex-direction:row; align-items:center; list-style:none; padding:0; margin:0;}
div#container nav.navbar div.bin ul.navlist li.navitem {padding:.25rem;}
div#container nav.navbar div.bin ul.navlist li.navitem.x {display:none;}
div#container nav.navbar div.bin ul.navlist li.navitem a.navlink {color:inherit; text-decoration:none;}
div#container nav.navbar div.bin ul.navlist li.navitem button.navbtn {background-color:var(--themecolor); color:white; padding:.625rem .75rem;}


/* General Section */
div#container section {background-color:white; padding:.375rem; border-radius:var(--cornersize); margin-top:.75rem; box-shadow:var(--boxshadow);}
/* div#container section {width:100%; max-width:var(--pagewidth);} */
div#container section div.grid {display:flex; flex-direction:column; align-items:center;}
div#container section div.grid h2.head {margin:0; margin:.125em 0;}
div#container section div.grid > button {display:flex; place-items:center; padding:.375rem .75rem; margin-top:.5rem;}
/* div#container section div.grid button span.caption {} */


/* Club Viewer Section */
/* div#container section.clubviewer div.grid {} */
div#container section.clubviewer div.grid h2.head {font-size:1.375rem;}
/* div#container section.clubviewer div.grid table.clubtable {} */
/* div#container section.clubviewer div.grid table.clubtable thead.head {} */
/* div#container section.clubviewer div.grid table.clubtable thead.head tr.row {margin-bottom:5rem;} */
div#container section.clubviewer div.grid table.clubtable thead.head th.head {background-color:var(--limegreen); /* background-color:forestgreen; */ color:white; font-weight:bold; text-align:left;}
div#container section.clubviewer div.grid table.clubtable thead.head th.head.c {text-align:center;}
div#container section.clubviewer div.grid table.clubtable tbody.body {}
/* div#container section.clubviewer div.grid table.clubtable tbody.body tr.row {} */
/* div#container section.clubviewer div.grid table.clubtable tbody.body td.data {} */
div#container section.clubviewer div.grid table.clubtable tbody.body td.data.c {text-align:center;}
/* div#container section.clubviewer div.grid table.clubtable tbody.body td.data.a {padding-left:.5rem;} */
div#container section.clubviewer div.grid table.clubtable tbody.body td.data input.newdistance {background-color:transparent; font-size:.875rem; width:4rem; padding:.25rem .5rem; border:0 none; border:1px solid var(--forecolor2); outline:none; border-radius:.25rem;}
div#container section.clubviewer div.grid table.clubtable tbody.body td.data button.btn {background-color:var(--limegreen); color:white; cursor:pointer; padding:0; border:0 none; box-shadow:var(--boxshadow);}
div#container section.clubviewer div.grid table.clubtable tbody.body td.data span.caption {}
div#container section.clubviewer div.grid table.clubtable tbody.body td.data.empty span.caption {color:var(--lightgrey); text-align:center; padding:2rem;}
/* div#container section.clubviewer div.grid table.clubtable tbody.body td.data button.editbtn {} */
/* div#container section.clubviewer div.grid table.clubtable tbody.body td.data button.deletebtn {} */
div#container section.clubviewer div.grid table.clubtable span.caption {display:block; padding:.625rem 1rem;}


/* Club Adder Section */
/* div#container section.clubadder div.grid {} */
div#container section.clubadder div.grid h2.head {font-size:1.25rem;}
/* div#container section.clubadder div.grid form.addform {} */
div#container section.clubadder div.grid ul.entrylist {list-style:none; padding:0; margin:0;}
div#container section.clubadder div.grid ul.entrylist li.entryitem {margin-top:.25rem;}
div#container section.clubadder div.grid ul.entrylist li.entryitem div.entry {background-color:var(--backcolor); display:grid; grid-template-columns:repeat(2,1fr); align-items:center; padding:.375rem .5rem; border-radius:.5rem;}
div#container section.clubadder div.grid ul.entrylist li.entryitem div.entry label.entryname {margin-right:.5em;}
div#container section.clubadder div.grid ul.entrylist li.entryitem div.entry input.entryvalue {background-color:transparent; font-size:.875rem; width:9rem; padding:.25rem .5rem; border:0 none; border:1px solid var(--forecolor2); outline:none; border-radius:.25rem;}
/* div#container section.clubadder div.grid button.addbtn {} */
/* div#container section.clubadder div.grid button.addbtn span.caption {} */




/* Tablet Screen */
@media screen and (max-width:64rem) {
	/*  */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {
	/*  */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {
	/*  */
}
