
:root {

	--red:#FF5260;
	--blue:#2D9CFC;
	--purple:#6643B5;

	--navy:#0A1857;
	--lightnavy:#08209A;

	--black:#414449;
	
	--white:#E2E2E2;
	/* --white:#F0F0F0; */
	--black:#3F4248;
	--black:#2D3036;

	--black3:#26292E;
	--black2:#1E2025;
	--black1:#1A1C21;

	--frost:#FFFFFF22;

	--green:#30C677;
	--yellow:#FEC505;
	--red:#F44A65;

	--darkshadow:0 0 1rem rgba(0,0,0,0.5);
	--shadow:0 0 1rem rgba(0,0,0,0.375);
	--thinshadow:0 0 .25rem rgba(0,0,0,0.125);

	--maxwidth:75rem;
	/* --maxwidth:24rem; */
	/* --maxwidth:none; */

	--piechartinner:50%;
	--piechartinner:62.5%;
	--piechartinner:75%;
	--piechartinner:90%;
}

/* div#container main.main section#overview div#spendsummary section#legend div.item:nth-of-type(1) span.color {background-color:darkgreen;}
div#container main.main section#overview div#spendsummary section#legend div.item:nth-of-type(2) span.color {background-color:deepskyblue;}
div#container main.main section#overview div#spendsummary section#legend div.item:nth-of-type(2) span.color {background-color:dodgerblue;}
div#container main.main section#overview div#spendsummary section#legend div.item:nth-of-type(3) span.color {background-color:limegreen;}
div#container main.main section#overview div#spendsummary section#legend div.item:nth-of-type(4) span.color {background-color:coral;}

div#container main.main section#overview div#spendsummary section#legend div.item:nth-of-type(5) span.color {background-color:gold;}
div#container main.main section#overview div#spendsummary section#legend div.item:nth-of-type(6) span.color {background-color:mediumblue;}
div#container main.main section#overview div#spendsummary section#legend div.item:nth-of-type(7) span.color {background-color:slateblue;}
div#container main.main section#overview div#spendsummary section#legend div.item:nth-of-type(8) span.color {background-color:powderblue;}

div#container main.main section#overview div#spendsummary section#legend div.item:nth-of-type(9) span.color {background-color:crimson;}
div#container main.main section#overview div#spendsummary section#legend div.item:nth-of-type(10) span.color {background-color:greenyellow;}
div#container main.main section#overview div#spendsummary section#legend div.item:nth-of-type(11) span.color {background-color:mediumturquoise;}
div#container main.main section#overview div#spendsummary section#legend div.item:nth-of-type(12) span.color {background-color:magenta;} */
