


/* Generic Page */

div#container main.main section.page {padding:1rem 2rem 3rem;}
/* div#container main.main section.page article {} */
div#container main.main section.page article h2.head {color:white; color:var(--black); font-size:1.5rem; font-weight:100; margin:0; margin:1.25rem 0 1rem;}
div#container main.main section.page article div.content {display:flex; flex-direction:row; justify-content:space-between;}
div#container main.main section.page article div.content {justify-content:center; align-items:flex-start; flex-wrap:wrap;}
div#container main.main section.page article div.content section {background-color:var(--black3); padding:.5rem; border:1px dashed var(--frost); border-radius:.5rem; margin-top:.5rem;}
div#container main.main section.page article div.content section.box {flex-grow:1; background-color:white; box-shadow:var(--thinshadow); margin:.5rem;}
div#container main.main section.page article.summary div.content section.piechart {display:flex; flex-direction:row; justify-content:space-between; align-items:flex-start;}
div#container main.main section.page article.summary div.content section.piechart {width:100%; min-width:8rem; max-width:16rem; position:relative; box-shadow:none;}
div#container main.main section.page article.summary div.content section.piechart::after {content:''; display:block; width:100%; padding-top:100%;}
div#container main.main section.page article.summary div.content section.piechart div.chart {position:absolute; top:0; left:0; width:100%; height:100%; box-shadow:var(--shadow);}
div#container main.main section.page article.summary div.content section.piechart div.chart {background-color:white; display:grid; place-items:center; border-radius:50%;}
div#container main.main section.page article.summary div.content section.piechart.spin div.chart {transform:rotate(0); transition:.25s linear transform;}
div#container main.main section.page article.summary div.content section.piechart div.chart:hover {transform:rotate(360deg);}
div#container main.main section.page article.summary div.content section.piechart div.chart div.disc {position:absolute; display:grid; place-items:center; font-size:1.5rem; cursor:pointer; user-select:none;}
div#container main.main section.page article.summary div.content section.piechart div.chart div.disc {background-color:white; min-height:var(--piechartinner); min-width:var(--piechartinner); border-radius:50%; box-shadow:var(--shadow) inset;}
div#container main.main section.page article.summary div.content section.piechart.spin div.chart div.disc {transform:rotate(0); transition:.25s linear transform;}
div#container main.main section.page article.summary div.content section.piechart div.chart:hover div.disc {transform:rotate(-360deg);}
div#container main.main section.page article.summary div.content section.piechart div.chart div.disc span.full {display:none;}
div#container main.main section.page article.summary div.content section.piechart div.chart div.disc span.brief {display:block;}
div#container main.main section.page article.summary div.content section.piechart div.chart div.disc.full span.full {display:block;}
div#container main.main section.page article.summary div.content section.piechart div.chart div.disc.full span.brief {display:none;}
/* div#container main.main section.page article.summary div.content section.piechart div.chart {background-image:conic-gradient(colorname 0deg, colorname 90deg, colorname 180deg, colorname 270deg);} */
div#container main.main section.page article.summary div.content section.legend {color:#FFFC; color:#000C; padding:.5rem .65rem; padding:.25rem .65rem; /* box-shadow:var(--thinshadow); */}
div#container main.main section.page article.summary div.content section.legend h3.head {font-size:1.1rem; font-weight:300; margin:0; margin-bottom:.125rem;}
div#container main.main section.page article.summary div.content section.legend div.item {display:flex; flex-direction:row; align-items:center; cursor:pointer; font-size:.75rem; user-select:none;}
div#container main.main section.page article.summary div.content section.legend div.item {background-color:white; padding:.25rem .5rem; border:solid #0001; border-width:0 0 1px;}
div#container main.main section.page article.summary div.content section.legend div.item:first-child {border-top-width:1px;}
div#container main.main section.page article.summary div.content section.legend div.item:hover {background-color:#00000008;}
div#container main.main section.page article.summary div.content section.legend div.item.total {font-weight:1000;}
div#container main.main section.page article.summary div.content section.legend div.item span.color {background-color:white; border:1px solid black; min-width:1rem; min-height:1rem; margin-right:.5rem;}
/* div#container main.main section.page article.summary div.content section.legend div.item span.caption.name {margin-left:.5rem;} */
div#container main.main section.page article.summary div.content section.legend div.item span.caption.proportion {margin-left:.25rem;}
div#container main.main section.page article.summary div.content section.legend div.item span.caption.amount {font-weight:1000; margin-left:.25rem;}
div#container main.main section.page article.summary div.content section.legend div.item span.space {flex-grow:1;}



/* Generic Page */

/* div#container main.main section#generic article#misc {} */
div#container main.main section#generic article#misc div.content {flex-direction:column;}
div#container main.main section#generic article#misc div.content section#badgebox {display:grid; grid-template-columns:repeat(4,1fr); grid-gap:.5rem;}
div#container main.main section#generic article#misc div.content section#badgebox div.card {display:flex; flex-direction:column; align-items:center; background-color:var(--blue); color:white; padding:.5rem; border-radius:.5rem;}
div#container main.main section#generic article#misc div.content section#badgebox div.card svg.icon {font-size:2rem; margin-bottom:.5rem;}
div#container main.main section#generic article#misc div.content section#badgebox div.card span.num {font-size:2rem; margin-bottom:.15rem;}
div#container main.main section#generic article#misc div.content section#badgebox div.card span.caption {font-size:.75rem;}
div#container main.main section#generic article#misc div.content section#bucketbox {display:flex; flex-direction:row; justify-content:center; align-items:center; counter-reset:n;}
div#container main.main section#generic article#misc div.content section#bucketbox {transform:none; transform-style:preserve-3d; transition:.5s;}
div#container main.main section#generic article#misc div.content section#bucketbox:hover {transform:rotateX(60deg); transform:rotateX(80deg);}
div#container main.main section#generic article#misc div.content section#bucketbox div.category {background-color:#0008; min-width:3rem; min-height:3rem; border-radius:50%; margin:0 .5rem; margin-bottom:.75rem;}
div#container main.main section#generic article#misc div.content section#bucketbox div.category {transform:translateZ(2rem); position:relative;}
div#container main.main section#generic article#misc div.content section#bucketbox div.category::before {position:absolute; top:100%; left:50%; transform:translateX(-50%) rotateX(-45deg);}
div#container main.main section#generic article#misc div.content section#bucketbox div.category::before {content:'Category 'counter(n); counter-increment:n; font-size:.625rem; margin-top:.125rem; white-space:nowrap;}
/* div#container main.main section#generic article#misc div.content {display:none;} */
/* div#container main.main section#generic article#misc div.content section#badgebox {display:none;} */
/* div#container main.main section#generic article#misc div.content section#bucketbox {display:none;} */



/* Overview Page */

/* div#container main.main section#overview {} */
div#container main.main section#overview div.group {display:flex; flex-direction:row; flex-wrap:wrap;}
div#container main.main section#overview div.group article {flex-grow:1;}
/* div#container main.main section#overview article {} */
/* div#container main.main section#overview article div.content {} */

/* div#container main.main section#overview article#incomesummary {} */
/* div#container main.main section#overview article#incomesummary div.content {} */

/* div#container main.main section#overview article#spendsummary {} */
/* div#container main.main section#overview article#spendsummary div.content {} */

/* div#container main.main section#overview article#balancesummary {} */
div#container main.main section#overview article#balancesummary h2.head span.value {color:seagreen;}
/* div#container main.main section#overview article#balancesummary h2.head span.caption {} */
/* div#container main.main section#overview article#balancesummary div.content {} */



/* Activity Page */

/* div#container main.main section#activity {} */
/* div#container main.main section#activity article {} */
/* div#container main.main section#activity article div.content {} */

/* div#container main.main section#activity article#transactions {} */
div#container main.main section#activity article#transactions div.content {display:flex; flex-direction:column; align-items:stretch;}
div#container main.main section#activity article#transactions div.content table.table {background-color:white; border-collapse:collapse; font-size:.75rem;}
div#container main.main section#activity article#transactions div.content table.table tr.row {/* overflow:hidden; */ /* padding:0 .75rem; */ border-radius:.5rem; box-shadow:var(--thinshadow);}
div#container main.main section#activity article#transactions div.content table.table tr.row:hover {cursor:pointer; user-select:none;}
div#container main.main section#activity article#transactions div.content table.table tbody tr.row:hover {background-color:#00000008;}
div#container main.main section#activity article#transactions div.content table.table tr.row th.head {text-align:left; white-space:nowrap; padding:1rem .375rem .85rem; /* border-bottom:1px solid #0002; */}
div#container main.main section#activity article#transactions div.content table.table tr.row th.head h3.head {display:flex; flex-direction:row; align-items:center; font-size:1.05em; /* text-align:left; */ margin:0;}
div#container main.main section#activity article#transactions div.content table.table tr.row th.head.amount h3.head {justify-content:flex-end; /* text-align:right; */}
div#container main.main section#activity article#transactions div.content table.table tr.row th.head h3.head div.sortbtn {display:flex; flex-direction:column; cursor:pointer; user-select:none; margin-left:.25rem;}
div#container main.main section#activity article#transactions div.content table.table tr.row th.head h3.head div.sortbtn svg.icon {font-size:.4rem;}
div#container main.main section#activity article#transactions div.content table.table tr.row td.cell {font-weight:bold; white-space:nowrap; padding:1rem .375rem .85rem;}
div#container main.main section#activity article#transactions div.content table.table tr.row td.cell.icon {font-size:1.5rem; text-align:center;}
div#container main.main section#activity article#transactions div.content table.table tr.row td.cell.icon svg.icon {display:block; margin-left:.75rem;}
div#container main.main section#activity article#transactions div.content table.table tr.row td.cell.date {font-weight:lighter; text-align:center;}
div#container main.main section#activity article#transactions div.content table.table tr.row td.cell.date span.data.d::after {content:',';}
div#container main.main section#activity article#transactions div.content table.table tr.row td.cell.amount {text-align:right;}
div#container main.main section#activity article#transactions div.content table.table tr.row td.cell.amount span.data {margin-right:.75rem;}
div#container main.main section#activity article#transactions div.content table.table tr.row td.cell.amount span.data.income {color:limegreen; /* color:forestgreen; */}



/* Budget Page */

/* div#container main.main section#budget {} */
/* div#container main.main section#budget article {} */
/* div#container main.main section#budget article div.content {} */

/* div#container main.main section#budget article#annualsummary {display:none;} */
div#container main.main section#budget article#annualsummary div.content article.buckets {display:flex; flex-direction:row; justify-content:center;}
div#container main.main section#budget article#annualsummary div.content article.buckets div.innersection {display:flex; flex-direction:row; justify-content:space-between;}
div#container main.main section#budget article#annualsummary div.content article.buckets div.bucket {background-color:#E2E2E2; width:.5rem; height:10rem; border-radius:1rem; margin:0 .5rem .75rem; /* overflow:hidden; */}
div#container main.main section#budget article#annualsummary div.content article.buckets div.bucket {display:flex; flex-direction:column; justify-content:flex-end; position:relative;}
div#container main.main section#budget article#annualsummary div.content article.buckets div.bucket::after {content:''; display:block; background-color:var(--blue); height:25%; border-radius:inherit;}
div#container main.main section#budget article#annualsummary div.content article.buckets div.bucket label.month {position:absolute; top:100%; left:50%; transform:translateX(-50%);}
div#container main.main section#budget article#annualsummary div.content article.buckets div.bucket label.month {color:white; color:var(--black); font-size:.65rem; margin-top:.25rem;}


/* div#container main.main section#budget article#monthlysummary {} */
div#container main.main section#budget article#monthlysummary div.content {display:grid; grid-template-columns:repeat(3,1fr);}
/* div#container main.main section#budget article#monthlysummary div.content section.legendbox {} */
div#container main.main section#budget article#monthlysummary div.content section.budgetbox {/* max-width:24rem; */ cursor:pointer; user-select:none; padding:.5rem 1rem;}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox h3.head {font-size:1.125rem; font-weight:400; text-align:center; cursor:pointer; margin:0; margin-top:.5rem;}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox div.progressbar {padding:.125rem 0;}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox div.progressbar.total {padding:.25rem 0; border-top:1px solid grey; margin-top:.5rem;}
/* div#container main.main section#budget article#monthlysummary div.content section.budgetbox div.progressbar div.label {margin-top:.5rem;} */
div#container main.main section#budget article#monthlysummary div.content section.budgetbox div.progressbar div.label {display:flex; justify-content:space-between; align-items:flex-end;}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox div.progressbar div.label span.name {color:var(--black); font-size:.875rem;}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox div.progressbar div.label span.remainder {color:var(--black); font-size:.65rem;}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox div.progressbar.over div.label span.remainder {color:var(--red);}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox div.progressbar.slow div.label span.remainder {color:var(--yellow);}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox div.progressbar.good div.label span.remainder {color:var(--green);}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox div.progressbar div.bar {background-color:var(--white); height:1.75rem; /* margin:1rem; */}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox div.progressbar div.bar {display:flex; justify-content:center; align-items:center; position:relative;}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox div.progressbar div.bar::after {content:''; position:absolute; top:0; left:0; height:100%; width:80%; border-right:1px solid var(--black); opacity:.1;}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox div.progressbar div.bar span.caption {color:var(--black); font-size:.75rem;}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox.showmode div.progressbar div.bar {background-color:lightgrey !important;}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox.showmode div.progressbar.over div.bar {background-color:var(--red) !important;}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox.showmode div.progressbar.slow div.bar {background-color:var(--yellow) !important;}
div#container main.main section#budget article#monthlysummary div.content section.budgetbox.showmode div.progressbar.good div.bar {background-color:var(--green) !important;}



/* Taxes Page */

/* div#container main.main section#taxes {} */
/* div#container main.main section#taxes article {} */
/* div#container main.main section#taxes article div.content {} */



/* Investments Page */

/* div#container main.main section#invest {} */
/* div#container main.main section#invest article {} */
/* div#container main.main section#invest article div.content {} */



/* Insurance Page */

/* div#container main.main section#insurance {} */
/* div#container main.main section#insurance article {} */
/* div#container main.main section#insurance article div.content {} */





@media screen and (max-width:60rem) {

	/* Generic Page */

	/* Overview Page */

	/* Activity Page */
	
	/* Budget Page */
	div#container main.main section#budget article#monthlysummary div.content {display:grid; grid-template-columns:repeat(2,1fr);}

	/* Taxes Page */

	/* Investments Page */

	/* Insurance Page */
}



@media screen and (max-width:40rem) {

	/* Generic Page */

	/* Overview Page */

	/* Activity Page */
	/* div#container main.main section#activity article#transactions div.content table.table tr.row th.head.icon, */
	/* div#container main.main section#activity article#transactions div.content table.table tr.row td.cell.icon {display:none;} */
	div#container main.main section#activity article#transactions div.content table.table tr.row td.cell.date span.data.y {display:none;}
	div#container main.main section#activity article#transactions div.content table.table tr.row td.cell.date span.data.d::after {content:'';}
	div#container main.main section#activity article#transactions div.content table.table tr.row td.cell.description {white-space:initial;}
	div#container main.main section#activity article#transactions div.content table.table tr.row th.head.category,
	div#container main.main section#activity article#transactions div.content table.table tr.row td.cell.category {display:none;}
	
	/* Budget Page */
	div#container main.main section#budget article#monthlysummary div.content {display:grid; grid-template-columns:repeat(1,1fr);}

	/* Taxes Page */

	/* Investments Page */

	/* Insurance Page */
}




