

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');



* {box-sizing:border-box;}



/* html {background-color:#0A1857;} */
body {font-family:Nunito,sans-serif; margin:0; /* touch-action:pinch-zoom; */}



/* Main Container */

div#container {background-color:var(--black1); background-color:white; min-height:100vh; padding:.25rem;}
div#container {display:flex; flex-direction:column; justify-content:flex-start; align-items:center; align-items:stretch;}
/* div#container {filter:drop-shadow(rgba(0, 0, 0, 0.1) 0px 4px 6px); perspective:75rem;} */
div#container header.header {flex:0 0 auto;}
div#container nav.switcher {flex:0 0 auto;}
div#container main.main {flex-grow:1; overflow-x:hidden; overflow-y:auto;}
div#container main.main div.inner {min-height:100%;}
div#container main.main div.inner section.page {/* min-height:100%; */ height:100%; overflow:hidden;}

div#container.newscrollmode {height:100vh;}
div#container.newscrollmode header.header {background-color:var(--white);}
div#container.newscrollmode main.main {overflow-y:hidden;}
div#container.newscrollmode main.main div.inner {height:100%;}
div#container.newscrollmode main.main div.inner section.page {overflow-y:auto;}



/* Header Bar */
div#container header.header {width:100%; max-width:var(--maxwidth); padding:.75rem 1.25rem; border-radius:.5rem; margin:.25rem auto; margin:0 auto; box-shadow:var(--thinshadow);}
div#container header.header {display:flex; flex-direction:row; justify-content:space-between; align-items:center; cursor:pointer; user-select:none;}
div#container header.header h1.head {font-size:1.5rem; font-weight:lighter; white-space:nowrap; margin:0;}
div#container header.header h1.head {display:flex; align-items:center;}
/* div#container header.header h1.head img.logo {display:none;} */
div#container header.header h1.head img.logo {height:1em; object-fit:cover; opacity:.65; margin-right:.5rem;}
div#container header.header div.togglebtn {cursor:pointer; user-select:none;}
div#container header.header div.togglebtn svg.icon {display:block; font-size:1.5rem;}



/* Navigation Bar */

div#container nav.switcher {display:flex; justify-content:flex-start; width:100%; max-width:var(--maxwidth); margin:.25rem auto; margin:0 auto;}
div#container nav.switcher {max-height:0; transition:.25s;}
div#container nav.switcher.active {max-height:3rem;}
div#container nav.switcher ul.navlist {list-style:none; padding:0; border-radius:.5rem; margin:0; margin:.25rem 0 .125rem; overflow:hidden;}
div#container nav.switcher ul.navlist {display:flex; flex-direction:row; justify-content:start; align-items:center; position:relative; overflow:visible;}
div#container nav.switcher ul.navlist li {flex:0 0 0; min-width:8.5rem; border-radius:inherit; transition:.5s;}
div#container nav.switcher ul.navlist li.navitem {font-size:1.125rem; text-align:center; padding:.75rem 1rem; position:relative; z-index:20;}
div#container nav.switcher ul.navlist li.navitem img.bg {display:none;}
div#container nav.switcher ul.navlist li.navitem img.bg {position:absolute; top:0; left:0; height:100%; width:100%; z-index:-1; object-fit:cover; object-position:top;}
div#container nav.switcher ul.navlist li.navitem input {display:none;}
div#container nav.switcher ul.navlist li.navitem label.navlabel {display:block; cursor:pointer; user-select:none;}
div#container nav.switcher ul.navlist li.navitem label.navlabel {color:#AAA; text-align:center; transition:.5s;}
div#container nav.switcher ul.navlist li.navitem input:checked + label.navlabel {color:white; color:var(--gdblack);}
div#container nav.switcher ul.navlist li.navitem span.tooltip {display:none;}
div#container nav.switcher ul.navlist li.navitem span.tooltip {position:absolute; top:50%; left:50%; transform:translate(-50%,1rem); z-index:10;}
div#container nav.switcher ul.navlist li.navitem span.tooltip {background-color:var(--black,#333); color:white; font-size:.75rem; text-align:center; white-space:nowrap; padding:.375rem .75rem; border-radius:.25rem;}
div#container nav.switcher ul.navlist li.navitem span.tooltip::before {position:absolute; bottom:100%; left:50%; transform:translateX(-50%);}
div#container nav.switcher ul.navlist li.navitem span.tooltip::before {content:''; display:block; width:0; height:0; border:.5rem solid transparent; border-bottom-color:#333;}
div#container nav.switcher ul.navlist li.navitem span.tooltip {visibility:hidden; opacity:0; transition:.125s;}
div#container nav.switcher ul.navlist li.navitem:hover span.tooltip {visibility:visible; opacity:1;}
div#container nav.switcher ul.navlist li.switch {position:absolute; bottom:0; left:0; height:100%; height:1px; border-radius:1rem; z-index:10;}
div#container nav.switcher ul.navlist li.switch {display:flex; flex-direction:row; justify-content:center;}
div#container nav.switcher ul.navlist li.switch::after {content:''; background-color:var(--white); background-color:var(--gdblack); width:50%;}
div#container nav.switcher {overflow:auto; /* IE & Edge */ -ms-overflow-style:none; /* Firefox */ scrollbar-width:none;}
div#container nav.switcher::-webkit-scrollbar {/* Chrome / Safari / Opera */ display:none;}	
div#container nav.switcher.debug ul.navlist li.navitem input {display:inline-block;}



/* Page Container */

div#container main.main {background-color:var(--frost); background-color:var(--black2); background-color:white; box-shadow:var(--thinshadow);}
div#container main.main {width:100%; max-width:var(--maxwidth); /* padding:0 1rem; */ border-radius:.5rem; margin:.25rem auto; margin:0 auto;}
div#container main.main div.inner {display:flex; flex-direction:row; align-items:flex-start; transition:.5s;}
div#container main.main div.inner section.page {flex:0 0 auto; width:100%;}





@media screen and (max-width:52rem) {

	/* Main Container */
	
	/* Header Bar */

	/* Navigation Bar */
	div#container nav.switcher {flex-direction:column;}
	div#container nav.switcher.active {max-height:16rem;}
	div#container nav.switcher ul.navlist {flex-direction:column;}
	div#container nav.switcher ul.navlist li {min-width:7rem;}
	div#container nav.switcher ul.navlist li.navitem {font-size:1rem; padding:.5rem .25rem;}
	div#container nav.switcher ul.navlist li.switch {display:none;}
	/* Navigation Bar (old version) */
	/* div#container nav.switcher {justify-content:center;} */
	/* div#container nav.switcher ul.navlist {background-color:white; display:grid; grid-template-columns:repeat(2,1fr); grid-gap:.5rem; padding:.5rem;} */
	/* div#container nav.switcher ul.navlist li.navitem {background-color:#0008; display:grid; place-items:center; min-width:8rem; min-height:6rem;} */
	/* div#container nav.switcher ul.navlist li.navitem.home {grid-column:1 / span 2;} */

	/* Page Container */
}
