

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');




:root {

	--red:#DC153B;
	--red:#FB3F41;
	--blue:#0179FF;
	--green:#29AF60;
	--tlblue:#0179FFEE;
	--tlblue2:#0179FFCC;
	--trblue:#0179FF44;
	--trtrblue:#0179FF11;
	--offwhite:#EEE;
	--darkgrey:#444;
	--offwhite2:#EEEE;
	--lightblack:#383838;
	--blackglass:#0001;
	--whiteglass:#FFF4;
	
	--pagewidth:75rem;
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
}

body {

	--backcolor:white;
	--backcolor2:var(--offwhite);
	--forecolor:var(--darkgrey);
}

body.dark {

	--backcolor:var(--darkgrey);
	--backcolor2:var(--lightblack);
	--forecolor:white;
}



* {box-sizing:border-box;}



body {background-color:var(--backcolor);}



body {font-family:Nunito,sans-serif; margin:0;}




div#container {/* background-color:white; */ min-height:100vh;}
div#container {display:flex; flex-direction:column; justify-content:flex-start; align-items:center; align-items:stretch;}
div#container nav.navbar {flex-grow:0;}
div#container main#table {flex-grow:1;}


div#container div.btn {color:white; font-size:1rem; /* min-width:8rem; */ cursor:pointer; padding:.75rem; border-radius:.25rem;}
div#container div.btn {display:flex; justify-content:center; align-items:center;}
div#container div.btn svg.icon {display:inline-block; /* margin-right:.25rem; */}
div#container div.btn span.caption {padding-top:.125rem; margin-left:.375rem;}


div#container nav.navbar {position:fixed; top:0; left:0; right:0; width:100%; z-index:100;}
div#container nav.navbar {background-color:transparent; background-image:linear-gradient(var(--blue),var(--tlblue)); /* position:relative; */ padding:.875rem 1.5rem; box-shadow:var(--boxshadow);}
div#container nav.navbar main.grid {display:flex; flex-direction:row; justify-content:space-between; align-items:center; /* align-items:flex-start; */ max-width:var(--pagewidth); margin:0 auto;}
div#container nav.navbar main.grid h1.head {flex-grow:0;}
div#container nav.navbar main.grid div.navmenu {flex-grow:1;}
div#container nav.navbar main.grid div.navtoggler {flex-grow:0;}

div#container nav.navbar main.grid h1.head {font-size:1.75rem; font-weight:900; cursor:pointer; user-select:none; margin:0;}
div#container nav.navbar main.grid h1.head {display:flex; flex-direction:row; align-items:center; /* align-items:flex-end; */}
div#container nav.navbar main.grid h1.head svg.icon {font-size:1.5em;}
div#container nav.navbar main.grid h1.head span.caption {white-space:nowrap; margin-left:.375rem; /* margin-bottom:-.5rem; */}
div#container nav.navbar main.grid div.navmenu {border-radius:.375rem;}
/* div#container nav.navbar main.grid div.navmenu.sources {} */
/* div#container nav.navbar main.grid div.navmenu.operations {} */
div#container nav.navbar main.grid div.navmenu ul.navlist {display:flex; flex-direction:row; grid-gap:.25rem; overflow:hidden; }
div#container nav.navbar main.grid div.navmenu ul.navlist {background-color:inherit; list-style:none; padding:0; padding:0 .5rem; margin:0;}
div#container nav.navbar main.grid div.navmenu.sources ul.navlist {justify-content:flex-start; }
div#container nav.navbar main.grid div.navmenu.operations ul.navlist {justify-content:flex-end; }
/* div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem {padding:0 .35rem;} */
div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.btn {font-size:1.25rem; /* transition:.125s; */ padding:.625rem; border:1px solid var(--whiteglass);}
div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.addbtn {background-color:var(--green);}
div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.resetbtn {background-color:var(--blue);}
div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.sourcebtn {background-color:var(--lightblack);}
div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.darkmodebtn {display:flex; background-color:var(--lightblack);}
div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.lightmodebtn {display:none; background-color:var(--offwhite); color:var(--lightblack);}
div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.darkmodebtn svg.icon {display:none;}
div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.darkmodebtn svg.icon.solid {display:block;}
div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.lightmodebtn svg.icon {display:block;}
div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.lightmodebtn svg.icon.solid {display:none;}
div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.deleteallbtn {background-color:var(--red);}
div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.btn span.caption {display:none; font-size:.75em;}
div#container nav.navbar.sources main.grid div.navmenu.sources ul.navlist li.navitem div.btn span.caption {display:block;}
div#container nav.navbar.operations main.grid div.navmenu.operations ul.navlist li.navitem div.btn span.caption {display:block;}
.dark div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.darkmodebtn {display:none;}
.dark div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.lightmodebtn {display:flex;}
div#container nav.navbar main.grid div.navtoggler {background-color:var(--lightblack); color:white; cursor:pointer; padding:.375rem; border-radius:.25rem;}
div#container nav.navbar main.grid div.navtoggler svg.icon {display:block; font-size:1.625rem;}



div#container main#table {background-color:var(--backcolor); color:var(--forecolor); transition:.5s;}
div#container main#table {display:flex; width:100%; /* max-width:52rem; */ overflow-x:auto; text-align:center; position:relative; margin:0 auto; margin-top:5rem;}
/* div#container main#table div.btn {} */
div#container main#table div.bin {overflow-x:visible; margin:1.5rem auto;}
div#container main#table table.table {border:.125rem solid var(--blackglass); /* margin:.5rem 0; */}
div#container main#table table.table th.head {background-color:var(--backcolor2); color:var(--forecolor); transition:.5s; padding:1rem .5rem; /* border:1px solid; */}
div#container main#table table.table th.head h2.head {font-size:1.125rem; font-weight:700; text-align:center; margin:0;}
div#container main#table table.table tr.row {position:relative; border-radius:.125rem;}
div#container main#table table.table tr.row:hover {background-color:var(--trtrblue);}
div#container main#table table.table tr.row.active {background-color:var(--trblue);}
/* div#container main#table table.table tr.row.newentry {} */
div#container main#table table.table tr.row.newentry:hover {background-color:var(--blue);}
div#container main#table table.table tr.row td.cell {height:4rem; text-align:center; transition:.5s; padding:.75rem; border:.125rem solid var(--backcolor2); border-radius:inherit;}
div#container main#table table.table tr.row.active td.cell {/* font-size:1.25em; */ border-color:var(--blue);}
div#container main#table table.table tr.row.newentry td.cell {height:auto; padding:0;}
div#container main#table table.table tr.row.newentry td.cell div.addbtn {cursor:pointer; padding:.75rem;}
div#container main#table table.table tr.row.newentry td.cell div.addbtn {display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container main#table table.table tr.row.newentry td.cell div.addbtn svg.icon {font-size:2rem;}
div#container main#table table.table tr.row.newentry td.cell div.addbtn span.caption {font-size:1.125rem; margin-left:.5rem;}
/* div#container main#table table.table tr.row td.cell img.data {height:6rem; width:100%; object-fit:cover;} */
div#container main#table table.table tr.row td.cell span.data {font-weight:300; white-space:nowrap; cursor:pointer; /* user-select:all; */}
div#container main#table table.table tr.row td.cell span.data:empty::after {content:'[Empty]';}
/* div#container main#table table.table tr.row td.cell div.panel {} */
div#container main#table table.table tr.row td.cell div.panel div.btn {margin:.125rem;}
div#container main#table table.table tr.row td.cell div.panel div.editbtn {background-color:var(--blue);}
div#container main#table table.table tr.row td.cell div.panel div.deletebtn {background-color:var(--red);}
/* div#container main#table table.table tr.row td.cell div.panel div.btn svg.icon {} */
div#container main#table table.table tr.row td.cell div.panel.mini {display:flex; flex-direction:row; /* justify-content:center; */ align-items:center;}
div#container main#table table.table tr.row td.cell div.panel.mini div.btn {display:grid; place-items:center;}
/* div#container main#table table.table tr.row td.cell div.panel.mini div.btn svg.icon {} */
div#container main#table table.table tr.row td.cell div.panel.full {position:absolute; top:50%; left:50%; z-index:1;}
div#container main#table table.table tr.row td.cell div.panel.full {background-color:var(--backcolor); display:flex; flex-direction:column; padding:.5rem; border:1px solid var(--forecolor); border-radius:.5rem;}
div#container main#table table.table tr.row td.cell div.panel.full {display:none;}
div#container main#table table.table tr.row td.cell div.panel.full div.btn {display:flex; flex-direction:row; justify-content:flex-start; padding:.375rem 1rem;}
/* div#container main#table table.table tr.row td.cell div.panel.full div.btn svg.icon {} */
div#container main#table table.table tr.row td.cell div.panel.full div.btn span.caption {flex-grow:1; text-align:center;}
div#container main#table table.table tr.row.entry::after {position:absolute; top:0; right:100%; /* visibility:hidden; */ opacity:0; transition:.125s;}
div#container main#table table.table tr.row.entry::after {background-color:var(--trblue); content:'Select'; height:100%; width:4rem;}
div#container main#table table.table tr.row.entry::after {display:grid; place-items:center; cursor:pointer; border-radius:inherit; margin-right:.125rem;}
div#container main#table table.table tr.row.entry:hover::after {background-color:var(--blue); color:white; /* visibility:visible; */ opacity:1;}
/* div#container main#table table.table tr.row.active:hover::after {background-color:var(--trblue); color:initial;} */
/* div#container main#table table.table tr.row.active:hover::after {visibility:hidden; opacity:0;} */
/* Context Menu */
div#container main#table div.contextmenu {position:absolute; top:0; left:0;}
div#container main#table div.contextmenu {display:none; background-color:var(--backcolor2); border:.25rem solid var(--backcolor2); border-radius:.25rem;}
div#container main#table div.contextmenu.open {display:block;}
div#container main#table div.contextmenu ul.oplist {list-style:none; padding:0; margin:0;}
/* div#container main#table div.contextmenu ul.oplist li.opitem {} */
div#container main#table div.contextmenu ul.oplist li.opitem a.oplink {display:flex; flex-direction:row; align-items:center; color:inherit; font-size:1.125rem; text-decoration:none; padding:.75rem 1rem;}
div#container main#table div.contextmenu ul.oplist li.opitem a.oplink:hover {background-color:var(--backcolor);}
/* div#container main#table div.contextmenu ul.oplist li.opitem a.oplink svg.icon {} */
div#container main#table div.contextmenu ul.oplist li.opitem a.oplink span.caption {margin-left:.5rem;}


div#container div.overlay {position:fixed; top:0; left:0; height:100%; width:100%; z-index:200;}
div#container div.overlay {display:grid; place-items:center;}
div#container div.overlay {opacity:0; visibility:hidden;}
div#container div.overlay.active {opacity:1; visibility:visible;}
div#container div.overlay div.bg {position:absolute; top:0; left:0; height:100%; width:100%; z-index:-1;}
div#container div.overlay div.bg {background-color:#0008; cursor:pointer;}
div#container div.overlay main {background-color:var(--offwhite); color:#444; width:100%; max-width:18rem; padding:1rem; border-radius:.25rem; margin:1rem auto;}
div#container div.overlay main h1.head {font-size:1.5rem; font-weight:500; text-transform:uppercase; text-align:center; margin:0; margin-top:.5rem;}
div#container div.overlay main div.input {margin-top:.375rem;}
div#container div.overlay main div.input.grid {display:grid; grid-template-columns:repeat(2,1fr); grid-gap:.5rem; margin-top:.625rem;}
div#container div.overlay main div.input input {background-color:white; font-family:inherit; width:100%; padding:.5rem 1rem; border:0 none; border-radius:.25rem;}
div#container div.overlay main div.input input.btn {background-color:var(--blue); color:white; font-size:inherit; cursor:pointer; transition:.125s;}
div#container div.overlay main div.input input.btn:hover {background-color:#333;}
div#container div.overlay main#editor {display:block;}
div#container div.overlay main#creator {display:none;}
div#container div.overlay.create main#editor {display:none;}
div#container div.overlay.create main#creator {display:block;}
div#container div.overlay div.closebtn {position:absolute; top:0; right:0; font-size:2rem; font-weight:100;}


div#container aside#snackbar {display:none;}
div#container aside#snackbar {position:absolute; top:0; right:0; left:0; z-index:100;}
div#container aside#snackbar {background-color:var(--offwhite2); width:100%; text-align:center; padding:.75rem;}


@media screen and (max-width:64rem) {

	/* div#container {} */

	/* div#container nav.navbar {} */
	/* div#container nav.navbar main.grid {} */
	/* div#container nav.navbar main.grid h1.head {} */
	/* div#container nav.navbar main.grid h1.head span.caption {} */
	div#container nav.navbar main.grid div.navmenu {background-color:var(--tlblue2); overflow:hidden; max-height:0; transition:.5s;}
	div#container nav.navbar main.grid div.navmenu {position:absolute; top:100%; left:0; right:0; width:100%; z-index:10; margin:1rem .75rem;}
	div#container nav.navbar main.grid div.navmenu {max-width:calc(var(--pagewidth)/3);}
	div#container nav.navbar main.grid div.navmenu.sources {margin-right:auto;}
	div#container nav.navbar main.grid div.navmenu.operations {margin-left:auto;}
	div#container nav.navbar.sources main.grid div.navmenu.sources {max-height:none;}
	div#container nav.navbar.operations main.grid div.navmenu.operations {max-height:none;}
	div#container nav.navbar main.grid div.navmenu ul.navlist {flex-direction:column; align-items:stretch; grid-gap:1rem; padding:2rem 1.5rem; padding:1.5rem 1.375rem;}
	div#container nav.navbar main.grid div.navmenu ul.navlist::after {display:block; content:''; position:absolute; bottom:100%; border:1rem solid transparent; border-bottom-color:var(--blue);}
	div#container nav.navbar main.grid div.navmenu.sources ul.navlist::after {left:0;}
	div#container nav.navbar main.grid div.navmenu.operations ul.navlist::after {right:0;}
	/* div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem {} */
	div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.btn {justify-content:space-between; padding:.625rem 1.25rem;}
	div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.btn::after {content:''; width:1rem;}
	div#container nav.navbar main.grid div.navmenu ul.navlist li.navitem div.btn span.caption {display:block;}

	/* div#container main#table {} */
	/* div#container main#table table.table {} */
}



@media screen and (max-width:36rem) {

	/* div#container {padding:1rem 0;} */

	/* div#container nav.navbar {} */
	/* div#container nav.navbar main.grid {} */
	/* div#container nav.navbar main.grid h1.head {} */
	/* div#container nav.navbar main.grid h1.head span.caption {} */
	/* div#container nav.navbar main.grid div.navmenu {} */
	/* div#container nav.navbar main.grid div.navmenu ul.navlist {} */

	/* div#container main#table {} */
	/* div#container main#table table.table {} */
	/* div#container main#table table.table tr.row {} */
	/* div#container main#table table.table tr.row.entry {} */
	/* div#container main#table table.table tr.row td.cell {} */
	/* div#container main#table table.table tr.row td.cell div.btn {font-size:.75rem;} */
	div#container main#table table.table tr.row.entry::after {display:none;}
}

