
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* Theme Colors */
	--whiteglass:#FFF8; 

	/* Numbers */
	--edgesize:.5rem;
}


body {

	/* Theme Colors */
	--backcolor:#fff7ca;
	--backcolor2:#fdea7d;
	--backcolor3:gold;

	/* Theme Colors */
	--backcolor:#f1dec1;
	--backcolor2:#f1ba67;
	--backcolor3:#f19307;
	--backcolor4:#d0542b;
}




/* Container */
body {font-family:Nunito,sans-serif;}
div#container {/* text-align:center; */ overflow-x:auto;}



/* Navbar */
div#container nav.navbar {background-color:var(--backcolor4);}
/* div#container nav.navbar div.bin {} */
div#container nav.navbar div.bin a.homebtn {order:2;}
div#container nav.navbar div.bin a.homebtn h1.head {color:white;}
div#container nav.navbar div.bin a.homebtn h1.head svg.icon {display:none;}
div#container nav.navbar div.bin a.homebtn h1.head img.logo {height:2em;}
/* div#container nav.navbar div.bin a.togglebtn {} */
div#container nav.navbar div.bin a.togglebtn.tm {order:1;}
div#container nav.navbar div.bin a.togglebtn.um {order:2; /* display:none; */}
div#container nav.navbar div.bin a.logoutbtn {background-color:black; padding:.75em .75em; border-radius:.5em; /* margin-left:.5em; */}
div#container nav.navbar div.bin a.logoutbtn {display:flex; flex-direction:row; /* justify-content:center; */ align-items:center;}
div#container nav.navbar div.bin a.logoutbtn {color:white; text-decoration:none;}
div#container nav.navbar div.bin a.logoutbtn svg.icon {margin-right:.375em;}
div#container div.switch {--ballsize:2rem; --ballsize:1.5rem;}
div#container div.switch {position:fixed; top:0; right:0; width:calc(var(--ballsize)*1.75); height:var(--ballsize); box-sizing:content-box; z-index:1000;}
div#container div.switch {display:flex; flex-direction:row; align-items:center;}
div#container div.switch {background-color:grey; cursor:pointer; transition:.5s; padding:.125rem; border-radius:5rem; margin:.375rem; box-shadow:var(--boxshadow);}
div#container div.switch.on {background-color:black;}
div#container div.switch div.ball {background-color:white; height:var(--ballsize); width:var(--ballsize); border-radius:50%;}
div#container div.switch div.ball {transform:none; transition:.5s;}
div#container div.switch.on div.ball {transform:translateX(75%);}

/* Navigation Buttons */
div#container button.btn {background-color:black; padding:.75em; border-radius:.5rem; border:0 none;}
div#container button.btn {display:flex; justify-content:center; align-items:center;}
div#container button.btn {color:white; cursor:pointer;}



/* Content Grid */
/* div#container div.grid {display:flex; flex-direction:column; align-items:center;} */
div#container section {display:grid; grid-template-columns:auto; place-items:center; grid-gap:1rem;}
div#container section {max-width:100vw; max-width:calc(100vw - 2rem); /* overflow-x:auto; */ /* overflow-y:hidden; */ margin-top:1.25em;}
div#container section {background-color:transparent; padding:0; box-shadow:none;}
div#container section h2.head {margin:0;}
div#container section a.returnlink {background-color:black; padding:.5em .75em; border-radius:.5em;}
div#container section a.returnlink {color:white; text-decoration:none;}



/* Data Block */
div#container section div.block {background-color:var(--backcolor3); max-width:calc(100vw - 2rem); padding:var(--edgesize); border-radius:.375rem; box-shadow:var(--boxshadow);}


/* Data Form Block */
div#container section div.form {position:relative;}
/* div#container section div.form {width:20rem;} */
div#container section div.form/* .show */ {position:static; transform:none; opacity:1; visibility:visible; z-index:0;}
/* Data Composer Block */
div#container section div.form.composer {position:fixed; top:45%; left:50%; transform:translate(-50%,-50%); z-index:100;}
div#container section div.form.composer {opacity:0; visibility:hidden; transition:.625s;}
div#container section div.form.composer.open {opacity:1; visibility:visible;}
div#container section div.form h2.head {text-align:center; margin:0; margin-bottom:.25em;}
/* div#container section div.form form.dataform {} */
/* div#container form.order {max-width:48rem;} */
/* div#container form.biform {max-width:32rem;} */
div#container section div.form form.dataform div.field {display:grid; align-items:center; padding:.125rem;}
div#container section div.form form.dataform div.field select.datafield {cursor:pointer;}
div#container section div.form form.dataform div.field select.datafield,
div#container section div.form form.dataform div.field input.datafield {font-family:inherit; /* font-size:1rem; */ width:100%; /* max-width:12rem; */ padding:.5em .75em; border-radius:.5rem; border:0 none;}
div#container section div.form form.dataform div.act {display:grid; grid-template-columns:1fr; grid-gap:.5em; padding:0; margin-top:.5rem;}
div#container section div.form form.dataform div.act {grid-template-columns:repeat(2,1fr);}
/* div#container section div.form form.dataform div.act button.btn {font-size:1.125em;} */
/* div#container section div.form form.dataform div.act button.btn.send {} */
/* div#container section div.form form.dataform div.act button.btn.clear {position:absolute; top:var(--edgesize); right:var(--edgesize);} */
/* div#container section div.form form.dataform div.act button.btn.clear {padding:.375em;} */
div#container section div.form form.dataform div.act button.btn svg.icon {display:none;}
div#container section div.form form.dataform div.act button.btn span.caption {margin:0 .25em;}
div#container section div.form form.dataform p.textcopy {text-align:center; margin:0; margin-top:.75rem;}
div#container section div.form form.dataform p.textcopy a.switchlink {color:black;}
/* Data Bi-Form Block */
div#container section div.form form.dataform.biform div.field {grid-template-columns:2fr 3fr;}
div#container section div.form form.dataform.biform div.field label.label {font-weight:bold; /* cursor:pointer; */ margin:.25rem 0; margin-right:.5rem;}
/* Data Table Form Block */
div#container section div.form form.dataform table.fieldtable tr.row th.head,
div#container section div.form form.dataform table.fieldtable tr.row th.cell,
div#container section div.form form.dataform table.fieldtable tr.row td.cell {background-color:var(--whiteglass); background-color:var(--backcolor2); padding:.25rem; border-radius:.25em;}
div#container section div.form form.dataform table.fieldtable tr.row th.head span.caption {display:block;}
div#container section div.form form.dataform table.fieldtable tr.row td.cell div.field input.datafield {max-width:5rem;}
div#container section div.form form.dataform table.fieldtable tr.row td.cell div.field select.datafield {text-align:center; min-width:7rem;}

/* Data Table Form Block: Backdrop */
div#container section div.backdrop {position:fixed; inset:0; z-index:99;}
div#container section div.backdrop {background-color:#4448; cursor:pointer;}
div#container section div.form.composer + div.backdrop {opacity:0; visibility:hidden; transition:.625s;}
div#container section div.form.composer.open + div.backdrop {opacity:1; visibility:visible;}


/* Data Table Block */
div#container section div.table {text-align:center; position:relative;}
div#container section div.table div.head {display:flex; flex-direction:row; justify-content:space-between; align-items:center; margin-bottom:.25em;}
div#container section div.table div.head h2.head {display:flex; align-items:center; /* justify-content:center; */ margin:0;}
div#container section div.table div.head h2.head svg.icon {margin:0 .25em;}
/* div#container section div.table div.head h2.head span.caption {} */
div#container section div.table div.body {overflow-x:auto;}
div#container section div.table button.btn.new {display:grid; place-items:center; /* width:100%; */ margin-left:1rem; /* margin-top:.25rem; */}
/* div#container section div.table button.btn.new {position:absolute; --xyz:calc(var(--edgesize)*1.25); top:var(--xyz); right:var(--xyz);} */
/* div#container section div.table button.btn.new svg.icon {display:block;} */
div#container section div.table button.btn.new span.caption {display:none;}
/* div#container section div.table button.btn.new svg.icon {margin-right:.25em;} */
div#container section div.table table.datatable {width:100%;}
/* div#container section div.table table.datatable tr.row {} */
div#container section div.table table.datatable tr.row th.head, 
div#container section div.table table.datatable tr.row td.cell {background-color:var(--whiteglass); background-color:var(--backcolor2); font-weight:300; white-space:nowrap; padding:.375em .75em; border-radius:.25em;}
div#container section div.table table.datatable tr.row th.head {font-weight:bold; padding:.5em .75em;}
/* div#container section div.table table.datatable tr.row th.head.x,
div#container section div.table table.datatable tr.row td.cell.x {display:none;} */
div#container section div.table table.datatable tr.row th.head span.caption,
div#container section div.table table.datatable tr.row td.cell span.caption {display:block;}
div#container section div.table table.datatable tr.row td.cell button.btn.loginas {padding:.375em;}
div#container section div.table table.datatable tr.row td.cell form.loginform {display:grid;}
div#container section div.table table.datatable tr.row td.cell.nullcell {padding:3em;}
div#container section div.table table.datatable tr.row td.cell.nullcell button.btn.new {display:inline-grid; font-size:.875rem; padding:.75em 1.25em; margin-top:.75rem;}







/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Content Grid */
	/* div#container section {} */

	/* Data Block */
	/* div#container section div.block {} */

	/* Data Form Block */
	div#container section div.form form.dataform div.act {margin-top:.75rem;}
	/* div#container section div.form form.dataform div.act button.btn.clear {display:none;} */
	/* div#container section div.form form.dataform div.act button.btn.clear {position:static;} */
	/* div#container section div.form form.dataform div.act button.btn.clear {padding:.5em;} */
	/* div#container section div.form form.dataform div.act button.btn.clear svg.icon {display:block;} */
	/* div#container section div.form form.dataform div.act button.btn.clear span.caption {display:none;} */
	/* Bi-Forms */
	div#container section div.form form.dataform.biform div.field {grid-template-columns:1fr;}

	/* Data Table Block */
	/* div#container section div.table {} */
	/* div#container section div.table table.datatable {} */
}
