


/* Gallery Section */
div#container section.gallery {/* flex-grow:1; */ /* background-color:var(--whiteorange); */ /* text-align:center; */ /* overflow:auto; */ /* scrollbar-width:none; */ position:relative; z-index:40;}
/* div#container section.gallery div.grid {} */


/* Gallery Section: Media List */
/* div#container section.gallery div.grid ul.medialist {display:flex; flex-flow:row wrap;} */
div#container section.gallery div.grid ul.medialist {list-style:none; padding:0; margin:0;}
div#container section.gallery div.grid ul.medialist {display:grid; grid-template-columns:repeat(4,1fr); grid-template-columns:repeat(6,1fr); grid-gap:.5rem; padding:1rem;}


/* Gallery Section: Media Item */
div#container section.gallery div.grid ul.medialist li.item {background-color:white; cursor:pointer; position:relative; overflow:hidden; transition:.25s;}
div#container section.gallery div.grid ul.medialist li.item {/* width:16rem; */ border-radius:.5rem; /* border:.125rem solid white; */}
div#container section.gallery div.grid ul.medialist li.item.x {display:none;}
div#container section.gallery div.grid ul.medialist li.item.gone {height:0; width:0; border-width:0; margin:0; display:none;}
/* Gallery Section: Media Item */
div#container section.gallery div.grid ul.medialist li.item div.media {min-width:100%; /* min-height:100%; */ background-size:cover; background-position:center; position:relative; z-index:10;}
/* div#container section.gallery div.grid ul.medialist li.item div.media {transform:none; transition:.125s;} */
/* div#container section.gallery div.grid ul.medialist li.item:hover div.media {transform:scale(1.04);} */
div#container section.gallery div.grid ul.medialist li.item div.media:before {background-color:var(--blackglass);content:''; display:block; width:100%; padding-top:var(--aspectratio);}
div#container section.gallery div.grid ul.medialist li.item div.media.local::after {position:absolute; right:0; top:0; z-index:110;}
div#container section.gallery div.grid ul.medialist li.item div.media.local::after {/* background-color:var(--trpgreen); */ content:''; display:block; height:0; width:0; margin-right:1rem;}
div#container section.gallery div.grid ul.medialist li.item div.media.local::after {border:.875rem solid var(--drkorange); border-width:1.75rem .875rem .5rem; border-bottom-color:transparent; /* box-shadow:var(--boxshadow); */}

/* Gallery Section: Media Item Panel */
div#container section.gallery div.grid ul.medialist li.item div.panel {position:absolute; left:0; right:0; width:100%; /* height:25%; */ z-index:20;}
div#container section.gallery div.grid ul.medialist li.item div.panel {user-select:none; /* pointer-events:none; */}
div#container section.gallery div.grid ul.medialist li.item div.panel {opacity:0.75; transition:.25s;}
div#container section.gallery div.grid ul.medialist li.item:hover div.panel {opacity:1;}

/* Gallery Section: Media Item Profile Panel */
div#container section.gallery div.grid ul.medialist li.item div.panel.top {background:linear-gradient(#0006,#0000); color:white; top:0;}
div#container section.gallery div.grid ul.medialist li.item div.panel.top {padding:.5rem .25rem; /* padding:.5rem .625rem; */}
div#container section.gallery div.grid ul.medialist li.item div.panel.top div.profile {/* flex-grow:1;  */display:flex; flex-direction:row; align-items:center;}
div#container section.gallery div.grid ul.medialist li.item div.panel.top div.profile {padding:.25rem .375rem .125rem; /* padding:.25rem 0 .125rem; */}
div#container section.gallery div.grid ul.medialist li.item div.panel.top div.profile div.avatar {flex-grow:0; width:2.25rem; height:2.25rem; border-radius:50%; overflow:hidden;}
div#container section.gallery div.grid ul.medialist li.item div.panel.top div.profile div.avatar {background-color:#0004; background-position:top center; background-size:cover;}
div#container section.gallery div.grid ul.medialist li.item div.panel.top div.profile div.avatar img {object-fit:cover; width:100%; height:100%;}
div#container section.gallery div.grid ul.medialist li.item div.panel.top div.profile div.details {flex-grow:1; margin-left:.5rem; display:flex; flex-direction:column; justify-content:center; align-items:flex-start;}
div#container section.gallery div.grid ul.medialist li.item div.panel.top div.profile div.details div.username {font-size:.875rem;}
div#container section.gallery div.grid ul.medialist li.item div.panel.top div.profile div.details div.followercount {font-size:.75rem;}

/* Gallery Section: Media Item Interaction Panel */
div#container section.gallery div.grid ul.medialist li.item div.panel.bottom {background:linear-gradient(#0000,#0006); color:white; bottom:0;}
div#container section.gallery div.grid ul.medialist li.item div.panel.bottom {display:flex; flex-direction:row; /* justify-content:flex-end; */ align-items:flex-end; padding:.375rem;}
div#container section.gallery div.grid ul.medialist li.item div.panel.bottom a.btn {flex-grow:0; display:grid; place-items:center; min-width:1.75rem; min-height:1.75rem; cursor:pointer;}
div#container section.gallery div.grid ul.medialist li.item div.panel.bottom a.btn {background-color:var(--trpltgrey); font-size:1.25rem; padding:.25rem; border-radius:.25rem; margin:.25rem;}
div#container section.gallery div.grid ul.medialist li.item div.panel.bottom a.btn {color:var(--midgrey); transition:.25s;}
div#container section.gallery div.grid ul.medialist li.item div.panel.bottom a.btn:hover {color:var(--drkgrey);}
/* div#container section.gallery div.grid ul.medialist li.item div.panel.bottom a.btn.dl {} */
/* div#container section.gallery div.grid ul.medialist li.item div.panel.bottom a.btn.like {} */
/* div#container section.gallery div.grid ul.medialist li.item div.panel.bottom a.btn.comment {} */
div#container section.gallery div.grid ul.medialist li.item div.panel.bottom a.btn.like svg.icon {transform:none; transition:.125s;}
div#container section.gallery div.grid ul.medialist li.item div.panel.bottom a.btn.like svg.icon {display:block;}
div#container section.gallery div.grid ul.medialist li.item div.panel.bottom a.btn.like svg.icon.bold {display:none; color:crimson;}
div#container section.gallery div.grid ul.medialist li.item div.panel.bottom a.btn.like:active svg.icon {transform:scale(.75);}
div#container section.gallery div.grid ul.medialist li.item.liked div.panel.bottom a.btn.like svg.icon {display:none;}
div#container section.gallery div.grid ul.medialist li.item.liked div.panel.bottom a.btn.like svg.icon.bold {display:block;}
div#container section.gallery div.grid ul.medialist li.item.liked div.panel.bottom a.btn.like:active svg.icon {transform:none;}
div#container section.gallery div.grid ul.medialist li.item div.panel.bottom div.space {flex-grow:1;}

/* Gallery Section: Media Item */
div#container section.gallery div.grid ul.medialist.exp li.item {overflow:visible; margin:3rem 0;}
div#container section.gallery div.grid ul.medialist.exp li.item div.panel {background:white; color:black; padding:.25rem;}
div#container section.gallery div.grid ul.medialist.exp li.item div.panel.top {top:auto; bottom:100%; /* padding-left:.375rem; */ border-radius:.5rem .5rem 0 0;}
div#container section.gallery div.grid ul.medialist.exp li.item div.panel.bottom {top:100%; bottom:auto; border-radius:0 0 .5rem .5rem;}






/* Small Laptop */
@media screen and (max-width:96rem) {

	/* Gallery Section */
	/* div#container section.gallery {} */
	/* div#container section.gallery div.grid {} */
	/* Gallery Section: Media List */
	div#container section.gallery div.grid ul.medialist {grid-template-columns:repeat(5,1fr);}
}


/* Small Laptop */
@media screen and (max-width:76rem) {

	/* Gallery Section */
	/* div#container section.gallery {} */
	/* div#container section.gallery div.grid {} */
	/* Gallery Section: Media List */
	div#container section.gallery div.grid ul.medialist {grid-template-columns:repeat(4,1fr);}
}


/* Large Smartphone */
@media screen and (max-width:62rem) {

	/* Gallery Section */
	/* div#container section.gallery {} */
	/* div#container section.gallery div.grid {} */
	/* Gallery Section: Media List */
	div#container section.gallery div.grid ul.medialist {grid-template-columns:repeat(3,1fr);}
}


/* Medium Smartphone */
@media screen and (max-width:48rem) {

	/* Gallery Section */
	/* div#container section.gallery {} */
	/* div#container section.gallery div.grid {} */
	/* Gallery Section: Media List */
	div#container section.gallery div.grid ul.medialist {grid-template-columns:repeat(2,1fr); padding:.5rem;}
}


/* Small Smartphone */
@media screen and (max-width:30rem) {

	/* Gallery Section */
	/* div#container section.gallery {} */
	/* div#container section.gallery div.grid {} */
	/* Gallery Section: Media List */
	div#container section.gallery div.grid ul.medialist {grid-template-columns:repeat(1,1fr); padding:0;}
}
