

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');



:root {
	--lightorange:#ffb442;
	--lightlightorange:#ffc670;
}



* {box-sizing:border-box;}



body {font-family:Nunito,sans-serif; margin:0;}



div#container {background-color:whitesmoke; display:flex; flex-direction:column; height:100vh;}



/* General Section */

div#container section {border-bottom:1px solid #0004; padding:1rem; /* min-height:10rem; */}
div#container section main {width:100%; max-width:75rem; margin:0 auto;}


/* Head Section */

div#container section#head {flex-grow:0; background-color:var(--lightorange); padding:1rem 2rem .75rem; text-align:center; z-index:30;}
div#container section#head main {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
div#container section#head main h1.head {display:flex; flex-direction:row; justify-content:center; align-items:center; font-size:2rem; margin:0 /* 1rem */;}
div#container section#head main h1.head svg.icon {margin-right:.375rem; margin-bottom:.125rem;}
div#container section#head main h1.head span.caption {white-space:nowrap;}
div#container section#head main div.btn {font-size:2rem; /* margin:0 1rem; */ cursor:pointer;}
div#container section#head main div.btn svg.icon {display:block;}


/* Tags Section */

div#container section#tags {flex-grow:0; background-color:var(--lightorange); background-color:var(--lightlightorange); overflow:hidden; position:relative;}
div#container section#tags {display:flex; flex-direction:row; align-items:center; padding:1px;}
div#container section#tags {max-height:0; transition:.5s;}
div#container section#tags.active {max-height:10vmax;}
div#container section#tags:before {position:absolute; top:0; left:0;}
/* div#container section#tags:before {content:'Filter:'; padding:0 1rem;} */
div#container section#tags main {flex-grow:1; padding:.65rem 1rem; padding-left:0; margin:1rem;}
div#container section#tags main {display:flex; flex-direction:row; /* justify-content:space-between; */ justify-content:flex-start; align-items:center; flex-wrap:nowrap; max-width:none;}
div#container section#tags main {overflow-x:auto; scrollbar-width:none; position:relative;}
/* div#container section#tags main::after {content:''; position:absolute; top:0; left:0; height:100%; width:4rem; background:linear-gradient(to right, var(--lightlightorange), transparent);} */
div#container section#tags main div.tag {flex-shrink:0; min-width:6em; min-height:2em; padding:0 2rem; margin:0 .5rem;}
div#container section#tags main div.tag {border:2px solid black; border-radius:6rem; font-size:1rem; cursor:pointer;}
div#container section#tags main div.tag {display:flex; justify-content:center; align-items:center; white-space:nowrap; user-select:none;}
div#container section#tags main div.tag span.caption {padding-top:.125rem;}
div#container section#tags main div.tag span.caption:empty::after {content:'All';}
div#container section#tags main div.tag:hover {background-color:black; color:var(--lightorange);}
div#container section#tags main div.tag:empty::after {content:'-';}
div#container section#tags button.loadbtn {background-color:#e68a00; color:white; border:0 none;}
div#container section#tags {display:none;}


/* Gallery Section */

div#container section#gallery {flex-grow:1; background-color:#ffebcd; padding:2rem; /* text-align:center; */ overflow:auto; scrollbar-width:none; position:relative; z-index:40;}
div#container section#gallery main {display:flex; flex-flow:row wrap;}
div#container section#gallery main {display:grid; grid-template-columns:repeat(4,1fr); grid-gap:.5rem;}
div#container section#gallery main div.item {background-color:white; /* width:16rem; */ /* overflow:hidden; */ /* border:.125rem solid white; */ border-radius:.5rem; transition:.25s;}
div#container section#gallery main div.item {margin:3rem 0;}
div#container section#gallery main div.item {cursor:pointer; position:relative;}
div#container section#gallery main div.item.gone {width:0; border-width:0; margin:0;}
div#container section#gallery main div.item div.image {min-width:100%; /* min-height:100%; */ background-size:cover; background-position:center; position:relative; z-index:10;}
/* div#container section#gallery main div.item div.image {transform:none; transition:.125s;} */
/* div#container section#gallery main div.item:hover div.image {transform:scale(1.04);} */
div#container section#gallery main div.item div.image:before {content:''; display:block;}
div#container section#gallery main div.item div.image:before {background-color:#0002; width:100%; padding-top:80%;}

div#container section#gallery main div.item div.panel {position:absolute; left:0; right:0; width:100%; /* height:25%; */ padding:.25rem; z-index:20;}
div#container section#gallery main div.item div.panel {display:flex; flex-direction:row; justify-content:flex-end; align-items:flex-end; user-select:none; /* pointer-events:none; */}
div#container section#gallery main div.item div.panel {opacity:0.75; transition:.125s;}
div#container section#gallery main div.item:hover div.panel {opacity:1;}

div#container section#gallery main div.item div.panel.top {top:0; background:linear-gradient(#0006,#0000); color:white;}
div#container section#gallery main div.item div.panel.top {top:auto; bottom:100%; background:white; color:black; border-radius:.5rem .5rem 0 0;}
div#container section#gallery main div.item div.panel.top div.user {flex-grow:1; display:flex; flex-direction:row; align-items:center; padding:.25rem .35rem .15rem;}
div#container section#gallery main div.item div.panel.top div.user div.avatar {flex-grow:0; width:2.25rem; height:2.25rem; border-radius:50%; overflow:hidden;}
div#container section#gallery main div.item div.panel.top div.user div.avatar {background-color:#0004; background-position:top center; background-size:cover;}
div#container section#gallery main div.item div.panel.top div.user div.avatar img {object-fit:cover; width:100%; height:100%;}
div#container section#gallery main div.item div.panel.top div.user div.details {flex-grow:1; margin-left:.5rem; display:flex; flex-direction:column; justify-content:center; align-items:flex-start;}
div#container section#gallery main div.item div.panel.top div.user div.details div.username {font-size:.875rem;}
div#container section#gallery main div.item div.panel.top div.user div.details div.followercount {font-size:.75rem;}

div#container section#gallery main div.item div.panel.bottom {bottom:0; background:linear-gradient(#0000,#0006); color:white;}
div#container section#gallery main div.item div.panel.bottom {bottom:auto; top:100%; background:white; color:black; border-radius:0 0 .5rem .5rem;}
div#container section#gallery main div.item div.panel.bottom a.btn {flex-grow:0; display:grid; place-items:center; min-width:1.75rem; min-height:1.75rem; cursor:pointer;}
div#container section#gallery main div.item div.panel.bottom a.btn {background-color:#EEEC; font-size:1.25rem; padding:.25rem; border-radius:.25rem; margin:.25rem;}
div#container section#gallery main div.item div.panel.bottom a.btn {color:#888; transition:.25s;}
/* div#container section#gallery main div.item div.panel.bottom a.btn.dl {} */
/* div#container section#gallery main div.item div.panel.bottom a.btn.like {} */
/* div#container section#gallery main div.item div.panel.bottom a.btn.comment {} */
div#container section#gallery main div.item div.panel.bottom a.btn:hover {color:#444;}
div#container section#gallery main div.item div.panel.bottom a.btn.like svg.icon {transform:none; transition:.125s;}
div#container section#gallery main div.item div.panel.bottom a.btn.like svg.icon {display:block;}
div#container section#gallery main div.item div.panel.bottom a.btn.like svg.icon.fill {display:none; color:crimson;}
div#container section#gallery main div.item div.panel.bottom a.btn.like:active svg.icon {transform:scale(.75);}
div#container section#gallery main div.item.liked div.panel.bottom a.btn.like svg.icon {display:none;}
div#container section#gallery main div.item.liked div.panel.bottom a.btn.like svg.icon.fill {display:block;}
div#container section#gallery main div.item.liked div.panel.bottom a.btn.like:active svg.icon {transform:none;}
div#container section#gallery main div.item div.panel.bottom div.space {flex-grow:1;}


/* Sidebar Section */

div#container aside#sidebar {position:fixed; top:0; right:0; bottom:0; width:100%; max-width:16rem; opacity:.95; z-index:100;}
div#container aside#sidebar {background-color:var(--lightlightorange); background-image:linear-gradient( var(--lightorange), var(--lightlightorange) ); display:flex; flex-direction:column; justify-content:center; align-items:stretch;}
div#container aside#sidebar {transform:translateX(100%); transition:.5s;}
div#container aside#sidebar.active {transform:translateX(0);}
div#container aside#sidebar main {background-color:#FFF1; min-height:20rem;}

/* div#container aside#sidebar main {display:flex; flex-direction:row; justify-content:flex-start; align-items:center; flex-wrap:nowrap; flex-wrap:wrap; max-width:none;} */
div#container aside#sidebar main {position:relative; padding:1rem; overflow:auto;}
/* div#container aside#sidebar main::after {content:''; position:absolute; top:0; left:0; height:100%; width:4rem; background:linear-gradient(to right, var(--lightlightorange), transparent);} */
div#container aside#sidebar main div.tag {display:inline-block; flex-shrink:0; min-width:6em; min-height:2em; padding:0 2rem; margin:0 .5rem; margin:.5rem 0;}
div#container aside#sidebar main div.tag {border:2px solid black; border-radius:6rem; font-size:1rem; cursor:pointer;}
div#container aside#sidebar main div.tag {display:flex; justify-content:center; align-items:center; white-space:nowrap; user-select:none;}
div#container aside#sidebar main div.tag span.caption {padding-top:.125rem;}
div#container aside#sidebar main div.tag span.caption:empty::after {content:'All';}
div#container aside#sidebar main div.tag:hover {background-color:black; color:var(--lightorange);}
div#container aside#sidebar main div.tag:empty::after {content:'-';}

div#container aside#sidebar div.closebtn {cursor:pointer; position:absolute; top:0; right:0; margin:1.5rem 2.25rem; font-size:1.5rem;}
/* div#container aside#sidebar div.closebtn svg.icon {} */





@media screen and (max-width:60rem) {

	div#container section#gallery main {grid-template-columns:repeat(3,1fr);}
}


@media screen and (max-width:48rem) {

	div#container section#gallery main {grid-template-columns:repeat(2,1fr);}
}


@media screen and (max-width:32rem) {

	div#container section#head {padding-left:1rem; padding-right:1rem;}
	div#container section#head main h1.head {font-size:1.5rem;}
	div#container section#head main div.btn {font-size:1.5rem;}

	div#container section#gallery {padding:1rem;}
	div#container section#gallery main {grid-template-columns:repeat(1,1fr);}
}

