
* {box-sizing:border-box;}



body {font-family:sans-serif; margin:0;}



div#container {background-color:whitesmoke; display:flex; flex-direction:column; height:100vh;}



/* General Section */

div#container section {border-bottom:1px solid #0004; padding:1rem; /* min-height:10rem; */}
div#container section main {display:flex; flex-direction:row; align-items:flex-start; width:100%;}


/* Head Section */

div#container section#head {flex-grow:0; background-color:#ffb442; padding:1.25rem 0 1rem; text-align:center;}
div#container section#head h1.head {display:flex; flex-direction:row; justify-content:center; align-items:center; font-size:2rem; margin:0;}
div#container section#head h1.head svg.icon {margin-right:.375rem; margin-bottom:.125rem;}


/* Tags Section */

div#container section#tags {flex-grow:0; background-color:#ffb442; background-color:#ffc670; padding:.65rem 0;}
div#container section#tags {display:flex; flex-direction:row; align-items:center;}
div#container section#tags:before {content:'Filter:'; padding:0 1rem;}
div#container section#tags main {flex-grow:1; flex-wrap:nowrap; justify-content:flex-start; padding:0 1rem; padding-left:0;}
div#container section#tags main {overflow-x:auto; scrollbar-width:none; position:relative;}
/* div#container section#tags main::after {content:''; position:absolute; top:0; left:0; height:100%; width:4rem; background:linear-gradient(to right, #ffc670, transparent);} */
div#container section#tags main div.tag {flex-shrink:0; min-width:6em; min-height:2em; padding:0 2rem; margin:0 .5rem;}
div#container section#tags main div.tag {border:2px solid black; border-radius:6rem; font-size:1rem; cursor:pointer;}
div#container section#tags main div.tag {display:flex; justify-content:center; align-items:center; white-space:nowrap; user-select:none;}
div#container section#tags main div.tag span.caption {padding-top:.125rem;}
div#container section#tags main div.tag span.caption:empty::before {content:'All';}
div#container section#tags main div.tag:hover {background-color:black; color:#ffb442;}
div#container section#tags main div.tag:empty::after {content:'-';}
div#container section#tags button.loadbtn {background-color:#e68a00; color:white; border:0 none;}


/* Gallery Section */

div#container section#gallery {flex-grow:1; background-color:#ffebcd; padding:1rem; /* text-align:center; */ overflow:auto; scrollbar-width:none;}
div#container section#gallery main {flex-wrap:wrap; justify-content:center; /* gap:1rem; */ max-width:72rem; margin:0 auto;}
div#container section#gallery main div.item {overflow:hidden; border-radius:.125rem; cursor:pointer; position:relative;}
div#container section#gallery main div.item {width:16rem; border:.125rem solid white; margin:.25rem; transition:.25s;}
div#container section#gallery main div.item.gone {width:0; border-width:0; margin:0;}
div#container section#gallery main div.item div.image {min-width:100%; min-height:100%; background-size:cover; background-position:center; position:relative;}
/* div#container section#gallery main div.item div.image {transform:none; transition:.125s;} */
/* div#container section#gallery main div.item:hover div.image {transform:scale(1.04);} */
div#container section#gallery main div.item div.image:before {content:''; display:block;}
div#container section#gallery main div.item div.image:before {background-color:#0002; width:100%; padding-top:80%;}

div#container section#gallery main div.item div.panel {position:absolute; left:0; right:0; width:100%; /* height:25%; */ padding:.25rem ;}
div#container section#gallery main div.item div.panel {display:flex; flex-direction:row; justify-content:flex-end; align-items:flex-end; user-select:none; /* pointer-events:none; */}
div#container section#gallery main div.item div.panel {opacity:0.75; transition:.125s;}
div#container section#gallery main div.item:hover div.panel {opacity:1;}

div#container section#gallery main div.item div.panel.top {top:0; background:linear-gradient(#0006,#0000);}
div#container section#gallery main div.item div.panel.top div.user {flex-grow:1; display:flex; flex-direction:row; align-items:center; margin:.35rem .25rem;}
div#container section#gallery main div.item div.panel.top div.user div.avatar {flex-grow:0; width:2.25rem; height:2.25rem; border-radius:50%; overflow:hidden;}
div#container section#gallery main div.item div.panel.top div.user div.avatar {background-color:#0004; background-position:top center; background-size:cover;}
div#container section#gallery main div.item div.panel.top div.user div.avatar img {object-fit:cover; width:100%; height:100%;}
div#container section#gallery main div.item div.panel.top div.user div.details {flex-grow:1; color:white; margin-left:.5rem; display:flex; flex-direction:column; justify-content:center; align-items:flex-start;}
div#container section#gallery main div.item div.panel.top div.user div.details div.username {font-size:.875rem;}
div#container section#gallery main div.item div.panel.top div.user div.details div.followercount {font-size:.75rem;}

div#container section#gallery main div.item div.panel.bottom {bottom:0; background:linear-gradient(#0000,#0006);}
div#container section#gallery main div.item div.panel.bottom a.btn {flex-grow:0; display:grid; place-items:center; min-width:1.75rem; min-height:1.75rem; cursor:pointer;}
div#container section#gallery main div.item div.panel.bottom a.btn {background-color:#FFFC; font-size:1.25rem; padding:.25rem; border-radius:.25rem; margin:.25rem;}
div#container section#gallery main div.item div.panel.bottom a.btn {color:#888; transition:.25s;}
/* div#container section#gallery main div.item div.panel.bottom a.btn.dl {} */
/* div#container section#gallery main div.item div.panel.bottom a.btn.like {} */
/* div#container section#gallery main div.item div.panel.bottom a.btn.comment {} */
div#container section#gallery main div.item div.panel.bottom a.btn:hover {color:#444;}
div#container section#gallery main div.item div.panel.bottom a.btn.like svg.icon {transform:none; transition:.125s;}
div#container section#gallery main div.item div.panel.bottom a.btn.like svg.icon {display:block;}
div#container section#gallery main div.item div.panel.bottom a.btn.like svg.icon.fill {display:none; color:crimson;}
div#container section#gallery main div.item div.panel.bottom a.btn.like:active svg.icon {transform:scale(.75);}
div#container section#gallery main div.item.liked div.panel.bottom a.btn.like svg.icon {display:none;}
div#container section#gallery main div.item.liked div.panel.bottom a.btn.like svg.icon.fill {display:block;}
div#container section#gallery main div.item.liked div.panel.bottom a.btn.like:active svg.icon {transform:none;}
div#container section#gallery main div.item div.panel.bottom div.space {flex-grow:1;}

