


/* Navbar */
nav#navbar {min-height:3rem; background-color:var(--offwhite); padding:.625rem 0 0; transition:.5s; position:relative;}
nav#navbar {position:fixed; top:0; right:0; left:0; width:100%; z-index:25; box-shadow:var(--shadow);}
nav#navbar main {display:flex; flex-direction:row; justify-content:space-between; align-items:center; position:relative;}
nav#navbar main {max-width:72rem; padding:0 1rem .5rem; margin: 0 auto; transition:.5s;}


/* Navbar: General Section */
nav#navbar main div a.navlink {display:flex; flex-direction:column; justify-content:center; align-items:center; min-width:2rem; min-height:2rem;}
nav#navbar main div a.navlink {background-color:#FFF8; color:inherit; text-decoration:none; padding:.125rem; padding-top:.25rem; border-radius:.25rem; margin:0 .15rem;}
nav#navbar main div a.navlink.active {background-color:#0008; color:white;}

/* Navbar: Logo Section */
nav#navbar main div.logo {flex-grow:1; flex-basis:0;}
nav#navbar main div.logo {display:flex; flex-direction:row; justify-content:flex-start; align-items:center;}
nav#navbar main div.logo a.navlink {background-color:transparent; flex-direction:row; font-size:2rem; padding:.65rem .85rem .15rem; transition:.5s;}
nav#navbar main div.logo a.navlink svg.icon {color:var(--blue); margin-bottom:.5rem;}
nav#navbar main div.logo a.navlink span.caption {margin-left:.35rem;}

/* Navbar: Toggle Section */
nav#navbar main div.toggle {flex-grow:1; flex-basis:0;}
nav#navbar main div.toggle {display:flex; flex-direction:row; justify-content:center; align-items:center;}
nav#navbar main div.toggle a.navlink:hover {background-color:#0008; background-color:var(--blue); color:white;}
nav#navbar main div.toggle a.navlink.toggler {font-size:1.5rem; display:none;}
nav#navbar main div.toggle a.navlink svg.icon {display:block;}
nav#navbar main div.toggle a.navlink span.closer,
nav#navbar main div.toggle a.navlink svg.icon.closer {display:none; font-weight:100;}
nav#navbar main div.toggle a.navlink span.caption {display:none; font-size:.675rem; text-align:center; /* white-space:nowrap; */}
nav#navbar main div.toggle a.navlink.active svg.icon {display:none;}
nav#navbar main div.toggle a.navlink.active span.closer,
nav#navbar main div.toggle a.navlink.active svg.icon.closer {display:block;}
/* Special Buttons */
nav#navbar main div.toggle a.navlink {justify-content:space-between; min-width:2.75rem; min-height:2.75rem;}
nav#navbar main div.toggle a.navlink span.caption {display:block;}

/* Navbar Drawer: Navigation List */
nav#navbar main div.toggle div#navlist {display:flex; flex-direction:column; justify-content:flex-end; align-items:stretch;}
nav#navbar main div.toggle div#navlist ul.navlist {display:flex; flex-direction:row; justify-content:center; align-items:center;}
nav#navbar main div.toggle div#navlist ul.navlist {background-color:var(--offwhite);}
nav#navbar main div.toggle div#navlist ul.navlist {list-style:none; padding:0; margin:0;}
nav#navbar main div.toggle div#navlist ul.navlist li.navitem {font-size:1.125rem;}
nav#navbar main div.toggle div#navlist ul.navlist li.navitem a.navlink.page {justify-content:center; padding:.75rem .75rem .5rem;}

/* Navbar: Account Section */
nav#navbar main div.account {flex-grow:1; flex-basis:0;}
nav#navbar main div.account {display:flex; flex-direction:row; justify-content:flex-end; align-items:center;}
nav#navbar main div.account a.navlink.toggler {font-size:1.5rem; transition:.5s;}
nav#navbar main div.account a.navlink.toggler:hover {background-color:#0008; background-color:var(--blue); color:white;}
nav#navbar main div.account a.navlink.toggler svg.icon {display:block;}
nav#navbar main div.account a.navlink.toggler span.closer,
nav#navbar main div.account a.navlink.toggler svg.icon.closer {display:none; font-weight:100;}
nav#navbar main div.account a.navlink.toggler span.caption {display:none; font-size:.675rem; text-align:center; /* white-space:nowrap; */}
nav#navbar main div.account a.navlink.toggler.active svg.icon {display:none;}
nav#navbar main div.account a.navlink.toggler.active span.closer,
nav#navbar main div.account a.navlink.toggler.active svg.icon.closer {display:block;}
nav#navbar main div.account a.navlink.toggler.in {display:none;}
nav#navbar main div.account a.navlink.toggler.out {display:flex;}
nav#navbar.loggedin main div.account a.navlink.toggler.in {display:flex;}
nav#navbar.loggedin main div.account a.navlink.toggler.out {display:none;}
/* Special Buttons */
nav#navbar main div.account a.navlink.toggler {justify-content:space-between; min-width:2.75rem; min-height:2.75rem;}
nav#navbar main div.account a.navlink.toggler span.caption {display:block;}


/* Navbar Drawer: General Bin */
nav#navbar main div#navdrawer {position:absolute; top:100%; right:0; left:0; width:100%;}
nav#navbar main div#navdrawer div.navbin {position:absolute; top:100%; right:1rem; overflow:hidden; width:100%; box-shadow:var(--shadow); border-radius:0 0 .5rem .5rem;}
nav#navbar main div#navdrawer div.navbin {/* background-color:var(--offwhite); */ background-color:white; font-size:.75rem; display:flex; flex-direction:column; justify-content:flex-end; align-items:stretch;}
nav#navbar main div#navdrawer div.navbin {max-height:0; z-index:10; transition:.25s;}
nav#navbar main div#navdrawer div.navbin.active {max-height:50vh; z-index:20;}
nav#navbar main div#navdrawer div.navbin h3.title {background-color:white; margin:0; padding:.75rem 1rem .5rem; background-image:linear-gradient( var(--offwhite),white );}
/* nav#navbar main div#navdrawer div.navbin div.inner {background-color:var(--offwhite); border:.25rem solid var(--offwhite);} */
nav#navbar main div#navdrawer div.navbin div.inner {/* border-radius:.5rem; */ padding-bottom:.125rem; overflow:auto; scrollbar-width:none;}
nav#navbar main div#navdrawer div.navbin div.inner {display:flex; flex-direction:column; /* gap:.125rem; */ /* height:100%; */}
nav#navbar main div#navdrawer div.navbin div.inner div.item {flex-shrink:0; background-color:white; /* padding:0 .35rem; */ /* border:.25rem solid white; */ /* border-radius:.5rem; */ /* margin-top:.25rem; */}
nav#navbar main div#navdrawer div.navbin div.inner div.item {padding:.25rem .35rem; border-top:1px solid #0002;}
nav#navbar main div#navdrawer div.navbin div.inner div.item:first-child {border-top:none;}
nav#navbar main div#navdrawer div.navbin div.inner div.item {display:flex; flex-direction:row; align-items:center; user-select:none; overflow:hidden; /* min-height:3rem; */}
nav#navbar main div#navdrawer div.navbin div.inner div.item:hover {background-color:#0001;}
nav#navbar main div#navdrawer div.navbin div.inner div.item a.photo {flex-grow:0; flex-shrink:0; width:3rem; border-radius:.25rem; background-size:cover; background-position:center;}
nav#navbar main div#navdrawer div.navbin div.inner div.item a.photo::after {content:''; display:block; width:100%; padding-top:100%; background-color:#0001;}
nav#navbar main div#navdrawer div.navbin div.inner div.item div.content {flex-grow:1; padding:0 .5rem;}
nav#navbar main div#navdrawer div.navbin div.inner div.item div.content {display:flex; flex-direction:column;}
nav#navbar main div#navdrawer div.navbin div.inner div.item div.content div.name {font-size:.75rem; font-weight:bold;}
nav#navbar main div#navdrawer div.navbin div.inner div.item div.content div.desc {font-size:.5rem; margin-top:.25rem; /* display:none; */}
nav#navbar main div#navdrawer div.navbin div.inner div.item div.content div.price {margin-top:.25rem;}
nav#navbar main div#navdrawer div.navbin div.inner div.item div.content div.price:before {content:'$';}
nav#navbar main div#navdrawer div.navbin div.inner div.item div.deleter {flex-grow:0; font-size:1.25rem; font-weight:100; cursor:pointer; margin:0 .35rem;}
nav#navbar main div#navdrawer div.navbin div.inner:empty:before {content:'[Empty]'; display:block; padding:1.25rem .75rem 1rem;}
nav#navbar main div#navdrawer div.navbin div.total {display:flex; flex-direction:row; justify-content:space-between; align-items:flex-end;}
nav#navbar main div#navdrawer div.navbin div.total {font-size:1.15rem; padding:1.5rem 1rem 1rem; padding:.75rem 1rem .5rem;}
nav#navbar main div#navdrawer div.navbin div.total span.caption {font-size:1rem;}

/* Navbar Drawer: Favorites Bin */
nav#navbar main div#navdrawer div#likebox {max-width:20rem;}
/* nav#navbar main div#navdrawer div#likebox div.inner div.item {} */
nav#navbar main div#navdrawer div#likebox div.inner:empty:before {content:'You have no favorites.';}
nav#navbar main div#navdrawer div#likebox div.total span#favstotal:after {content:' item(s)';}
nav#navbar main div#navdrawer div#likebox div.total span#favstotal:empty:after {content:'0 item(s)';}

/* Navbar Drawer: Cart Bin */
nav#navbar main div#navdrawer div#cartbox {max-width:20rem;}
/* nav#navbar main div#navdrawer div#cartbox div.inner div.item {} */
nav#navbar main div#navdrawer div#cartbox div.inner div.item div.quantity {flex-grow:0; flex-shrink:0;}
nav#navbar main div#navdrawer div#cartbox div.inner div.item div.quantity {display:flex; flex-direction:row; justify-content:space-between; align-items:center; /* border:1px solid #CCC; */ border-radius:.35rem; overflow:hidden; margin:.5rem 0;}
nav#navbar main div#navdrawer div#cartbox div.inner div.item div.quantity span.qty {font-size:.75rem; min-width:.75rem; text-align:center; margin-top:.125rem;}
nav#navbar main div#navdrawer div#cartbox div.inner div.item div.quantity span.delta {background-color:#CCC; color:#555; font-size:.75rem; padding:.25rem .45rem; /* border-radius:.35rem; */ text-align:center; cursor:pointer; user-select:none;}
nav#navbar main div#navdrawer div#cartbox div.inner div.item div.quantity span.delta:last-child {margin-left:.5rem;}
nav#navbar main div#navdrawer div#cartbox div.inner div.item div.quantity span.delta:first-child {margin-right:.5rem;}
/* nav#navbar main div#navdrawer div#cartbox div.inner div.item div.quantity span.delta.plus {margin-left:.125rem;} */
/* nav#navbar main div#navdrawer div#cartbox div.inner div.item div.quantity span.delta.minus {margin-right:.125rem;} */
nav#navbar main div#navdrawer div#cartbox div.inner:empty:before {content:'Your cart is empty.';}
nav#navbar main div#navdrawer div#cartbox div.total span#cartquantity {font-size:1rem;}
nav#navbar main div#navdrawer div#cartbox div.total span#cartquantity:before {content:'('; margin-left:.25rem;}
nav#navbar main div#navdrawer div#cartbox div.total span#cartquantity::after {content:')';}
nav#navbar main div#navdrawer div#cartbox div.total span#cartsubtotal {flex-grow:1; text-align:right;}
nav#navbar main div#navdrawer div#cartbox div.total span#cartsubtotal:before {content:'$';}
nav#navbar main div#navdrawer div#cartbox div.total span#cartsubtotal:empty:before {content:'$0.00';}

/* Navbar Drawer: Account Bin */
nav#navbar main div#navdrawer div#accountbox {max-width:12rem;}
nav#navbar main div#navdrawer div#accountbox div.inner div.item {border:0 none;}
nav#navbar main div#navdrawer div#accountbox div.inner div.item {cursor:pointer;}
nav#navbar main div#navdrawer div#accountbox div.inner div.item a.photo {width:2rem;}
nav#navbar main div#navdrawer div#accountbox div.inner div.item.activeuser {flex-direction:column; border-bottom:1px solid #0002; padding-bottom:.65rem; margin-bottom:.25rem;}
nav#navbar main div#navdrawer div#accountbox div.inner div.item.activeuser:hover {background-color:initial;}
nav#navbar main div#navdrawer div#accountbox div.inner div.item.activeuser a.photo {width:4rem;}
nav#navbar main div#navdrawer div#accountbox div.inner div.item.activeuser div.content {margin-top:.5rem;}
nav#navbar main div#navdrawer div#accountbox div.inner div.item.activeuser div.content div.desc {margin-top:.125rem;}
nav#navbar main div#navdrawer div#accountbox div.inner:empty:before {content:'You have no account information.';}

/* Navbar Drawer: Login & Signup Bin */
nav#navbar main div#navdrawer div.navbin.userin {width:12rem;}
/* nav#navbar main div#navdrawer div#loginbox {} */
/* nav#navbar main div#navdrawer div#signupbox {} */
/* nav#navbar main div#navdrawer div.navbin.userin div.inner div.item {} */
nav#navbar main div#navdrawer div.navbin.userin div.inner div.item div.input {flex-grow:1;}
nav#navbar main div#navdrawer div.navbin.userin div.inner div.item div.input input {width:100%;}
nav#navbar main div#navdrawer div.navbin.userin div.inner div.item div.input button {width:100%;}

/* Navbar Drawer: Search Bar */
/* nav#navbar main div#navdrawer div#searchbar {position:absolute; top:100%; right:0; left:0; width:100%; overflow:hidden; background-color:var(--offwhite);} */
nav#navbar main div#navdrawer div#searchbar {right:50%; transform:translateX(50%); margin-top:1rem; border-radius:2rem; font-size:1.125rem; max-width:24rem;}
nav#navbar main div#navdrawer div#searchbar {max-height:0; transition:.25s;}
nav#navbar main div#navdrawer div#searchbar.active {max-height:5rem;}
nav#navbar main div#navdrawer div#searchbar div.inner {padding-bottom:0; transition:.25s;}
nav#navbar main div#navdrawer div#searchbar div.inner div.input {position:relative; transition:.25s;}
nav#navbar main div#navdrawer div#searchbar div.inner div.input input#searchquery {width:100%; padding:.75rem 2rem; padding-right:4.5rem; font-size:inherit; border-radius:2rem; border: 0px solid var(--offwhite); outline:none;}
nav#navbar main div#navdrawer div#searchbar div.inner div.input button.sendquery {position:absolute; right:0; top:50%; transform:translateY(-50%); height:100%; cursor:pointer; z-index:10;}
nav#navbar main div#navdrawer div#searchbar div.inner div.input button.sendquery {background-color:transparent; color:inherit; border-color:transparent; border-radius:0 2rem 2rem 0; font-size:1.25rem; padding:0 1rem;}
nav#navbar main div#navdrawer div#searchbar div.inner div.input button.sendquery:active {color: var(--blue); border-color:transparent;}

nav#navbar main div#navdrawer div#searchbar.bare {background-color:transparent; box-shadow:none;}
nav#navbar main div#navdrawer div#searchbar.bare div.inner {background-color:transparent; border-color:transparent; padding:.5rem;}
nav#navbar main div#navdrawer div#searchbar.bare div.inner div.input input#searchquery {box-shadow:var(--shadow);}




/* Medium Screen */
@media screen and (max-width:60rem) {

	/* Navbar */

	/* Navbar: General Section */
	/* Navbar: Logo Section */
	nav#navbar main div.logo {flex-grow:1;}
	/* Navbar: Toggle Section */
	nav#navbar main div.toggle {flex-grow:0;}
	nav#navbar main div.toggle {justify-content:flex-end;}
	nav#navbar main div.toggle a.navlink.toggler {display:flex;}
	/* Navbar Drawer: Navigation List */
	nav#navbar main div.toggle div#navlist {position:absolute; top:100%; left:0; right:0; width:100%; max-width:20rem; overflow:hidden;}
	nav#navbar main div.toggle div#navlist {max-height:0; z-index:10; transition:.5s;}
	nav#navbar main div.toggle div#navlist.active {max-height:16rem; z-index:20;}
	nav#navbar main div.toggle div#navlist ul.navlist {flex-direction:column; justify-content:flex-end; align-items:stretch; padding:0 .5rem .5rem;}
	nav#navbar main div.toggle div#navlist ul.navlist li.navitem {padding:.125rem 0;}
	nav#navbar main div.toggle div#navlist ul.navlist li.navitem a.navlink.page {align-items:flex-start;}
	/* Navbar Drawer: Sidelined Navigation List */
	/* Navbar: Account Section */
	nav#navbar main div.account {flex-grow:0;}

	/* Navbar Drawer: General Bin */
	nav#navbar main div#navdrawer div.navbin {right:0; border-radius:0 0 0 .5rem;}
	/* Navbar Drawer: Favorites Bin */
	/* Navbar Drawer: Cart Bin */
	/* Navbar Drawer: Account Bin */
	/* Navbar Drawer: Login Bin */
	/* Navbar Drawer: Search Bar */
}

/* Small Screen */
@media screen and (max-width:48rem) {
	
	/* Navbar */

	/* Navbar: Logo Section */
	nav#navbar main div.logo a.navlink {font-size:1.75rem;}
	/* Navbar: Toggle Section */
	/* Navbar Drawer: Navigation List */
	/* Navbar Drawer: Sidelined Navigation List */
	/* Navbar: Account Section */

	/* Navbar Drawer: General Bin */
	/* nav#navbar main div#navdrawer div.navbin {width:75%;} */
	/* Navbar Drawer: Favorites Bin */
	/* Navbar Drawer: Cart Bin */
	/* Navbar Drawer: Account Bin */
	/* Navbar Drawer: Login Bin */
	/* Navbar Drawer: Search Bar */
}

/* Extra Small Screen */
@media screen and (max-width:32rem) {
	
	/* Navbar */
	/* nav#navbar main {flex-wrap:wrap;} */

	/* Navbar: Logo Section */
	nav#navbar main div.logo a.navlink {font-size:1.5rem;}
	/* Navbar: Toggle Section */
	/* Navbar Drawer: Navigation List */
	/* Navbar Drawer: Sidelined Navigation List */
	/* nav#navbar main div.toggle div#navlist.sidelined {position:fixed; top:0; left:0; width:100%; height:100%; transform:translateX(100%); max-height:none;}
	nav#navbar main div.toggle div#navlist.sidelined.active {transform:translateX(0); max-height:none;}
	nav#navbar main div.toggle div#navlist.sidelined ul.navlist {height:100%; justify-content:center;}
	nav#navbar main div.toggle div#navlist.sidelined ul.navlist li.navitem a.navlink.page {padding:1.75rem 1.5rem 1.5rem;} */
	/* Navbar: Account Section */
	/* nav#navbar main div.account {flex-basis:100%; flex-shrink:0; justify-content:center;} */
	nav#navbar main div.account a.navlink {font-size:1.25rem;}

	/* Navbar Drawer: General Bin */
	/* nav#navbar main div#navdrawer div.navbin {width:100%;} */
	/* Navbar Drawer: Favorites Bin */
	/* Navbar Drawer: Cart Bin */
	/* Navbar Drawer: Account Bin */
	/* Navbar Drawer: Login Bin */
	/* Navbar Drawer: Search Bar */
	nav#navbar main div#navdrawer div#searchbar {font-size:1rem;}
	nav#navbar main div#navdrawer div#searchbar div.inner div.input input#searchquery {padding:.5rem 1.5rem; padding-right:3.5rem;}
	nav#navbar main div#navdrawer div#searchbar div.inner div.input button.sendquery {font-size:1rem;}
}
