
* {box-sizing:border-box;}

html,body {font-family:sans-serif; min-height:100%; margin:0; background-color:#0001;}

/* div#container {} */
div#container main {max-width:75rem; margin:0 auto; background-color:#EEE; padding:1rem .75rem;}
div#container main {display:flex; flex-direction:row; flex-wrap:wrap; justify-content:space-between;}
div#container main div.product {flex:0 0 25%; /*border:1px solid #0002;*/ padding:1rem .75rem; box-shadow:0px 1px 1px 0 rgba(0,0,0,.05); z-index:1; transition:.25s;}
div#container main div.product:hover {transform:translateY(-1rem);}
div#container main div.product div.photo {padding:50%; background-color:#0001;}
div#container main div.product div.name {font-size:1.25rem; margin-top:.75rem;}
div#container main div.product div.rating {font-size:1.15rem; color:var(--blue); margin-top:.25rem;}
div#container main div.product div.price {margin-top:.25rem;}
div#container main div.product div.price:before {content:'$';}

footer {background-color:#0001; height:20rem;}



/* Medium Screen */
@media screen and (max-width:60rem) {
	div#container main div.product {flex-basis:33.333%;}
}

/* Small Screen */
@media screen and (max-width:42rem) {
	div#container main div.product {flex-basis:50%;}
}

/* Extra Small Screen */
@media screen and (max-width:30rem) {
	div#container main div.product {flex-basis:100%;}
}
