


/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');



* {box-sizing:border-box;}

:root {

	/* Colors */
	--red:#F4615A;
	--darkred:#800000;
	--yellow:#F8BF2F;
	--darkyellow:#995700;
	--green:#42CF42;
	--darkgreen:#1B6400;
	--blue:dodgerblue;
	--white:#f5f5f5;
	--greyglass:#888A;
	--whiteglass:#FFF5;
	--blackglass:#0006;
	--ltblackglass:#0002;
	
	/* Numbers */
	/* font-size:2rem; */
	--pagewidth:75rem;
	--navheight:3.5rem;
	--cornersize:.375rem;
	--shadow:0 .125rem .25rem #0003;
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
	--boxshadowx:rgba(0,0,0,0.25) 0 0.25rem .75rem 0;
	--boxshadowxx:rgba(0,0,0,0.25) 0 0.75rem .75rem 0;
}

html {background-attachment:fixed; background-position:center; background-repeat:no-repeat; background-size:cover;}
html {background-image:url('./../gallery/assets/images/full/starry-sky-wallpaper-dark.jpg');}
html {background-image:url('./../gallery/assets/images/full/ze0NeqF.jpg');}
html {background-image:url('./../gallery/assets/images/full/Navagio.jpg');}
/* html {background-color:var(--whiteglass);} */
body {background-color:var(--whiteglass);}
body {background-attachment:fixed; font-family:Nunito,sans-serif; margin:0;}


/* div#container {background-color:whitesmoke; min-height:100vh;} */



/* Navbar */
div#container nav.navbar {position:fixed; top:0; right:0; left:0; width:100%; z-index:20;}
div#container nav.navbar {background-color:white; /* min-height:4rem; */ padding:.5rem 1.5rem; box-shadow:var(--boxshadow);}
div#container nav.navbar div.bin {display:flex; flex-direction:row; justify-content:space-between; align-items:center; max-width:var(--pagewidth); margin:0 auto;}
div#container nav.navbar div.bin h1.head {display:flex; flex-direction:row; align-items:center; margin:0;}
/* div#container nav.navbar div.bin h1.head svg.icon {} */
div#container nav.navbar div.bin h1.head span.caption {margin-left:.5rem;}
div#container nav.navbar div.bin ul.navlist {display:flex; flex-direction:row; align-items:center; list-style:none; padding:0; margin:0;}
div#container nav.navbar div.bin ul.navlist li.navitem {position:relative; padding:.25rem;}
div#container nav.navbar div.bin ul.navlist li.navitem.x {display:none;}
div#container nav.navbar div.bin ul.navlist li.navitem a.navlink {display:block; color:inherit; text-decoration:none; padding:.5rem; border-radius:5rem; box-shadow:var(--boxshadow);}
div#container nav.navbar div.bin ul.navlist li.navitem a.navlink.add {background-color:var(--green); color:white; }
div#container nav.navbar div.bin ul.navlist li.navitem a.navlink.min {background-color:var(--yellow); color:white;}
div#container nav.navbar div.bin ul.navlist li.navitem a.navlink.clear {background-color:var(--red); color:white;}
/* div#container nav.navbar div.bin ul.navlist li.navitem a.navlink:hover {box-shadow:var(--boxshadowx);} */
div#container nav.navbar div.bin ul.navlist li.navitem a.navlink svg.icon {display:block;}
div#container nav.navbar div.bin ul.navlist li.navitem ul.navdrop {position:absolute; top:100%; left:50%; transform:translateX(-50%); box-shadow:var(--boxshadow);}
div#container nav.navbar div.bin ul.navlist li.navitem ul.navdrop {background-color:white; list-style:none; padding:0; padding:.125rem; border-radius:10rem; margin:0;}
div#container nav.navbar div.bin ul.navlist li.navitem ul.navdrop {opacity:0; visibility:hidden; transition:.25s;}
div#container nav.navbar div.bin ul.navlist li.navitem:hover ul.navdrop {opacity:1; visibility:visible;}
div#container nav.navbar div.bin ul.navlist li.navitem.active ul.navdrop {opacity:1; visibility:visible;}
/* div#container nav.navbar div.bin ul.navlist li.navitem ul.navdrop li.navdropitem {} */
div#container nav.navbar div.bin ul.navlist li.navitem ul.navdrop  li.navdropitem.x {display:none;}
div#container nav.navbar div.bin ul.navlist li.navitem ul.navdrop li.navdropitem a.navlink {display:grid; place-items:center; transition:.125s; padding:.5rem; border-radius:5rem; box-shadow:none;}
div#container nav.navbar div.bin ul.navlist li.navitem ul.navdrop li.navdropitem a.navlink:hover {background-color:var(--blackglass); color:white;}



/* Desktop */
div#container div.desktop {/* background-color:whitesmoke; */ min-height:calc(100vh - var(--navheight)); overflow:auto; padding:1.5rem; margin-top:var(--navheight);}
div#container div.desktop {position:relative; z-index:10;}
/* div#container div.desktop {display:flex; flex-direction:row; align-items:center; position:relative;} */


/* Desktop Display */
div#container div.desktop div.display {max-width:var(--pagewidth); margin:0 auto;}
div#container div.desktop div.display h1.head {margin:0;}
/* div#container div.desktop div.display p.textcopy {margin:0;} */


/* Desktop Link Grid */
div#container div.desktop div.linkgrid {margin-top:1.25rem;}
div#container div.desktop div.linkgrid ul.linklist {list-style:none; padding:0; margin:0;}
div#container div.desktop div.linkgrid ul.linklist {display:grid; grid-template-columns:repeat(12,1fr); grid-gap:.25rem; max-width:var(--pagewidth); margin:0 auto;}
div#container div.desktop div.linkgrid ul.linklist li.linkitem {margin-top:.625rem;}
div#container div.desktop div.linkgrid ul.linklist li.linkitem a.link {display:flex; flex-direction:column; align-items:center;}
div#container div.desktop div.linkgrid ul.linklist li.linkitem a.link {color:inherit; text-decoration:none; /* user-select:none; */}
div#container div.desktop div.linkgrid ul.linklist li.linkitem a.link svg.icon {font-size:2.75rem;}
div#container div.desktop div.linkgrid ul.linklist li.linkitem a.link span.caption {font-size:.875rem; margin-top:.125rem;}


/* Desktop Window */
div#container div.desktop div.window {position:absolute; top:0; left:0; width:24rem; overflow:hidden; border-radius:var(--cornersize); box-shadow:var(--boxshadow);}
div#container div.desktop div.window {background-color:transparent; background-color:var(--greyglass); backdrop-filter:blur(.375rem); text-align:center; z-index:var(--i);}
div#container div.desktop div.window {transition: background-color .125s, backdrop-filter .125s, box-shadow .25s;}
/* div#container div.desktop div.window {width:100%; max-width:20rem;} */
/* div#container div.desktop div.window {max-width:100%; width:20rem;} */
/* div#container div.desktop div.window.x {display:none;} */
/* div#container div.desktop div.window.min {} */
div#container div.desktop div.window.max {position:absolute; top:0 !important; right:0; bottom:0; left:0 !important; z-index:15;}
div#container div.desktop div.window.max {height:100%; width:100%; max-width:none; box-shadow:none;}
div#container div.desktop div.window.top {box-shadow:var(--boxshadowx);}
div#container div.desktop div.window.moving {transition:none;/* z-index:999; */}
/* div#container div.desktop div.window {display:none;} */

/* Desktop Window Headbar */
div#container div.desktop div.window div.headbar {display:flex; flex-direction:row; align-items:center; justify-content:space-between; justify-content:center;}
div#container div.desktop div.window div.headbar {cursor:initial; user-select:none; position:relative; z-index:20; padding:.375rem .5rem;}
div#container div.desktop div.window.moving div.headbar/* :active */ {cursor:move;}
div#container div.desktop div.window div.headbar div.controls {position:absolute; left:0; top:50%; transform:translateY(-50%); margin-left:.125rem; margin-left:.5625rem;}
div#container div.desktop div.window div.headbar div.controls {display:flex; flex-direction:row; justify-content:flex-start; align-items:center;}
div#container div.desktop div.window div.headbar div.controls {display:grid; grid-template-columns:repeat(3,1fr); grid-gap:.4375rem;}
div#container div.desktop div.window div.headbar div.controls div.dot {background-color:var(--whiteglass); font-size:var(--dotsize); font-weight:bold; cursor:pointer; user-select:none; box-shadow:var(--boxshadow);}
div#container div.desktop div.window div.headbar div.controls div.dot {position:relative; --dotsize:.75rem; height:var(--dotsize); width:var(--dotsize); border-radius:50%; /* margin-left:.4375rem; */}
div#container div.desktop div.window div.headbar div.controls div.dot.r {color:var(--darkred);}
div#container div.desktop div.window.top div.headbar div.controls div.dot.r,
div#container div.desktop div.window div.headbar div.controls:hover div.dot.r {background-color:var(--red);}
div#container div.desktop div.window div.headbar div.controls div.dot.y {color:var(--darkyellow);}
div#container div.desktop div.window.top div.headbar div.controls div.dot.y,
div#container div.desktop div.window div.headbar div.controls:hover div.dot.y {background-color:var(--yellow);}
div#container div.desktop div.window div.headbar div.controls div.dot.g {color:var(--darkgreen);}
div#container div.desktop div.window.top div.headbar div.controls div.dot.g,
div#container div.desktop div.window div.headbar div.controls:hover div.dot.g {background-color:var(--green);}
div#container div.desktop div.window div.headbar div.controls div.dot span.icon {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
div#container div.desktop div.window div.headbar div.controls div.dot span.icon {visibility:hidden;}
div#container div.desktop div.window div.headbar div.controls:hover div.dot span.icon {visibility:visible;}
div#container div.desktop div.window div.headbar span.caption {color:white; font-size:1.125rem; font-weight:600; white-space:nowrap; margin:0 1rem;}
div#container div.desktop div.window div.headbar div.dotmatrix {display:grid; grid-template-columns:repeat(12,1fr);}
div#container div.desktop div.window div.headbar div.dotmatrix span.dot {background-color:#FFF8; --size:.125rem; --size:.1875rem; height:var(--size); width:var(--size); border-radius:50%; margin:1px;}

/* Desktop Window Body */
div#container div.desktop div.window div.bodycontent {background-color:white; overflow:hidden;}
div#container div.desktop div.window div.bodycontent.x {display:none;}
div#container div.desktop div.window.min div.bodycontent {height:0; transition:height .25s;}
/* Desktop Window Body (Text) */
div#container div.desktop div.window div.bodycontent p.copy {font-size:1.125rem; line-height:1.875rem; padding:.5rem 2rem;}
/* Desktop Window Body (Image) */
div#container div.desktop div.window div.bodycontent img.pic {display:block; width:100%;}
/* Desktop Window Body (Audio) */
div#container div.desktop div.window div.bodycontent div.clipbox {position:relative; padding-top:56.25%;}
div#container div.desktop div.window div.bodycontent div.clipbox audio.clip {display:block; width:100%;}
/* Desktop Window Body (Video) */
div#container div.desktop div.window div.bodycontent div.vidbox {position:relative; padding-top:62.5%;}
div#container div.desktop div.window div.bodycontent div.vidbox video.vid {position:absolute; top:0; left:0; height:100%; width:100%; object-fit:cover;}
div#container div.desktop div.window div.bodycontent label.cover {position:absolute; top:0; left:0; height:100%; width:100%;}
div#container div.desktop div.window div.bodycontent label.cover {background-color:var(--blackglass); display:grid; place-items:center; overflow:hidden;}
div#container div.desktop div.window div.bodycontent label.cover {opacity:1; visibility:visible; transition:.25s;}
div#container div.desktop div.window.top div.bodycontent label.cover {opacity:0; visibility:hidden;}
div#container div.desktop div.window div.bodycontent label.cover svg.icon {color:limegreen; font-size:5rem; opacity:.625;}
/* Desktop Window Body (File Folder) */
div#container div.desktop div.window div.bodycontent div.head {background-color:var(--blackglass); display:flex; flex-direction:row; align-items:center; padding:.5rem;}
div#container div.desktop div.window div.bodycontent div.head div.btn {background-color:var(--white); cursor:pointer; padding:.25rem; border-radius:.25rem; margin-right:.25rem; box-shadow: var(--boxshadowx);}
div#container div.desktop div.window div.bodycontent div.head div.btn svg.icon {display:block; font-size:1.5rem;}
div#container div.desktop div.window div.bodycontent div.head label.foldername {color:white; font-size:1.5rem; margin-left:.75rem;}
div#container div.desktop div.window div.bodycontent div.body {display:flex; flex-direction:row;}
/* div#container div.desktop div.window div.bodycontent div.body {flex-direction:column;} */
div#container div.desktop div.window div.bodycontent div.body ul.filelist {flex-grow:1;}
div#container div.desktop div.window div.bodycontent div.body ul.filelist {list-style:none; padding:0; /* padding:.5rem; */ margin:0; margin-top:.375rem;}
div#container div.desktop div.window div.bodycontent div.body ul.filelist li.fileitem {padding:.25rem .75rem;padding-right:3rem;}
div#container div.desktop div.window div.bodycontent div.body ul.filelist li.fileitem:nth-child(2n+1) {background-color:var(--ltblackglass);}
div#container div.desktop div.window div.bodycontent div.body ul.filelist li.fileitem a.filelink {display:flex; flex-direction:row; align-items:center;}
div#container div.desktop div.window div.bodycontent div.body ul.filelist li.fileitem a.filelink {color:inherit; text-decoration:none;}
/* div#container div.desktop div.window div.bodycontent div.body ul.filelist li.fileitem a.filelink svg.icon {} */
div#container div.desktop div.window div.bodycontent div.body ul.filelist li.fileitem a.filelink span.caption {margin-left:.375rem;}
div#container div.desktop div.window div.bodycontent div.body div.filepreview {width:10rem;}
div#container div.desktop div.window div.bodycontent div.foot {background-color:var(--blackglass); padding:.25rem 1rem;}
div#container div.desktop div.window div.bodycontent div.foot span.caption {color:white;}

/* xyz */
/* div#container div.desktop div.window {overflow:visible;} */
div#container div.desktop div.window.resizing {transition:none;}
div#container div.desktop div.window div.resizer {position:absolute; bottom:0; right:0; /* --size:2rem; height:var(--size); width:var(--size); */}
div#container div.desktop div.window div.resizer {/* background-color:limegreen; */ color:#0006; font-size:1.5rem; cursor:nwse-resize; overflow:visible; transform:rotate(-45deg) translateY(.5em);}
div#container div.desktop div.window div.resizer {opacity:0; visibility:hidden; transition:opacity 75ms;}
div#container div.desktop div.window:hover div.resizer {opacity:1; visibility:visible;}
div#container div.desktop div.window div.resizer svg.icon {display:block; /* transform-origin:bottom right; */}




/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Navbar */
	
	/* Desktop */
	/* div#container div.desktop {} */

	/* Desktop Display */
	
	/* Desktop Link Grid */
	/* div#container div.desktop div.linkgrid {} */
	div#container div.desktop div.linkgrid ul.linklist {grid-template-columns:repeat(8,1fr);}
	/* div#container div.desktop div.linkgrid ul.linklist li.linkitem {} */
	/* div#container div.desktop div.linkgrid ul.linklist li.linkitem a.link {} */

	/* Desktop Window */
	/* Desktop Window Headbar */
	/* Desktop Window Body */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Navbar */
	
	/* Desktop */
	/* div#container div.desktop {} */

	/* Desktop Display */
	
	/* Desktop Link Grid */
	/* div#container div.desktop div.linkgrid {} */
	div#container div.desktop div.linkgrid ul.linklist {grid-template-columns:repeat(6,1fr);}
	/* div#container div.desktop div.linkgrid ul.linklist li.linkitem {} */
	/* div#container div.desktop div.linkgrid ul.linklist li.linkitem a.link {} */

	/* Desktop Window */
	/* Desktop Window Headbar */
	/* Desktop Window Body */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Navbar */
	/* div#container nav.navbar {} */
	/* div#container nav.navbar div.bin {} */
	/* div#container nav.navbar div.bin h1.head {} */
	div#container nav.navbar div.bin h1.head span.caption {display:none;}
	
	/* Desktop */
	/* div#container div.desktop {} */

	/* Desktop Display */
	
	/* Desktop Link Grid */
	/* div#container div.desktop div.linkgrid {} */
	div#container div.desktop div.linkgrid ul.linklist {grid-template-columns:repeat(4,1fr);}
	/* div#container div.desktop div.linkgrid ul.linklist li.linkitem {} */
	/* div#container div.desktop div.linkgrid ul.linklist li.linkitem a.link {} */

	/* Desktop Window */
	div#container div.desktop div.window {position:static; transform:none; max-width:none; margin-top:2rem; transition:margin .25s;}
	div#container div.desktop div.window.min {margin-top:.5rem;}
	/* Desktop Window Headbar */
	/* div#container div.desktop div.window div.headbar {padding:0;} */
	div#container div.desktop div.window div.headbar div.dotmatrix {opacity:.25;}
	/* Desktop Window Body */
}

/* Tiny Smartphone Screen */
@media screen and (max-width:24rem) {
	
	/* Navbar */
	
	/* Desktop */
	/* div#container div.desktop {} */

	/* Desktop Display */
	
	/* Desktop Link Grid */
	/* div#container div.desktop div.linkgrid {} */
	div#container div.desktop div.linkgrid ul.linklist {grid-template-columns:repeat(3,1fr);}
	/* div#container div.desktop div.linkgrid ul.linklist li.linkitem {} */
	/* div#container div.desktop div.linkgrid ul.linklist li.linkitem a.link {} */

	/* Desktop Window */
	/* Desktop Window Headbar */
	/* Desktop Window Body */
}
