


/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');



* {box-sizing:border-box;}

:root {

	/* Colors */
	--blue:dodgerblue;
	--white:#f5f5f5;
	--greyglass:#888A;
	--blackglass:#0008;
	
	/* Numbers */
	/* font-size:2rem; */
	--cornersize:1rem;
	--shadow:0 .125rem .25rem #0003;
}

html {background-image:url('./../gallery/assets/images/full/starry-sky-wallpaper-dark.jpg'); background-attachment:fixed;}
body {font-family:Nunito,sans-serif; margin:0;}


div#container {/* background-color:whitesmoke; */ min-height:100vh; padding:1rem;}

/* Navbar */
div#container nav.navbar {position:fixed; top:0; right:0; left:0; width:100%; z-index:20;}
div#container nav.navbar {background-color:white; /* min-height:4rem; */ padding:1rem 2rem; box-shadow:var(--boxshadow);}
div#container nav.navbar div.bin {display:flex; flex-direction:row; justify-content:space-between; align-items:center; max-width:var(--pagewidth); margin:0 auto;}
div#container nav.navbar div.bin h1.head {display:flex; flex-direction:row; align-items:center; margin:0;}
/* div#container nav.navbar div.bin h1.head svg.icon {} */
div#container nav.navbar div.bin h1.head span.caption {margin-left:.375rem;}
div#container nav.navbar div.bin ul.navlist {display:flex; flex-direction:row; align-items:center; list-style:none; padding:0; margin:0;}
div#container nav.navbar div.bin ul.navlist li.navitem {padding:.5rem;}
div#container nav.navbar div.bin ul.navlist li.navitem.x {display:none;}
div#container nav.navbar div.bin ul.navlist li.navitem a.navlink {color:inherit; text-decoration:none;}

/* Drag Arena */
div#container div.desktop {/* background-color:whitesmoke; */ margin-top:4rem;}
div#container div.desktop {z-index:10;}
/* div#container div.desktop {display:flex; flex-direction:row; align-items:center; position:relative;} */

/* Drag Item */
div#container div.desktop div.window {display:inline-block;}
div#container div.desktop div.window {position:absolute; top:10rem; left:0; /* transform:translateY(10rem); */ width:100%; max-width:20rem; /* overflow:hidden; */ z-index:var(--i);}
div#container div.desktop div.window {text-align:center; /* padding-bottom:3rem; */ border-radius:var(--cornersize);}
div#container div.desktop div.window {background-color:transparent; transition:background-color .125s, backdrop-filter .125s, box-shadow .125s;}
div#container div.desktop div.window:hover {background-color:var(--greyglass); backdrop-filter:blur(.375rem); box-shadow:var(--shadow);}
div#container div.desktop div.window.moving {z-index:999;}
/* div#container div.desktop div.window {display:none;} */

/* Drag Item Head */
div#container div.desktop div.window div.headbar {display:flex; flex-direction:column; align-items:center; cursor:pointer; user-select:none; z-index:20; padding:.75rem 1rem;}
div#container div.desktop div.window div.headbar {pointer-events:none; opacity:0; transition:opacity .5s; }
div#container div.desktop div.window:hover div.headbar {pointer-events:initial; opacity:1;}
div#container div.desktop div.window div.headbar:active {cursor:move;}
div#container div.desktop div.window div.headbar span.caption {color:white; font-size:1.125rem; font-weight:600; white-space:nowrap; margin:0 1rem;}
div#container div.desktop div.window div.headbar div.dotmatrix {display:grid; grid-template-columns:repeat(12,1fr);}
div#container div.desktop div.window div.headbar div.dotmatrix span.dot {background-color:#FFF8; --size:.125rem; --size:.1875rem; height:var(--size); width:var(--size); border-radius:50%; margin:1.5px;}

/* Drag Item Content */
div#container div.desktop div.window div.bodycontent {background-color:white; overflow:hidden; border-radius:var(--cornersize);}
div#container div.desktop div.window div.bodycontent.x {display:none;}
div#container div.desktop div.window/* :hover */ div.bodycontent {box-shadow:var(--shadow);}
div#container div.desktop div.window div.bodycontent p.copy {font-size:1.125rem; padding:.5rem 2rem;}
div#container div.desktop div.window div.bodycontent div.vidbox {position:relative; padding-top:56.25%;}
div#container div.desktop div.window div.bodycontent div.vidbox video.vid {position:absolute; top:0; left:0; height:100%; width:100%; object-fit:cover;}




/* Tablet Screen */
@media screen and (max-width:64rem) {
	/*  */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {
	/*  */
	/* div#container div.desktop {} */
	div#container div.desktop div.window {position:static; transform:none; max-width:none;}
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {
	/*  */
}
