



/* :root {
} */



/* Header Section */

div#container header#header {background-color:var(--themecolor);}



/* Content Section */

/* div#container main#pagecontent {} */

div#container main#pagecontent section {margin-top:4rem;}

div#container main#pagecontent section.story {/* background-color:hotpink; */ padding:0 6rem;}
div#container main#pagecontent section.story article.story {max-width:var(--articlewidth); padding:0; margin:0 auto;}
div#container main#pagecontent section.story article.story {opacity:1; visibility:visible; transform:translateY(0); transition:.5s;}
div#container main#pagecontent section.story article.story.gone {opacity:0; visibility:hidden; transform:translateY(-2rem);}
div#container main#pagecontent section.story article.story h1.head {text-align:center;}
/* div#container main#pagecontent section.story article.story p.content {} */
div#container main#pagecontent section.story article.story p.content span.item {display:block; margin-top:1rem;}
div#container main#pagecontent section.story article.story p.content span.item span.label {display:block; font-weight:800;}
div#container main#pagecontent section.story article.story p.content span.item span.label:empty {display:none;}
div#container main#pagecontent section.story article.story p.content span.item span.label::after {content:': ';}
div#container main#pagecontent section.story article.story p.content span.item span.value {display:block; font-weight:100;}
div#container main#pagecontent section.story article.story p.content span.item span.value:empty::after {content:'[none]';}
div#container main#pagecontent section.story article.story p.content span.item span.value a.postlink {display:inline-block; background-color:lightgrey; min-width:7rem; text-align:center; transition:.125s; padding:.5rem .25rem .375rem; border-radius:.5rem; margin:.5rem .5rem 0 0;}
div#container main#pagecontent section.story article.story p.content span.item span.value a.postlink:hover {background-color:var(--themecolor); color:white;}
div#container main#pagecontent section.story article.story p.textcopy {text-align:center;}

div#container main#pagecontent section.archive {padding:0 3rem;}
div#container main#pagecontent section.archive ul.postlist {list-style:none; max-width:var(--postwidth); padding:0; margin:0 auto;}
/* div#container main#pagecontent section.archive ul.postlist li.postitem {} */
div#container main#pagecontent section.archive ul.postlist li.postitem article.post {padding:1rem; border-top:1px solid var(--trpnavy);}
div#container main#pagecontent section.archive ul.postlist li.postitem article.post h1.title {line-height:2; margin:0;}
div#container main#pagecontent section.archive ul.postlist li.postitem article.post p.content {line-height:1.75; margin:0;}
div#container main#pagecontent section.archive ul.postlist li.postitem article.post p.content span.excerpt {display:inline;}
div#container main#pagecontent section.archive ul.postlist li.postitem article.post p.content span.excerpt::after {content:'...';}
div#container main#pagecontent section.archive ul.postlist li.postitem article.post p.content span.remainder {display:none;}
/* div#container main#pagecontent section.archive ul.postlist li.postitem article.post p.content a.readbtn {display:inline-block; margin:.5rem 1rem;} */
div#container main#pagecontent section.archive ul.postlist li.postitem article.post p.content a.readbtn {display:block; /* text-align:center; */ line-height:2;}
/* div#container main#pagecontent section.archive ul.postlist li.postitem article.post p.content a.readbtn {background-color:var(--themecolor); color:white; padding:0 .5rem; border-radius:.25rem;} */
div#container main#pagecontent section.archive ul.postlist li.postitem article.post p.content a.readbtn {background-color:white; color:var(--themecolor); text-decoration:underline;}
div#container main#pagecontent section.archive ul.postlist li.postitem article.post p.content a.readbtn span.expand {display:block;}
div#container main#pagecontent section.archive ul.postlist li.postitem article.post p.content a.readbtn span.collapse {display:none;}

/* div#container main#pagecontent section.archive ul.postlist li.postitem article.post.active {} */
/* div#container main#pagecontent section.archive ul.postlist li.postitem article.post.active p.content {} */
div#container main#pagecontent section.archive ul.postlist li.postitem article.post.active p.content span.excerpt::after {content:'';}
/* div#container main#pagecontent section.archive ul.postlist li.postitem article.post.active p.content span.excerpt:empty::after {content:'[No content]';} */
div#container main#pagecontent section.archive ul.postlist li.postitem article.post.active p.content span.remainder {display:inline;}
div#container main#pagecontent section.archive ul.postlist li.postitem article.post.active p.content a.readbtn {display:block; margin-top:.5rem;}
div#container main#pagecontent section.archive ul.postlist li.postitem article.post.active p.content a.readbtn.gone {display:none;}
div#container main#pagecontent section.archive ul.postlist li.postitem article.post.active p.content a.readbtn span.expand {display:none;}
div#container main#pagecontent section.archive ul.postlist li.postitem article.post.active p.content a.readbtn span.collapse {display:block;}



/* Footer Section */

/* div#container footer#footer {} */





/* Medium screen (tablet) */
@media screen and (max-width:60rem) {

	/* Header Section */

	/* Content Section */
	div#container main#pagecontent section.story {padding:0 4rem;}

	/* Footer Section */
}


/* Small screen (mobile) */
@media screen and (max-width:32rem) {

	/* Header Section */

	/* Content Section */
	div#container main#pagecontent section.story {padding:0 2rem;}

	/* Footer Section */
}

