
* {box-sizing:border-box;}


body {font-family:sans-serif; margin:0;}


div#container {background:linear-gradient(135deg,#BBB,#EEE); height:100vh;}
div#container {display:flex; flex-direction:column; align-items:stretch;}
div#container h1.head {flex-grow:0; font-weight:100; margin:0; margin-top:1rem; text-align:center; width:100%;}

div#container main#main {flex-grow:1; padding:.75rem;}
div#container main#main {display:flex; flex-direction:row; justify-content:center; align-items:stretch; align-items:flex-start;}
div#container main#main main.player {flex-grow:1; background-color:white; border-radius:.25rem; max-width:60rem;}
div#container main#main aside.playlist {flex-grow:0; background-color:white; border-radius:.25rem; margin-left:.75rem;}

div#container main#main main.player {padding:.75rem;}
div#container main#main main.player h2.head {font-weight:100;}
div#container main#main main.player div.video {background-color:#0002; padding-top:56.25%; border-radius:.25rem; /* margin:1rem; */}

div#container main#main aside.playlist {height:100%; overflow:auto; scrollbar-width:none;}
div#container main#main aside.playlist ul.vidlist {list-style:none; padding:.75rem; margin:0; height:100%; overflow:auto; scrollbar-width:none;}
div#container main#main aside.playlist ul.vidlist li.viditem {padding-bottom:.5rem;}
div#container main#main aside.playlist ul.vidlist li.viditem a.vidlink {background-color:#0001; display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container main#main aside.playlist ul.vidlist li.viditem a.vidlink {color:inherit; text-decoration:none; width:16rem; padding:.4rem; border:1px solid #0002; border-radius:.25rem;}
div#container main#main aside.playlist ul.vidlist li.viditem.active a.vidlink {background-color:dodgerblue; color:white;}
div#container main#main aside.playlist ul.vidlist li.viditem a.vidlink div.photo {flex-grow:0; width:4rem; border:1px solid #0002; border-radius:.25rem;}
div#container main#main aside.playlist ul.vidlist li.viditem a.vidlink div.photo {background-size:cover; background-position:center;}
div#container main#main aside.playlist ul.vidlist li.viditem a.vidlink div.photo::after {content:''; display:block; padding-top:75%;}
div#container main#main aside.playlist ul.vidlist li.viditem a.vidlink div.content {flex-grow:1; margin-left:.75rem;}


@media screen and (max-width:48rem) {
	div#container main#main {flex-direction:column; align-items:stretch;}
	div#container main#main aside.playlist {margin-left:0; margin-top:.75rem;}
	div#container main#main aside.playlist ul.vidlist li.viditem a.vidlink {width:100%;}
}
