
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


html {background-color:white;}
body {font-family:Nunito,sans-serif; margin:0;}


/* Main Container */
div#container {min-height:100vh; padding:1em;}
div#container button.btn {font-size:1.125rem; padding:.625rem 1rem;}

/* Navbar */
div#container nav.navbar {display:flex; flex-direction:row; align-items:center; justify-content:space-between;}
div#container nav.navbar h1.head {display:flex; flex-direction:row; align-items:center; margin:0;}
div#container nav.navbar h1.head img.diskicon {height:1.375em;}
div#container nav.navbar h1.head span.caption {margin-left:.625rem;}

/* General Section */
div#container section {margin-top:2rem;}
div#container section p.textcopy {font-size:1.25rem; margin:0;}

/* Click Count Section */
/* div#container section.clickcount {} */
div#container section.clickcount div#clickcount {font-size:1.25rem;}

/* Inventory Section */
/* div#container section.inventory {} */
div#container section.inventory div.inventory {display:grid; grid-template-columns:1fr 3fr; grid-gap:.75rem; font-size:1.25rem; min-height:50vh; margin-bottom:1rem;}
div#container section.inventory div.inventory > * {font-family:inherit; font-size:inherit; /* height:100%; */}
/* div#container section.inventory div.inventory select#inventorykeys {padding:.5rem 0;} */
div#container section.inventory div.inventory textarea#inventoryvalues {display:block; line-height:1.5; width:100%; resize:none; padding:1rem .75rem;}




/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Click Count Section */
	/* div#container section.clickcount {} */

	/* Inventory Section */
	/* div#container section.inventory {} */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Click Count Section */
	/* div#container section.clickcount {} */

	/* Inventory Section */
	/* div#container section.inventory {} */
	div#container section.inventory div.inventory {grid-template-columns:1fr;}
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Click Count Section */
	/* div#container section.clickcount {} */

	/* Inventory Section */
	/* div#container section.inventory {} */
}
