


/* Container */
/* div#container {background-color:dodgerblue;} */

/* General Section */
/* div#container section {} */
/* div#container section main.grid {} */

/* Hero Section */
/* div#container section.hero {} */
div#container section.hero main.grid {align-items:flex-start; padding:6rem 0;}
div#container section.hero main.grid h1.posttitle {font-size:3rem;}
div#container section.hero main.grid h1.posttitle:empty::after {content:'[Untitled]';}
div#container section.hero main.grid h2.postauthor {font-size:2rem;}
div#container section.hero main.grid h2.postauthor {display:flex; flex-direction:row; align-items:center;}
div#container section.hero main.grid h2.postauthor svg.icon {display:none; color:dodgerblue; font-size:.75em; margin-left:.5rem;}
/* div#container section.hero main.grid h2.postauthor span.caption {} */
div#container section.hero main.grid h2.postauthor.admin svg.icon {display:block;}
div#container section.hero main.grid p.textcopy {font-size:1.75rem;}

/* Post Section */
/* div#container section.body {} */
div#container section.body main.grid {background-color:white; padding:2rem; border-radius:var(--bigcornersize);}
/* div#container section.body main.grid aside.meta {} */
div#container section.body main.grid aside.meta span.date {font-weight:lighter;}
div#container section.body main.grid aside.meta span.caption {font-weight:bold;}
div#container section.body main.grid aside.meta span.caption::after {content:':';}
/* div#container section.body main.grid article.post {} */
div#container section.body main.grid article.post {margin-top:3rem;}
div#container section.body main.grid article.post div.art {/* display:none; */ float:left; width:50%; max-width:30rem; margin-bottom:.5rem; margin-right:1rem;}
div#container section.body main.grid article.post div.art img.art {display:block; width:100%; border-radius:var(--cornersize);}
div#container section.body main.grid article.post div.content {margin-top:1rem;}
div#container section.body main.grid article.post div.content p.textcopy {margin:0; margin-top:1.25rem;}
div#container section.body main.grid article.post div.content:empty::after {content:'[Empty content]';}

/* Author Section */
div#container section.author {--avatarsize:6rem; padding:0 2rem;}
div#container section.author main.grid {background-color:var(--darkblackglass); color:white; position:relative; min-height:10rem; text-align:center; max-width:calc(var(--pagewidth)*.75);}
div#container section.author main.grid {border-radius:var(--bigcornersize); padding:2rem; padding-top:calc(var(--avatarsize)*.625); margin-top:calc(var(--avatarsize)*.5);}
div#container section.author main.grid h1.name {margin:0;}
/* div#container section.author main.grid p.briefbio {} */
div#container section.author main.grid img.avatar {background-color:black; object-fit:cover; height:var(--avatarsize); width:var(--avatarsize); border-radius:50%;}
div#container section.author main.grid img.avatar {position:absolute; top:0; left:50%; transform:translate(-50%,-50%);}

/* Reply Section */
/* div#container section.reply {} */
div#container section.reply main.grid {background-color:white; max-width:calc(var(--pagewidth)*.625); min-height:20rem; padding:2rem; border-radius:var(--bigcornersize);}
div#container section.reply main.grid h1.head {padding-bottom:.75rem; border-bottom:1px solid var(--blackglass); margin:0; margin-bottom:1.25rem;}
div#container section.reply main.grid form.commentform {display:grid; grid-template-areas:'comment comment''name email'; grid-gap:1rem; /* margin-top:2rem; */}
div#container section.reply main.grid form.commentform textarea,
div#container section.reply main.grid form.commentform input {background-color:var(--lightblackglass); font-family:inherit; font-size:inherit; resize:none; width:100%; padding:1rem; border:0 none; border-radius:var(--cornersize);}
div#container section.reply main.grid form.commentform input.name {grid-area:name;}
div#container section.reply main.grid form.commentform input.email {grid-area:email;}
div#container section.reply main.grid form.commentform textarea.comment {grid-area:comment;}





/* Tablet Screen */
@media screen and (max-width:64rem) {
	
	/* Hero Section */
	/* div#container section.hero {} */
	/* div#container section.hero main.grid {} */

	/* Post Section */
	/* div#container section.body {} */
	/* div#container section.body main.grid {} */

	/* Author Section */
	/* div#container section.author {} */
	/* div#container section.author main.grid {} */

	/* Reply Section */
	/* div#container section.reply {} */
	/* div#container section.reply main.grid {} */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Hero Section */
	/* div#container section.hero {} */
	div#container section.hero main.grid {padding:3rem 0;}
	div#container section.hero main.grid h1.posttitle {font-size:2.25rem;}
	div#container section.hero main.grid h2.postauthor {font-size:1.25rem;}
	div#container section.hero main.grid p.textcopy {font-size:1rem;}

	/* Post Section */
	/* div#container section.body {} */
	/* div#container section.body main.grid {} */

	/* Author Section */
	/* div#container section.author {} */
	/* div#container section.author main.grid {} */

	/* Reply Section */
	/* div#container section.reply {} */
	/* div#container section.reply main.grid {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Hero Section */
	/* div#container section.hero {} */
	/* div#container section.hero main.grid {} */

	/* Post Section */
	/* div#container section.body {} */
	/* div#container section.body main.grid {} */
	/* div#container section.body main.grid article.post {} */
	div#container section.body main.grid article.post div.art {float:none; width:100%;}

	/* Author Section */
	/* div#container section.author {} */
	/* div#container section.author main.grid {} */

	/* Reply Section */
	/* div#container section.reply {} */
	/* div#container section.reply main.grid {} */
	div#container section.reply main.grid form.commentform {grid-template-areas:'comment''name''email';}
}
