


/* Hero Section */
/* div#container section.hero {} */
div#container section.hero main.grid {align-items:center; padding:12rem 2rem 2rem;}
div#container section.hero main.grid label.uploadbtn {background-color:var(--black); color:white; cursor:pointer; user-select:none; padding:1.125rem; border-radius:5rem; margin-top:3rem;}
div#container section.hero main.grid label.uploadbtn svg.icon {display:block; color:var(--lightgrey); font-size:1.25rem; font-weight:800;}
div#container section.hero main.grid input.bannerupload {display:none;}

/* Post Section */
/* div#container section.post {} */
/* div#container section.post main.grid {} */
div#container section.post main.grid input.title {font-family:inherit; font-size:2.5rem; width:100%; padding:.5em .75em; border:.125rem solid; border-radius:.5rem; outline:none; /* margin-top:1rem; */}
div#container section.post main.grid textarea.content {font-family:inherit; font-size:1.5rem; resize:none; width:100%; padding:1.5rem/*  .75em */; border:.125rem solid; border-radius:.5rem; outline:none; margin-top:1rem;}
div#container section.post main.grid div.ctabox {display:flex; flex-direction:row; justify-content:center; align-items:center; margin-top:2rem;}
div#container section.post main.grid div.ctabox div.btn {background-color:var(--black); color:white; cursor:pointer; user-select:none; text-align:center;}
div#container section.post main.grid div.ctabox div.btn {min-width:8rem; padding:.75rem 1.125rem; border-radius:1rem; margin:.5rem;}
/* div#container section.post main.grid div.ctabox div.btn {display:grid; place-items:center;} */
/* div#container section.post main.grid div.ctabox div.publishbtn {} */
/* div#container section.post main.grid div.ctabox div.addimagebtn {} */





/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Hero Section */

	/* Post Section */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Hero Section */
	/* div#container section.hero {} */
	/* div#container section.hero main.grid {padding:3rem 2rem;} */
	/* div#container section.hero main.grid label.uploadbtn {font-size:1rem;} */

	/* Post Section */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Hero Section */

	/* Post Section */
}
