


/* Container */
/* div#container {background-color:var(--themecolor);} */


/* Hero Section */
/* div#container section.hero {} */
div#container section.hero::before {backdrop-filter:blur(.5rem);}
div#container section.hero main.grid {align-items:flex-start; padding:4rem 0;}
div#container section.hero main.grid h1.head {font-size:3rem;}
div#container section.hero main.grid h1.head:empty {background-color:gainsboro; display:block; height:1em; width:10em; border-radius:10em;}

/* Headbar Section */
/* div#container section.headbar {} */
div#container section.headbar main.grid {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
/* div#container section.headbar main.grid h2.head {} */
div#container section.headbar main.grid div.titlefilter {display:grid; grid-template-columns:1fr auto; align-items:center; padding:.125rem 1rem; border-radius:.5rem; box-shadow:var(--boxshadowx);}
div#container section.headbar main.grid div.titlefilter svg.icon {font-size:1rem;}
div#container section.headbar main.grid div.titlefilter input.titlefilterquery {font-family:inherit; font-size:1.25rem; width:100%; padding:.75rem 1rem; border:0 none; outline:none;}

/* Blog Table Section */
/* div#container section.blogtable {} */
div#container section.blogtable main.grid {display:grid; grid-template-columns:2fr 5fr; grid-gap:2rem; transition:.5s;}
div#container section.blogtable main.grid ul.postlist {grid-template-columns:repeat(3,1fr);}
div#container section.blogtable main.grid ul.filterlist {list-style:none; padding:0; margin:0;}
div#container section.blogtable main.grid ul.filterlist li.filter {padding-bottom:1rem;border-bottom:1px solid; margin-bottom:2rem;}
div#container section.blogtable main.grid ul.filterlist li.filter h3.head {font-size:1.375rem; margin:0;}
div#container section.blogtable main.grid ul.filterlist li.filter ul.criterialist {display:flex; flex-wrap:wrap; font-size:.875rem; font-weight:200;}
div#container section.blogtable main.grid ul.filterlist li.filter ul.criterialist {list-style:none; padding:0; margin:0;}
div#container section.blogtable main.grid ul.filterlist li.filter ul.criterialist li.criterion {background-color:var(--bgcolor); color:var(--forecolor); cursor:pointer; user-select:none; padding:.25rem .625rem .125rem; border-radius:1rem; margin-right:.25em; margin-top:.5em;}
div#container section.blogtable main.grid ul.filterlist li.filter ul.criterialist li.criterion:hover {background-color:var(--drkwhite);}
div#container section.blogtable main.grid ul.filterlist li.filter div.criteriafilter {display:grid; grid-template-columns:1fr auto; align-items:center; border-bottom:1px solid;}
div#container section.blogtable main.grid ul.filterlist li.filter div.criteriafilter svg.icon {font-size:1rem;}
div#container section.blogtable main.grid ul.filterlist li.filter div.criteriafilter input.criteriafilterquery {font-family:inherit; font-size:1.25rem; width:100%; padding:.75rem 1rem; border:0 none; outline:none;}





/* Tablet Screen */
@media screen and (max-width:80rem) {

	/* Hero Section */
	/* div#container section.hero {} */

	/* Blog Table Section */
	/* div#container section.blogtable {margin-top:3rem;} */
	/* div#container section.blogtable main.grid {grid-template-columns:2fr 5fr;} */
	div#container section.blogtable main.grid ul.postlist {grid-template-columns:repeat(2,1fr);}
}


/* Big Smartphone Screen */
@media screen and (max-width:64rem) {

	/* Hero Section */
	/* div#container section.hero {} */

	/* Blog Table Section */
	/* div#container section.blogtable {margin-top:1.5rem;} */
	div#container section.blogtable main.grid {grid-template-columns:4fr 5fr;}
	div#container section.blogtable main.grid ul.postlist {grid-template-columns:repeat(1,1fr);}
}


/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Hero Section */
	/* div#container section.hero {} */

	/* Blog Table Section */
	/* div#container section.blogtable {margin-top:1.5rem;} */
	div#container section.blogtable main.grid {grid-template-columns:3fr 4fr;}
}


/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Hero Section */
	/* div#container section.hero {} */

	/* Blog Table Section */
	/* div#container section.blogtable {margin-top:0;} */
	div#container section.blogtable main.grid {grid-template-columns:1fr;}
}
