


/* Container */
/* div#container {background-color:var(--themecolor);} */

/* Hero Section */
/* div#container section.hero {display:none;} */
/* div#container section.hero::before {backdrop-filter:blur(.25rem);} */
div#container section.hero main.grid {align-items:center; padding:12rem 0; padding:9rem 0; padding:10vw 0;}
/* div#container section.hero main.grid {padding:4rem 0;} */
/* div#container section.hero main.grid h2.head {display:none;} */
div#container section.hero main.grid h2.head {font-size:2.5rem;}
div#container section.hero main.grid h1.head {font-size:4rem;}
div#container section.hero main.grid p.textcopy {font-size:1.5rem;}
div#container section.hero main.grid a.editbtn {background-color:var(--black); padding:.75rem 1.5rem; border-radius:var(--cornersize); margin-top:2rem;}
div#container section.hero main.grid a.editbtn {display:flex; flex-direction:row; align-items:center;}
div#container section.hero main.grid a.editbtn {color:white; text-decoration:none;}
div#container section.hero main.grid a.editbtn {display:none;}
div#container section.hero main.grid a.editbtn svg.icon {font-size:1.25rem;}
div#container section.hero main.grid a.editbtn span.caption {font-size:1.25rem; margin-left:.5rem;}

/* Featured Media Section */
/* div#container section.feature {} */
div#container section.feature h2.head {display:none;}
/* div#container section.feature main.grid {} */
/* Featured Media Section: Media Player */
div#container section.feature main.grid article.media {position:relative; min-height:32rem; overflow:hidden; border-radius:var(--cornersize); margin-top:var(--gridspacing); box-shadow:var(--boxshadow);}
div#container section.feature main.grid article.media div.vid {position:relative; height:100%; padding-top:56.25%;}
div#container section.feature main.grid article.media div.vid video.video {position:absolute; inset:0; width:100%; height:100%; object-fit:cover;}
div#container section.feature main.grid article.media div.cover {position:absolute; inset:0; width:100%; height:100%;}
div#container section.feature main.grid article.media div.cover div.bgpic {position:absolute; inset:0; width:100%; height:100%; z-index:1;}
div#container section.feature main.grid article.media div.cover div.bgpic {background-size:cover; background-position:center; opacity:1; transition:opacity .25s; transition-delay:.25s;}
div#container section.feature main.grid article.media div.cover:hover div.bgpic {opacity:0; transition-delay:0;}
div#container section.feature main.grid article.media div.cover div.contents {position:absolute; inset:0; width:100%; height:100%; z-index:1;}
div#container section.feature main.grid article.media div.cover div.contents {background-color:var(--darkblackglass); color:white; font-weight:bold; display:flex; flex-direction:column; justify-content:flex-end; align-items:flex-start; padding:1rem 1.5rem;}
div#container section.feature main.grid article.media div.cover div.contents div.tag {background-color:var(--whiteglass); font-size:.75rem; padding:.125rem .75rem; border-radius:10rem;}
div#container section.feature main.grid article.media div.cover div.contents h1.head {font-size:2rem; line-height:1.125; margin:0; margin-bottom:.5rem; margin-top:.75rem;}
div#container section.feature main.grid article.media div.cover div.contents h1.head:empty {background-color:gainsboro; height:1em; width:10em; max-width:100%; border-radius:10em; margin:.375rem 0;}
div#container section.feature main.grid article.media div.cover div.contents ul.linkbox {list-style:none; padding:0; margin:0;}
div#container section.feature main.grid article.media div.cover div.contents ul.linkbox {display:flex; flex-direction:row; align-items:center; grid-gap:.875rem;}
/* div#container section.feature main.grid article.media div.cover div.contents ul.linkbox li.linkitem {margin:0; margin-right:.875rem;} */
div#container section.feature main.grid article.media div.cover div.contents ul.linkbox li.linkitem a.link {color:inherit; text-decoration:none; text-align:center;}
div#container section.feature main.grid article.media div.cover div.contents ul.linkbox li.linkitem a.link {display:block; min-width:11rem; transition:background-color .125s; padding:.5rem; border-radius:1rem;}
div#container section.feature main.grid article.media div.cover div.contents ul.linkbox li.linkitem a.link.p {background-color:var(--themecolor); color:white;}
div#container section.feature main.grid article.media div.cover div.contents ul.linkbox li.linkitem a.link.p:hover {background-color:var(--drkthemecolor);}
div#container section.feature main.grid article.media div.cover div.contents ul.linkbox li.linkitem a.link.s {background-color:white; color:black;}
div#container section.feature main.grid article.media div.cover div.contents ul.linkbox li.linkitem a.link.s:hover {background-color:whitesmoke;}

/* Blog Table Section */
/* div#container section.blogtable {display:none;} */
/* div#container section.blogtable main.grid {} */

/* Contributors Section */
div#container section.contributors {display:none;}
div#container section.contributors main.grid {max-width:var(--pagewidth); position:relative; overflow:hidden;}
div#container section.contributors main.grid:before,
div#container section.contributors main.grid::after {background-color:inherit; content:''; position:absolute; top:0; height:100%; width:15%; z-index:10;}
div#container section.contributors main.grid:before {left:0; background-image:linear-gradient(-90deg,transparent,var(--bgcolor));}
div#container section.contributors main.grid::after {right:0; background-image:linear-gradient(90deg,transparent,var(--bgcolor));}
div#container section.contributors main.grid div.row {display:flex; flex-direction:row; width:fit-content; margin-bottom:.75rem;}
div#container section.contributors main.grid div.row {filter:drop-shadow(rgba(0, 0, 0, 0.1) 0px 4px 6px);}
div#container section.contributors main.grid div.row {animation:slide 30s linear infinite;}
div#container section.contributors main.grid div.row a.card {background-color:white; padding:.25rem; border-radius:10rem; margin-right:.75rem;}
div#container section.contributors main.grid div.row a.card {display:flex; flex-direction:row; align-items:center; color:inherit; text-decoration:none;}
div#container section.contributors main.grid div.row a.card {flex-direction:column; min-width:9rem; border-radius:1rem;}
div#container section.contributors main.grid div.row a.card img.avatar {height:2em; height:3em; border-radius:5em; /* margin-right:.45rem; */ margin-bottom:.25rem;}
div#container section.contributors main.grid div.row a.card span.username {font-size:.875rem; white-space:nowrap; /* margin-right:.5rem; */}


@keyframes slide {
	0% {transform:translateX(0);}
	100% {transform:translateX(-50%);}
}




/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Hero Section */
	/* div#container section.hero {} */

	/* Featured Media Section */
	/* div#container section.feature {} */
	/* div#container section.feature main.grid {} */
	/* div#container section.feature main.grid article.media {} */
	/* div#container section.feature main.grid article.media div.vid {min-height:100vw;} */

	/* Contributors Section */
	/* div#container section.contributors {} */
}


/* Big Smartphone Screen */
@media screen and (max-width:56rem) {

	/* Hero Section */
	/* div#container section.hero {} */
	div#container section.hero main.grid {padding:3rem 0;}
	div#container section.hero main.grid h1.head {font-size:2.5rem;}
	div#container section.hero main.grid h2.head {font-size:1.75rem;}
	div#container section.hero main.grid p.textcopy {font-size:1.25rem;}

	/* Featured Media Section */
	/* div#container section.feature {} */
	/* div#container section.feature main.grid {} */
	div#container section.feature main.grid article.media {height:32rem;}

	/* Contributors Section */
	/* div#container section.contributors {} */
}


/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Hero Section */
	/* div#container section.hero {} */
	/* div#container section.hero main.grid {} */
	div#container section.hero main.grid p.textcopy {font-size:1rem;}

	/* Featured Media Section */
	/* div#container section.feature {} */
	/* div#container section.feature main.grid {} */
	/* div#container section.feature main.grid article.media {} */
	/* div#container section.feature main.grid article.media div.cover {} */
	/* div#container section.feature main.grid article.media div.cover div.contents {} */
	div#container section.feature main.grid article.media div.cover div.contents ul.linkbox {flex-direction:column; align-items:stretch; grid-gap:.5rem; width:100%;}
	/* div#container section.feature main.grid article.media div.cover div.contents ul.linkbox li.linkitem {margin:0; margin-top:.5rem;} */

	/* Contributors Section */
	/* div#container section.contributors {} */
}
