


/* Hero Section */
/* div#container section.hero {} */
div#container section.hero main.grid {align-items:center; padding:12rem 0;}
div#container section.hero main.grid h1.head {font-size:4rem;}
div#container section.hero main.grid h2.head {font-size:2.5rem;}
div#container section.hero main.grid p.textcopy {font-size:1.5rem;}
div#container section.hero main.grid a.editbtn {background-color:var(--black); padding:.75rem; border-radius:var(--cornersize); margin-top:2rem;}
div#container section.hero main.grid a.editbtn {display:flex; flex-direction:row; align-items:center;}
div#container section.hero main.grid a.editbtn {color:white; text-decoration:none;}
div#container section.hero main.grid a.editbtn {display:none;}
div#container section.hero main.grid a.editbtn svg.icon {font-size:1.25rem;}
div#container section.hero main.grid a.editbtn span.caption {display:none;}
div#container section.hero main.grid a.editbtn span.caption {font-size:1.25rem; margin-left:.5rem;}




/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Hero Section */
}


/* Big Smartphone Screen */
@media screen and (max-width:56rem) {

	/* Hero Section */
	/* div#container section.hero {} */
	div#container section.hero main.grid {padding:3rem 0;}
	div#container section.hero main.grid h1.head {font-size:2.5rem;}
	div#container section.hero main.grid h2.head {font-size:1.75rem;}
	div#container section.hero main.grid p.textcopy {font-size:1.25rem;}
}


/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Hero Section */
	div#container section.hero main.grid p.textcopy {font-size:1rem;}
}
