


/* Container */
/* div#container {background-color:var(--themecolor);} */


/* Hero Section */
/* div#container section.hero {} */
div#container section.hero::before {backdrop-filter:blur(.5rem);}
div#container section.hero main.grid {align-items:flex-start;}
div#container section.hero main.grid h1.head {font-size:3rem;}
div#container section.hero main.grid h1.head:empty {background-color:gainsboro; display:block; height:1em; width:10em; border-radius:10em;}


/* Blog Table Section */
/* div#container section.blogtable {} */
div#container section.blogtable main.grid {display:grid; grid-template-columns:24rem 5fr; grid-template-areas:'headbar headbar''filterblock blogpostblock'; grid-gap:var(--gridspacing); transition:.5s;}
div#container section.blogtable main.grid div.headbar {grid-area:headbar;}
div#container section.blogtable main.grid div.headbar {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
div#container section.blogtable main.grid div.headbar h2.head {font-size:2rem; display:none;}
div#container section.blogtable main.grid div.headbar div.titlefilter {display:grid; grid-template-columns:auto 1fr; align-items:center; width:100%; padding:.125rem 1rem; border-radius:.5rem; box-shadow:var(--boxshadowx);}
div#container section.blogtable main.grid div.headbar div.titlefilter label.searchlabel {cursor:pointer; user-select:none;}
div#container section.blogtable main.grid div.headbar div.titlefilter label.searchlabel svg.icon {display:block; font-size:1rem;}
div#container section.blogtable main.grid div.headbar div.titlefilter input.titlefilterquery {background-color:transparent; font-family:inherit; font-size:1.25rem; width:100%; padding:.75rem 1rem; border:0 none; outline:none;}
div#container section.blogtable main.grid div.headbar div.filtertogglebtn {display:none; cursor:pointer; transition:.5s; padding:0 .25rem; border-radius:.25rem; margin-left:1rem;}
div#container section.blogtable main.grid div.headbar div.filtertogglebtn:hover {box-shadow:var(--boxshadow);}
div#container section.blogtable main.grid div.headbar div.filtertogglebtn svg.icon {display:block; font-size:2rem;}
div#container section.blogtable main.grid div.posts {grid-area:blogpostblock;}
div#container section.blogtable main.grid div.posts ul.postlist {grid-template-columns:repeat(3,1fr);}
/* div#container section.blogtable main.grid div.posts ul.postlist li.postcard {} */
div#container section.blogtable main.grid div.posts ul.postlist li.postcard.x {display:none;}
div#container section.blogtable main.grid div.filters {grid-area:filterblock;}
div#container section.blogtable main.grid div.filters ul.filterlist {background-color:white; list-style:none; padding:0; padding:2rem; border-radius:var(--cornersize); margin:0;}
div#container section.blogtable main.grid div.filters ul.filterlist li.filter {/* padding-bottom:1rem; border-bottom:1px solid; margin-bottom:2rem; */ margin-top:2rem;}
div#container section.blogtable main.grid div.filters ul.filterlist li.filter h3.head {font-size:1.25rem; margin:0;}
div#container section.blogtable main.grid div.filters ul.filterlist li.filter ul.criterialist {display:flex; flex-wrap:wrap; font-size:.875rem; font-weight:200;}
div#container section.blogtable main.grid div.filters ul.filterlist li.filter ul.criterialist {list-style:none; padding:0; margin:0; margin-top:.5rem;}
div#container section.blogtable main.grid div.filters ul.filterlist li.filter ul.criterialist li.criterion {max-width:5rem; text-align:center;}
div#container section.blogtable main.grid div.filters ul.filterlist li.filter ul.criterialist li.criterion {background-color:var(--white); color:var(--forecolor); font-size:.75rem; font-weight:100; cursor:pointer; user-select:none; padding:.375rem .625rem .375rem; border-radius:1rem; margin-right:.25em; margin-top:.5em;}
div#container section.blogtable main.grid div.filters ul.filterlist li.filter ul.criterialist li.criterion:hover {background-color:var(--drkwhite);}
div#container section.blogtable main.grid div.filters ul.filterlist li.filter ul.criterialist li.criterion.active {background-color:black; color:white;}
/* div#container section.blogtable main.grid div.filters ul.filterlist li.filter div.criteriafilter {background-color:var(--themecolor); border-radius:.25rem;} */
div#container section.blogtable main.grid div.filters ul.filterlist li.filter div.criteriafilter {display:grid; grid-template-columns:1fr auto; align-items:center; border-bottom:1px solid #0008;}
div#container section.blogtable main.grid div.filters ul.filterlist li.filter div.criteriafilter label.searchlabel {cursor:pointer; user-select:none;}
div#container section.blogtable main.grid div.filters ul.filterlist li.filter div.criteriafilter label.searchlabel svg.icon {font-size:1rem; margin-right:.125rem;}
div#container section.blogtable main.grid div.filters ul.filterlist li.filter div.criteriafilter input.criteriafilterquery {background-color:transparent; font-family:inherit; font-size:1.125rem; width:100%; padding:.625rem 1rem .5rem; border:0 none; outline:none;}





/* Tablet Screen */
@media screen and (max-width:80rem) {

	/* Hero Section */
	/* div#container section.hero {} */
	/* div#container section.hero main.grid {} */

	/* Blog Table Section */
	/* div#container section.blogtable {margin-top:3rem;} */
	/* div#container section.blogtable main.grid {grid-template-columns:2fr 5fr;} */
	div#container section.blogtable main.grid div.posts ul.postlist {grid-template-columns:repeat(2,1fr);}
}


/* Big Smartphone Screen */
@media screen and (max-width:64rem) {

	/* Hero Section */
	/* div#container section.hero {} */
	/* div#container section.hero main.grid {} */

	/* Blog Table Section */
	/* div#container section.blogtable {margin-top:1.5rem;} */
	div#container section.blogtable main.grid {grid-template-columns:4fr 5fr;}
	div#container section.blogtable main.grid div.posts ul.postlist {grid-template-columns:1fr;}
}


/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Hero Section */
	/* div#container section.hero {} */
	/* div#container section.hero main.grid {} */
	div#container section.hero main.grid h1.head {font-size:2.25rem;}
	div#container section.hero main.grid h2.head {font-size:1.5rem;}

	/* Blog Table Section */
	/* div#container section.blogtable {margin-top:1.5rem;} */
	div#container section.blogtable main.grid {grid-template-columns:repeat(2,1fr);}
}


/* Small Smartphone Screen */
@media screen and (max-width:32rem) {
	
	/* Hero Section */
	/* div#container section.hero {} */
	/* div#container section.hero main.grid {} */
	
	/* Blog Table Section */
	/* div#container section.blogtable {margin-top:0;} */
	div#container section.blogtable main.grid {grid-template-columns:1fr; grid-template-areas:'headbar''filterblock''blogpostblock';}
	/* div#container section.blogtable main.grid div.headbar {flex-direction:column; align-items:stretch;} */
	div#container section.blogtable main.grid div.headbar div.filtertogglebtn {display:block;}
}
