


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {
	--bgcolor:white;
	--forecolor:#444;
	--lightgrey:#F4F4F4;
	/* --bgimg:linear-gradient(135deg,dodgerblue,magenta); */
	--pagewidth:60rem;
	--cornersize:.25rem;
	--themecolor:#CCC;
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
	--boxshadowx:rgba(0,0,0,0.2) 0 0/* .25rem */ .625rem 0;
}

body.dark {
	--bgcolor:#222;
	--forecolor:white;
}


html {background-color:white;}
/* html {background-color:var(--themecolor); background-image:var(--bgimg);} */
body {font-family:Nunito,sans-serif; margin:0;}


div#container {display:flex; flex-direction:column; align-items:center; align-items:stretch;}
div#container {/* display:grid; place-items:center; */ min-height:100vh; /* padding:1rem; */}

div#container nav.navbar {position:fixed; top:0; left:0; width:100%; height:6rem; padding:0 1.5rem;}
div#container nav.navbar {background-color:#0002; color:black;}
div#container nav.navbar main.grid {display:flex; flex-direction:row; align-items:center; height:100%; max-width:calc(1.125*var(--pagewidth)); margin:0 auto;}
div#container nav.navbar main.grid h1.head {font-size:1.5rem; margin-left:.5rem;}
div#container nav.navbar main.grid svg.icon.bars {font-size:2rem;}

div#container footer.footer {text-align:center; padding:2rem 0;}
