

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* Glass Colors */
	--glass:transparent;
	/* General Colors */
	--grey:#CCC;
	--grey:#F5F4FD;
	--black:#444;
	--darkgrey:#D8D5F2;
	/* Theme Colors */
	--royalblue:#5372F0;
	--royalgreen:#32cd32;
	--themecolor:var(--royalblue);

	/* Number Values */
	--dt:.125s;

	/* Page Sizes */
	--edgesize:12rem;
	--edgesize:4rem;
	--slidebtnsize:2rem;
	--slidebtniconsize:1.125rem;

	/* Box Shadows */
	--boxshadow:0 0 1rem #0002;
	--boxshadow:0 0 .25rem #0003;

	/* Edge Gradients */
	--leftgradient:linear-gradient(90deg, white 50%, var(--glass));
	--rightgradient:linear-gradient(-90deg, white 50%, var(--glass));
}


html {background-color:var(--themecolor);}
body {font-family:Nunito,sans-serif; margin:0;}


/* Container */
div#container {display:grid; place-items:center; min-height:100vh; perspective:100rem; padding:1rem;}
div#container main.main {background-color:white; position:relative; overflow:hidden; padding:0 .75rem;}
div#container main.main {width:100%; max-width:60rem; border-radius:1.5rem; border:0 none; box-shadow:var(--boxshadow);}
/* div#container main.main {display:flex; flex-direction:row; align-items:stretch;} */

/* Slider */
div#container main.main div.slider {/* transform:translateX(-100%); */ transition:var(--dt); z-index:10; scroll-behavior:smooth; scrollbar-width:none; overflow-x:hidden; overflow-x:auto;}
div#container main.main div.slider.dragmode {cursor:grab; scroll-behavior:auto;}
div#container main.main div.slider ul.taglist {/* flex-grow:1;  */list-style:none; padding:0; margin:0;}
div#container main.main div.slider ul.taglist {display:inline-flex; flex-direction:row; align-items:center; padding:.875rem 0;}
div#container main.main div.slider ul.taglist {overflow-x:visible;}
div#container main.main div.slider ul.taglist {/* transform:translateX(-100%); */ transition:var(--dt);}
div#container main.main div.slider ul.taglist li.tagitem {font-size:.875rem; font-size:1.125rem; white-space:nowrap; user-select:none; cursor:pointer;}
div#container main.main div.slider ul.taglist li.tagitem {background-color:var(--grey); padding:.5em 1.25em; border:1px solid var(--darkgrey); border-radius:1rem; margin:0 .375rem;}
div#container main.main div.slider.dragmode ul.taglist li.tagitem {cursor:inherit; pointer-events:none;}
div#container main.main div.slider ul.taglist li.tagitem:hover {background-color:var(--darkgrey);}
div#container main.main div.slider ul.taglist li.tagitem.active {background-color:var(--themecolor); color:white;}

/* Edges */
div#container main.main div.edge {position:absolute; top:0; height:100%; width:var(--edgesize); padding:.5rem;}
div#container main.main div.edge {display:grid; place-items:center; z-index:20; transition:var(--dt);}
div#container main.main div.edge {opacity:1; visibility:visible;}
div#container main.main div.edge.gone {opacity:0; visibility:hidden;}
div#container main.main div.edge.left {left:0; background-image:var(--leftgradient);}
div#container main.main div.edge.right {right:0; background-image:var(--rightgradient);}
div#container main.main div.edge div.slidebtn {color:var(--black); cursor:pointer;}
div#container main.main div.edge div.slidebtn {display:grid; place-items:center; height:var(--slidebtnsize); width:var(--slidebtnsize); border-radius:50%;}
div#container main.main div.edge div.slidebtn:hover {background-color:var(--grey); /* color:white; */}
div#container main.main div.edge div.slidebtn svg.icon {display:block; font-size:var(--slidebtniconsize); font-weight:bold;}
div#container main.main div.edge.left div.slidebtn svg.icon {transform:translateX(-6.25%);}
div#container main.main div.edge.right div.slidebtn svg.icon {transform:translateX(6.25%);}

/* Console */
div#container aside.console {position:absolute; top:0; right:0;}
div#container aside.console {background-color:white; padding:.75rem 1rem; border-radius:.5rem; margin:1rem;}
div#container aside.console span.caption {display:block;}
div#container aside.console span.caption:empty {background-color:gainsboro; height:1em; width:6em; border-radius:inherit;}





/* Tablet Screen */
@media screen and (max-width:64rem) {
	/*  */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {
	/*  */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {
	/*  */
}
