
body {font-family:sans-serif; text-align:center; margin:0;}


ul#container {max-width:50rem; padding:1rem; margin:0 auto;}

ul#container li.item {margin:1rem 0; list-style:none;}
ul#container li.item div.screen {position:relative; width:100%; /*opacity:.5;*/ cursor:pointer;}
ul#container li.item div.screen div.content {position:absolute; top:0; left:0; bottom:0; right:0; border:1px solid rgba(0,0,0,0.15);}
ul#container li.item div.screen div.content {text-align:center; font-size:2rem; color:rgba(255,255,255,0.75); padding:4rem; user-select:none; transition:.5s;}
ul#container li.item div.screen div.content {display:flex; flex-direction:column; justify-content:flex-start; align-items:center; gap:1rem;}
ul#container li.item div.screen div.content h2.ratio {font-size:4rem; font-weight:100; margin:0; transition:.5s;}
ul#container li.item div.screen div.content p.ratios {opacity:0; margin:0; transition:.5s;}

/* ul#container li.item:hover div.screen div.content p.ratios, */
ul#container li.item.active div.screen div.content p.ratios {opacity:1;}
ul#container li.item.active div.screen div.content h2.ratio {font-weight:bold;}


ul#container li.item div#screenA {background-color:red; padding-top:56.25%;}	/*	Aspect Ratio: 16:9	*/
ul#container li.item div#screenD {background-color:orange; padding-top:62.5%;}	/*	Aspect Ratio: 8:5	*/
ul#container li.item div#screenB {background-color:green; padding-top:66.66%;}	/*	Aspect Ratio: 3:2	*/
ul#container li.item div#screenC {background-color:blue; padding-top:75%;}		/*	Aspect Ratio: 4:3	*/
ul#container li.item div#screenE {background-color:red; padding-top:177.77%;}	/*	Aspect Ratio: 9:16	*/
ul#container li.item div#screenF {background-color:orange; padding-top:160%;}	/*	Aspect Ratio: 5:8	*/
ul#container li.item div#screenG {background-color:green; padding-top:150%;}	/*	Aspect Ratio: 2:3	*/
ul#container li.item div#screenH {background-color:blue; padding-top:133.33%;}	/*	Aspect Ratio: 3:4	*/
ul#container li.item div#screenI {background-color:hotpink; padding-top:200%;}	/*	Aspect Ratio: 2:1	*/
ul#container li.item div#screenJ {background-color:hotpink; padding-top:50%;}	/*	Aspect Ratio: 1:2	*/
ul#container li.item div#screenK {background-color:cyan; padding-top:80%;}
ul#container li.item div#screenL {background-color:cyan; padding-top:125%;}
ul#container li.item div#screenM {background-color:grey; padding-top:100%;}
