


/* Editor Section */
/* div#container section.editor div.grid {} */
div#container section.editor div.grid div.head {justify-content:center;}
div#container section.editor div.grid div.head h2.header {font-size:1.25rem;}
/* div#container section.editor div.grid form.body {} */
div#container section.editor div.grid form.body ul.fieldlist {list-style:none; padding:0; margin:0;}
div#container section.editor div.grid form.body ul.fieldlist li.fielditem {margin-top:.25rem;}
div#container section.editor div.grid form.body ul.fieldlist li.fielditem div.entryfield {background-color:var(--backcolor); display:grid; grid-template-columns:repeat(2,1fr); align-items:center; padding:.375rem .5rem; border-radius:.5rem;}
div#container section.editor div.grid form.body ul.fieldlist li.fielditem div.entryfield label.fieldname {margin-right:.5em;}
div#container section.editor div.grid form.body ul.fieldlist li.fielditem div.entryfield input.fieldvalue {background-color:transparent; font-size:.875rem; width:9rem; text-align:center;}
div#container section.editor div.grid form.body ul.fieldlist li.fielditem div.entryfield input.fieldvalue {padding:.375rem .5rem; border:0 none; border:1px solid var(--forecolor2); outline:none; border-radius:.25rem;}
/* div#container section.editor div.grid div.foot {} */
/* div#container section.editor div.grid div.foot button.btn {} */
/* div#container section.editor div.grid div.foot button.savebtn {} */
div#container section.editor.u div.grid div.foot button.savenewbtn {display:none;}
div#container section.editor.c div.grid div.foot button.saveupdatebtn {display:none;}
/* div#container section.editor div.grid div.foot button.btn span.caption {} */
