
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');

* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* Theme Colors */
	--limegreen:limegreen;
	--limegreen:#4caf50;
	--red:#f00;

	/* Theme Colors */
	--reggrey:#AAA;
	--lightgrey:#DDD;
	--lightblack:#333;
	
	/* Gradient Colors */
	/* --bgimg:linear-gradient(135deg,dodgerblue,white,wheat); */

	/* Page Sizes */
	--dt:.5s;
	--pagewidth:60rem;
	--cornersize:.5rem;
	
	/* Box Shadows */
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
}

body {

	--backcolor:var(--lightgrey);
	--forecolor:black;
	--forecolor2:var(--lightblack);
	--themecolor:var(--limegreen);
}

/* body.dark {

	--backcolor:var(--lightblack);
	--forecolor:white;
} */


body {background-color:var(--backcolor); background-image:var(--bgimg); margin:0;}
body {color:var(--forecolor); font-family:Nunito,sans-serif;}


/* Container */
div#container {display:flex; flex-direction:column; justify-content:flex-start; align-items:center; min-height:100vh; /* padding:1rem; */}


/* Navbar */
div#container nav.navbar {position:sticky; /* position:fixed; */ top:0; right:0; left:0; width:100%;}
div#container nav.navbar {background-color:white; /* min-height:4rem; */ padding:.5rem 2rem; box-shadow:var(--boxshadow);}
div#container nav.navbar div.bin {display:flex; flex-direction:row; justify-content:space-between; align-items:center; max-width:var(--pagewidth); margin:0 auto;}
div#container nav.navbar div.bin a.homelink {display:flex; flex-direction:row; align-items:center;}
div#container nav.navbar div.bin a.homelink {color:inherit; text-decoration:none; user-select:none;}
div#container nav.navbar div.bin a.homelink h1.head {display:flex; flex-direction:row; align-items:center; margin:0;}
div#container nav.navbar div.bin a.homelink h1.head span.caption {margin-left:.375rem;}
div#container nav.navbar div.bin a.homelink img.logo {display:none; height:2.5rem;}
div#container nav.navbar div.bin a.homelink img.logo:first-child {display:block;}
div#container nav.navbar div.bin ul.navlist {display:flex; flex-direction:row; align-items:center; list-style:none; padding:0; margin:0;}
div#container nav.navbar div.bin ul.navlist li.navitem {padding:.25rem;}
div#container nav.navbar div.bin ul.navlist li.navitem.x {display:none;}
div#container nav.navbar div.bin ul.navlist li.navitem a.navlink {display:block; color:inherit; text-decoration:none; user-select:none;}
div#container nav.navbar div.bin ul.navlist li.navitem a.navlink {background-color:var(--themecolor); color:white; padding:.5rem 1rem; border-radius:.25rem;}
div#container nav.navbar div.bin ul.navlist li.navitem a.navlink svg.icon {display:block; font-size:1em;}


/* General Section */
div#container section {background-color:white; padding:.375rem; /* padding-top:1rem; */ border-radius:var(--cornersize); margin:1.75rem; box-shadow:var(--boxshadow);}
/* div#container section div.grid {display:flex; flex-direction:column; align-items:center;} */
div#container section div.grid div.head {display:flex; flex-direction:row; align-items:center; justify-content:space-between; width:100%; padding:0 .125em;}
div#container section div.grid div.head h2.header {/* cursor:pointer; */ user-select:none; padding:0 .25em; margin:0; margin:.125em 0; margin-right:.375em;}
div#container section div.grid div.head h2.header:empty {background-color:var(--lightgrey); height:1em; width:5em; border-radius:1em;}
/* div#container section div.grid div.head button.btn {} */
/* div#container section div.grid div.head button.btn span.caption {} */
div#container section div.grid div.body {max-width:100%; overflow-x:auto;}
div#container section div.grid div.foot {display:flex; flex-direction:row; grid-gap:.25rem;}
div#container section div.grid div.foot button.btn {width:100%; padding:.625rem; margin-top:.375rem;}
div#container section div.grid button.btn {background-color:var(--limegreen); background-color:var(--lightblack); color:white; cursor:pointer;}
div#container section div.grid button.btn {display:inline-flex; flex-direction:row; justify-content:center; align-items:center;}
div#container section div.grid button.btn {padding:.625rem; border:0 none; border-radius:.25rem; margin-top:.375rem; box-shadow:var(--boxshadow);}
div#container section div.grid button.btn svg.icon {display:none;}
div#container section div.grid button.btn svg.icon:first-child {display:block;}
div#container section div.grid button.btn span.caption {font-size:.75rem; margin-left:.375rem;}




/* Tablet Screen */
@media screen and (max-width:64rem) {
	
	/* Container */
	/* div#container {} */
	
	/* Navbar */
	/* div#container nav.navbar {} */
	/* div#container nav.navbar div.bin {} */
	div#container nav.navbar div.bin ul.navlist {display:none;}

	/* General Section */
	/* div#container section {} */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Container */
	/* div#container {} */

	/* Navbar */
	/* div#container nav.navbar {} */

	/* General Section */
	/* div#container section {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Container */
	/* div#container {} */

	/* Navbar */
	/* div#container nav.navbar {} */

	/* General Section */
	/* div#container section {} */
}
