
* {box-sizing:border-box;}



:root {
	--navy:#13101D;
}


body {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; margin:0;}



div#container {background-color:greenyellow; display:flex; flex-direction:row; min-height:100vh;}




/* Navigation Sidebar */


div#container nav#sidebar {flex:0 1 auto; max-height:100vh; overflow-y:auto;}
div#container nav#sidebar {background-color:var(--navy); display:flex; flex-direction:column; justify-content:space-between; padding:1rem 0 0;}
/* nav#sidebar * {border:1px solid #FFF1;} */
/* nav#sidebar div.brand {display:none !important;} */
/* nav#sidebar div.finder {display:none !important;} */
/* nav#sidebar ul.navlist {display:none !important;} */
/* nav#sidebar div.user {display:none !important;} */


div#container nav#sidebar div.brand {flex-grow:0; padding:0 1rem;}
div#container nav#sidebar div.brand {display:flex; flex-direction:row; justify-content:center; align-items:center; color:#F8F8F8;}
div#container nav#sidebar div.brand div.logo {flex-grow:0;}
div#container nav#sidebar div.brand div.toggler {display:none;}
/* nav#sidebar div.brand div.logo {flex-grow:1;} */
/* nav#sidebar div.brand div.toggler {display:block;} */

div#container nav#sidebar div.brand div.logo {display:flex; flex-direction:row; justify-content:center; justify-content:flex-start; align-items:center;}
div#container nav#sidebar div.brand div.logo {overflow:hidden; user-select:none;}
div#container nav#sidebar div.brand div.logo svg.icon {flex:1 0 auto; font-size:1.5rem; /* margin-left:.15rem; */}
div#container nav#sidebar div.brand div.logo div.name {flex:1 1 auto; font-size:1.5rem;}

div#container nav#sidebar div.brand div.toggler {background-color:var(--navy); color:#F8F8F8; border-radius:.5rem; padding:1rem;}
div#container nav#sidebar div.brand div.toggler {cursor:pointer; user-select:none;}
div#container nav#sidebar div.brand div.toggler:hover {background-color:#F8F8F8; color:var(--navy);}
div#container nav#sidebar div.brand div.toggler svg.icon {display:block; /* margin:0 .15rem; */}


div#container nav#sidebar div.finder {flex-grow:0; padding:.125rem .75rem;}
div#container nav#sidebar div.finder label.search {background-color:#1F1B32; color:#F8F8F8; border-radius:.5rem; padding:1rem; transition:.5s; cursor:pointer;}
div#container nav#sidebar div.finder label.search {display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container nav#sidebar div.finder div.search:hover {background-color:#F8F8F8; color:var(--navy);}
div#container nav#sidebar div.finder label.search svg.icon {flex:0 0 auto; cursor:pointer;}
div#container nav#sidebar div.finder label.search div.searchfield {flex: 1 1 auto; border-radius:.25rem;}
div#container nav#sidebar div.finder label.search div.searchfield {overflow:hidden; white-space:nowrap;}
div#container nav#sidebar div.finder label.search div.searchfield input {background-color:inherit; border:0 none; outline:none; color:inherit; font-size:1em; max-width:100%;}
/* nav#sidebar div.finder label.search div.searchfield input {display:none;} */


div#container nav#sidebar ul.navlist {flex-grow:1; list-style:none; margin:0; padding:0 .75rem; /* overflow-x:visible; */ /* transition:.5s; */}
div#container nav#sidebar ul.navlist li.navitem {display:flex; flex-direction:column; justify-content:start; align-items:stretch;}
div#container nav#sidebar ul.navlist li.navitem {padding:.125rem 0; /* min-width:16rem; */ /* transition:.5s; */}
div#container nav#sidebar ul.navlist li.navitem a.navlink {background-color:var(--navy); color:#F8F8F8; border-radius:.5rem; padding:1rem; text-decoration:none; transition:.25s;}
div#container nav#sidebar ul.navlist li.navitem a.navlink {display:flex; flex-direction:row; justify-content:center; align-items:center; position:relative;}
div#container nav#sidebar ul.navlist li.navitem a.navlink:hover {background-color:#F8F8F8; color:var(--navy);}
div#container nav#sidebar ul.navlist li.navitem a.navlink svg.icon {flex-grow:0; flex-shrink:0; font-size:1.125rem;}
div#container nav#sidebar ul.navlist li.navitem a.navlink span.caption {flex-grow:1; overflow:hidden; white-space:nowrap;}
div#container nav#sidebar ul.navlist li.navitem a.navlink span.badge {flex-grow:0; overflow:hidden; flex-shrink:1; font-size:.75rem; background-color:#FFFC; color:var(--navy); padding:.25rem .65rem; border-radius:1rem;}
div#container nav#sidebar ul.navlist li.navitem a.navlink:hover span.badge {background-color:#13101DCC; color:#FFF;}
div#container nav#sidebar ul.navlist li.navitem a.navlink span.tooltip {position:absolute; left:calc(100% + 1.5rem); top:50%; background-color:#FFF; border-radius:.25rem; padding:.5rem 1rem; font-size:.875rem; white-space:nowrap; box-shadow:rgba(0,0,0,0.2) 0 .25rem .625rem 0; min-width:8rem; text-align:center;}
div#container nav#sidebar ul.navlist li.navitem a.navlink span.tooltip {visibility:hidden; opacity:0; transform:translateY(calc(-50% - 1rem));}
div#container nav#sidebar ul.navlist li.navitem a.navlink:hover span.tooltip {visibility:visible; opacity:1; transform:translateY(-50%); transition:.5s;}


div#container nav#sidebar div.user {flex-grow:0; padding:.5rem .75rem; color:#FFF;}
div#container nav#sidebar div.user {display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container nav#sidebar div.user div.profile {flex-grow:1; overflow:hidden;}
div#container nav#sidebar div.user div.profile {display:flex; flex-direction:row; justify-content:flex-start; align-items:center;}
div#container nav#sidebar div.user div.profile img.pic {max-height:3rem; border-radius:.5rem; margin-right:.5rem;}
div#container nav#sidebar div.user div.profile div.bio {white-space:nowrap;}
div#container nav#sidebar div.user div.profile div.bio div.name {font-size:1rem; margin-bottom:.25rem;}
div#container nav#sidebar div.user div.profile div.bio div.job {font-size:.75rem; margin-top:.15rem;}
div#container nav#sidebar div.user div.logger {border-radius:.5rem; background-color:#1F1B32;}
div#container nav#sidebar div.user div.logger {cursor:pointer; user-select:none;}
div#container nav#sidebar div.user div.logger {padding:.75rem;}
div#container nav#sidebar div.user div.logger svg.icon {display:block; font-size:1rem;}




/* Closed Navbar */

div#container nav#sidebar {width:8rem; transition:.5s;}

div#container nav#sidebar div.brand div.logo {padding:1rem 0; transition:.5s;}
div#container nav#sidebar div.brand div.logo svg.icon {margin-right:0; transition:.5s; }
div#container nav#sidebar div.brand div.logo div.name {max-width:0; flex-grow:0; flex-basis:0; opacity:0; transition:.5s;}
div#container nav#sidebar div.brand div.toggler {margin:0; transition:.5s;}

div#container nav#sidebar div.finder label.search svg.icon {margin:0; transition:.5s;}
div#container nav#sidebar div.finder label.search div.searchfield {max-width:0; opacity:0; transition:.5s;}

div#container nav#sidebar ul.navlist li.navitem a.navlink svg.icon {margin:0; transition:.5s;}
div#container nav#sidebar ul.navlist li.navitem a.navlink span.caption {max-width:0; opacity:0; transition:.5s;}
div#container nav#sidebar ul.navlist li.navitem a.navlink span.badge {max-width:0;}
div#container nav#sidebar ul.navlist li.navitem a.navlink span.tooltip {display:block;}

div#container nav#sidebar div.user {background-color:transparent; transition:.5s;}
div#container nav#sidebar div.user div.profile {max-width:0; opacity:0; transition:.5s;}




/* Open Navbar */

div#container nav#sidebar.open {width:32rem;}

div#container nav#sidebar.open div.brand div.logo {padding:1rem;}
div#container nav#sidebar.open div.brand div.logo svg.icon {margin-right:.5rem;}
div#container nav#sidebar.open div.brand div.logo div.name {max-width:100%; flex-grow:1; flex-basis:auto; opacity:1;}
div#container nav#sidebar.open div.brand div.toggler {margin-left:.5rem;}

div#container nav#sidebar.open div.finder label.search svg.icon {margin-right:1rem;}
div#container nav#sidebar.open div.finder label.search div.searchfield {max-width:100%; opacity:1;}

div#container nav#sidebar.open ul.navlist li.navitem a.navlink svg.icon {margin-right:1rem;}
div#container nav#sidebar.open ul.navlist li.navitem a.navlink span.caption {max-width:100%; opacity:1;}
div#container nav#sidebar.open ul.navlist li.navitem a.navlink span.badge {max-width:100%;}
div#container nav#sidebar.open ul.navlist li.navitem a.navlink span.tooltip {display:none;}

div#container nav#sidebar.open div.user {background-color:#1F1B32;}
div#container nav#sidebar.open div.user div.profile {max-width:100%; opacity:1;}




/* Main Container */

div#container main#content {flex:1 1 auto; background-color:#E6EAF8; /* padding:1.5rem 1rem; */ position:relative;}
div#container main#content header.header {background-color:greenyellow; height:4rem;}
div#container main#content header.header {display:flex; flex-direction:row; align-items:center;}
div#container main#content header.header div.btn {}
div#container main#content h1 {margin:0; user-select:none;}

div#container nav#sidebar + 
main#content::after {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background-color:transparent; transition:.5s;}

div#container nav#sidebar.open + 
main#content::after {background-color:#13101D66;}


