
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* Theme Colors */
	--whiteglass:#FFF8; 

	/* Numbers */
	--edgesize:.5rem;
}


body {

	/* Theme Colors */
	--backcolor:#fff7ca;
	--backcolor2:#fdea7d;
	--backcolor3:gold;
}



/* Container */
body {font-family:Nunito,sans-serif;}
/* div#container {} */
div#container div.grid {display:flex; flex-direction:column; align-items:center;}
div#container div.item {margin-top:1.25em;}


/* Forms */
div#container form.form {position:relative; /* display:inline-block; */}
div#container form.form {background-color:var(--backcolor3); padding:var(--edgesize); border-radius:.375rem;}
/* div#container form.user {max-width:32rem;} */
/* div#container form.order {max-width:48rem;} */
div#container form.form h2.head {text-align:center; margin:0; margin-bottom:.25em;}
div#container form.form div.field {display:grid; align-items:center; padding:.125rem;}
div#container form.form div.field select.datafield {cursor:pointer; text-align:center; min-width:7rem;}
div#container form.form div.field select.datafield,
div#container form.form div.field input.datafield {/* font-size:1rem; */ width:100%;/*  max-width:12rem; */ padding:.5em .75em; border-radius:.5rem; border:0 none;}
div#container form.form table.fieldtable tr.row td.cell input {max-width:5rem;}
div#container form.form div.act {display:grid; grid-template-columns:1fr; grid-gap:.5em; padding:0; margin-top:.25rem;}
/* div#container form.form div.act {grid-template-columns:repeat(2,1fr);} */
div#container form.form div.act button.btn {background-color:black; padding:.625em; border-radius:.5rem; border:0 none;}
div#container form.form div.act button.btn {display:flex; justify-content:center; align-items:center;}
div#container form.form div.act button.btn {color:white; cursor:pointer;}
/* div#container form.form div.act button.btn.send {} */
div#container form.form div.act button.btn.clear {position:absolute; top:var(--edgesize); right:var(--edgesize);}
div#container form.form div.act button.btn svg.icon {display:none;}
div#container form.form div.act button.btn span.caption {font-size:1.125em; margin:0 .25em;}


/* User Forms */
div#container form.user.form div.field {grid-template-columns:2fr 3fr;}
div#container form.user.form div.field label.label {font-weight:bold; cursor:pointer; margin:.25rem 0; margin-right:.5rem;}


/* Data Table */
div#container div.table {background-color:var(--backcolor3); text-align:center; padding:var(--edgesize); border-radius:.375rem;}
div#container div.table h2.head {text-align:center; margin:0; margin-bottom:.25em;}
/* div#container div.table table.datatable {} */
/* div#container div.table table.datatable tr.row {} */
div#container div.table table.datatable tr.row th.head, 
div#container div.table table.datatable tr.row td.cell {background-color:var(--whiteglass); background-color:var(--backcolor2); padding:.25em .75em; border-radius:.25em;}
div#container div.table table.datatable tr.row th.head.f, 
div#container div.table table.datatable tr.row td.cell.f {background-color:transparent;}
div#container div.table table.datatable tr.row th.head.x, 
div#container div.table table.datatable tr.row td.cell.x {display:none;}







/* Small Smartphone Screen */
@media screen and (max-width:32rem) {
	
	/* Forms */
	/* div#container form.form div.act button.btn.clear {display:none;} */
	/* div#container form.form div.act button.btn.clear {position:static;} */
	div#container form.form div.act button.btn.clear {padding:.5em;}
	div#container form.form div.act button.btn.clear svg.icon {display:block;}
	div#container form.form div.act button.btn.clear span.caption {display:none;}

	/* User Forms */
	div#container form.user.form div.field {grid-template-columns:1fr;}

	/* General Section */
	/* div#container section {} */
}
