

* {box-sizing:border-box;}


body {font-family:sans-serif; margin:0;}


div#container {background:linear-gradient(135deg,dodgerblue,white); display:grid; place-items:center; min-height:100vh; padding:1rem;}
div#container main#main {background-color:white; width:100%; max-width:40rem; padding-top:.75rem; border-radius:.5rem; overflow:hidden;}

div#container main#main div.row {display:flex; flex-direction:row; width:fit-content; margin-bottom:.75rem;}
div#container main#main div.row {filter:drop-shadow(rgba(0, 0, 0, 0.1) 0px 4px 6px);}
div#container main#main div.row {animation:slide 15s linear infinite;}

div#container main#main div.row a.card {display:flex; flex-direction:row; align-items:center; color:inherit; text-decoration:none;}
div#container main#main div.row a.card {background-color:white; padding:.5rem .75rem .5rem; border-radius:10rem; margin-right:.75rem;}
div#container main#main div.row a.card img.icon {height:1em; margin-right:.45rem;}
div#container main#main div.row a.card span.caption {font-size:.875rem; white-space:nowrap; margin-top:.125rem;}



@keyframes slide {
	0% {transform:translateX(0);}
	100% {transform:translateX(-50%);}
}

