


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {
	/* --bgimg:linear-gradient(135deg,dodgerblue,magenta); */
	--pagewidth:60rem;
	--cornersize:.5rem;
	--themecolor:#CCC;
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
}


html {background-color:var(--themecolor); background-image:var(--bgimg);}
body {font-family:Nunito,sans-serif; margin:0;}


div#container {display:grid; place-items:center; min-height:100vh; padding:1rem;}

div#container main.main {background-color:white; display:flex; flex-direction:column; align-items:stretch; /* width:100%; max-width:var(--pagewidth); */ padding:1rem; border-radius:var(--cornersize); box-shadow:var(--boxshadow);}
div#container main.main div.input {margin-top:.5rem;}
div#container main.main div.input input {width:100%; padding:.375rem; border:1px solid #0003; border-radius:var(--cornersize);}
div#container main.main button.cta {cursor:pointer; padding:.375rem; border:1px solid #0003; border-radius:var(--cornersize); margin-top:.5rem;}
div#container main.main div.output {background-color:#0002; display:flex; flex-direction:row; align-items:center; position:relative; cursor:pointer; user-select:none; padding:.375rem 0.5rem; border-radius:var(--cornersize); margin-top:.5rem;}
div#container main.main div.output svg.icon {margin-right:.5rem;}
div#container main.main div.output span.result {background-color:#0001; flex-grow:1; padding:0 .25rem; border-radius:.375rem;}
div#container main.main div.output span.tooltip {position:absolute; bottom:calc(100% + 1rem); left:50%; transform:translateX(-50%); padding:.5rem .75rem; border-radius:var(--cornersize);}
div#container main.main div.output span.tooltip {--bgcolor:#555C; background-color:var(--bgcolor); color:white; font-size:.75rem; min-width:6rem; max-width:30rem; white-space:nowrap;}
div#container main.main div.output span.tooltip {opacity:0; visibility:hidden;}
div#container main.main div.output:hover span.tooltip {opacity:1; visibility:visible; transition:.5s;}
div#container main.main div.output span.tooltip::after {position:absolute; top:100%; left:50%; transform:translateX(-50%);}
div#container main.main div.output span.tooltip::after {content:''; border:.375rem solid transparent; border-top-color:var(--bgcolor);}


/* Tablet Screen */
@media screen and (max-width:64rem) {
	/*  */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {
	/*  */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {
	/*  */
}
