

* {box-sizing:border-box;}


:root {
	--red:#FF5260;
	--blue:#2D9CFC;
	--purple:#6643B5;
	--black:#1A1C21;
	--frost:#FFF2;
}


html {background-color:#0A1857;}
body {font-family:sans-serif; margin:0;}



/* div#container {background:#1fc8db linear-gradient(141deg,#9fb8ad 0%,#1fc8db 51%,#2cb5e8 75%);} */
div#container {background:#0A1857 linear-gradient(135deg,#0A1857,#08209A); background:var(--black); display:flex; flex-direction:column; justify-content:flex-start; align-items:center; min-height:100vh; padding:.5rem;}
div#container {display:flex; flex-direction:column; justify-content:flex-start; align-items:center; perspective:75rem;}


div#container nav.switcher {display:flex; justify-content:flex-start; width:100%; max-width:64rem;}
div#container nav.switcher ul.navlist {/* background-color:var(--frost); */ list-style:none; padding:0; /* border-radius:.5rem; */ margin:0; margin-bottom:.25rem; overflow:hidden;}
div#container nav.switcher ul.navlist {display:flex; flex-direction:row; justify-content:center; align-items:center; position:relative;}
div#container nav.switcher ul.navlist li {min-width:8rem; border-radius:inherit;}
div#container nav.switcher ul.navlist li.navitem {text-align:center; padding:1rem 1rem; z-index:20;}
div#container nav.switcher ul.navlist li.navitem img.bg {display:none;}
div#container nav.switcher ul.navlist li.navitem img.bg {position:absolute; top:0; left:0; height:100%; width:100%; z-index:10; object-fit:cover;}
div#container nav.switcher ul.navlist li.navitem input {display:none;}
div#container nav.switcher ul.navlist li.navitem label.navlabel {display:block; cursor:pointer; user-select:none;}
div#container nav.switcher ul.navlist li.navitem label.navlabel {color:#BBB; transition:.5s;}
div#container nav.switcher ul.navlist li.navitem input:checked + label.navlabel {color:white;}
div#container nav.switcher ul.navlist li.navitem span.tooltip {display:none;}
div#container nav.switcher ul.navlist li.navitem span.tooltip {position:absolute; top:50%; left:50%; transform:translate(-50%,1rem); z-index:10;}
div#container nav.switcher ul.navlist li.navitem span.tooltip {background-color:#333; background-color:var(--black); color:white; font-size:.75rem; text-align:center; white-space:nowrap; padding:.375rem .75rem; border-radius:.25rem;}
div#container nav.switcher ul.navlist li.navitem span.tooltip::before {position:absolute; bottom:100%; left:50%; transform:translateX(-50%);}
div#container nav.switcher ul.navlist li.navitem span.tooltip::before {content:''; display:block; width:0; height:0; border:.5rem solid transparent; border-bottom-color:#333;}
div#container nav.switcher ul.navlist li.navitem span.tooltip {visibility:hidden; opacity:0; transition:.125s;}
div#container nav.switcher ul.navlist li.navitem:hover span.tooltip {visibility:visible; opacity:1;}
div#container nav.switcher ul.navlist li.switch {position:absolute; bottom:0; left:0; height:100%; height:1px; border-radius:1rem; z-index:10; transition:.5s;}
div#container nav.switcher ul.navlist li.switch {display:flex; flex-direction:row; justify-content:center;}
div#container nav.switcher ul.navlist li.switch::after {content:''; background-color:#EEE; width:50%;}



div#container main.main {background-color:var(--frost); border-radius:.5rem; flex-grow:1; width:100%; max-width:64rem; margin-top:.25rem; overflow:hidden;}
div#container main.main div.inner {display:flex; flex-direction:row; align-items:stretch; min-height:100%; transition:.5s;}

div#container main.main article {flex-shrink:0; width:100%; min-height:100%; padding:1rem;}
div#container main.main article h2.head {color:white; font-size:1.5rem; font-weight:100; margin:0; margin-bottom:1rem;}
div#container main.main article section {/* background-color:white; */ border:1px dashed var(--frost); padding:.5rem; border-radius:.5rem; margin-top:.5rem;}


div#container main.main article#overview section.summary {display:grid; grid-template-columns:repeat(4,1fr); grid-gap:.5rem;}
div#container main.main article#overview section.summary div.card {display:flex; flex-direction:column; align-items:center; background-color:var(--blue); color:white; padding:.5rem; border-radius:.5rem;}
div#container main.main article#overview section.summary div.card svg.icon {font-size:2rem; margin-bottom:.5rem;}
div#container main.main article#overview section.summary div.card span.num {font-size:2rem; margin-bottom:.15rem;}
div#container main.main article#overview section.summary div.card span.caption {font-size:.75rem;}

div#container main.main article#overview section.overview {display:flex; flex-direction:row; justify-content:center; align-items:center; counter-reset:n;}
div#container main.main article#overview section.overview {transform:none; transform-style:preserve-3d; transition:.5s;}
div#container main.main:hover article#overview section.overview {transform:rotateX(60deg); transform:rotateX(80deg);}
div#container main.main article#overview section.overview div.category {background-color:#0008; min-width:3rem; min-height:3rem; border-radius:50%; margin:0 .5rem; margin-bottom:.75rem;}
div#container main.main article#overview section.overview div.category {transform:translateZ(2rem); position:relative;}
div#container main.main article#overview section.overview div.category::before {position:absolute; top:100%; left:50%; transform:translateX(-50%) rotateX(-45deg);}
div#container main.main article#overview section.overview div.category::before {content:'Category 'counter(n); counter-increment:n; font-size:.625rem; margin-top:.125rem; white-space:nowrap;}


/* div#container main.main article#bank {} */
div#container main.main article#bank section.buckets {display:flex; flex-direction:row; justify-content:space-between;}
div#container main.main article#bank section.buckets div.bucket {background-color:#E2E2E2; width:.5rem; height:10rem; border-radius:1rem; margin-bottom:.75rem; /* overflow:hidden; */}
div#container main.main article#bank section.buckets div.bucket {display:flex; flex-direction:column; justify-content:flex-end; position:relative;}
div#container main.main article#bank section.buckets div.bucket::after {content:''; display:block; background-color:var(--red); height:25%; border-radius:inherit;}
div#container main.main article#bank section.buckets div.bucket label.month {position:absolute; top:100%; font-size:.75rem; margin-top:.25rem;}



@media screen and (max-width:42rem) {
	div#container nav.switcher {display:flex; justify-content:center;}
	div#container nav.switcher ul.navlist {background-color:white;}
	div#container nav.switcher ul.navlist {display:grid; grid-template-columns:repeat(2,1fr); grid-gap:.5rem; padding:.5rem;}

	div#container nav.switcher ul.navlist li.navitem {background-color:#0008; position:relative;}
	div#container nav.switcher ul.navlist li.navitem.home {grid-column:1 / span 2;}
	/* div#container nav.switcher ul.navlist li.navitem {display:grid; place-items:center; min-width:8rem; min-height:6rem;} */

	div#container nav.switcher ul.navlist li.navitem img.bg {display:none;}
	div#container nav.switcher ul.navlist li.navitem span.tooltip {display:block;}

	div#container nav.switcher ul.navlist li.switch {display:none;}
}

