

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');




:root {

	--red:#DC153B;
	--red:#FB3F41;
	--blue:#0179FF;
	--green:#29AF60;
	--tlblue:#0179FFE8;
	--tlblue2:#0179FFBB;
	--trpblue:#0179FF44;
	--trptrpblue:#0179FF18;
	--royalblue:#2E61E0;
	--tlroyalblue:#2E61E0CC;
	--trproyalblue:#2E61E044;
	--offwhite:#EEE;
	--darkgrey:#444;
	--offwhite2:#EEEE;
	--lightblack:#383838;
	--blackglass:#0001;
	--whiteglass:#FFF4;
	
	--pagewidth:75rem;
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
}



body {

	--backcolor:white;
	--backcolor2:var(--offwhite);
	--forecolor:var(--darkgrey);
}

body.dark {

	--backcolor:var(--darkgrey);
	--backcolor2:var(--lightblack);
	--forecolor:white;
}



* {box-sizing:border-box;}



body {background-color:var(--backcolor); transition:.5s; font-family:Nunito,sans-serif; margin:0;}




/* Main */
div#container {/* background-color:white; */ min-height:100vh;}
div#container {display:flex; flex-direction:column; justify-content:flex-start; align-items:center; align-items:stretch;}
div#container nav.navbar {flex-grow:0;}
div#container main#table {flex-grow:1;}


/* Buttons */
div#container div.btn {color:white; display:flex; justify-content:center; align-items:center; cursor:pointer; border-radius:.25rem;}
div#container div.btn svg.icon {display:inline-block;}
div#container div.btn span.caption {margin-top:.125rem; margin-left:.375rem;}


/* Data Table */
div#container main#table {/* background-color:var(--backcolor); */ color:var(--forecolor); transition:.5s;}
div#container main#table {display:flex; width:100%; /* max-width:52rem; */ overflow-x:auto; text-align:center; position:relative; margin:0 auto; margin-top:5rem;}
/* div#container main#table div.btn {} */
div#container main#table div.bin {overflow-x:visible; margin:1.5rem auto;}
div#container main#table table.table {border:.125rem solid var(--backcolor2); /* margin:.5rem 0; */}
/* Data Table Row */
div#container main#table table.table tr.row {border-radius:.125rem;}
div#container main#table table.table tr.row th.head {background-color:var(--backcolor2); color:var(--forecolor); white-space:nowrap; transition:.5s; padding:1rem .5rem; /* border:1px solid; */}
div#container main#table table.table tr.row th.head h2.head {font-size:1rem; font-weight:700; /* text-align:center; */ margin:0;}
div#container main#table table.table tr.row td.cell {/* text-align:center; */ transition:.5s; border:.125rem solid var(--blackglass); border-radius:inherit;}
div#container main#table table.table tr.row td.cell.gone {display:none;}

/* Data Table Entry Row */
div#container main#table table.table tr.row.entry {font-size:.875rem; font-weight:300; position:relative;}
div#container main#table table.table tr.row.entry:hover {background-color:var(--trptrpblue);}
div#container main#table table.table tr.row.entry.active {background-color:var(--trpblue);}
div#container main#table table.table tr.row.entry td.cell {position:relative; padding:.375rem;}
div#container main#table table.table tr.row.entry.active td.cell {border-color:var(--blue);}
/* div#container main#table table.table tr.row.entry td.cell img.data {height:6rem; width:100%; object-fit:cover;} */
div#container main#table table.table tr.row.entry td.cell span.data {white-space:nowrap; cursor:pointer; user-select:none;}
div#container main#table table.table tr.row.entry td.cell span.data:empty::after {content:'[Empty]';}
div#container main#table table.table tr.row.entry td.cell div.copier {position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%;}
div#container main#table table.table tr.row.entry td.cell div.copier {background-color:var(--backcolor2); display:grid; place-items:center; padding:.25rem .125rem; border-radius:.25rem;}
div#container main#table table.table tr.row.entry td.cell div.copier {opacity:0; visibility:hidden; transition:.25s;}
div#container main#table table.table tr.row.entry td.cell:hover div.copier {opacity:.625; visibility:visible;}
div#container main#table table.table tr.row.entry td.cell div.copier svg.icon {display:block;}
/* div#container main#table table.table tr.row.entry td.cell div.opmenu {} */
div#container main#table table.table tr.row.entry td.cell div.opmenu div.btn {font-size:1rem; margin:.125rem;}
div#container main#table table.table tr.row.entry td.cell div.opmenu div.copybtn {background-color:var(--backcolor2); color:var(--forecolor); position:relative; transition:.25s;}
div#container main#table table.table tr.row.entry td.cell div.opmenu div.copybtn::after {position:absolute; top:50%; right:100%; transform:translateY(-50%);}
div#container main#table table.table tr.row.entry td.cell div.opmenu div.copybtn::after {display:block; background-color:inherit; content:'Copied!'; font-size:.875rem; border-radius:.25rem; padding:.125rem .5rem;}
div#container main#table table.table tr.row.entry td.cell div.opmenu div.copybtn::after {opacity:0; visibility:hidden; transition:.125s; /* transition-delay:.5s; */}
div#container main#table table.table tr.row.entry td.cell div.opmenu div.copybtn:active:after {opacity:1; visibility:visible; /* transition-delay:0; */}
div#container main#table table.table tr.row.entry td.cell div.opmenu div.editbtn {background-color:var(--blue);}
div#container main#table table.table tr.row.entry td.cell div.opmenu div.deletebtn {background-color:var(--red);}
/* div#container main#table table.table tr.row.entry td.cell div.opmenu div.btn svg.icon {} */
div#container main#table table.table tr.row.entry td.cell div.opmenu.mini {display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container main#table table.table tr.row.entry td.cell div.opmenu.mini div.btn {display:grid; place-items:center; padding:.5rem;}
/* div#container main#table table.table tr.row.entry td.cell div.opmenu.mini div.btn svg.icon {} */
div#container main#table table.table tr.row.entry td.cell div.opmenu.full {position:absolute; top:50%; left:50%; z-index:1;}
div#container main#table table.table tr.row.entry td.cell div.opmenu.full {background-color:var(--backcolor); display:flex; flex-direction:column; padding:.5rem; border:1px solid var(--forecolor); border-radius:.5rem;}
div#container main#table table.table tr.row.entry td.cell div.opmenu.full {display:none;}
div#container main#table table.table tr.row.entry td.cell div.opmenu.full div.btn {display:flex; flex-direction:row; justify-content:flex-start; padding:.375rem 1rem;}
/* div#container main#table table.table tr.row.entry td.cell div.opmenu.full div.btn svg.icon {} */
div#container main#table table.table tr.row.entry td.cell div.opmenu.full div.btn span.caption {flex-grow:1; text-align:center;}
/* Data Table Entry Row Tabs */
div#container main#table table.table tr.row.entry::after {position:absolute; top:0; right:100%; /* visibility:hidden; */ opacity:0; transition:.125s;}
div#container main#table table.table tr.row.entry::after {background-color:var(--trpblue); content:'Select'; height:100%; width:4rem;}
div#container main#table table.table tr.row.entry::after {display:grid; place-items:center; cursor:pointer; border-radius:inherit; margin-right:.125rem;}
div#container main#table table.table tr.row.entry:hover::after {background-color:var(--blue); color:white; /* visibility:visible; */ opacity:1;}
/* div#container main#table table.table tr.row.active:hover::after {background-color:var(--trpblue); color:initial;} */
/* div#container main#table table.table tr.row.active:hover::after {visibility:hidden; opacity:0;} */

/* Data Table New Row */
/* div#container main#table table.table tr.row.newentry {} */
div#container main#table table.table tr.row.newentry:hover {background-color:initial;}
/* div#container main#table table.table tr.row.newentry td.cell {} */
div#container main#table table.table tr.row.newentry td.cell div.addbtn {cursor:pointer; transition:.25s; padding:.75rem;}
div#container main#table table.table tr.row.newentry td.cell div.addbtn {display:flex; flex-direction:row; justify-content:center; align-items:center;}
div#container main#table table.table tr.row.newentry td.cell div.addbtn:hover {background-color:var(--blue); color:white;}
div#container main#table table.table tr.row.newentry td.cell div.addbtn svg.icon {font-size:2rem;}
div#container main#table table.table tr.row.newentry td.cell div.addbtn span.caption {font-size:1.125rem; margin-left:.5rem;}


/* Database Tabs */
div#container main#table ul.dblist {display:flex; flex-direction:row; list-style:none; padding:0; margin:0; /* margin-bottom:.125rem; */}
/* div#container main#table ul.dblist {display:none;} */
div#container main#table ul.dblist li.dbtab {display:flex; flex-direction:row; align-items:center; padding:.625rem 1rem .5rem; border:.125rem solid var(--blackglass); border-bottom:0 none; border-radius:.75rem .75rem 0 0 ; margin-left:.125rem;}
div#container main#table ul.dblist li.dbtab {background-color:var(--backcolor); font-size:1rem; opacity:.75; transition:.25s; cursor:pointer; user-select:none;}
div#container main#table ul.dblist li.dbtab.active {background-color:var(--backcolor2); font-size:1.125rem; opacity:1;}
/* div#container main#table ul.dblist li.dbtab svg.icon {} */
div#container main#table ul.dblist li.dbtab span.caption {/* display:none; */ margin-left:.5em;}


/* Context Menu */
div#container main#table div.contextmenu {position:absolute; top:0; left:0;}
div#container main#table div.contextmenu {display:none; background-color:var(--backcolor2); border:.25rem solid var(--backcolor2); border-radius:.25rem;}
div#container main#table div.contextmenu.open {display:block;}
div#container main#table div.contextmenu ul.oplist {list-style:none; padding:0; margin:0;}
/* div#container main#table div.contextmenu ul.oplist li.opitem {} */
div#container main#table div.contextmenu ul.oplist li.opitem a.oplink {display:flex; flex-direction:row; align-items:center; color:inherit; font-size:1rem; text-decoration:none; padding:.625rem 1rem;}
div#container main#table div.contextmenu ul.oplist li.opitem a.oplink:hover {background-color:var(--backcolor);}
/* div#container main#table div.contextmenu ul.oplist li.opitem a.oplink svg.icon {} */
div#container main#table div.contextmenu ul.oplist li.opitem a.oplink span.caption {margin-left:.5rem;}


/* Overlay */
div#container div.overlay {position:fixed; top:0; left:0; height:100%; width:100%; z-index:200;}
div#container div.overlay {display:grid; place-items:center;}
div#container div.overlay {opacity:0; visibility:hidden;}
div#container div.overlay.active {opacity:1; visibility:visible;}
div#container div.overlay div.bg {position:absolute; top:0; left:0; height:100%; width:100%; z-index:-1;}
div#container div.overlay div.bg {background-color:#0008; cursor:pointer;}
div#container div.overlay main {background-color:var(--offwhite); color:#444; width:100%; max-width:18rem; padding:1rem; border-radius:.25rem; margin:1rem auto;}
div#container div.overlay main h1.head {font-size:1.5rem; font-weight:500; text-transform:uppercase; text-align:center; margin:0; margin-top:.5rem;}
div#container div.overlay main div.input {margin-top:.375rem;}
div#container div.overlay main div.input.grid {display:grid; grid-template-columns:repeat(2,1fr); grid-gap:.5rem; margin-top:.625rem;}
div#container div.overlay main div.input input {background-color:white; font-family:inherit; width:100%; padding:.5rem 1rem; border:0 none; border-radius:.25rem;}
div#container div.overlay main div.input input.btn {background-color:var(--blue); color:white; font-size:inherit; cursor:pointer; transition:.125s;}
div#container div.overlay main div.input input.btn:hover {background-color:#333;}
div#container div.overlay main#editor {display:block;}
div#container div.overlay main#creator {display:none;}
div#container div.overlay.create main#editor {display:none;}
div#container div.overlay.create main#creator {display:block;}
div#container div.overlay div.closebtn {position:absolute; top:0; right:0; font-size:2rem; font-weight:100;}


/* Snackbar */
div#container aside#snackbar {display:none;}
div#container aside#snackbar {position:absolute; top:0; right:0; left:0; z-index:100;}
div#container aside#snackbar {background-color:var(--offwhite2); width:100%; text-align:center; padding:.75rem;}




@media screen and (max-width:64rem) {

	/* Main */
	/* div#container {} */

	/* Data Table */
	/* div#container main#table {} */
	/* div#container main#table table.table {} */

	/* Database Tabs */

	/* Context Menu */

	/* Overlay */

	/* Snackbar */
}


@media screen and (max-width:36rem) {

	/* Main */
	/* div#container {padding:1rem 0;} */

	/* Data Table */
	/* div#container main#table {} */
	/* div#container main#table table.table {} */
	/* div#container main#table table.table tr.row {} */
	/* div#container main#table table.table tr.row.entry {} */
	/* div#container main#table table.table tr.row td.cell {} */
	/* div#container main#table table.table tr.row td.cell div.btn {font-size:.75rem;} */
	div#container main#table table.table tr.row.entry::after {display:none;}

	/* Database Tabs */

	/* Context Menu */

	/* Overlay */

	/* Snackbar */
}

