
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');



* {box-sizing:border-box;}



:root {
	--themecolor:whitesmoke;
	--size:1rem;
	--sizeflip:1.5rem;
	--level0:rgb(235,237,240);
	--level1:rgb(155,233,168);
	--level2:rgb(64,196,99);
	--level3:rgb(48,161,78);
	--level4:rgb(33,110,57);
	--blue:rgb(9,105,218);
	--ltgrey:rgb(246,248,250);
}



body {font-family:Nunito,sans-serif; margin:0;}



div#container {background-color:var(--themecolor); background-color:white;}
div#container {display:flex; flex-direction:column; justify-content:center; align-items:center; min-height:100vh; padding:1rem;}
div#container h1.head {text-align:center; /* white-space:nowrap; */}
div#container section.section {max-width:100%;}


div#container h2.head {font-size:1.25rem; font-weight:100; margin:0; margin-top:4rem;}
div#container main.grid {background-color:white; display:flex; flex-direction:row; position:relative; max-width:100%; padding:.375rem; padding:1.5rem 6rem; border:1px solid var(--ltgrey); border-radius:.5rem;}
/* div#container main.grid {display:grid; grid-template-rows:repeat(7,1fr);} */
div#container main.grid {overflow:auto; /* IE & Edge */ -ms-overflow-style:none; /* Firefox */ scrollbar-width:none;}
div#container main.grid::-webkit-scrollbar {/* Chrome / Safari / Opera */ display:none;}
div#container main.grid div.wk {display:flex; flex-direction:column; justify-content:space-between;}

div#container main.grid div.wk div.label,
div#container main.grid div.wk div.day {min-height:var(--size); min-width:var(--size); /* border:1px solid transparent; */ margin:.125rem;}
div#container main.grid div.wk div.day div.dot {display:grid; place-items:center; font-size:.5rem;}
div#container main.grid div.wk div.day div.dot {cursor:pointer; height:100%; width:100%; border-radius:.125rem; border-color:rgb(27,31,35,.125); z-index:10;}
div#container main.grid.off div.wk div.day div.dot {opacity:.5;}
div#container main.grid.off div.wk div.day div.dot.on {opacity:1;}
div#container main.grid div.wk div.day div.dot.l0 {background-color:var(--level0);}
div#container main.grid div.wk div.day div.dot.l1 {background-color:var(--level1);}
div#container main.grid div.wk div.day div.dot.l2 {background-color:var(--level2);}
div#container main.grid div.wk div.day div.dot.l3 {background-color:var(--level3);}
div#container main.grid div.wk div.day div.dot.l4 {background-color:var(--level4);}

div#container main.grid div.wk div.day {position:relative;}
div#container main.grid div.wk div.day div.tag {display:none; position:absolute; bottom:calc(.5rem + 100%); left:50%; transform:translateX(-50%); z-index:20;}
div#container main.grid div.wk div.day div.tag {background-color:#333; color:white; font-size:.875rem; white-space:nowrap; padding:.5rem 1rem; border-radius:.375rem;}
div#container main.grid div.wk div.day div.tag::after {content:''; display:block; position:absolute; top:100%; left:50%; transform:translateX(-50%); /* background-color:transparent; */ /* height:2rem; width:2rem; */ border:.5rem solid transparent; border-top-color:#333;}
div#container main.grid div.wk div.day div.dot:hover + div.tag {display:block; opacity:1;}

div#container main.grid div.wk div.label {font-size:.75rem; display:grid; place-items:center; z-index:10;}
div#container main.grid div.wk div.label.day {margin-right:.5rem;}
div#container main.grid div.wk div.label.month {opacity:.1; text-align:center;}


div#container nav.yrchooser ul.yrlist {display:flex; flex-direction:column; align-items:center;}
div#container nav.yrchooser ul.yrlist {list-style:none; text-align:center; padding:0; margin:0;}
div#container nav.yrchooser ul.yrlist li.year {background-color:transparent; color:black; cursor:pointer; user-select:none; padding:.5rem 1.5rem; border-radius:.5rem; margin:.5rem 0;}
div#container nav.yrchooser ul.yrlist li.year:hover {background-color:var(--ltgrey);}
div#container nav.yrchooser ul.yrlist li.year.active {background-color:var(--blue); color:white;}



@media screen and (max-width:40rem) {
	/* div#container main.grid {flex-direction:column; overflow:initial; padding:2rem 5rem;} */
	/* div#container main.grid div.wk {flex-direction:row;} */
	/* div#container main.grid div.wk div.day {min-height:var(--sizeflip); min-width:var(--sizeflip);} */
	/* div#container main.grid div.wk div.label.day {margin-right:0;} */
}

