
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; transition:.5s; /* padding:0; margin:0; */}
/* Everything changes smoothly */


:root {

	/* Base Colors */
	--lightblack:#444;
	--lnrgrdnt:linear-gradient( var(--yg1) , var(--yg7) );
	background:var(--lnrgrdnt);

	/* Theme Colors */
	--yg1:rgb(102,204,102);
	--yg2:rgb(123,210,102);
	--yg3:rgb(153,216,101);
	--yg4:rgb(184,223,101);
	--yg5:rgb(214,229,100);
	--yg6:rgb(245,235,100);
	--yg7:rgb(255,241,100);
}


html,
body {font-family:Nunito,sans-serif; margin:0; overflow:hidden; /*border:.5rem solid transparent;*/}

div#container {perspective:300px; perspective-origin:center; height:100vh;}
div#container {overflow-x:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch;}
div#container div.plaxgroup {position:relative; height:100%; transform-style:preserve-3d; /*transition:.5s transform-style;*/}
div#container div.plaxgroup#group1 {z-index:5;}
div#container div.plaxgroup#group2 {z-index:3;}
div#container div.plaxgroup#group3 {z-index:4;}
div#container div.plaxgroup#group4 {z-index:2;}
div#container div.plaxgroup#group5 {z-index:3;}
div#container div.plaxgroup#group6 {z-index:2;}
div#container div.plaxgroup#group7 {z-index:3;}


div#container div.plaxgroup div.parallax_layer {position:absolute; top:0; right:0; bottom:0; left:0; /*padding-bottom:1200px;*/ /*border:1px solid #000;*/ box-shadow:0 0 0 2px #000;}
div#container div.plaxgroup div.parallax_layer.fore {transform:translateZ(150px) scale(0.5); /*z-index:1;*/}
div#container div.plaxgroup div.parallax_layer.base {transform:translateZ(0) scale(1); /*z-index:4;*/}
div#container div.plaxgroup div.parallax_layer.back {transform:translateZ(-300px) scale(2); /*z-index:3;*/}
div#container div.plaxgroup div.parallax_layer.deep {transform:translateZ(-600px) scale(3); /*z-index:2;*/}
/* Factor of scale  =  [ 1 - (translateZ)/(perspective) ] */
div#container div.plaxgroup#group1 div.parallax_layer:first-child {background-color:var(--yg1);}
div#container div.plaxgroup#group2 div.parallax_layer:first-child {background-color:var(--yg2);}
div#container div.plaxgroup#group3 div.parallax_layer:first-child {background-color:var(--yg3);}
div#container div.plaxgroup#group4 div.parallax_layer:first-child {background-color:var(--yg4);}
div#container div.plaxgroup#group5 div.parallax_layer:first-child {background-color:var(--yg5);}
div#container div.plaxgroup#group6 div.parallax_layer:first-child {background-color:var(--yg6);}
div#container div.plaxgroup#group7 div.parallax_layer:first-child {background-color:var(--yg7);}
div#container div.plaxgroup div.parallax_layer {display:grid; place-items:center; padding:2rem;}
div#container div.plaxgroup div.parallax_layer span.caption {background-color:#FFFA; max-width:100%; user-select:none; border-radius:5rem; border:solid; padding:.5em 1em .4em;}
div#container div.plaxgroup div.parallax_layer span.caption {font-size:2em; text-transform:capitalize; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

/* Debugger */
div#debugger {position:fixed; top:1vh; right:1vh; z-index:100; user-select:none;}
div#debugger {background-color:var(--lightblack); color:white; font-size:.75rem; font-weight:bold; padding:.625rem .625rem; border-radius:.5rem;}
div#debugger div.row {margin-top:.375rem; text-align:center;}
div#debugger div.row label {margin-left:0;}
div#debugger div.row button {cursor:pointer; border-radius:.5rem; padding:1px .5rem; font-weight:600; border:0 none;}
div#debugger div.row button.wide {width:100%;}
div#debugger div.row button.debugbtn {padding:2px .5rem; margin-top:2px;}
div#debugger div.row button svg {display:block; font-size:1rem;}
div#debugger div#modeA {display:block;}
div#debugger div#modeB {display:none;}
div#debugger.alt div#modeA {display:none;}
div#debugger.alt div#modeB {display:block;}
/*div#debugger span {padding:3px 4px 3px 0px;}*/


/* Debug Mode */

div#container.debug {/* perspective:400px; transform:scale(1); */ border:.5rem solid;}
div#container.debug div.plaxgroup {transform:translate3d(200px,0,-3000px) rotateY(45deg); transform:translate3d(200px,-2000px,-2000px) rotateY(45deg); transform-style:preserve-3d; border:.375rem solid;}
div#container.debug div.plaxgroup div.parallax_layer {opacity:0.9; border:.5rem solid;}
div#container.debug div.plaxgroup div.parallax_layer.fore {transform:translateZ(150px);}
div#container.debug div.plaxgroup div.parallax_layer.base {transform:translateZ(0px);}
div#container.debug div.plaxgroup div.parallax_layer.back {transform:translateZ(-300px);}
div#container.debug div.plaxgroup div.parallax_layer.deep {transform:translateZ(-600px);}
div#container.debug div.plaxgroup div.parallax_layer span.caption {font-size:3em;}
