
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	/* Theme Colors */
	--offwhite:#d8d8d8;
	--offwhite:#f8f8f8;
	--lightgrey:#CCC;
	--lightblack:#333;
	
	/* Gradient Colors */
	--bgimg:linear-gradient(135deg,dodgerblue,white,wheat);

	/* Page Sizes */
	--pagewidth:60rem;
	--cornersize:.5rem;
	
	/* Box Shadows */
	--boxshadow:0 0 1rem 0 #0002;
	--boxshadow:0 0 .25rem 0 #0003;
}

body {

	--backcolor:var(--lightgrey);
	--forecolor:black;
}

/* body.dark {

	--backcolor:var(--lightblack);
	--forecolor:white;
} */




/* Container */
body {background-color:var(--backcolor); /* background-image:var(--bgimg); */ margin:0;}
body {color:var(--forecolor); font-family:Nunito,sans-serif;}
/* body {display:flex; flex-direction:column; justify-content:center; align-items:center; min-height:100vh;} */
div#container {display:flex; flex-flow:row wrap; justify-content:center; align-items:flex-start; grid-gap:1rem; min-height:100vh; padding:2.375rem;}
div#container {flex-direction:column; align-items:center;}
div#container > div.grid {display:flex; flex-flow:row wrap; justify-content:center; grid-gap:.875rem;}
/* Buttons */
div#container section button.btn {display:flex; flex-direction:row; justify-content:center; align-items:center; padding:.625em 1em; border-radius:.25rem;}
div#container section button.gobtn {padding-right:.375em;}
div#container section button.backbtn {padding-left:.375em;}
div#container section button.btn svg.icon {margin:0 .125em;}



/* Page Section */
div#container section {background-color:white; background-color:var(--offwhite); padding:1em; border-radius:var(--cornersize); /* margin-top:1rem; */ box-shadow:var(--boxshadow);}
/* div#container section {width:100%; max-width:var(--pagewidth);} */
div#container section {display:flex; flex-direction:column; align-items:center; max-width:var(--pagewidth);}

/* Navbar */
div#container section nav.navbar {display:flex; flex-direction:row; grid-gap:.25rem; margin-top:.25rem;}
div#container section nav.navbar.x {display:none;}
div#container section nav.navbar a.link {background-color:var(--lightblack); color:white; text-decoration:none; padding:.125em .375em; padding-top:.25em; border-radius:.25em;}






/* Big Tablet Screen */
@media screen and (max-width:64rem) {

	/* Container */
	/* div#container {} */
	/* div#container > div.grid {} */

	/* Page Section */
	/* div#container section {} */
}

/* Small Tablet Screen */
@media screen and (max-width:56rem) {

	/* Container */
	/* div#container {} */
	/* div#container > div.grid {} */

	/* Page Section */
	/* div#container section {} */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Container */
	/* div#container {} */
	/* div#container > div.grid {} */

	/* Page Section */
	/* div#container section {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {

	/* Container */
	/* div#container {} */
	/* div#container > div.grid {} */

	/* Page Section */
	/* div#container section {} */
}

/* Tiny Smartphone Screen */
@media screen and (max-width:24rem) {

	/* Container */
	/* div#container {} */
	/* div#container > div.grid {} */

	/* Page Section */
	/* div#container section {} */
}
