
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box;}


:root {
	--themecolor:whitesmoke;
	--themecolor:dodgerblue;
}


body {font-family:Nunito,sans-serif; margin:0;}


div#container {background-color:var(--themecolor); background-image:linear-gradient(315deg,white,#d7e1ec);}
div#container {display:grid; place-items:center; min-height:100vh; padding:1rem;}

div#container main.main {background-color:white; /* width:100%; max-width:20rem; */ padding:1rem; border-radius:.5rem;}
div#container main.main {display:flex; flex-direction:row; justify-content:center;}
div#container main.main div.btn {background-color:white; color:black; font-size:2rem; min-height:3em; min-width:3em; border-radius:50%; margin:0 .5rem; box-shadow:0 .625rem .625rem #0002;}
div#container main.main div.btn {display:grid; place-items:center; position:relative; cursor:pointer; transition:.4s all cubic-bezier(.68,-.55,.265,1.55), .4s color ease-in-out; /* transition-timing-function:; */}
div#container main.main div.btn.fb:hover {background-color:#3b5999; color:white;}
div#container main.main div.btn.tw:hover {background-color:#46c1f6; color:white;}
div#container main.main div.btn.ig:hover {background-color:#e1306c; color:white;}
div#container main.main div.btn.ghb:hover {background-color:#333; color:white;}
div#container main.main div.btn.ytb:hover {background-color:#de463b; color:white;}
/* div#container main.main div.btn svg.icon {box-shadow:0 -.125rem #0004;} */
div#container main.main div.btn span.tooltip {background-color:inherit; color:inherit; display:grid; place-items:center; opacity:0; visibility:hidden; border-radius:5rem; padding:.5rem 1.5rem; margin-bottom:1.5rem;}
div#container main.main div.btn span.tooltip {position:absolute; bottom:50%; left:50%; transform:translateX(-50%); transition:none; /* transition:.4s all cubic-bezier(.68,-.55,.265,1.55); */}
div#container main.main div.btn:hover span.tooltip {bottom:100%; opacity:1; visibility:visible;}
div#container main.main div.btn span.tooltip::after {content:''; position:absolute; top:100%; left:50%; transform:translate(-50%,-50%) rotate(45deg);}
div#container main.main div.btn span.tooltip::after {background-color:inherit; display:block; min-height:1rem; min-width:1rem;}	

