


:root {

	/* Cube Colors */
	--red:hsla(0,100%,50%,0.75);;
	--green:hsla(120,100%,50%,0.75);;
	--yellow:hsla( 60,100%,50%,0.75);;
	--cyan:hsla(180,100%,50%,0.75);;
	--blue:hsla(240,100%,50%,0.75);
	--magenta:hsla(300,100%,50%,0.75);
	/* --xyz:xyz; */
}

body {font-family:Verdana,sans-serif; margin:0;}
div#container {display:flex; justify-content:space-between; flex-wrap:wrap; min-height:100vh;}


/* Scene */
div#container div.scene {width:12.5rem; height:16.25rem; perspective:37.5rem; padding:4rem;}
div#container div.scene.cardscene {}
div#container div.scene.cubescene {height:200px;}


/* Scene Shape */
div#container div.scene div.shape {width:100%; height:100%; position:relative; transform-style:preserve-3d; transition:transform 1s; cursor:pointer;}
div#container div.scene div.shape div.face {position:absolute; width:100%; height:100%; box-sizing:border-box; border:2px solid #000; border-radius:inherit; background-color:rgba(30,144,255,0.5);}
div#container div.scene div.shape div.face label {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); font-weight:800; color:#FFF; font-size:32px; cursor:pointer;}


/* Scene Card Shape */
div#container div.scene div.card {box-shadow:0 0 4px 1px rgba(0,0,0,1.5); border-radius:80px; /*transform-origin:right;*/}
/*div#container div.scene div.card.flipped {transform:translateX(-100%) rotateY(-180deg);}*/
div#container div.scene div.card.spin {animation:spinning 3s infinite linear;}
div#container div.scene div.card div.face {backface-visibility:hidden;}
div#container div.scene div.card div.face.front {background-color:red;}
div#container div.scene div.card div.face.back {background-color:blue; transform:rotateY(180deg);}

/* Scene Cube Shape */
div#container div.scene div.cube {border-radius:20px; transform:translateZ(-100px);}
div#container div.scene div.cube div.face {transform-origin:center;}

div#container div.scene div.cube.front {transform:translateZ(-100px) rotateY(0deg);}
div#container div.scene div.cube div.face.front {background-color:var(--red)}
div#container div.scene div.cube div.face.front {transform:rotateY(0deg) translateZ(100px);}
/*div#container div.scene div.cube div.face.front {transform:translateZ(100px) rotate(0);}*/

div#container div.scene div.cube.back {transform:translateZ(-100px) rotateY(-180deg);}
div#container div.scene div.cube div.face.back {background-color:var(--green)}
div#container div.scene div.cube div.face.back {transform:rotateY(180deg) translateZ(100px);}
/*div#container div.scene div.cube div.face.back {transform:translateZ(-100px) rotateY(180deg);}*/

div#container div.scene div.cube.right {transform:translateZ(-100px) rotateY(-90deg);}
div#container div.scene div.cube div.face.right {background-color:var(--yellow)}
div#container div.scene div.cube div.face.right {transform:rotateY(90deg) translateZ(100px);}
/*div#container div.scene div.cube div.face.right {transform:translateZ(-100px) rotateY(90deg); transform-origin:right;}*/

div#container div.scene div.cube.left {transform:translateZ(-100px) rotateY(90deg);}
div#container div.scene div.cube div.face.left {background-color:var(--cyan)}
div#container div.scene div.cube div.face.left {transform:rotateY(-90deg) translateZ(100px);}
/*div#container div.scene div.cube div.face.left {transform:translateZ(-100px) rotateY(-90deg); transform-origin:left;}*/

div#container div.scene div.cube.top {transform:translateZ(-100px) rotateX(-90deg);}
div#container div.scene div.cube div.face.top {background-color:var(--blue);}
div#container div.scene div.cube div.face.top {transform:rotateX(90deg) translateZ(100px);}
/*div#container div.scene div.cube div.face.top {transform:translateZ(-100px) rotateX(90deg); transform-origin:top;}*/

div#container div.scene div.cube.bottom {transform:translateZ(-100px) rotateX(90deg);}
div#container div.scene div.cube div.face.bottom {background-color:var(--magenta);}
div#container div.scene div.cube div.face.bottom {transform:rotateX(-90deg) translateZ(100px);}
/*div#container div.scene div.cube div.face.bottom {transform:translateZ(-100px) rotateX(-90deg); transform-origin:bottom;}*/

div#container div.scene div.cube.spin {transform:translateZ(-100px) rotateY(0deg) rotateX(0deg) rotateZ(0deg); animation:roundnround 5s infinite linear;}

/* Cube Face Controller */
div#container div.showcontroller {margin-top:120px; text-align:center;}
div#container div.showcontroller label {display:inline-block; cursor:pointer; font-size:.75rem; padding:.75em; border-radius:4px; min-width:40px; background-color:#EEE; margin:3px 0;}
div#container div.showcontroller input[type=radio] {display:none;}
div#container div.showcontroller input[type=radio]:checked+label {background-color:dodgerblue; color:white;}


/* Card Spinning Animation */
@keyframes spinning {
	5% {transform:rotateY(0deg);}
	50% {transform:rotateY(180deg);}
	55% {transform:rotateY(180deg);}
	100% {transform:rotateY(360deg);}
}

/* Cube Spinning Animation */
@keyframes roundnround {
	0% {transform:translateZ(-100px) rotateY(0deg) rotateX(0deg) rotateZ(0deg);}
	50% {transform:translateZ(-100px) rotateY(180deg) rotateX(180deg) rotateZ(180deg);}
	100% {transform:translateZ(-100px) rotateY(359deg) rotateX(359deg) rotateZ(359deg);}
}




/* Tablet Screen */
@media screen and (max-width:64rem) {
	/*  */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {
	/*  */
}

/* Small Smartphone Screen */
@media screen and (max-width:32rem) {
	/*  */
}
