


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {
	/* --bgimg:linear-gradient(135deg,dodgerblue,magenta); */
	--blue:#1e90ff;
	--pagewidth:60rem;
	--themecolor:#CCC;
	--boxshadow:0 0 1rem #0002;
	--boxshadow:0 0 .25rem #0003;
}


html {background-color:var(--themecolor); background-image:var(--bgimg);}
body {font-family:Nunito,sans-serif; margin:0;}
.freeze {overflow:hidden;}


/*  */
div#container {display:grid; place-items:center; min-height:100vh; padding:2rem;}

/* Desktop */
div#container main.desktop {background-color:var(--blue); width:100%; max-width:var(--pagewidth); padding:1rem; border-radius:.5rem; box-shadow:var(--boxshadow);}
div#container main.desktop h1.head {text-align:center;}
div#container main.desktop div.group {padding:0 2rem 2rem;}
div#container main.desktop div.group div.ghead {display:flex; flex-direction:row; justify-content:space-between; align-items:center; cursor:pointer; user-select:none;}
div#container main.desktop div.group div.ghead h2.head {text-align:center; margin:0; margin-left:.5rem;}
div#container main.desktop div.group div.ghead svg.icon {font-size:1rem;}
div#container main.desktop div.group div.ghead svg.icon.open {display:block;}
div#container main.desktop div.group div.ghead svg.icon.close {display:none;}
div#container main.desktop div.group.active div.ghead svg.icon.open {display:none;}
div#container main.desktop div.group.active div.ghead svg.icon.close {display:block;}
div#container main.desktop div.group div.gbody {display:grid; grid-template-columns:repeat(6,1fr); grid-gap:.875rem; padding:1.25rem 0 2rem;}
div#container main.desktop div.group div.gbody {display:none;}
div#container main.desktop div.group.active div.gbody {display:grid;}
div#container main.desktop div.group div.gbody a.item {color:inherit; cursor:pointer; padding:.25rem; border-radius:.5rem;}
div#container main.desktop div.group div.gbody a.item {display:flex; flex-direction:column; align-items:center; text-decoration:none;}
div#container main.desktop div.group div.gbody a.item:hover {background-color:#0001;}
div#container main.desktop div.group div.gbody a.item svg.icon {font-size:4rem;}
div#container main.desktop div.group div.gbody a.item span.caption {font-size:1.125rem; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

/* Mini Frame */
div#container figure.miniframe {position:absolute; top:0; left:0; box-shadow:var(--boxshadow); --dx:0; transform:translateY(1rem);}
/* div#container figure.miniframe {top:2rem; left:2rem; transform:translate(10rem,10rem);} */
div#container figure.miniframe {background-color:white; width:100%; max-width:32rem; padding:.25rem; border:.25rem solid white; border-radius:.75rem; margin:0;}
div#container figure.miniframe {opacity:0; visibility:hidden; transition:.25s; transition-delay:.375s;}
div#container figure.miniframe:hover {opacity:1; visibility:visible;}
div#container figure.miniframe.active {opacity:1; visibility:visible;}
div#container figure.miniframe::after {position:absolute; bottom:100%; left:var(--dx); transform:translateX(-50%);}
div#container figure.miniframe::after {content:''; border:.75rem solid transparent; border-bottom-color:white;}
/* div#container figure.miniframe::after {background-color:white; height:2rem; width:2rem;} */
div#container figure.miniframe div.ratio {position:relative; padding-top:100%;}
div#container figure.miniframe div.ratio iframe.page {position:absolute; top:0; left:0; height:100%; width:100%;}
div#container figure.miniframe div.ratio iframe.page {background-color:#0004; display:block; width:100%; border:solid; border-radius:.5rem;}




/* Tablet Screen */
@media screen and (max-width:64rem) {

	/*  */
	/* div#container {} */

	/* Desktop */
	/* div#container main.desktop {} */
	div#container main.desktop div.group {padding:0 3rem;}
	div#container main.desktop div.group div.gbody {grid-template-columns:repeat(4,1fr);}

	/* Mini Frame */
	/* div#container figure.miniframe {} */
	/* div#container figure.miniframe iframe.page {} */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/*  */
	/* div#container {} */

	/* Desktop */
	/* div#container main.desktop {} */
	/* div#container main.desktop div.group {} */
	div#container main.desktop div.group div.gbody {grid-template-columns:repeat(3,1fr);}
	div#container main.desktop div.group div.gbody a.item svg.icon {font-size:3rem;}
	div#container main.desktop div.group div.gbody a.item span.caption {font-size:1rem;}

	/* Mini Frame */
	/* div#container figure.miniframe {} */
	/* div#container figure.miniframe iframe.page {} */
}

/* Medium Smartphone Screen */
@media screen and (max-width:36rem) {

	/*  */
	/* div#container {} */

	/* Desktop */
	/* div#container main.desktop {} */
	/* div#container main.desktop div.group {} */
	div#container main.desktop div.group div.gbody {grid-template-columns:repeat(2,1fr);}
	div#container main.desktop div.group div.gbody a.item span.caption {font-size:.75rem;}

	/* Mini Frame */
	/* div#container figure.miniframe {} */
	/* div#container figure.miniframe iframe.page {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:30rem) {

	/*  */
	/* div#container {} */

	/* Desktop */
	/* div#container main.desktop {} */
	/* div#container main.desktop div.group {} */

	/* Mini Frame */
	/* div#container figure.miniframe {} */
	/* div#container figure.miniframe iframe.page {} */
}
