


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;500;600&display=swap');


* {box-sizing:border-box; /* padding:0; margin:0; */}


:root {

	--offwhite:#E7E9EB;
	--royalblue:#2E61E0;
	--lightblack:#333;
	--whiteglass:#FFF4;
	--whitesheet:#FFFA;
	--blackglass:#0003;
	--blacksheet:#000C;

	--pagewidth:60rem;
	
	--boxshadow:0 0 1rem #0002;
	--boxshadow:0 0 .25rem #0003;
	
	/* --bgimg:linear-gradient(135deg,dodgerblue,magenta); */
}

body {

	--navcolor:var(--blackglass);
	--backcolor:white;
	--forecolor:var(--lightblack);
	--gbodycolor:var(--whitesheet);
	--gbodylinkbackcolor:var(--offwhite);
	--gbodylinkforecolor:var(--lightblack);
	--gbodyhoverlinkbackcolor:var(--blacksheet);
	--gbodyhoverlinkforecolor:white;
}

body.dark {

	--navcolor:var(--whiteglass);
	--backcolor:var(--lightblack);
	--forecolor:white;
	--gbodycolor:var(--blackglass);
	--gbodylinkbackcolor:var(--lightblack);
	--gbodylinkforecolor:var(--offwhite);
	--gbodyhoverlinkbackcolor:white;
	--gbodyhoverlinkforecolor:var(--blacksheet);
}

/* html {background-image:var(--bgimg);} */
body {background-color:var(--backcolor); color:var(--forecolor); font-family:Nunito,sans-serif; margin:0;}
.freeze {overflow:hidden;}


/* Main Container */
div#container {background-color:var(--backcolor); color:var(--forecolor); display:flex; flex-direction:column; justify-content:flex-start; align-items:center; min-height:100vh;}

/* Navbar */
div#container nav.navbar {background-color:var(--navcolor); width:100%; padding:0 1rem;}
div#container nav.navbar div.bin {display:flex; flex-direction:row; justify-content:space-between; align-items:center; height:4rem; max-width:var(--pagewidth); margin:0 auto;}
div#container nav.navbar div.bin h1.head {display:flex; flex-direction:row; align-items:center; font-size:2rem; margin:0;}
/* div#container nav.navbar div.bin h1.head svg.icon {} */
div#container nav.navbar div.bin h1.head span.caption {display:none; margin-left:.375rem;}
div#container nav.navbar div.bin ul.navlist {display:flex; flex-direction:row; align-items:center; list-style:none; padding:0; margin:0;}
div#container nav.navbar div.bin ul.navlist li.navitem {margin:1rem;}
div#container nav.navbar div.bin ul.navlist li.navitem a.navlink {color:inherit; font-size:1.375rem; text-decoration:none;}
div#container nav.navbar div.bin ul.navlist li.navitem div.themetoggler {position:relative;}
div#container nav.navbar div.bin ul.navlist li.navitem div.themetoggler div.themebtn {cursor:pointer; user-select:none;}
div#container nav.navbar div.bin ul.navlist li.navitem div.themetoggler div.themebtn svg.icon {}
div#container nav.navbar div.bin ul.navlist li.navitem div.themetoggler ul.themelist {display:none; position:absolute; right:0; top:100%;}
div#container nav.navbar div.bin ul.navlist li.navitem div.themetoggler ul.themelist {background-color:var(--backcolor); list-style:none; padding:0; padding:.25rem; border-radius:.5rem; margin:0; margin-top:.5rem;}
div#container nav.navbar div.bin ul.navlist li.navitem div.themetoggler ul.themelist.open {display:block;}
div#container nav.navbar div.bin ul.navlist li.navitem div.themetoggler ul.themelist li.themeitem {}
div#container nav.navbar div.bin ul.navlist li.navitem div.themetoggler ul.themelist li.themeitem a.themelink {display:flex; flex-direction:row; align-items:center; color:inherit; text-decoration:none; height:2.25em; padding:0 1rem; border-radius:.375rem;}
div#container nav.navbar div.bin ul.navlist li.navitem div.themetoggler ul.themelist li.themeitem a.themelink:hover {background-color:var(--forecolor); color:var(--backcolor);}
div#container nav.navbar div.bin ul.navlist li.navitem div.themetoggler ul.themelist li.themeitem a.themelink svg.icon {}
div#container nav.navbar div.bin ul.navlist li.navitem div.themetoggler ul.themelist li.themeitem a.themelink span.caption {margin-left:.25rem;}

/* Desktop */
div#container main.desktop {background-color:var(--royalblue); /* color:white; */ width:100%; max-width:var(--pagewidth); transition:.5s;}
div#container main.desktop {display:flex; flex-direction:column; padding:1rem; border-radius:.5rem; margin-top:3rem; box-shadow:var(--boxshadow);}
div#container main.desktop h1.head {/* display:none; */ font-size:2rem; text-align:center; margin:0; /* margin-bottom:1rem; */}
div#container main.desktop div.group {background-color:var(--gbodycolor); overflow:hidden; border-radius:.5rem; margin-top:.875rem;}
div#container main.desktop div.group {display:flex; flex-direction:column; align-items:stretch;}
div#container main.desktop div.group.x {display:none;}
div#container main.desktop div.group div.ghead {background-color:var(--gbodycolor); /* color:white; font-weight:100; */ cursor:pointer; user-select:none; padding:0 1rem; /* border-radius:.5rem; */}
div#container main.desktop div.group div.ghead {display:flex; flex-direction:row; justify-content:space-between; align-items:center;}
div#container main.desktop div.group div.ghead h2.head {font-size:1.75rem; text-align:center; margin:0; margin:.5rem 0;}
div#container main.desktop div.group div.ghead svg.icon {font-size:1.375rem;}
div#container main.desktop div.group div.ghead svg.icon.open {display:block;}
div#container main.desktop div.group div.ghead svg.icon.close {display:none;}
div#container main.desktop div.group.active div.ghead svg.icon.open {display:none;}
div#container main.desktop div.group.active div.ghead svg.icon.close {display:block;}
div#container main.desktop div.group div.gbody {/* display:none; */ /* background-color:var(--gbodycolor); */ overflow:hidden; max-height:0; transition:.5s;}
/* div#container main.desktop div.group.active div.gbody {display:block;} */
div#container main.desktop div.group div.gbody div.bin {display:grid; grid-template-columns:repeat(6,1fr); place-items:center; grid-gap:.875rem; padding:2rem;}
div#container main.desktop div.group div.gbody div.bin a.item {background-color:var(--gbodylinkbackcolor); color:var(--gbodylinkforecolor); cursor:pointer; font-size:1.125rem; width:100%/* 6rem */; padding:.5rem; border-radius:.5rem;}
div#container main.desktop div.group div.gbody div.bin a.item {display:flex; flex-direction:column; align-items:center; text-decoration:none; overflow:hidden; transition:.25s;}
div#container main.desktop div.group div.gbody div.bin a.item:hover {background-color:var(--gbodyhoverlinkbackcolor); color:var(--gbodyhoverlinkforecolor);}
div#container main.desktop div.group div.gbody div.bin a.item svg.icon {display:none;}
div#container main.desktop div.group div.gbody div.bin a.item svg.icon {font-size:4rem;}
div#container main.desktop div.group div.gbody div.bin a.item span.caption {font-size:1.125rem; max-width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

/* Mini Frame */
div#container figure.miniframe {position:absolute; top:0; left:0; box-shadow:var(--boxshadow); --dx:0; transform:translateY(1rem);}
/* div#container figure.miniframe {top:2rem; left:2rem; transform:translate(10rem,10rem);} */
div#container figure.miniframe {background-color:white; width:100%; max-width:32rem; padding:.25rem; border:.25rem solid white; border-radius:.75rem; margin:0;}
div#container figure.miniframe {opacity:0; visibility:hidden; transition:.25s; transition-delay:.375s;}
div#container figure.miniframe:hover {opacity:1; visibility:visible;}
div#container figure.miniframe.active {opacity:1; visibility:visible;}
div#container figure.miniframe::after {position:absolute; bottom:100%; left:var(--dx); transform:translateX(-50%);}
div#container figure.miniframe::after {content:''; border:.75rem solid transparent; border-bottom-color:white;}
/* div#container figure.miniframe::after {background-color:white; height:2rem; width:2rem;} */
div#container figure.miniframe div.ratio {position:relative; padding-top:100%;}
div#container figure.miniframe div.ratio iframe.page {position:absolute; top:0; left:0; height:100%; width:100%;}
div#container figure.miniframe div.ratio iframe.page {background-color:var(--blacksheet); display:block; width:100%; border:solid; border-radius:.5rem;}




/* Tablet Screen */
@media screen and (max-width:64rem) {

	/* Main Container */
	/* div#container {} */

	/* Desktop */
	/* div#container main.desktop {} */
	div#container main.desktop {margin-top:0;}
	/* div#container main.desktop div.group {} */
	/* div#container main.desktop div.group div.gbody {padding-left:3rem; padding-right:3rem;} */
	div#container main.desktop div.group div.gbody div.bin {grid-template-columns:repeat(4,1fr); }
	/* div#container main.desktop div.group div.gbody div.bin a.item {} */
	/* div#container main.desktop div.group div.gbody div.bin a.item svg.icon {} */
	div#container main.desktop div.group div.gbody div.bin a.item span.caption {font-size:1rem}

	/* Mini Frame */
	/* div#container figure.miniframe {} */
	/* div#container figure.miniframe iframe.page {} */
}

/* Big Smartphone Screen */
@media screen and (max-width:48rem) {

	/* Main Container */
	/* div#container {} */

	/* Desktop */
	/* div#container main.desktop {} */
	/* div#container main.desktop div.group {} */
	/* div#container main.desktop div.group div.gbody {} */
	div#container main.desktop div.group div.gbody div.bin {grid-template-columns:repeat(3,1fr);}
	/* div#container main.desktop div.group div.gbody div.bin a.item {} */
	div#container main.desktop div.group div.gbody div.bin a.item svg.icon {font-size:3rem;}
	div#container main.desktop div.group div.gbody div.bin a.item span.caption {font-size:.875rem;}

	/* Mini Frame */
	/* div#container figure.miniframe {} */
	/* div#container figure.miniframe iframe.page {} */
}

/* Medium Smartphone Screen */
@media screen and (max-width:36rem) {

	/* Main Container */
	/* div#container {} */

	/* Desktop */
	/* div#container main.desktop {} */
	/* div#container main.desktop div.group {} */
	/* div#container main.desktop div.group div.gbody {} */
	div#container main.desktop div.group div.gbody div.bin {grid-template-columns:repeat(2,1fr);}
	/* div#container main.desktop div.group div.gbody div.bin a.item {} */
	/* div#container main.desktop div.group div.gbody div.bin a.item svg.icon {} */
	div#container main.desktop div.group div.gbody div.bin a.item span.caption {font-size:.75rem;}

	/* Mini Frame */
	/* div#container figure.miniframe {} */
	/* div#container figure.miniframe iframe.page {} */
}

/* Small Smartphone Screen */
@media screen and (max-width:30rem) {

	/* Main Container */
	/* div#container {} */

	/* Desktop */
	/* div#container main.desktop {} */
	/* div#container main.desktop div.group {} */
	/* div#container main.desktop div.group div.gbody {} */
	/* div#container main.desktop div.group div.gbody div.bin {} */
	/* div#container main.desktop div.group div.gbody div.bin a.item {} */
	/* div#container main.desktop div.group div.gbody div.bin a.item svg.icon {} */
	/* div#container main.desktop div.group div.gbody div.bin a.item span.caption {} */

	/* Mini Frame */
	/* div#container figure.miniframe {} */
	/* div#container figure.miniframe iframe.page {} */
}
